Repository abpframework/abp, pull requests merged in 2019-05, with the labels that each got.

#1120 Check Cli has a new version.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/NuGet/NuGetService.cs
Labels: cli, feature

#1131 Automatically install CLI dependencies if not installed before
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/EfCoreMigrationAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/CmdHelper.cs
Labels: cli, feature

#1156 Sync the english updates to chinese document in Microservice-Demo.md
  docs/zh-Hans/Samples/Microservice-Demo.md
Labels: documentation

#1140 Resolves #703 API Versioning tests failing after .net core 2.2 upgrade
  framework/src/Volo.Abp.AspNetCore.Mvc/Microsoft/Extensions/DependencyInjection/AbpApiVersioningExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AspNetCoreApiDescriptionModelProvider.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/AbpConventionalApiControllerSpecification.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/AbpAspNetCoreMvcVersioningTestModule.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/App/HelloController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/App/IHelloController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/App/v1/ITodoAppService.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/App/v1/TodoAppService.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/App/v2/ITodoAppService.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/App/v2/TodoAppService.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/Test/HelloController_Tests.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/Test/v1/TodoAppService_Tests.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/Test/v2/TodoAppService_Tests.cs
Labels: enhancement, framework

#1163 resolve #1157 Configure HTTPS for all applications.
  templates/mvc-module/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/mvc-module/host/MyCompanyName.MyProjectName.HttpApi.Host/Properties/launchSettings.json
  templates/mvc-module/host/MyCompanyName.MyProjectName.HttpApi.Host/appsettings.json
  templates/mvc-module/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/mvc-module/host/MyCompanyName.MyProjectName.IdentityServer/Properties/launchSettings.json
  templates/mvc-module/host/MyCompanyName.MyProjectName.IdentityServer/appsettings.json
  templates/mvc-module/host/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebHostModule.cs
  templates/mvc-module/host/MyCompanyName.MyProjectName.Web.Host/Pages/Index.cshtml
  templates/mvc-module/host/MyCompanyName.MyProjectName.Web.Host/Properties/launchSettings.json
  templates/mvc-module/host/MyCompanyName.MyProjectName.Web.Host/appsettings.json
  templates/mvc-module/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
  templates/mvc-module/host/MyCompanyName.MyProjectName.Web.Unified/Properties/launchSettings.json
  templates/mvc-module/test/MyCompanyName.MyProjectName.HttpApi.Client.ConsoleTestApp/appsettings.json
Labels: enhancement, template-mvc-module

#1180 Docs multi language
  modules/docs/app/VoloDocs.Web/Pages/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/ContentWithDetailsDto.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/GetDefaultDocumentInput.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/GetDocumentInput.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/GetDocumentResourceInput.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/GetNavigationDocumentInput.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Projects/IProjectAppService.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Projects/ProjectDto.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/DocsApplicationAutoMapperProfile.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Documents/DocumentAppService.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Projects/ProjectAppService.cs
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Language/LanguageConsts.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/IDocumentStore.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/LanguageConfig.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/LanguageConfigElement.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/FileSystem/Documents/FileSystemDocumentStore.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubDocumentStore.cs
  modules/docs/src/Volo.Docs.HttpApi/Volo/Docs/Projects/DocsProjectController.cs
  modules/docs/src/Volo.Docs.Web/Areas/Documents/TagHelpers/TreeTagHelper.cs
  modules/docs/src/Volo.Docs.Web/DocsWebModule.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js
  modules/docs/test/Volo.Docs.Domain.Tests/Volo/Docs/GithubDocumentStore_Tests.cs
Labels: breaking change, feature, module-docs
