Repository abpframework/abp, pull requests merged in 2019-08, with the labels that each got.

#1564 Resolve #1534 Modify the way mongodb connection string parsing.
  docs/en/Samples/Microservice-Demo.md
  docs/zh-Hans/Samples/Microservice-Demo.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateSwitchEntityFrameworkCoreToMongoDbStep.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Uow/MongoDB/UnitOfWorkMongoDbContextProvider.cs
  modules/blogging/app/Volo.BloggingTestApp/appsettings.json
  samples/MicroserviceDemo/docker-compose.override.yml
  samples/MicroserviceDemo/k8s/blogging-service-deployment.yaml
  samples/MicroserviceDemo/microservices/BloggingService.Host/appsettings.json
Labels: breaking change, enhancement, framework

#1553 Resolve #1551 CLI add-module command add startup project options.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/AddModuleCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/EfCoreMigrationAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: bug, cli

#1591 Add the AbpExposeHeaders extension method.
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/Cors/AbpCorsPolicyBuilderExtensions.cs
  framework/src/Volo.Abp.AspNetCore/Volo.Abp.AspNetCore.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
Labels: enhancement, framework

#1630 Resolve #1629 Modify the EF Core global filter expression.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
Labels: enhancement, framework

#1631 Fix #1613 the namespaces of the module template AddEmbedded method.
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Application.Contracts/MyProjectNameApplicationContractsModule.cs
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/MyProjectNameDomainSharedModule.cs
Labels: bug, template-app

#1606 Resolve #1512 AbpResourceOwnerPasswordValidator support custom claims.
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AspNetIdentity/AbpResourceOwnerPasswordValidator.cs
Labels: enhancement, module-identityserver

#1650 Docs option for projects combobox
  modules/docs/app/VoloDocs.Web/Pages/Index.cshtml.cs
  modules/docs/app/VoloDocs.Web/VoloDocsWebModule.cs
  modules/docs/src/Volo.Docs.Web/Areas/Documents/TagHelpers/TreeTagHelper.cs
  modules/docs/src/Volo.Docs.Web/DocsUiOptions.cs
  modules/docs/src/Volo.Docs.Web/DocsWebModule.cs
  modules/docs/src/Volo.Docs.Web/Markdown/MarkdownDocumentToHtmlConverter.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: breaking change, module-docs

#1649 Upgrade to IdentityServer 2.5.2
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Clients/ClientConsts.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo.Abp.IdentityServer.Domain.csproj
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/ApiResources/ApiResource.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Clients/Client.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/IdentityResources/IdentityResource.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/EntityFrameworkCore/IdentityServerDbContextModelCreatingExtensions.cs
  modules/identityserver/test/Volo.Abp.IdentityServer.Domain.Tests/Volo.Abp.IdentityServer.Domain.Tests.csproj
  modules/identityserver/test/Volo.Abp.IdentityServer.EntityFrameworkCore.Tests/Volo.Abp.IdentityServer.EntityFrameworkCore.Tests.csproj
  modules/identityserver/test/Volo.Abp.IdentityServer.MongoDB.Tests/Volo.Abp.IdentityServer.MongoDB.Tests.csproj
  modules/identityserver/test/Volo.Abp.IdentityServer.TestBase/Volo.Abp.IdentityServer.TestBase.csproj
  samples/DashboardDemo/src/DashboardDemo.EntityFrameworkCore.DbMigrations/DashboardDemo.EntityFrameworkCore.DbMigrations.csproj
  samples/DashboardDemo/src/DashboardDemo.EntityFrameworkCore.DbMigrations/Migrations/20190816095643_Initial.Designer.cs
  samples/DashboardDemo/src/DashboardDemo.EntityFrameworkCore.DbMigrations/Migrations/20190816095643_Initial.cs
  samples/DashboardDemo/src/DashboardDemo.EntityFrameworkCore.DbMigrations/Migrations/DashboardDemoMigrationsDbContextModelSnapshot.cs
  samples/MicroserviceDemo/applications/AuthServer.Host/AuthServer.Host.csproj
  samples/MicroserviceDemo/applications/AuthServer.Host/Migrations/20190816095916_Initial.Designer.cs
  samples/MicroserviceDemo/applications/AuthServer.Host/Migrations/20190816095916_Initial.cs
  samples/MicroserviceDemo/applications/AuthServer.Host/Migrations/AuthServerDbContextModelSnapshot.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations/Migrations/20190816092925_Initial.Designer.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations/Migrations/20190816092925_Initial.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations/Migrations/MyProjectNameMigrationsDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/20190816093449_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/20190816093449_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/IdentityServerHostMigrationsDbContextModelSnapshot.cs
Labels: feature, module-identityserver

#1673 fix(tenant): add validation to connection string #resolves 1641
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.html
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.ts
  npm/ng-packs/packages/tenant-management/src/lib/services/tenant-management.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: module-tenant-management, ui-angular

#1683 Fix: IEventBus only has PublishAsync method - replaced Publish
  samples/RabbitMqEventBus/App1/App1MessagingService.cs
  samples/RabbitMqEventBus/App1/App1TextEventHandler.cs
  samples/RabbitMqEventBus/App1/Program.cs
  samples/RabbitMqEventBus/App2/App2MessagingService.cs
  samples/RabbitMqEventBus/App2/App2TextEventHandler.cs
  samples/RabbitMqEventBus/App2/Program.cs
Labels: enhancement, samples

#1689 Added: postgreSQL documentation
  docs/en/Best-Practices/Index.md
  docs/en/Best-Practices/PostgreSQL-Integration.md
  docs/en/Best-Practices/images/postgresql-delete-initial-migrations.png
  docs/en/Best-Practices/images/postgresql-update-database.png
  docs/en/docs-nav.json
Labels: documentation

#1691 CliAnalytics add UiFramework field.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Analyticses/CliAnalyticsCollectInputDto.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ProjectBuilder.cs
Labels: cli, enhancement
