Repository abpframework/abp, pull requests merged in 2019-06, with the labels that each got.

#1174 Add Czech localization
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/cs.json
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpValidation/cs.json
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Localization/Resource/cs.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/cs.json
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Localization/Resource/cs.json
  framework/test/Volo.Abp.Emailing.Tests/Volo/Abp/Emailing/Localization/cs.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/CountryNames/cs.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/Validation/cs.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Source/cs.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/SourceExt/cs.json
  modules/account/src/Volo.Abp.Account.Web/Localization/Resources/AbpAccount/Web/cs.json
  modules/blogging/app/Volo.BloggingTestApp/BloggingTestAppModule.cs
  modules/blogging/src/Volo.Blogging.Application.Contracts/Volo/Blogging/Localization/Resources/Blogging/ApplicationContracts/cs.json
  modules/blogging/src/Volo.Blogging.Web/BloggingWebModule.cs
  modules/blogging/src/Volo.Blogging.Web/Localization/Resources/Blogging/Web/cs.json
  modules/docs/app/VoloDocs.Web/Localization/Resources/VoloDocs/Web/cs.json
  modules/docs/app/VoloDocs.Web/VoloDocsWebModule.cs
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/cs.json
  modules/docs/src/Volo.Docs.Admin.Web/Localization/Resources/Docs/Web/cs.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/cs.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/Localization/ApplicationContracts/cs.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/Localization/Domain/cs.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Localization/Resources/FeatureManagement/cs.json
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/Localization/ApplicationContracts/cs.json
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/Localization/Domain/cs.json
  modules/identity/src/Volo.Abp.Identity.Web/Localization/Resources/AbpIdentity/cs.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Localization/Resources/AbpPermissionManagement/cs.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Localization/Resources/AbpSettingManagement/cs.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Application.Contracts/Volo/Abp/TenantManagement/Localization/ApplicationContracts/cs.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Localization/Resources/AbpTenantManagement/Web/cs.json
  samples/BookStore/src/Acme.BookStore.Domain/Localization/BookStore/cs.json
  samples/BookStore/src/Acme.BookStore.Web/BookStoreWebModule.cs
  samples/DashboardDemo/src/DashboardDemo.Domain/Localization/DashboardDemo/cs.json
  samples/DashboardDemo/src/DashboardDemo.Web/DashboardDemoWebModule.cs
  samples/MicroserviceDemo/modules/product/src/ProductManagement.Application.Contracts/ProductManagement/Localization/ApplicationContracts/cs.json
  samples/MicroserviceDemo/modules/product/src/ProductManagement.Domain/ProductManagement/Localization/Domain/cs.json
  samples/MicroserviceDemo/modules/product/src/ProductManagement.Web/Localization/Resources/ProductManagement/cs.json
  templates/mvc-module/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/mvc-module/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/mvc-module/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
  templates/mvc-module/src/MyCompanyName.MyProjectName.Application.Contracts/Localization/MyProjectName/ApplicationContracts/cs.json
  templates/mvc-module/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/DomainShared/cs.json
  templates/mvc-module/src/MyCompanyName.MyProjectName.Web/Localization/MyProjectName/Web/cs.json
  templates/mvc/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/cs.json
  templates/mvc/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/mvc/src/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/mvc/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
Labels: enhancement

#1216 ICrudAppService with different Get/GetList DTO models
  framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/AsyncCrudAppService.cs
  framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/CrudAppService.cs
  framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/CrudAppServiceBase.cs
  framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/IAsyncCrudAppService.cs
  framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/ICrudAppService.cs
Labels: enhancement, framework

#1190 feature: implement the interfaces for reading/writing LDAP.
  framework/Volo.Abp.sln
  framework/src/Volo.Abp.Ldap/Volo.Abp.Ldap.csproj
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/AbpLdapModule.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/Exceptions/OrganizationNotExistException.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/ILdapManager.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/LdapCredentials.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/LdapHelps.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/LdapManager.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/LdapOptions.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/Modeling/ILdapEntry.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/Modeling/ILdapOrganization.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/Modeling/ILdapUser.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/Modeling/LdapEntryBase.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/Modeling/LdapOrganization.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/Modeling/LdapUser.cs
  framework/src/Volo.Abp.Ldap/readme.md
  framework/test/Volo.Abp.Ldap.Tests/Volo.Abp.Ldap.Tests.csproj
  framework/test/Volo.Abp.Ldap.Tests/Volo/Abp/Ldap/Authenticate_Tests.cs
  framework/test/Volo.Abp.Ldap.Tests/Volo/Abp/Ldap/LdapHelps_Tests.cs
  framework/test/Volo.Abp.Ldap.Tests/Volo/Abp/Ldap/LdapManager_Tests.cs
  framework/test/Volo.Abp.Ldap.Tests/Volo/Abp/Ldap/LdapTestData.cs
Labels: feature, framework

#1187 Resolve #1160 Change ports of templates to randoms on template creation.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Mvc/MvcTemplate.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/MvcModule/MvcModuleTemplate.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/TemplateRandomSslPortStep.cs
  templates/mvc-module/host/MyCompanyName.MyProjectName.HttpApi.Host/Properties/launchSettings.json
  templates/mvc-module/host/MyCompanyName.MyProjectName.IdentityServer/Properties/launchSettings.json
  templates/mvc-module/host/MyCompanyName.MyProjectName.Web.Host/Properties/launchSettings.json
  templates/mvc-module/host/MyCompanyName.MyProjectName.Web.Unified/Properties/launchSettings.json
  templates/mvc/src/MyCompanyName.MyProjectName.HttpApi.Host/Properties/launchSettings.json
  templates/mvc/src/MyCompanyName.MyProjectName.HttpApi.Host/appsettings.json
  templates/mvc/src/MyCompanyName.MyProjectName.IdentityServer/Properties/launchSettings.json
  templates/mvc/src/MyCompanyName.MyProjectName.IdentityServer/appsettings.json
  templates/mvc/src/MyCompanyName.MyProjectName.Web.Host/Properties/launchSettings.json
  templates/mvc/src/MyCompanyName.MyProjectName.Web.Host/appsettings.json
  templates/mvc/src/MyCompanyName.MyProjectName.Web/Properties/launchSettings.json
  templates/mvc/src/MyCompanyName.MyProjectName.Web/appsettings.json
Labels: cli, enhancement

#1295 Improve CLI version checking
  framework/src/Volo.Abp.Cli.Core/Volo.Abp.Cli.Core.csproj
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/NuGet/NuGetService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/VoloNugetPackagesVersionUpdater.cs
Labels: cli, enhancement

#1346 Fixed all references in documentation part I of PageBase and removed Base.
  docs/en/Tutorials/AspNetCore-Mvc/Part-I.md
Labels: documentation

#1350 Fix & refactor VoloNugetPackagesVersionUpdater
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/VoloNugetPackagesVersionUpdater.cs
Labels: bug, cli

#1348 Correction to documentation
  docs/en/Tutorials/AspNetCore-Mvc/Part-II.md
Labels: documentation

#1351 Feature/modify modules constants
  docs/en/Getting-Started-AspNetCore-MVC-Template.md
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/AbpAuditLoggingConsts.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/AbpAuditLoggingDbContext.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/IAuditLoggingDbContext.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/AuditLoggingMongoDbContext.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/IAuditLoggingMongoDbContext.cs
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.Domain/Volo/Abp/BackgroundJobs/BackgroundJobsConsts.cs
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.EntityFrameworkCore/Volo/Abp/BackgroundJobs/EntityFrameworkCore/BackgroundJobsDbContext.cs
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.EntityFrameworkCore/Volo/Abp/BackgroundJobs/EntityFrameworkCore/IBackgroundJobsDbContext.cs
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.MongoDB/Volo/Abp/BackgroundJobs/MongoDB/BackgroundJobsMongoDbContext.cs
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.MongoDB/Volo/Abp/BackgroundJobs/MongoDB/IBackgroundJobsMongoDbContext.cs
  modules/blogging/src/Volo.Blogging.Domain/Volo/Blogging/BloggingConsts.cs
  modules/blogging/src/Volo.Blogging.EntityFrameworkCore/Volo/Blogging/EntityFrameworkCore/BloggingDbContext.cs
  modules/blogging/src/Volo.Blogging.EntityFrameworkCore/Volo/Blogging/EntityFrameworkCore/IBloggingDbContext.cs
  modules/blogging/src/Volo.Blogging.MongoDB/Volo/Blogging/MongoDB/BloggingMongoDbContext.cs
  modules/blogging/src/Volo.Blogging.MongoDB/Volo/Blogging/MongoDB/IBloggingMongoDbContext.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/DocsConsts.cs
  modules/docs/src/Volo.Docs.EntityFrameworkCore/Volo/Docs/EntityFrameworkCore/DocsDbContext.cs
  modules/docs/src/Volo.Docs.EntityFrameworkCore/Volo/Docs/EntityFrameworkCore/IDocsDbContext.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/FeatureManagementConsts.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.EntityFrameworkCore/Volo/Abp/FeatureManagement/EntityFrameworkCore/FeatureManagementDbContext.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.EntityFrameworkCore/Volo/Abp/FeatureManagement/EntityFrameworkCore/IFeatureManagementDbContext.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.MongoDB/Volo/Abp/FeatureManagement/MongoDB/FeatureManagementMongoDbContext.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.MongoDB/Volo/Abp/FeatureManagement/MongoDB/IFeatureManagementMongoDbContext.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentityConsts.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IIdentityDbContext.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IdentityDbContext.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/AbpIdentityMongoDbContext.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/IAbpIdentityMongoDbContext.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpIdentityServerConsts.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/EntityFrameworkCore/IIdentityServerDbContext.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/EntityFrameworkCore/IdentityServerDbContext.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/AbpIdentityServerMongoDbContext.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/IAbpIdentityServerMongoDbContext.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/AbpPermissionManagementConsts.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.EntityFrameworkCore/Volo/Abp/PermissionManagement/EntityFrameworkCore/IPermissionManagementDbContext.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.EntityFrameworkCore/Volo/Abp/PermissionManagement/EntityFrameworkCore/PermissionManagementDbContext.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.MongoDB/Volo/Abp/PermissionManagement/MongoDb/IPermissionManagementMongoDbContext.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.MongoDB/Volo/Abp/PermissionManagement/MongoDb/PermissionManagementMongoDbContext.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/AbpSettingManagementConsts.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.EntityFrameworkCore/Volo/Abp/SettingManagement/EntityFrameworkCore/ISettingManagementDbContext.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.EntityFrameworkCore/Volo/Abp/SettingManagement/EntityFrameworkCore/SettingManagementDbContext.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.MongoDB/Volo/Abp/SettingManagement/MongoDB/ISettingManagementMongoDbContext.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.MongoDB/Volo/Abp/SettingManagement/MongoDB/SettingManagementMongoDbContext.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/AbpTenantManagementConsts.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.EntityFrameworkCore/Volo/Abp/TenantManagement/EntityFrameworkCore/ITenantManagementDbContext.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.EntityFrameworkCore/Volo/Abp/TenantManagement/EntityFrameworkCore/TenantManagementDbContext.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.MongoDB/Volo/Abp/TenantManagement/MongoDb/ITenantManagementMongoDbContext.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.MongoDB/Volo/Abp/TenantManagement/MongoDb/TenantManagementMongoDbContext.cs
Labels: enhancement

#1375 feat(cli): add default proxy support to cli
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/AbpCliCoreModule.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Http/CliHttpClient.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Http/CliHttpClientHandler.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/NuGet/NuGetService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoTemplateStore.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectNugetPackageAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: cli, enhancement

#1379 Resolve #1114 Use the new zip class library (SharpZipLib)
  framework/src/Volo.Abp.Cli.Core/Volo.Abp.Cli.Core.csproj
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/CreateProjectResultZipStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/FileEntryListReadStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Files/FileEntryListExtensions.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Zipping/ZipFileExtensions.cs
Labels: cli, enhancement

#1390 Use a regular expression to get the package name.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/NugetReferenceReplaceStep.cs
Labels: bug, cli

#1388 Cli check npm global packages on-demand
  framework/src/Volo.Abp.Cli.Core/Volo.Abp.Cli.Core.csproj
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NpmGlobalPackagesChecker.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NpmPackagesUpdater.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/CmdHelper.cs
Labels: cli, enhancement

#1385 Resolve #1382 Use the new Redis package.
  samples/MicroserviceDemo/applications/AuthServer.Host/AuthServer.Host.csproj
  samples/MicroserviceDemo/applications/AuthServer.Host/AuthServerHostModule.cs
  samples/MicroserviceDemo/applications/BackendAdminApp.Host/BackendAdminApp.Host.csproj
  samples/MicroserviceDemo/applications/BackendAdminApp.Host/BackendAdminAppHostModule.cs
  samples/MicroserviceDemo/applications/PublicWebSite.Host/PublicWebSite.Host.csproj
  samples/MicroserviceDemo/applications/PublicWebSite.Host/PublicWebSiteHostModule.cs
  samples/MicroserviceDemo/gateways/BackendAdminAppGateway.Host/BackendAdminAppGateway.Host.csproj
  samples/MicroserviceDemo/gateways/BackendAdminAppGateway.Host/BackendAdminAppGatewayHostModule.cs
  samples/MicroserviceDemo/gateways/InternalGateway.Host/InternalGateway.Host.csproj
  samples/MicroserviceDemo/gateways/InternalGateway.Host/InternalGatewayHostModule.cs
  samples/MicroserviceDemo/gateways/PublicWebSiteGateway.Host/PublicWebSiteGateway.Host.csproj
  samples/MicroserviceDemo/gateways/PublicWebSiteGateway.Host/PublicWebSiteGatewayHostModule.cs
  samples/MicroserviceDemo/microservices/BloggingService.Host/BloggingService.Host.csproj
  samples/MicroserviceDemo/microservices/BloggingService.Host/BloggingServiceHostModule.cs
  samples/MicroserviceDemo/microservices/IdentityService.Host/IdentityService.Host.csproj
  samples/MicroserviceDemo/microservices/IdentityService.Host/IdentityServiceHostModule.cs
  samples/MicroserviceDemo/microservices/ProductService.Host/ProductService.Host.csproj
  samples/MicroserviceDemo/microservices/ProductService.Host/ProductServiceHostModule.cs
  templates/mvc-module/host/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/mvc-module/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/mvc-module/host/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/mvc-module/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/mvc-module/host/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/mvc-module/host/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebHostModule.cs
  templates/mvc/src/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/mvc/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/mvc/src/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/mvc/src/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/mvc/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/mvc/src/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebModule.cs
Labels: enhancement

#1391 Renamed: typo in class names: Volo.Abp.Identity
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityClaimTypeManager.cs
  modules/identity/test/Volo.Abp.Identity.Domain.Tests/Volo/Abp/Identity/IdentityClaimTypeManager_Tests.cs
Labels: enhancement, module-identity

#1006 Add badges to readme.
  README.md
Labels: enhancement

#1394 Resync Chinese language with English
  docs/zh-Hans/AspNetCore/Tag-Helpers.md
  docs/zh-Hans/AspNetCore/Tag-Helpers/Dynamic-Forms.md
  docs/zh-Hans/AspNetCore/Tag-Helpers/Index.md
  docs/zh-Hans/Dynamic-JavaScript-API-Clients.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#1402 Resolve #1397 ContentLayout supports html lang.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Empty.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/_ViewImports.cshtml
  modules/docs/app/VoloDocs.Web/Branding/VoloDocsBrandingProvider.cs
  modules/docs/app/VoloDocs.Web/Localization/Resources/VoloDocs/Web/en.json
  modules/docs/app/VoloDocs.Web/Localization/Resources/VoloDocs/Web/zh-Hans.json
  modules/docs/app/VoloDocs.Web/appsettings.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubRepositoryManager.cs
Labels: enhancement
