Repository abpframework/abp, pull requests merged in 2019-12, with the labels that each got.

#2282 improvement(permission-management): hide provider badge when editing …
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.html
Labels: ui-angular

#2271 Update Entities.md
  docs/en/Entities.md
Labels: documentation, enhancement

#2291 Upgraded client side dependencies for v1.1
  npm/packs/anchor-js/package.json
  npm/packs/aspnetcore.mvc.ui/package.json
  npm/packs/chart.js/package.json
  npm/packs/codemirror/package.json
  npm/packs/flag-icon-css/package.json
  npm/packs/luxon/package.json
  npm/packs/markdown-it/package.json
  npm/packs/select2/package.json
  npm/packs/tui-editor/package.json
Labels: ui-mvc

#2299 Build/build options
  npm/ng-packs/package.json
  npm/ng-packs/scripts/build.js
  npm/ng-packs/scripts/package-lock.json
  npm/ng-packs/scripts/package.json
Labels: ui-angular

#2297 Docs module conditional section feature
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Projects/CreateProjectDto.cs
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Projects/UpdateProjectDto.cs
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Projects/ProjectAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/Create.cshtml.cs
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/Edit.cshtml.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/DocumentParameterDto.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/DocumentParametersDto.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/GetParametersDocumentInput.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/IDocumentAppService.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Documents/DocumentAppService.cs
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Projects/ProjectConsts.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubDocumentStore.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Projects/Project.cs
  modules/docs/src/Volo.Docs.EntityFrameworkCore/Volo/Docs/EntityFrameworkCore/DocsDbContextModelBuilderExtensions.cs
  modules/docs/src/Volo.Docs.HttpApi/Volo/Docs/Documents/DocsDocumentController.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/DocumentParseParamaters.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/DocumentSectionConsts.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/HtmlNormalizer.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/IDocumentSectionRenderer.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/ScribanDocumentSectionParser.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js
  modules/docs/src/Volo.Docs.Web/Volo.Docs.Web.csproj
  modules/docs/test/Volo.Docs.TestBase/Volo/Docs/DocsTestDataBuilder.cs
Labels: module-docs

#2293 CheckPassword method should call ReplaceEmailToUsernameOfInputIfNeeds.
  modules/account/src/Volo.Abp.Account.Web/Areas/Account/Controllers/AccountController.cs
Labels: enhancement

#2327 Resolved: https://github.com/abpframework/abp/issues/2326
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectFinder.cs
Labels: cli, enhancement

#2275 Enable UserSecrets for template projects.
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyCompanyName.MyProjectName.Web.Unified.csproj
Labels: enhancement

#2371 Use the unified provider key format in the feature module.
  framework/src/Volo.Abp.Features/Volo/Abp/Features/EditionFeatureValueProvider.cs
  framework/src/Volo.Abp.Features/Volo/Abp/Features/TenantFeatureValueProvider.cs
  framework/test/Volo.Abp.Features.Tests/Volo/Abp/Features/TestFeatureStore.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/EditionFeatureManagementProvider.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/EditionFeatureManagerExtensions.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/TenantFeatureManagementProvider.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.Application.Tests/Volo/Abp/FeatureManagement/FeatureAppService_Tests.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.Domain.Tests/Volo/Abp/FeatureManagement/FeatureValueCacheItemInvalidator_Tests.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.TestBase/Volo/Abp/FeatureManagement/FeatureManagementStore_Tests.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.TestBase/Volo/Abp/FeatureManagement/FeatureManagementTestDataBuilder.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.TestBase/Volo/Abp/FeatureManagement/FeatureValueRepository_Tests.cs
Labels: breaking change, bug, framework, module-feature-management

#2238 fix: Microservice PublicWebSite oidc fails parsing UserInfoEndpoint response
  framework/src/Volo.Abp.AspNetCore.Authentication.OAuth/Volo/Abp/AspNetCore/Authentication/OAuth/Claims/MultipleClaimAction.cs
Labels: enhancement, framework

#2225 Update Czech localization files
  docs/cs/Best-Practices/PostgreSQL-Integration.md
  docs/cs/CLI.md
  docs/cs/Getting-Started-Angular-Template.md
  docs/cs/Getting-Started-AspNetCore-Application.md
  docs/cs/Index.md
  docs/cs/docs-nav.json
  docs/cs/images/authorization-new-permission-ui-hierarcy.png
  docs/cs/images/authorization-new-permission-ui-localized.png
  docs/cs/images/authorization-new-permission-ui.png
  docs/cs/images/create-aspnet-core-application.png
  docs/cs/images/create-new-aspnet-core-application-v2.png
  docs/cs/images/select-empty-web-application-v2.png
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/cs.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/cs.json
  framework/test/Volo.Abp.Emailing.Tests/Volo/Abp/Emailing/Localization/cs.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/cs.json
  modules/docs/app/VoloDocs.Web/Localization/Resources/VoloDocs/Web/cs.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/cs.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/cs.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/cs.json
  samples/BookStore-Modular/modules/book-management/src/Acme.BookStore.BookManagement.Domain.Shared/Localization/BookManagement/cs.json
  samples/BookStore-Modular/modules/book-management/src/Acme.BookStore.BookManagement.Domain.Shared/Localization/BookManagement/en.json
Labels: documentation, enhancement

#2398 Resolve #2393 Catch JsonReaderException isn't valid json response.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/RemoteServiceExceptionHandler.cs
Labels: enhancement, framework

#2400 Resolve #2396 fix missing rename from AbpErrorViewModel
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Views/Error/Default.cshtml
Labels: framework

#2407 style(theme-shared): change table sort icons
  npm/ng-packs/packages/theme-shared/src/lib/components/sort-order-icon/sort-order-icon.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/sort-order-icon/sort-order-icon.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/constants/styles.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/sort-order-icon.component.spec.ts
Labels: ui-angular

#2411 Make emailadrdess required on identity domain
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUser.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserStore.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IdentityDbContextModelBuilderExtensions.cs
  modules/users/src/Volo.Abp.Users.EntityFrameworkCore/Volo/Abp/Users/EntityFrameworkCore/AbpUsersDbContextModelCreatingExtensions.cs
Labels: module-identity

#2423 export some component and service in identity account module
  npm/ng-packs/packages/account/src/lib/components/index.ts
  npm/ng-packs/packages/account/src/lib/services/index.ts
  npm/ng-packs/packages/account/src/public-api.ts
  npm/ng-packs/packages/identity/src/lib/components/index.ts
  npm/ng-packs/packages/identity/src/public-api.ts
Labels: ui-angular

#2425 feat/add-route-action
  npm/ng-packs/packages/core/src/lib/actions/config.actions.ts
  npm/ng-packs/packages/core/src/lib/plugins/config.plugin.ts
  npm/ng-packs/packages/core/src/lib/states/config.state.ts
  npm/ng-packs/packages/core/src/lib/tests/config.plugin.spec.ts
Labels: ui-angular

#2431 feat: add state actions to related state services
  npm/ng-packs/packages/core/src/lib/services/config-state.service.ts
  npm/ng-packs/packages/core/src/lib/services/profile-state.service.ts
  npm/ng-packs/packages/core/src/lib/services/session-state.service.ts
  npm/ng-packs/packages/core/src/lib/tests/config-state.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/profile-state.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/session-state.service.spec.ts
  npm/ng-packs/packages/feature-management/src/lib/services/feature-management-state.service.ts
  npm/ng-packs/packages/feature-management/src/lib/tests/feature-management-state.service.spec.ts
  npm/ng-packs/packages/identity/src/lib/services/identity-state.service.ts
  npm/ng-packs/packages/identity/src/lib/tests/identity-state.service.spec.ts
  npm/ng-packs/packages/permission-management/src/lib/services/permission-management-state.service.ts
  npm/ng-packs/packages/permission-management/src/lib/tests/permission-management-state.service.spec.ts
  npm/ng-packs/packages/tenant-management/src/lib/services/tenant-management-state.service.ts
  npm/ng-packs/packages/tenant-management/src/lib/states/tenant-management.state.ts
  npm/ng-packs/packages/tenant-management/src/lib/tests/tenant-management-state.service.spec.ts
  npm/ng-packs/packages/theme-basic/src/lib/services/layout-state.service.ts
  npm/ng-packs/packages/theme-basic/src/lib/states/layout.state.ts
  npm/ng-packs/packages/theme-basic/src/lib/tests/layout-state.service.spec.ts
Labels: ui-angular

#2457 Docs documentation Introduce section future.
  docs/en/Modules/Docs.md
  docs/en/images/docs-section-ui.png
Labels: documentation, module-docs

#2412 Identity roles paged
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IIdentityRoleAppService.cs
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityRoleAppService.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityRoleController.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/index.js
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml.cs
  modules/identity/test/Volo.Abp.Identity.Application.Tests/Volo/Abp/Identity/IdentityRoleAppService_Tests.cs
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.ts
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.html
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
Labels: module-identity, ui-angular, ui-mvc

#2473 Localize exception message on limited result request dto
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo.Abp.Ddd.Application.Contracts.csproj
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/AbpDddApplicationContractsModule.cs
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Dtos/LimitedResultRequestDto.cs
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Localization/Resources/AbpDdd/AbpDddResource.cs
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Localization/Resources/AbpDdd/en.json
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Localization/Resources/AbpDdd/tr.json
Labels: enhancement, framework

#2375 AddGlobalFilters method of MongoDbRepository extracted to a service
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/IMongoDbRepositoryFilterer.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/MongoDbRepository.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/MongoDbRepositoryFilterer.cs
Labels: feature, framework

#2381 Implement AsyncBackgroundJob.
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/AbpBackgroundJobsAbstractionsModule.cs
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/AsyncBackgroundJob.cs
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/BackgroundJobArgsHelper.cs
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/BackgroundJobExecuter.cs
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/IAsyncBackgroundJob.cs
  framework/test/Volo.Abp.BackgroundJobs.Tests/Volo/Abp/BackgroundJobs/BackgroundJobExecuter_Tests.cs
  framework/test/Volo.Abp.BackgroundJobs.Tests/Volo/Abp/BackgroundJobs/BackgroundJobManager_Tests.cs
  framework/test/Volo.Abp.BackgroundJobs.Tests/Volo/Abp/BackgroundJobs/MyAsyncJob.cs
  framework/test/Volo.Abp.BackgroundJobs.Tests/Volo/Abp/BackgroundJobs/MyAsyncJobArgs.cs
Labels: feature, framework

#2392 modify several module's SettingDefinitionProvider to support multi-lingual
  framework/src/Volo.Abp.Emailing/Volo.Abp.Emailing.csproj
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/AbpEmailingModule.cs
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/EmailSettingProvider.cs
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/EmailingResource.cs
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/en.json
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/zh-Hans.json
  framework/src/Volo.Abp.Localization/Volo.Abp.Localization.csproj
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/AbpLocalizationModule.cs
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/LocalizationSettingProvider.cs
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpLocalization/AbpLocalizationResource.cs
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpLocalization/en.json
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpLocalization/zh-Hans.json
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpValidation/AbpValidationResource.cs
  framework/src/Volo.Abp.Validation/Volo.Abp.Validation.csproj
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/AbpValidationModule.cs
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/AbpValidationResource.cs
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/cs.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/en.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/es.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/pl.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/pt-BR.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/tr.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/vi.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/zh-Hans.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/en.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/zh-Hans.json
  modules/account/src/Volo.Abp.Account.Web/Settings/AccountSettingDefinitionProvider.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/en.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hans.json
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentitySettingDefinitionProvider.cs
Labels: enhancement, framework

#2422 Add Razor support for mvc.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo.Abp.AspNetCore.Mvc.UI.Bundling.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Packages/Volo.Abp.AspNetCore.Mvc.UI.Packages.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Widgets/Volo.Abp.AspNetCore.Mvc.UI.Widgets.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc.UI/Volo.Abp.AspNetCore.Mvc.UI.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo.Abp.AspNetCore.Mvc.csproj
Labels: framework, ui-mvc

#2441 When using FluentValidation for validation, members in ValidationResult are missing
  framework/src/Volo.Abp.FluentValidation/Volo/Abp/FluentValidation/FluentObjectValidationContributor.cs
  framework/test/Volo.Abp.FluentValidation.Tests/Volo/Abp/FluentValidation/ApplicationService_FluentValidation_Tests.cs
Labels: enhancement, framework

#2493 Update repository method to WithDetails in docs
  docs/en/Best-Practices/Entity-Framework-Core-Integration.md
  docs/zh-Hans/Best-Practices/Entity-Framework-Core-Integration.md
Labels: documentation

#2498 Translate settings document
  docs/zh-Hans/Settings.md
Labels: documentation, enhancement, framework

#2522 feat: make some components replaceable
  npm/ng-packs/README.md
  npm/ng-packs/package.json
  npm/ng-packs/packages/account-config/package.json
  npm/ng-packs/packages/account/package.json
  npm/ng-packs/packages/account/src/lib/account-routing.module.ts
  npm/ng-packs/packages/account/src/lib/components/auth-wrapper/auth-wrapper.component.html
  npm/ng-packs/packages/account/src/lib/components/auth-wrapper/auth-wrapper.component.ts
  npm/ng-packs/packages/account/src/lib/components/change-password/change-password.component.html
  npm/ng-packs/packages/account/src/lib/components/change-password/change-password.component.ts
  npm/ng-packs/packages/account/src/lib/components/login/login.component.html
  npm/ng-packs/packages/account/src/lib/components/manage-profile/manage-profile.component.html
  npm/ng-packs/packages/account/src/lib/components/personal-settings/personal-settings.component.ts
  npm/ng-packs/packages/account/src/lib/components/register/register.component.html
  npm/ng-packs/packages/account/src/lib/components/tenant-box/tenant-box.component.ts
  npm/ng-packs/packages/account/src/lib/models/account.ts
  npm/ng-packs/packages/account/src/lib/models/index.ts
  npm/ng-packs/packages/core/package.json
  npm/ng-packs/packages/core/src/lib/actions/index.ts
  npm/ng-packs/packages/core/src/lib/actions/replaceable-components.actions.ts
  npm/ng-packs/packages/core/src/lib/components/index.ts
  npm/ng-packs/packages/core/src/lib/components/replaceable-route-container.component.ts
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/directives/index.ts
  npm/ng-packs/packages/core/src/lib/directives/init.directive.ts
  npm/ng-packs/packages/core/src/lib/directives/replaceable-template.directive.ts
  npm/ng-packs/packages/core/src/lib/guards/permission.guard.ts
  npm/ng-packs/packages/core/src/lib/models/common.ts
  npm/ng-packs/packages/core/src/lib/models/index.ts
  npm/ng-packs/packages/core/src/lib/models/replaceable-components.ts
  npm/ng-packs/packages/core/src/lib/states/index.ts
  npm/ng-packs/packages/core/src/lib/states/replaceable-components.state.ts
  npm/ng-packs/packages/core/src/lib/tests/replaceable-components.state.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/replaceable-route-container.component.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/replaceable-template.directive.spec.ts
  npm/ng-packs/packages/feature-management/package.json
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management/feature-management.component.ts
  npm/ng-packs/packages/feature-management/src/lib/models/feature-management.ts
  npm/ng-packs/packages/identity-config/package.json
  npm/ng-packs/packages/identity/package.json
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.html
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.ts
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.html
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
  npm/ng-packs/packages/identity/src/lib/identity-routing.module.ts
  npm/ng-packs/packages/permission-management/package.json
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.ts
  npm/ng-packs/packages/permission-management/src/lib/models/permission-management.ts
  npm/ng-packs/packages/setting-management-config/package.json
  npm/ng-packs/packages/setting-management/package.json
  npm/ng-packs/packages/setting-management/src/lib/setting-management-routing.module.ts
  npm/ng-packs/packages/tenant-management-config/package.json
  npm/ng-packs/packages/tenant-management/package.json
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.html
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.ts
  npm/ng-packs/packages/tenant-management/src/lib/tenant-management-routing.module.ts
  npm/ng-packs/packages/theme-basic/package.json
  npm/ng-packs/packages/theme-shared/package.json
  npm/ng-packs/yarn.lock
  templates/module/angular/projects/my-project-name/src/lib/my-project-name-routing.module.ts
Labels: ui-angular
