Repository abpframework/abp, pull requests merged in 2019-11, with the labels that each got.

#2081 EntityHelper build id expression strong typed
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/EntityHelper.cs
Labels: problem

#2019 Updating PT-BR translation
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/pt-BR.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/pt-BR.json
Labels: enhancement

#2096 Update PostgreSQL-Integration.md
  docs/en/Best-Practices/PostgreSQL-Integration.md
Labels: documentation

#2113 Update Part-II.md
  docs/en/Tutorials/Angular/Part-II.md
Labels: documentation

#2128 fix blogging module post edit.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blog/Posts/Edit.cshtml
Labels: module-blogging

#1993 MVC templates support the no-ui option.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
Labels: cli, enhancement

#2038 Add a delegate to configure IHttpClientBuilder in AddHttpClientProxy method.
  framework/src/Volo.Abp.Http.Client/Microsoft/Extensions/DependencyInjection/ServiceCollectionDynamicHttpClientProxyExtensions.cs
Labels: enhancement, framework

#2097 Abp error status page option
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/AbpErrorPageOptions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Controllers/ErrorController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Pages/Error/Index.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Pages/Error/Index.cshtml.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Views/Error/AbpErrorViewModel.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Views/Error/Default.cshtml
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/en.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/tr.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/zh-Hans.json
Labels: framework, ui-mvc

#2158 Cli create app template without ui.
  docs/en/CLI.md
  docs/zh-Hans/CLI.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/UiFramework.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/UiFrameworkExtensions.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
Labels: cli, feature

#2190 Resolved #1508 Adding cli namespace normalizer.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/NamespaceHelper.cs
Labels: cli, enhancement

#2215 Test/form submit directive
  npm/ng-packs/packages/core/src/lib/directives/form-submit.directive.ts
  npm/ng-packs/packages/core/src/lib/tests/form-submit.directive.spec.ts
Labels: ui-angular

#2210 fix localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pt-BR.json
Labels: enhancement

#2205 Hide language switch menu if the app has only one language.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Components/Toolbar/LanguageSwitch/Default.cshtml
Labels: enhancement

#2000 Added DataTimeValueConverters function.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ValueConverters/AbpDateTimeValueConverter.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/AbpEntityFrameworkCoreTestModule.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/ValueConverters/AbpDateTimeValueConverter_Tests.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFrameworkCore/PersonRepository.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFrameworkCore/TestAppDbContext.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Domain/IPersonRepository.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Domain/Person.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Domain/PersonView.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Testing/AbpDateTimeValueConverter_Tests.cs
Labels: feature, framework

#2117 Add missing DataTables options for tenant-management module.
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/Index.js
Labels: enhancement, module-tenant-management

#2151 Implement AbpDateTimeModelBinderProvider & AbpDateTimeModelBinder
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpMvcOptionsExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ModelBinding/AbpDateTimeModelBinder.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ModelBinding/AbpDateTimeModelBinderProvider.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/ModelBinding/ModelBindingController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/ModelBinding/ModelBindingController_Tests.cs
Labels: feature, framework

#2133 datepicker-requirements-right-below-date-picker-implementation
  docs/en/Tutorials/Angular/Part-II.md
Labels: documentation, enhancement

#2250 fix(theme-shared): modal animations, backdrop height
  npm/ng-packs/packages/theme-shared/src/lib/components/breadcrumb/breadcrumb.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/constants/scripts.ts
  npm/ng-packs/packages/theme-shared/src/lib/constants/styles.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/confirmation.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/modal.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/toaster.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: ui-angular

#2261 General refactor for Angular
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/directives/permission.directive.ts
  npm/ng-packs/packages/core/src/lib/guards/permission.guard.ts
  npm/ng-packs/packages/core/src/lib/tests/permission.directive.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/permission.guard.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/date-extensions.ts
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.html
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.html
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.html
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/application-layout/application-layout.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/http-error-wrapper/http-error-wrapper.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/http-error-wrapper/http-error-wrapper.component.scss
  npm/ng-packs/packages/theme-shared/src/lib/components/http-error-wrapper/http-error-wrapper.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/handlers/error.handler.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/error.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/error.handler.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: breaking change, ui-angular

#2266 test(theme-shared): add sort-order-icon component test
  npm/ng-packs/packages/theme-shared/src/lib/components/sort-order-icon/sort-order-icon.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/sort-order-icon.component.spec.ts
Labels: ui-angular

#2267 feat(core): add condition check to getGrantedPolicy
  npm/ng-packs/packages/core/src/lib/pipes/sort.pipe.ts
  npm/ng-packs/packages/core/src/lib/states/config.state.ts
  npm/ng-packs/packages/core/src/lib/tests/config.state.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/sort.pipe.spec.ts
Labels: ui-angular

#2177 Implement external login only.
  modules/account/src/Volo.Abp.Account.Web.IdentityServer/Pages/Account/IdentityServerSupportedLoginModel.cs
  modules/account/src/Volo.Abp.Account.Web/Areas/Account/Controllers/LogoutController.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml.cs
  modules/account/src/Volo.Abp.Account.Web/Settings/AccountSettingDefinitionProvider.cs
  modules/account/src/Volo.Abp.Account.Web/Settings/AccountSettingNames.cs
Labels: feature, module-account
