Repository abpframework/abp, pull requests merged in 2019-04, with the labels that each got.

#959 Introduce IDistributedCacheSerializer and implement as Utf8JsonDistributedCacheSerializer
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Account.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Empty.cshtml
  framework/src/Volo.Abp.Caching/Volo.Abp.Caching.csproj
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/AbpCachingModule.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/DistributedCache.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/IDistributedCacheSerializer.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/Utf8JsonDistributedCacheSerializer.cs
  framework/src/Volo.Abp.Core/Volo.Abp.Core.csproj
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/_Layout.cshtml
  modules/account/src/Volo.Abp.Account.Web.IdentityServer/AbpAccountWebIdentityServerModule.cs
  modules/account/src/Volo.Abp.Account.Web/AbpAccountWebModule.cs
Labels: feature

#969 Implement fully async interceptors
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/AuthorizationInterceptor.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/DistributedCache.cs
  framework/src/Volo.Abp.Castle.Core/Volo/Abp/Castle/DynamicProxy/CastleAbpInterceptorAdapter.cs
  framework/src/Volo.Abp.Castle.Core/Volo/Abp/Castle/DynamicProxy/CastleAbpMethodInvocationAdapter.cs
  framework/test/Volo.Abp.Core.Tests/Volo/Abp/DynamicProxy/CachedTestObject.cs
  framework/test/Volo.Abp.Core.Tests/Volo/Abp/DynamicProxy/SimpleAsyncInterceptor.cs
Labels: feature, framework

#976 Add unit tests of Volo.Docs module.
  modules/docs/Volo.Docs.sln
  modules/docs/src/Volo.Docs.Domain/Volo.Docs.Domain.csproj
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/DocsDomainModule.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubDocumentStore.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubRepositoryManager.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/IGithubRepositoryManager.cs
  modules/docs/src/Volo.Docs.EntityFrameworkCore/Volo/Docs/Projects/EfCoreProjectRepository.cs
  modules/docs/test/Volo.Docs.Admin.Application.Tests/Volo.Docs.Admin.Application.Tests.csproj
  modules/docs/test/Volo.Docs.Admin.Application.Tests/Volo/Docs/ApplicationService_Tests.cs
  modules/docs/test/Volo.Docs.Admin.Application.Tests/Volo/Docs/DocsApplicationTestBase.cs
  modules/docs/test/Volo.Docs.Admin.Application.Tests/Volo/Docs/DocsApplicationTestModule.cs
  modules/docs/test/Volo.Docs.Admin.Application.Tests/Volo/Docs/ProjectAdminAppService_Tests.cs
  modules/docs/test/Volo.Docs.Application.Tests/Volo.Docs.Application.Tests.csproj
  modules/docs/test/Volo.Docs.Application.Tests/Volo/Docs/DocsApplicationTestModule.cs
  modules/docs/test/Volo.Docs.Domain.Tests/Volo.Docs.Domain.Tests.csproj
  modules/docs/test/Volo.Docs.Domain.Tests/Volo/Docs/DocsDomainTestBase.cs
  modules/docs/test/Volo.Docs.Domain.Tests/Volo/Docs/DocsDomainTestModule.cs
  modules/docs/test/Volo.Docs.Domain.Tests/Volo/Docs/DocumentStoreFactory_Tests.cs
  modules/docs/test/Volo.Docs.Domain.Tests/Volo/Docs/GithubDocumentStore_Tests.cs
  modules/docs/test/Volo.Docs.Domain.Tests/Volo/Docs/Project_Tests.cs
  modules/docs/test/Volo.Docs.EntityFrameworkCore.Tests/Volo.Docs.EntityFrameworkCore.Tests.csproj
  modules/docs/test/Volo.Docs.EntityFrameworkCore.Tests/Volo/Docs/EntityFrameworkCore/DocsEntityFrameworkCoreTestModule.cs
  modules/docs/test/Volo.Docs.EntityFrameworkCore.Tests/Volo/Docs/EntityFrameworkCore/ProjectRepository_Tests.cs
  modules/docs/test/Volo.Docs.TestBase/Volo.Docs.TestBase.csproj
  modules/docs/test/Volo.Docs.TestBase/Volo/Docs/DocsTestBase.cs
  modules/docs/test/Volo.Docs.TestBase/Volo/Docs/DocsTestBaseModule.cs
  modules/docs/test/Volo.Docs.TestBase/Volo/Docs/DocsTestData.cs
  modules/docs/test/Volo.Docs.TestBase/Volo/Docs/DocsTestDataBuilder.cs
  modules/docs/test/Volo.Docs.TestBase/Volo/Docs/ProjectRepository_Tests.cs
Labels: enhancement, module-docs

#977 Add SettingManagerment unit tests.
  modules/setting-management/test/Volo.Abp.SettingManagement.TestBase/Volo/Abp/SettingManagement/SettingTestData.cs
  modules/setting-management/test/Volo.Abp.SettingManagement.TestBase/Volo/Abp/SettingManagement/SettingTestDataBuilder.cs
  modules/setting-management/test/Volo.Abp.SettingManagement.TestBase/Volo/Abp/SettingManagement/TestSettingDefinitionProvider.cs
  modules/setting-management/test/Volo.Abp.SettingManagement.Tests/Volo/Abp/SettingManagement/DefaultValueSettingManagementProvider_Tests.cs
  modules/setting-management/test/Volo.Abp.SettingManagement.Tests/Volo/Abp/SettingManagement/SettingCacheItemInvalidator_Tests.cs
  modules/setting-management/test/Volo.Abp.SettingManagement.Tests/Volo/Abp/SettingManagement/SettingManagementStore_Tests.cs
Labels: enhancement, module-setting-management

#961 Add Volo.Abp.FeatureManagement unit tests.
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application/Volo/Abp/FeatureManagement/FeatureAppService.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.Application.Tests/Volo/Abp/FeatureManagement/FeatureAppService_Tests.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.Application.Tests/Volo/Abp/FeatureManagement/FeatureManagementApplicationTestBase.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.Application.Tests/Volo/Abp/FeatureManagement/FeatureManagementApplicationTestModule.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.Domain.Tests/Volo/Abp/FeatureManagement/FeatureValueCacheItemInvalidator_Tests.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.EntityFrameworkCore.Tests/Volo/Abp/FeatureManagement/EntityFrameworkCore/AbpFeatureManagementEntityFrameworkCoreTestModule.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.EntityFrameworkCore.Tests/Volo/Abp/FeatureManagement/EntityFrameworkCore/FeatureManagementStore_Tests.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.MongoDB.Tests/Volo/Abp/FeatureManagement/MongoDB/AbpFeatureManagementMongoDbTestModule.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.MongoDB.Tests/Volo/Abp/FeatureManagement/MongoDB/FeatureManagementStore_Tests.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.TestBase/Volo/Abp/FeatureManagement/FeatureManagementStore_Tests.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.TestBase/Volo/Abp/FeatureManagement/FeatureManagementTestBaseModule.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.TestBase/Volo/Abp/FeatureManagement/FeatureManagementTestData.cs
Labels: enhancement

#967 Add blog unit tests.
  modules/blogging/Volo.Blogging.sln
  modules/blogging/src/Volo.Blogging.Domain/Volo/Blogging/Tagging/Tag.cs
  modules/blogging/src/Volo.Blogging.MongoDB/Volo/Blogging/Tagging/MongoTagRepository.cs
  modules/blogging/test/Volo.Blogging.Application.Tests/Volo.Blogging.Application.Tests.csproj
  modules/blogging/test/Volo.Blogging.Domain.Tests/Volo.Blogging.Domain.Tests.csproj
  modules/blogging/test/Volo.Blogging.Domain.Tests/Volo/Abp/Blogging/BloggingDomainTestBase.cs
  modules/blogging/test/Volo.Blogging.Domain.Tests/Volo/Abp/Blogging/BloggingDomainTestModule.cs
  modules/blogging/test/Volo.Blogging.Domain.Tests/Volo/Abp/Blogging/Blogs/Blog_Tests.cs
  modules/blogging/test/Volo.Blogging.Domain.Tests/Volo/Abp/Blogging/Comments/Comment_Tests.cs
  modules/blogging/test/Volo.Blogging.Domain.Tests/Volo/Abp/Blogging/Posts/Post_Tests.cs
  modules/blogging/test/Volo.Blogging.Domain.Tests/Volo/Abp/Blogging/Tagging/Tag_Tests.cs
  modules/blogging/test/Volo.Blogging.Domain.Tests/Volo/Abp/Blogging/Users/BlogUser_Test.cs
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo/Blogging/Blogs/BlogRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo/Blogging/Comments/CommentRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo/Blogging/EntityFrameworkCore/BloggingEntityFrameworkCoreTestModule.cs
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo/Blogging/Posts/PostRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo/Blogging/Tagging/TagRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.MongoDB.Tests/Volo.Blogging.MongoDB.Tests.csproj
  modules/blogging/test/Volo.Blogging.MongoDB.Tests/Volo/Blogging/Blogs/BlogRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.MongoDB.Tests/Volo/Blogging/Comments/CommentRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.MongoDB.Tests/Volo/Blogging/MongoDB/BloggingMongoDBTestModule.cs
  modules/blogging/test/Volo.Blogging.MongoDB.Tests/Volo/Blogging/Posts/PostRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.MongoDB.Tests/Volo/Blogging/Tagging/TagRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.TestBase/Volo/Blogging/BloggingTestData.cs
  modules/blogging/test/Volo.Blogging.TestBase/Volo/Blogging/BloggingTestDataBuilder.cs
  modules/blogging/test/Volo.Blogging.TestBase/Volo/Blogging/Comments/CommentRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.TestBase/Volo/Blogging/Posts/PostRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.TestBase/Volo/Blogging/Tagging/TagRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.TestBase/Volo/Blogging/Users/BlogUserRepository_Tests.cs
Labels: enhancement

#966 add Volo.Abp.AuditLogging unit tests.
  modules/audit-logging/test/Volo.Abp.AuditLogging.EntityFrameworkCore.Tests/Volo/Abp/AuditLogging/EntityFrameworkCore/AuditLogRepository_Tests.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.MongoDB.Tests/Volo/Abp/AuditLogging/MongoDB/AuditLogRepository_Tests.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.TestBase/Volo/Abp/AuditLogging/AuditLogRepository_Tests.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.TestBase/Volo/Abp/AuditLogging/AuditLogging_Repository_Resolve_Tests.cs
Labels: enhancement

#952 Docking with third-party OAuth services for ease of rewriting CurrentUser
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Permissions/ClientPermissionValueProvider.cs
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Permissions/RolePermissionValueProvider.cs
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Permissions/UserPermissionValueProvider.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/CurrentClaimsPrincipalTenantResolveContributor.cs
Labels: enhancement, framework

#1000 Updated sample projects to use abp framework version 0.15.0
  samples/BasicAspNetCoreApplication/BasicAspNetCoreApplication/AppModule.cs
  samples/BasicAspNetCoreApplication/BasicAspNetCoreApplication/BasicAspNetCoreApplication.csproj
  samples/BasicConsoleApplication/AbpConsoleDemo/AbpConsoleDemo.csproj
  samples/BookStore/Acme.BookStore.sln
  samples/BookStore/common.props
  samples/BookStore/src/Acme.BookStore.Application/Acme.BookStore.Application.csproj
  samples/BookStore/src/Acme.BookStore.Application/BookAppService.cs
  samples/BookStore/src/Acme.BookStore.Application/BookStoreApplicationModule.cs
  samples/BookStore/src/Acme.BookStore.Application/Permissions/BookStorePermissions.cs
  samples/BookStore/src/Acme.BookStore.Domain/Acme.BookStore.Domain.csproj
  samples/BookStore/src/Acme.BookStore.Domain/Book.cs
  samples/BookStore/src/Acme.BookStore.Domain/BookStoreConsts.cs
  samples/BookStore/src/Acme.BookStore.Domain/BookStoreDomainModule.cs
  samples/BookStore/src/Acme.BookStore.Domain/Localization/BookStore/pt-BR.json
  samples/BookStore/src/Acme.BookStore.Domain/Users/AppUser.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Acme.BookStore.EntityFrameworkCore.DbMigrations.csproj
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/BookStoreMigrationsDbContext.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/BookStoreMigrationsDbContextFactory.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Migrations/20190320072839_Initial.Designer.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Migrations/20190320072839_Initial.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Migrations/20190328093603_Created_Book_Entity.Designer.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Migrations/20190328093603_Created_Book_Entity.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Migrations/BookStoreMigrationsDbContextModelSnapshot.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/Acme.BookStore.EntityFrameworkCore.csproj
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreDbContext.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreDbContextModelCreatingExtensions.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreEntityFrameworkCoreModule.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/Migrations/20181204060805_Initial.Designer.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/Migrations/20181224122651_Upgreded_ABP_Packages.Designer.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/Migrations/20181224122651_Upgreded_ABP_Packages.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/Migrations/20190111135616_ABP_v0_11_Upgrade.cs
  samples/BookStore/src/Acme.BookStore.Web/Acme.BookStore.Web.csproj
  samples/BookStore/src/Acme.BookStore.Web/BookStoreWebModule.cs
  samples/BookStore/src/Acme.BookStore.Web/Menus/BookStoreMenuContributor.cs
  samples/BookStore/src/Acme.BookStore.Web/Pages/BookStorePageModelBase.cs
  samples/BookStore/src/Acme.BookStore.Web/Pages/Index.cshtml
  samples/BookStore/src/Acme.BookStore.Web/package-lock.json
  samples/BookStore/src/Acme.BookStore.Web/package.json
  samples/BookStore/src/Acme.BookStore.Web/wwwroot/pages/index.css
  samples/BookStore/src/Acme.BookStore.Web/wwwroot/pages/index.min.css
  samples/BookStore/src/Acme.BookStore.Web/wwwroot/pages/index.scss
  samples/BookStore/src/Acme.BookStore.Web/yarn.lock
  samples/BookStore/test/Acme.BookStore.Application.Tests/Acme.BookStore.Application.Tests.csproj
  samples/BookStore/test/Acme.BookStore.Application.Tests/BookAppService_Tests.cs
  samples/BookStore/test/Acme.BookStore.Application.Tests/BookStoreApplicationTestModule.cs
  samples/BookStore/test/Acme.BookStore.Application.Tests/Samples/SampleTest.cs
  samples/BookStore/test/Acme.BookStore.Application.Tests/Samples/SampleTests.cs
  samples/BookStore/test/Acme.BookStore.ConsoleApiClient/Acme.BookStore.ConsoleApiClient.csproj
  samples/BookStore/test/Acme.BookStore.ConsoleApiClient/ApiClientDemoService.cs
  samples/BookStore/test/Acme.BookStore.ConsoleApiClient/ConsoleApiClientModule.cs
  samples/BookStore/test/Acme.BookStore.ConsoleApiClient/Program.cs
  samples/BookStore/test/Acme.BookStore.ConsoleApiClient/appsettings.json
  samples/BookStore/test/Acme.BookStore.Web.Tests/Acme.BookStore.Web.Tests.csproj
  samples/BookStore/test/Acme.BookStore.Web.Tests/BookStoreWebTestModule.cs
Labels: enhancement

#1004 Improve Chinese translation of ASP.NET Core MVC Tutorial - Part I
  docs/zh-Hans/Tutorials/AspNetCore-Mvc/Part-I.md
Labels: documentation, enhancement

#1008 Update BookStore sample porject based on the latest startup template
  samples/BookStore/.gitattributes
  samples/BookStore/.gitignore
  samples/BookStore/Acme.BookStore.sln.DotSettings
  samples/BookStore/common.props
  samples/BookStore/src/Acme.BookStore.Application/Acme.BookStore.Application.csproj
  samples/BookStore/src/Acme.BookStore.Application/BookStoreApplicationModule.cs
  samples/BookStore/src/Acme.BookStore.Domain/Acme.BookStore.Domain.csproj
  samples/BookStore/src/Acme.BookStore.Domain/Book.cs
  samples/BookStore/src/Acme.BookStore.Domain/BookStoreConsts.cs
  samples/BookStore/src/Acme.BookStore.Domain/BookStoreDomainModule.cs
  samples/BookStore/src/Acme.BookStore.Domain/Localization/BookStore/BookStoreResource.cs
  samples/BookStore/src/Acme.BookStore.Domain/Localization/BookStore/zh-Hans.json
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Acme.BookStore.EntityFrameworkCore.DbMigrations.csproj
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/BookStoreMigrationsDbContext.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Migrations/20190402131334_Initial.Designer.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Migrations/20190402131334_Initial.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Migrations/20190416070050_Created_Book_Entity.Designer.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Migrations/20190416070050_Created_Book_Entity.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Migrations/BookStoreMigrationsDbContextModelSnapshot.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/Acme.BookStore.EntityFrameworkCore.csproj
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreDbContextModelCreatingExtensions.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreEntityFrameworkCoreModule.cs
  samples/BookStore/src/Acme.BookStore.Web/Acme.BookStore.Web.csproj
  samples/BookStore/src/Acme.BookStore.Web/BookStoreWebModule.cs
  samples/BookStore/src/Acme.BookStore.Web/Menus/BookStoreMenuContributor.cs
  samples/BookStore/src/Acme.BookStore.Web/package-lock.json
  samples/BookStore/test/Acme.BookStore.Application.Tests/Acme.BookStore.Application.Tests.csproj
  samples/BookStore/test/Acme.BookStore.Application.Tests/BookAppService_Tests.cs
  samples/BookStore/test/Acme.BookStore.Application.Tests/BookStoreTestDataBuilder.cs
  samples/BookStore/test/Acme.BookStore.Web.Tests/Acme.BookStore.Web.Tests.csproj
Labels: enhancement, samples

#1016 Improve Chinese translation for Dependency Injection
  docs/zh-Hans/Dependency-Injection.md
Labels: documentation

#1018 Improve Chinese translation for Virtual File System and Module Development
  docs/zh-Hans/Module-Development-Basics.md
  docs/zh-Hans/Virtual-File-System.md
Labels: documentation

#1020 IDistributedCache code documentation.
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/CacheOptions.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/DistributedCache.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/IDistributedCache.cs
Labels: enhancement, framework

#1032 Do not specify a version for Microsoft.AspNetCore.App package.
  modules/blogging/app/Volo.BloggingTestApp/Volo.BloggingTestApp.csproj
  samples/MicroserviceDemo/applications/AuthServer.Host/AuthServer.Host.csproj
  samples/MicroserviceDemo/gateways/BackendAdminAppGateway.Host/BackendAdminAppGateway.Host.csproj
  samples/MicroserviceDemo/gateways/InternalGateway.Host/InternalGateway.Host.csproj
  samples/MicroserviceDemo/gateways/PublicWebSiteGateway.Host/PublicWebSiteGateway.Host.csproj
  samples/MicroserviceDemo/microservices/BloggingService.Host/BloggingService.Host.csproj
  samples/MicroserviceDemo/microservices/IdentityService.Host/IdentityService.Host.csproj
  samples/MicroserviceDemo/microservices/ProductService.Host/ProductService.Host.csproj
  templates/module/app/MyCompanyName.MyProjectName.DemoApp/MyCompanyName.MyProjectName.DemoApp.csproj
  templates/mvc/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
  templates/service/host/MyCompanyName.MyProjectName.Host/MyCompanyName.MyProjectName.Host.csproj
Labels: enhancement

#1057 fix #1051 new/edit post jquery validate problem.
  modules/blogging/src/Volo.Blogging.Web/Pages/Blog/BloggingPage.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blog/Posts/edit.js
  modules/blogging/src/Volo.Blogging.Web/Pages/Blog/Posts/new.js
Labels: enhancement
