Repository abpframework/abp, pull requests merged in 2019-09, with the labels that each got.

#1692 Resolve #1687 Dapper integration documentation.
  docs/en/Dapper.md
  docs/en/docs-nav.json
  docs/zh-Hans/Dapper.md
  docs/zh-Hans/Entity-Framework-Core.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#1701 Resolve #1697 Show menu and submenu icon.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Components/Menu/Default.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Components/Menu/_MenuItem.cshtml
Labels: enhancement

#1616 fix #1615 Add a prefix to AutoMap*Attribute.
  docs/en/Application-Services.md
  docs/zh-Hans/Application-Services.md
  framework/src/Volo.Abp.AutoMapper/Volo/Abp/AutoMapper/AbpAutoMapAttribute.cs
  framework/src/Volo.Abp.AutoMapper/Volo/Abp/AutoMapper/AbpAutoMapAttributeBase.cs
  framework/src/Volo.Abp.AutoMapper/Volo/Abp/AutoMapper/AbpAutoMapFromAttribute.cs
  framework/src/Volo.Abp.AutoMapper/Volo/Abp/AutoMapper/AbpAutoMapToAttribute.cs
  framework/src/Volo.Abp.AutoMapper/Volo/Abp/AutoMapper/AbpAutoMapperModule.cs
  framework/src/Volo.Abp.AutoMapper/Volo/Abp/AutoMapper/AutoMapperConfigurationExtensions.cs
  framework/test/Volo.Abp.AutoMapper.Tests/Volo/Abp/AutoMapper/AutoMapper_Inheritance_Tests.cs
  framework/test/Volo.Abp.AutoMapper.Tests/Volo/Abp/AutoMapper/AutoMapping_Tests.cs
  framework/test/Volo.Abp.AutoMapper.Tests/Volo/Abp/AutoMapper/SampleClasses/MyEntityDto.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Domain/Person.cs
Labels: breaking change, enhancement, framework

#1814 Fix case of misleading CLI update advisory when custom path is used for installation
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
Labels: cli
