Repository abpframework/abp, pull requests merged in 2020-04, with the labels that each got.

#3420 Fix options prefix in document.
  docs/en/API/Dynamic-CSharp-API-Clients.md
  docs/en/Authorization.md
  docs/en/Best-Practices/Entity-Framework-Core-Integration.md
  docs/en/Best-Practices/MongoDB-Integration.md
  docs/en/Modules/Docs.md
  docs/en/UI/AspNetCore/Bundling-Minification.md
  docs/zh-Hans/API/Dynamic-CSharp-API-Clients.md
  docs/zh-Hans/Authorization.md
  docs/zh-Hans/Best-Practices/Entity-Framework-Core-Integration.md
  docs/zh-Hans/Best-Practices/MongoDB-Integration.md
  docs/zh-Hans/UI/AspNetCore/Bundling-Minification.md
Labels: documentation

#3453 Introduced New LazyLoadService
  docs/en/UI/Angular/Content-Security-Strategy.md
  docs/en/UI/Angular/Cross-Origin-Strategy.md
  docs/en/UI/Angular/Custom-Setting-Page.md
  docs/en/UI/Angular/Dom-Strategy.md
  docs/en/UI/Angular/Lazy-Load-Service.md
  docs/en/UI/Angular/Loading-Strategy.md
  docs/en/docs-nav.json
  npm/ng-packs/packages/core/src/lib/services/lazy-load.service.ts
  npm/ng-packs/packages/core/src/lib/strategies/content-security.strategy.ts
  npm/ng-packs/packages/core/src/lib/strategies/cross-origin.strategy.ts
  npm/ng-packs/packages/core/src/lib/strategies/dom.strategy.ts
  npm/ng-packs/packages/core/src/lib/strategies/index.ts
  npm/ng-packs/packages/core/src/lib/strategies/loading.strategy.ts
  npm/ng-packs/packages/core/src/lib/tests/content-security.strategy.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/cross-origin.strategy.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/dom.strategy.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/lazy-load-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/lazy-load.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/loading.strategy.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/index.ts
  npm/ng-packs/packages/core/src/lib/utils/lazy-load-utils.ts
  npm/ng-packs/packages/core/src/public-api.ts
Labels: ui-angular

#3465 Development environment enhanced
  npm/ng-packs/angular.json
  npm/ng-packs/apps/dev-app/tsconfig.dev.json
  npm/ng-packs/apps/dev-app/tsconfig.prod.json
  npm/ng-packs/package.json
  npm/ng-packs/packages/account-config/tsconfig.lib.json
  npm/ng-packs/packages/account-config/tsconfig.spec.json
  npm/ng-packs/packages/account/tsconfig.lib.json
  npm/ng-packs/packages/account/tsconfig.spec.json
  npm/ng-packs/packages/core/tsconfig.lib.json
  npm/ng-packs/packages/core/tsconfig.spec.json
  npm/ng-packs/packages/feature-management/tsconfig.lib.json
  npm/ng-packs/packages/feature-management/tsconfig.spec.json
  npm/ng-packs/packages/identity-config/tsconfig.lib.json
  npm/ng-packs/packages/identity-config/tsconfig.spec.json
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.ts
  npm/ng-packs/packages/identity/tsconfig.lib.json
  npm/ng-packs/packages/identity/tsconfig.spec.json
  npm/ng-packs/packages/permission-management/tsconfig.lib.json
  npm/ng-packs/packages/permission-management/tsconfig.spec.json
  npm/ng-packs/packages/setting-management-config/tsconfig.lib.json
  npm/ng-packs/packages/setting-management-config/tsconfig.spec.json
  npm/ng-packs/packages/setting-management/tsconfig.lib.json
  npm/ng-packs/packages/setting-management/tsconfig.spec.json
  npm/ng-packs/packages/tenant-management-config/tsconfig.lib.json
  npm/ng-packs/packages/tenant-management-config/tsconfig.spec.json
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.ts
  npm/ng-packs/packages/tenant-management/tsconfig.lib.json
  npm/ng-packs/packages/tenant-management/tsconfig.spec.json
  npm/ng-packs/packages/theme-basic/tsconfig.lib.json
  npm/ng-packs/packages/theme-basic/tsconfig.spec.json
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/handlers/error.handler.ts
  npm/ng-packs/packages/theme-shared/tsconfig.lib.json
  npm/ng-packs/packages/theme-shared/tsconfig.spec.json
  npm/ng-packs/tsconfig.json
  npm/ng-packs/tsconfig.prod.json
Labels: enhancement, ui-angular

#3435 Add builderAction parameter to the BuildConfiguration method.
  framework/src/Volo.Abp.Core/Microsoft/Extensions/Configuration/ConfigurationHelper.cs
Labels: abp-framework, enhancement

#3410 Set ExternalProviders and EnableLocalLogin properties in the page's OnPost method.
  modules/account/src/Volo.Abp.Account.Web.IdentityServer/Pages/Account/IdentityServerSupportedLoginModel.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml.cs
Labels: abp-module-account

#3366 apply entity extension system for samples
  build/common.ps1
  samples/BookStore-Angular-MongoDb/aspnet-core/src/Acme.BookStore.Domain/Users/AppUser.cs
  samples/BookStore-Modular/application/src/Acme.BookStore.Domain/Users/AppUser.cs
  samples/BookStore-Modular/application/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/BookStoreMigrationsDbContext.cs
  samples/BookStore-Modular/application/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/BookStoreMigrationsDbContextFactory.cs
  samples/BookStore-Modular/application/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreDbContext.cs
  samples/BookStore-Modular/application/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreDbContextModelCreatingExtensions.cs
  samples/BookStore-Modular/application/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreEfCoreEntityExtensionMappings.cs
  samples/BookStore-Modular/application/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreEntityFrameworkCoreModule.cs
  samples/BookStore-Modular/modules/book-management/src/Acme.BookStore.BookManagement.EntityFrameworkCore/EntityFrameworkCore/BookManagementEfCoreEntityExtensionMappings.cs
  samples/BookStore-Modular/modules/book-management/src/Acme.BookStore.BookManagement.EntityFrameworkCore/EntityFrameworkCore/BookManagementEntityFrameworkCoreModule.cs
  samples/BookStore/src/Acme.BookStore.Domain/Users/AppUser.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/BookStoreMigrationsDbContext.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/BookStoreMigrationsDbContextFactory.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreDbContext.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreDbContextModelCreatingExtensions.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreEfCoreEntityExtensionMappings.cs
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreEntityFrameworkCoreModule.cs
  samples/DashboardDemo/src/DashboardDemo.Domain/Users/AppUser.cs
  samples/DashboardDemo/src/DashboardDemo.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/DashboardDemoMigrationsDbContext.cs
  samples/DashboardDemo/src/DashboardDemo.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/DashboardDemoMigrationsDbContextFactory.cs
  samples/DashboardDemo/src/DashboardDemo.EntityFrameworkCore/EntityFrameworkCore/DashboardDemoDbContext.cs
  samples/DashboardDemo/src/DashboardDemo.EntityFrameworkCore/EntityFrameworkCore/DashboardDemoDbContextModelCreatingExtensions.cs
  samples/DashboardDemo/src/DashboardDemo.EntityFrameworkCore/EntityFrameworkCore/DashboardDemoEfCoreEntityExtensionMappings.cs
  samples/DashboardDemo/src/DashboardDemo.EntityFrameworkCore/EntityFrameworkCore/DashboardDemoEntityFrameworkCoreModule.cs
  samples/EfCoreMigrationDemo/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/BookStoreMigrationsDbContextFactory.cs
  samples/EfCoreMigrationDemo/test/Acme.BookStore.EntityFrameworkCore.Tests/Acme.BookStore.EntityFrameworkCore.Tests.csproj
  samples/EfCoreMigrationDemo/test/Acme.BookStore.EntityFrameworkCore.Tests/EntityFrameworkCore/BookStoreEntityFrameworkCoreTestModule.cs
  samples/EfCoreMigrationDemo/test/Acme.BookStore.Web.Tests/BookStoreWebTestModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Users/AppUser.cs
Labels: abp-samples, enhancement

#3470 Start and shutdown quartz asynchronously
  framework/src/Volo.Abp.Quartz/Volo/Abp/Quartz/AbpQuartzModule.cs
Labels: abp-framework, problem

#3347 Use Exists property to determine if the file exists.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpTagHelperResourceService.cs
Labels: abp-framework, enhancement

#3473 Added Some Advanced Lazy Load Examples
  docs/en/UI/Angular/Lazy-Load-Service.md
Labels: ui-angular

#3332 Update outdated documentation.
  docs/en/Application-Services.md
  docs/zh-Hans/Application-Services.md
Labels: documentation

#3392 External Azure Active Directory Authentication Blog Post
  docs/en/Blog-Posts/2020-04-01/Post.md
Labels: documentation

#3391 Add Blog Post: Customizing SignInManager
  docs/en/Blog-Posts/2020-04-02/Post.md
Labels: documentation

#3393 Add Blog Post: Customizing Login Page
  docs/en/Blog-Posts/2020-04-03/Post.md
Labels: documentation

#3467 Replace LicenseCode for ModulePro template.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/TemplateProjectBuildPipelineBuilder.cs
Labels: abp-cli, problem

#3259 MongoDbRepository needs to filter when deleting entity based on Id.
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/MongoDbRepository.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Testing/SoftDelete_Tests.cs
Labels: abp-framework, bug

#3475 Created DomInsertionService
  npm/ng-packs/packages/core/src/lib/services/dom-insertion.service.ts
  npm/ng-packs/packages/core/src/lib/services/index.ts
  npm/ng-packs/packages/core/src/lib/services/lazy-load.service.ts
  npm/ng-packs/packages/core/src/lib/strategies/content-security.strategy.ts
  npm/ng-packs/packages/core/src/lib/strategies/content.strategy.ts
  npm/ng-packs/packages/core/src/lib/strategies/index.ts
  npm/ng-packs/packages/core/src/lib/tests/content-security.strategy.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/content.strategy.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/dom-insertion.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/generator-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/generator-utils.ts
  npm/ng-packs/packages/theme-basic/src/lib/services/initial.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/append-content.token.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
  npm/ng-packs/packages/theme-shared/src/lib/tokens/append-content.token.ts
Labels: ui-angular

#3283 Create documentation for Popovers Tag Helper
  docs/en/UI/AspNetCore/Tag-Helpers/Popovers.md
Labels: documentation

#3488 added description method and description tag
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Empty.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: abp-module-docs

#3498 Update document
  docs/en/Background-Jobs-Hangfire.md
  docs/zh-Hans/Authorization.md
  docs/zh-Hans/Background-Jobs-Hangfire.md
  docs/zh-Hans/CLI.md
Labels: documentation

#3516 Fixed ExpressionChangedAfterItHasBeenCheckedError on table resize
  npm/ng-packs/packages/theme-shared/src/lib/components/table/table.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/table/table.component.scss
  npm/ng-packs/packages/theme-shared/src/lib/tests/table.component.spec.ts
Labels: ui-angular

#3518 Added getPasswordValidators utility function that returns validators array
  npm/ng-packs/packages/account/src/lib/components/change-password/change-password.component.ts
  npm/ng-packs/packages/account/src/lib/components/register/register.component.ts
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/validation-utils.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/utils/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/utils/validation-utils.ts
Labels: ui-angular

#3509 Added new EntityChange endpoints to AuditLogging repository
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/EntityChangeWithUsername.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/IAuditLogRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/EfCoreAuditLogRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/MongoAuditLogRepository.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.TestBase/Volo/Abp/AuditLogging/AuditLogRepository_Tests.cs
Labels: abp-module-audit-logging

#3524 Upgrade MailKit package to 2.6.0.
  framework/src/Volo.Abp.MailKit/Volo.Abp.MailKit.csproj
Labels: abp-framework, enhancement

#3534 Update samples link
  docs/en/Entity-Framework-Core-Migrations.md
  docs/zh-Hans/Getting-Started-AspNetCore-Application.md
  docs/zh-Hans/Getting-Started-Console-Application.md
Labels: documentation

#3544 Introduced a Generic Service for Content Projection
  docs/en/UI/Angular/Container-Strategy.md
  docs/en/UI/Angular/Content-Projection-Service.md
  docs/en/UI/Angular/Context-Strategy.md
  docs/en/UI/Angular/Dom-Insertion-Service.md
  docs/en/UI/Angular/Dom-Strategy.md
  docs/en/UI/Angular/Loading-Strategy.md
  docs/en/UI/Angular/Projection-Strategy.md
  docs/en/docs-nav.json
  npm/ng-packs/packages/core/src/lib/models/index.ts
  npm/ng-packs/packages/core/src/lib/models/utility.ts
  npm/ng-packs/packages/core/src/lib/services/content-projection.service.ts
  npm/ng-packs/packages/core/src/lib/services/dom-insertion.service.ts
  npm/ng-packs/packages/core/src/lib/services/index.ts
  npm/ng-packs/packages/core/src/lib/strategies/container.strategy.ts
  npm/ng-packs/packages/core/src/lib/strategies/context.strategy.ts
  npm/ng-packs/packages/core/src/lib/strategies/index.ts
  npm/ng-packs/packages/core/src/lib/strategies/projection.strategy.ts
  npm/ng-packs/packages/core/src/lib/tests/container.strategy.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/content-projection.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/context.strategy.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/dom-insertion.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/projection.strategy.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.ts
Labels: ui-angular

#3546 Extensible object manager docs
  docs/en/AutoMapper-Integration.md
  docs/en/Best-Practices/Application-Services.md
  docs/en/Best-Practices/Data-Transfer-Objects.md
  docs/en/Object-Extensions.md
  docs/en/Object-To-Object-Mapping.md
  docs/en/docs-nav.json
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ExtensibleObjectMapper.cs
Labels: abp-framework, documentation

#3561 Implement validation for extra properties of the extensible objects
  docs/en/Object-Extensions.md
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/AggregateRoot.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/Data/HasExtraPropertiesExtensions.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/Data/IHasExtraProperties.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ExtensibleObject.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ExtensibleObjectValidator.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ObjectExtensionInfo.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ObjectExtensionPropertyInfo.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ObjectExtensionPropertyValidationContext.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ObjectExtensionValidationContext.cs
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/AbpValidationModule.cs
  framework/test/Volo.Abp.ObjectExtending.Tests/Volo/Abp/ObjectExtending/ExtensibleObjectValidator_Tests.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Testing/HasExtraPropertiesExtensions_Tests.cs
Labels: abp-framework, feature

#2659 #214 authorization improvements
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/MethodInvocationAuthorizationService.cs
  framework/test/Volo.Abp.Authorization.Tests/Volo/Abp/Authorization/AuthorizationTestBase.cs
  framework/test/Volo.Abp.Authorization.Tests/Volo/Abp/Authorization/Authorization_Tests.cs
  framework/test/Volo.Abp.Authorization.Tests/Volo/Abp/Authorization/TestServices/IMyAuthorizedService1.cs
  framework/test/Volo.Abp.Authorization.Tests/Volo/Abp/Authorization/TestServices/IMyAuthorizedServiceWithRole.cs
  framework/test/Volo.Abp.Authorization.Tests/Volo/Abp/Authorization/TestServices/MyAuthorizedService1.cs
  framework/test/Volo.Abp.Authorization.Tests/Volo/Abp/Authorization/TestServices/MyAuthorizedServiceWithRole.cs
Labels: abp-framework, enhancement

#3454 Add Quartz StartupDelay option
  framework/src/Volo.Abp.Quartz/Volo/Abp/Quartz/AbpQuartzModule.cs
  framework/src/Volo.Abp.Quartz/Volo/Abp/Quartz/AbpQuartzPreOptions.cs
Labels: abp-framework, enhancement

#3490 Enhance EntityHelper's TrySetId method.
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/EntityHelper.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Entities/EntityHelper_Tests.cs
Labels: abp-framework, enhancement

#3491 update IsRelational extension for EntityFramework
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DatabaseFacadeExtensions.cs
Labels: abp-framework, enhancement

#3523 Remove Microsoft.AspNetCore.Mvc.DataAnnotations package.
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/MyCompanyName.MyProjectName.Domain.csproj
Labels: abp-template-app

#3526 Introducing AbpRemoteServiceApiDescriptionProvider
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApiExploring/AbpRemoteServiceApiDescriptionProvider.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApiExploring/AbpRemoteServiceApiDescriptionProviderOptions.cs
  framework/src/Volo.Abp.Core/Volo/Abp/Reflection/ReflectionHelper.cs
Labels: abp-framework, enhancement

#3519 Use the tempkey.rsa file in memory.
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.TestBase/MyProjectNameTestBaseModule.cs
Labels: abp-template-app

#3424 Slovenian translations for Volo.Abp.UI
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/sl.json
Labels: abp-framework, enhancement

#3552 Added a Modal Service to Project the Modal to Root Level
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal-container.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/modal.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/modal-container.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/modal.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/modal.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: ui-angular

#3571 Upgrade Swashbuckle.AspNetCore to v5.3.1
  modules/blogging/app/Volo.BloggingTestApp/Volo.BloggingTestApp.csproj
  modules/docs/app/VoloDocs.Web/VoloDocs.Web.csproj
  samples/MicroserviceDemo/applications/BackendAdminApp.Host/BackendAdminApp.Host.csproj
  samples/MicroserviceDemo/gateways/BackendAdminAppGateway.Host/BackendAdminAppGateway.Host.csproj
  samples/MicroserviceDemo/gateways/InternalGateway.Host/InternalGateway.Host.csproj
  samples/MicroserviceDemo/gateways/PublicWebSiteGateway.Host/PublicWebSiteGateway.Host.csproj
  samples/MicroserviceDemo/microservices/BloggingService.Host/BloggingService.Host.csproj
  samples/MicroserviceDemo/microservices/IdentityService.Host/IdentityService.Host.csproj
  samples/MicroserviceDemo/microservices/ProductService.Host/ProductService.Host.csproj
  samples/MicroserviceDemo/microservices/TenantManagementService.Host/TenantManagementService.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyCompanyName.MyProjectName.Web.Unified.csproj
Labels: enhancement

#3577 Use IHostApplicationLifetime to manually terminate the console application.
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/DbMigratorHostedService.cs
Labels: abp-template-app, enhancement

#3586 Added a Method for Removing Content to DomInsertionService
  docs/en/UI/Angular/Dom-Insertion-Service.md
  npm/ng-packs/packages/core/src/lib/services/dom-insertion.service.ts
  npm/ng-packs/packages/core/src/lib/strategies/content.strategy.ts
  npm/ng-packs/packages/core/src/lib/tests/content.strategy.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/dom-insertion.service.spec.ts
Labels: ui-angular

#3608 Translate some of angular documents
  docs/zh-Hans/UI/Angular/Component-Replacement.md
  docs/zh-Hans/UI/Angular/Config-State.md
  docs/zh-Hans/UI/Angular/Content-Projection-Service.md
  docs/zh-Hans/UI/Angular/Custom-Setting-Page.md
  docs/zh-Hans/UI/Angular/Dom-Insertion-Service.md
  docs/zh-Hans/UI/Angular/HTTP-Requests.md
  docs/zh-Hans/UI/Angular/Lazy-Load-Service.md
  docs/zh-Hans/UI/Angular/Service-Proxies.md
  docs/zh-Hans/UI/Angular/Track-By-Service.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#3581 Fix the problem of GetAllowedScopeNames method.
  modules/account/src/Volo.Abp.Account.Web.IdentityServer/Pages/Consent.cshtml.cs
Labels: abp-module-account, problem

#3592 docs: Added ExposeServices attribute.
  docs/en/Customizing-Application-Modules-Overriding-Services.md
Labels: documentation

#3600 UPD Application on https://docs.abp.io/en/abp/latest/Startup-Template…
  docs/zh-Hans/Startup-Templates/Application.md
Labels: documentation, enhancement

#3582 Improved LinkedList Documentation
  docs/en/UI/Common/Utils/Linked-List.md
  docs/en/docs-nav.json
  npm/packs/utils/projects/utils/src/lib/linked-list.ts
Labels: ui-common

#3645 Replace the NuGet.Config file in the module template.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Module/ModuleTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/UpdateNuGetConfigStep.cs
Labels: abp-cli

#3655 Added a Utility Function to Create Options from Enums
  npm/ng-packs/packages/core/src/lib/models/common.ts
  npm/ng-packs/packages/core/src/lib/tests/form-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/number-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/form-utils.ts
  npm/ng-packs/packages/core/src/lib/utils/index.ts
  npm/ng-packs/packages/core/src/lib/utils/number-utils.ts
Labels: ui-angular

#3649 Check that Document is not null in GetDescription method.
  modules/docs/app/VoloDocs.Web/wwwroot/libs/abp/utils/abp-utils.umd.js
  modules/docs/app/VoloDocs.Web/wwwroot/libs/abp/utils/abp-utils.umd.js.map
  modules/docs/app/VoloDocs.Web/wwwroot/libs/abp/utils/abp-utils.umd.min.js
  modules/docs/app/VoloDocs.Web/wwwroot/libs/abp/utils/abp-utils.umd.min.js.map
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: abp-module-docs, enhancement

#3579 Use IActionResult as the return value of the page method in the module.
  modules/account/src/Volo.Abp.Account.Web.IdentityServer/Pages/Consent.cshtml.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Logout.cshtml.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Manage.cshtml.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Register.cshtml.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/SendSecurityCode.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Admin/Blogs/Create.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Admin/Blogs/Edit.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Admin/Blogs/Index.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Index.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Edit.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/New.cshtml.cs
  modules/client-simulation/src/Volo.ClientSimulation.Web/Pages/ClientSimulation/Index.cshtml.cs
  modules/client-simulation/src/Volo.ClientSimulation.Web/Pages/ClientSimulation/SimulationArea.cshtml.cs
  modules/docs/app/VoloDocs.Web/Pages/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/Create.cshtml.cs
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/Edit.cshtml.cs
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/Pull.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Search.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/CreateModal.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/Index.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/Index.cshtml.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/PermissionManagementModal.cshtml.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Index.cshtml.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/ConnectionStringsModal.cshtml.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/CreateModal.cshtml.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/EditModal.cshtml.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/Index.cshtml.cs
Labels: abp-module-account, abp-module-blogging, abp-module-client-simulation, abp-module-docs, abp-module-identity, abp-module-permission-management, abp-module-setting-management, abp-module-tenant-management

#3508 Dynamic C# proxying enhancements for culture sensitive types.
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/DynamicHttpProxyInterceptor.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/UrlBuilder.cs
Labels: abp-framework, enhancement

#3057 Russian localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/ru.json
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/ru.json
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Localization/Resources/AbpDdd/ru.json
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/ru.json
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpLocalization/ru.json
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Localization/Resource/ru.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/ru.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/ru.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/ru.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/ru.json
  modules/docs/app/VoloDocs.Web/Localization/Resources/VoloDocs/Web/ru.json
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/ru.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/ru.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ru.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/ru.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain.Shared/Volo/Abp/PermissionManagement/Localization/Domain/ru.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/ru.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/ru.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/ru.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
Labels: abp-framework, enhancement

#3665 Restore DeleteOrphansTiming value of ChangeTracker.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/AbpEntityFrameworkCoreTestModule.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/DataFiltering/SoftDelete_Tests.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/TestMigrationsDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/Domain/Author.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/Domain/Book.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFrameworkCore/TestAppDbContext.cs
Labels: abp-framework

#3674 Using test collections in DocumentRepository_Tests.
  modules/docs/test/Volo.Docs.MongoDB.Tests/Volo/Docs/Document/DocumentRepository_Tests.cs
Labels: abp-module-docs

#3676 Simplify DbMigrator console output.
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/Program.cs
Labels: abp-template-app, enhancement

#3679 Upgrade Hangfire package to 1.7.11
  framework/src/Volo.Abp.HangFire/Volo.Abp.HangFire.csproj
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.HangFire/Volo.Abp.BackgroundJobs.DemoApp.HangFire.csproj
Labels: abp-framework

#3685 Update document
  docs/zh-Hans/How-To/Customize-SignIn-Manager.md
  docs/zh-Hans/UI/Angular/Dom-Insertion-Service.md
  docs/zh-Hans/UI/Angular/Permission-Management.md
  docs/zh-Hans/UI/AspNetCore/Tag-Helpers/Index.md
Labels: documentation

#3680 Docs module cache clear
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Documents/ClearCacheInput.cs
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Documents/IDocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Documents/DocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi/Volo/Docs/Admin/DocumentsAdminController.cs
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/index.js
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Documents/DocumentAppService.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Projects/ProjectAppService.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Caching/CacheKeyGenerator.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/IDocumentRepository.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/en.json
  modules/docs/src/Volo.Docs.EntityFrameworkCore/Volo/Docs/Documents/EFCoreDocumentRepository.cs
  modules/docs/src/Volo.Docs.MongoDB/Volo/Docs/Documents/MongoDocumentRepository.cs
Labels: abp-module-docs, enhancement

#3681 Added has method to DomInsertionService
  docs/en/UI/Angular/Dom-Insertion-Service.md
  npm/ng-packs/package.json
  npm/ng-packs/packages/core/package.json
  npm/ng-packs/packages/core/src/lib/services/dom-insertion.service.ts
  npm/ng-packs/packages/core/src/lib/tests/dom-insertion.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/append-content.token.spec.ts
  npm/ng-packs/yarn.lock
Labels: ui-angular

#3678 feat(core): add generatePassword utility function
  npm/ng-packs/packages/core/src/lib/tests/generator-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/generator-utils.ts
Labels: ui-angular

#3697 Fixed a bug that kept ErrorHandler from handling errors properly
  npm/ng-packs/packages/theme-shared/src/lib/handlers/error.handler.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/error.handler.spec.ts
Labels: ui-angular

#3698 Increased Flexibility and Maintainability of CoreModule
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/localization.module.ts
  npm/ng-packs/packages/core/src/lib/models/common.ts
  npm/ng-packs/packages/core/src/lib/pipes/localization.pipe.ts
  npm/ng-packs/packages/core/src/lib/tests/config.plugin.spec.ts
  npm/ng-packs/packages/core/src/public-api.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/confirmation.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/toaster.service.spec.ts
Labels: ui-angular

#3702 Call SaveChanges after creating a new tenant.
  modules/tenant-management/src/Volo.Abp.TenantManagement.Application/Volo/Abp/TenantManagement/TenantAppService.cs
Labels: abp-module-tenant-management

#3723 Updated option descriptions for confirmation and toaster services
  docs/en/UI/Angular/Confirmation-Service.md
  docs/en/UI/Angular/Toaster-Service.md
Labels: documentation

#3733 added overall item to navs for abp docs
  docs/en/docs-nav.json
Labels: documentation, enhancement

#3729 Fixed AuthGuard redirectUrl problem
  npm/ng-packs/packages/core/src/lib/guards/auth.guard.ts
  npm/ng-packs/packages/core/src/lib/tests/auth.guard.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/handlers/error.handler.ts
Labels: ui-angular

#3748 Update document
  docs/en/UI/Angular/Toaster-Service.md
  docs/zh-Hans/UI/Angular/Confirmation-Service.md
  docs/zh-Hans/UI/Angular/Permission-Management.md
  docs/zh-Hans/UI/Angular/Toaster-Service.md
  docs/zh-Hans/UI/Angular/images/confirmation.png
  docs/zh-Hans/UI/Angular/images/toast.png
  docs/zh-Hans/docs-nav.json
Labels: documentation

#3750 Replaced mvc with {{UI_Value}} in tutorials Part-1 documentation
  docs/en/Tutorials/Part-1.md
Labels: documentation

#3737 Remove FormGroupItem that are not in the model
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpDynamicformTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpRadioInputTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/FormGroupItem.cs
Labels: abp-framework

#3641 Redirect to home page when an invalid URL or missing document
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/FileSystem/Documents/FileSystemDocumentSource.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/en.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/zh-Hans.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/zh-Hant.json
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/DocumentNotFoundComponent/DocumentNotFoundPageModel.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/DocumentNotFoundComponent/DocumentNotFoundViewComponent.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/ErrorComponent/Default.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/ErrorComponent/ErrorPageModel.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/ErrorComponent/ErrorViewComponent.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/ErrorComponent/error.js
Labels: abp-module-docs, enhancement

#3738 Allowed HTML Title, Message, and Button Content in Confirmation Dialog
  docs/en/UI/Angular/Confirmation-Service.md
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.html
  npm/ng-packs/packages/theme-shared/src/lib/tests/confirmation.service.spec.ts
Labels: ui-angular

#3745 Replaced addTailMany with addManyTail in LinkedList Documentation
  docs/en/UI/Common/Utils/Linked-List.md
Labels: documentation, ui-common

#3760 Add SolutionName option to update command.
  docs/en/CLI.md
  docs/zh-Hans/CLI.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/UpdateCommand.cs
Labels: abp-cli, enhancement

#3768 Fix incorrect link
  docs/en/Getting-Started.md
Labels: documentation

#3770 Translate getting started document
  docs/zh-Hans/Getting-Started-Angular-Template.md
  docs/zh-Hans/Getting-Started-AspNetCore-Application.md
  docs/zh-Hans/Getting-Started-AspNetCore-MVC-Template.md
  docs/zh-Hans/Getting-Started-With-Startup-Templates.md
  docs/zh-Hans/Getting-Started.md
  docs/zh-Hans/Tutorials/Part-1.md
  docs/zh-Hans/Tutorials/Part-2.md
  docs/zh-Hans/Tutorials/Part-3.md
  docs/zh-Hans/docs-nav.json
  docs/zh-Hans/docs-params.json
Labels: documentation

#3780 Remove UnitOfWork Attribute in the IdentityServerSupportedLoginModel
  modules/account/src/Volo.Abp.Account.Web.IdentityServer/Pages/Account/IdentityServerSupportedLoginModel.cs
Labels: abp-module-identityserver

#3784 Update document
  docs/zh-Hans/CLI.md
  docs/zh-Hans/UI/Angular/Confirmation-Service.md
  docs/zh-Hans/UI/Common/Utils/Linked-List.md
Labels: documentation

#3769 Added *RouteNames enums to all lazy-loadable modules
  npm/ng-packs/packages/account-config/src/lib/services/account-config.service.ts
  npm/ng-packs/packages/account/src/lib/enums/index.ts
  npm/ng-packs/packages/account/src/lib/enums/route-names.ts
  npm/ng-packs/packages/account/src/public-api.ts
  npm/ng-packs/packages/core/src/lib/plugins/config.plugin.ts
  npm/ng-packs/packages/identity-config/src/lib/services/identity-config.service.ts
  npm/ng-packs/packages/identity/src/lib/enums/index.ts
  npm/ng-packs/packages/identity/src/lib/enums/route-names.ts
  npm/ng-packs/packages/identity/src/public-api.ts
  npm/ng-packs/packages/setting-management-config/src/lib/services/setting-management-config.service.ts
  npm/ng-packs/packages/setting-management/src/lib/enums/index.ts
  npm/ng-packs/packages/setting-management/src/lib/enums/route-names.ts
  npm/ng-packs/packages/setting-management/src/public-api.ts
  npm/ng-packs/packages/tenant-management-config/src/lib/services/tenant-management-config.service.ts
  npm/ng-packs/packages/tenant-management/src/lib/enums/index.ts
  npm/ng-packs/packages/tenant-management/src/lib/enums/route-names.ts
  npm/ng-packs/packages/tenant-management/src/public-api.ts
  npm/ng-packs/scripts/build.ts
Labels: ui-angular
