Repository abpframework/abp, pull requests merged in 2020-02, with the labels that each got.

#2734 Added logout in authService
  npm/ng-packs/packages/core/src/lib/services/auth.service.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/application-layout/application-layout.component.ts
Labels: ui-angular

#2753 Default roles on registration
  modules/account/src/Volo.Abp.Account.Application/Volo/Abp/Account/AccountAppService.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Register.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIdentityRoleRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityRoleRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityRoleRepository.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/IdentityRoleRepository_Tests.cs
Labels: enhancement, module-account

#2696 Move generic host usage for console apps
  samples/BasicConsoleApplication/AbpConsoleDemo/AbpConsoleDemo.csproj
  samples/BasicConsoleApplication/AbpConsoleDemo/AppHostedService.cs
  samples/BasicConsoleApplication/AbpConsoleDemo/Program.cs
  samples/BookStore-Angular-MongoDb/aspnet-core/src/Acme.BookStore.DbMigrator/DbMigratorHostedService.cs
  samples/BookStore-Angular-MongoDb/aspnet-core/src/Acme.BookStore.DbMigrator/Program.cs
  samples/BookStore-Angular-MongoDb/aspnet-core/test/Acme.BookStore.HttpApi.Client.ConsoleTestApp/ConsoleTestAppHostedService.cs
  samples/BookStore-Angular-MongoDb/aspnet-core/test/Acme.BookStore.HttpApi.Client.ConsoleTestApp/Program.cs
  samples/BookStore-Modular/application/src/Acme.BookStore.DbMigrator/DbMigratorHostedService.cs
  samples/BookStore-Modular/application/src/Acme.BookStore.DbMigrator/Program.cs
  samples/BookStore-Modular/application/test/Acme.BookStore.HttpApi.Client.ConsoleTestApp/ConsoleTestAppHostedService.cs
  samples/BookStore-Modular/application/test/Acme.BookStore.HttpApi.Client.ConsoleTestApp/Program.cs
  samples/BookStore-Modular/modules/book-management/test/Acme.BookStore.BookManagement.HttpApi.Client.ConsoleTestApp/ConsoleTestAppHostedService.cs
  samples/BookStore-Modular/modules/book-management/test/Acme.BookStore.BookManagement.HttpApi.Client.ConsoleTestApp/Program.cs
  samples/BookStore/src/Acme.BookStore.DbMigrator/DbMigratorHostedService.cs
  samples/BookStore/src/Acme.BookStore.DbMigrator/Program.cs
  samples/BookStore/test/Acme.BookStore.HttpApi.Client.ConsoleTestApp/ConsoleTestAppHostedService.cs
  samples/BookStore/test/Acme.BookStore.HttpApi.Client.ConsoleTestApp/Program.cs
  samples/DashboardDemo/src/DashboardDemo.DbMigrator/DbMigratorHostedService.cs
  samples/DashboardDemo/src/DashboardDemo.DbMigrator/Program.cs
  samples/DashboardDemo/test/DashboardDemo.HttpApi.Client.ConsoleTestApp/ConsoleTestAppHostedService.cs
  samples/DashboardDemo/test/DashboardDemo.HttpApi.Client.ConsoleTestApp/Program.cs
  samples/MicroserviceDemo/applications/ConsoleClientDemo/ConsoleClientDemoHostedService.cs
  samples/MicroserviceDemo/applications/ConsoleClientDemo/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/DbMigratorHostedService.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/Program.cs
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.HttpApi.Client.ConsoleTestApp/ConsoleTestAppHostedService.cs
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.HttpApi.Client.ConsoleTestApp/Program.cs
  templates/module/aspnet-core/test/MyCompanyName.MyProjectName.HttpApi.Client.ConsoleTestApp/ConsoleTestAppHostedService.cs
  templates/module/aspnet-core/test/MyCompanyName.MyProjectName.HttpApi.Client.ConsoleTestApp/Program.cs
Labels: enhancement

#2766 Remove find-tenant router.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Pages/Abp/MultiTenancy/AbpTenantController.cs
Labels: framework

#2722 Partial docs
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Projects/ProjectConsts.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubDocumentStore.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/DocumentPartialTemplateContent.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/DocumentPartialTemplateWithValuesDto.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/IDocumentSectionRenderer.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/ScribanDocumentSectionRenderer.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: feature, module-docs

#2625 Allow to write audit logs on exceptions even if disabled for GET requests
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Auditing/AbpAuditingMiddleware.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AbpAuditingOptions.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingManager.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/IAuditLogSaveHandle.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Auditing/AuditTestController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Auditing/AuditTestController_Tests.cs
Labels: abp-framework, feature

#2822 feat(core): set environment action
  npm/ng-packs/packages/core/src/lib/actions/config.actions.ts
  npm/ng-packs/packages/core/src/lib/services/config-state.service.ts
  npm/ng-packs/packages/core/src/lib/states/config.state.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/table-sort.directive.spec.ts
Labels: feature, ui-angular

#2824 Wrong class name is fixed in documentation
  docs/en/Background-Jobs.md
Labels: documentation

#2825 Update documentation for "Allow to write audit logs on exceptions even if disabled for GET requests"
  docs/en/Audit-Logging.md
Labels: abp-framework, documentation

#2844 Audit log can't know if an error ocurred if the exception filter handles it
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Auditing/AbpAuditingMiddleware.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Auditing/AuditTestController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Auditing/AuditTestController_Tests.cs
Labels: abp-framework, enhancement, priority:normal

#2853 refactor(theme-shared): create and use confirmation.status instead of toaster.status
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/models/confirmation.ts
  npm/ng-packs/packages/theme-shared/src/lib/models/toaster.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/confirmation.service.ts
Labels: ui-angular

#2850 Docs module "new" label improvement
  modules/docs/app/VoloDocs.EntityFrameworkCore/Migrations/20200218014727_init.Designer.cs
  modules/docs/app/VoloDocs.EntityFrameworkCore/Migrations/20200218014727_init.cs
  modules/docs/app/VoloDocs.EntityFrameworkCore/Migrations/VoloDocsDbContextModelSnapshot.cs
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Documents/DocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/DocumentWithDetailsDto.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Documents/DocumentAppService.cs
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/DocumentUpdateInfo.cs
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/NavigationNode.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/Document.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/FileSystem/Documents/FileSystemDocumentSource.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubDocumentSource.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/zh-Hans.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/zh-Hant.json
  modules/docs/src/Volo.Docs.Web/Areas/Documents/TagHelpers/TreeTagHelper.cs
  modules/docs/test/Volo.Docs.TestBase/Volo/Docs/DocsTestDataBuilder.cs
Labels: abp-module-docs, effort-2, enhancement

#2861 Add AbpAccountApplicationModule to the AuthServer.Host project of the MicroserviceDemo.
  samples/MicroserviceDemo/applications/AuthServer.Host/AuthServer.Host.csproj
  samples/MicroserviceDemo/applications/AuthServer.Host/AuthServerHostModule.cs
Labels: abp-samples, effort-0.5

#2797 Docs not found page
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AbpAuditingOptions.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Auditing/AuditTestController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Auditing/AuditTestController_Tests.cs
  modules/docs/src/Volo.Docs.Web/DocsWebModule.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/DocumentNotFoundComponent/Default.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/DocumentNotFoundComponent/DocumentNotFoundPageModel.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/DocumentNotFoundComponent/DocumentNotFoundViewComponent.cs
  modules/docs/src/Volo.Docs.Web/Volo.Docs.Web.csproj
Labels: abp-module-docs, enhancement

#2899 Convert types in advance to be compatible with pgsql.
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/EfCoreAuditLogRepository.cs
Labels: abp-module-audit-logging, effort-0.5

#2900 Audited*WithUser generic type wrong constraint.
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Auditing/AuditedAggregateRootWithUser.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Auditing/AuditedEntityWithUser.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Auditing/FullAuditedEntityWithUser.cs
Labels: abp-framework, breaking change, effort-0.5

#2938 Allow to download react native mobile ui
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/GetSourceCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/Services/AbpNuGetIndexUrlService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/MobileApp.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ProjectBuildArgs.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/TemplateProjectBuilder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/TemplateRandomSslPortStep.cs
Labels: abp-cli, feature, ui-react-native
