Repository abpframework/abp, pull requests merged in 2020-01, with the labels that each got.

#2523 Make SettingCacheItem ignore multi-tenancy.
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/SettingCacheItem.cs
  modules/setting-management/test/Volo.Abp.SettingManagement.Tests/Volo/Abp/SettingManagement/SettingCacheItemInvalidator_Tests.cs
Labels: bug, framework

#2566 [Blogging module] Change "Blog" folder name to "Blogs"
  modules/blogging/src/Volo.Blogging.Web/BloggingWebModule.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blog/Posts/Detail.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/BloggingPage.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/BloggingPageModel.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Index.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Index.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Edit.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Edit.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.css
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.min.css
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.scss
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/New.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/New.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/detail.js
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/edit.js
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/new.css
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/new.css.map
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/new.js
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/new.min.css
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/new.scss
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Scripts/blog.js
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/_bootstrap-overwrite.scss
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/_custom.scss
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/_header.scss
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/_home.css
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/_home.min.css
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/_home.scss
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/_post.scss
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/blog.css
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/blog.css.map
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/blog.min.css
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/blog.scss
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/_ViewImports.cshtml
Labels: breaking change, enhancement, module-blogging

#2542 Fix DocumentPreferences may be null.
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: module-docs, problem

#2550 Dynamic C# Api client-side validation.
  framework/src/Volo.Abp.Http.Client/Microsoft/Extensions/DependencyInjection/ServiceCollectionDynamicHttpClientProxyExtensions.cs
  framework/src/Volo.Abp.Http.Client/Volo.Abp.Http.Client.csproj
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/AbpHttpClientModule.cs
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/DynamicProxying/PersonAppServiceClientProxy_Tests.cs
  framework/test/Volo.Abp.TestApp.Tests/Volo/Abp/TestApp/Application/PersonAppService_Tests.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Application/Dto/PersonDto.cs
Labels: feature, framework

#2571 Add AbpAccountApplicationModule to the IdentityServer project of the module template.
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
Labels: template-module

#2528 Application shutdown
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/Builder/AbpApplicationBuilderExtensions.cs
  framework/src/Volo.Abp.Autofac/Autofac/Extensions/DependencyInjection/AutofacServiceProvider.cs
  framework/src/Volo.Abp.Core/Volo/Abp/AbpApplicationWithExternalServiceProvider.cs
Labels: enhancement, framework

#2573 feat(account): add the enableLocalLogin condition to auth-wrapper
  modules/account/src/Volo.Abp.Account.Application/Volo/Abp/Account/Settings/AccountSettingDefinitionProvider.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Register.cshtml.cs
  npm/ng-packs/packages/account/src/lib/components/auth-wrapper/auth-wrapper.component.html
  npm/ng-packs/packages/account/src/lib/components/auth-wrapper/auth-wrapper.component.ts
Labels: enhancement, ui-angular

#2462 Set value comparer for ExtraProperties and Properties dictionary.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Modeling/AbpEntityTypeBuilderExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ValueComparers/AbpDictionaryValueComparer.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ValueConverters/AbpJsonValueConverter.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/EntityFrameworkCore/IdentityServerDbContextModelCreatingExtensions.cs
Labels: enhancement, framework

#2587 Remove the angular folder on module project creation with --no-ui option
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/RemoveFolderStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Module/ModuleTemplateBase.cs
Labels: cli, enhancement

#2605 feat(theme-shared): added table, pagination, loading components
  npm/ng-packs/apps/dev-app/tsconfig.app.json
  npm/ng-packs/package.json
  npm/ng-packs/packages/core/src/lib/abstracts/ng-model.component.ts
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.html
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.ts
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.html
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.html
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.ts
  npm/ng-packs/packages/theme-shared/ng-package.json
  npm/ng-packs/packages/theme-shared/package.json
  npm/ng-packs/packages/theme-shared/src/lib/components/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/loading/loading.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/pagination/pagination.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/pagination/pagination.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/table/table.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/table/table.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/constants/styles.ts
  npm/ng-packs/packages/theme-shared/src/lib/directives/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/directives/loading.directive.ts
  npm/ng-packs/packages/theme-shared/src/lib/directives/table-sort.directive.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/loading.directive.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/pagination.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/table.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: ui-angular

#2610 fix: remember me functionality
  npm/ng-packs/apps/dev-app/src/index.html
  npm/ng-packs/packages/account/src/lib/components/auth-wrapper/auth-wrapper.component.html
  npm/ng-packs/packages/account/src/lib/components/auth-wrapper/auth-wrapper.component.ts
  npm/ng-packs/packages/account/src/lib/components/change-password/change-password.component.ts
  npm/ng-packs/packages/account/src/lib/components/login/login.component.html
  npm/ng-packs/packages/account/src/lib/components/login/login.component.ts
  npm/ng-packs/packages/account/src/lib/components/register/register.component.html
  npm/ng-packs/packages/account/src/lib/components/register/register.component.ts
  npm/ng-packs/packages/core/src/lib/actions/session.actions.ts
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/models/session.ts
  npm/ng-packs/packages/core/src/lib/services/auth.service.ts
  npm/ng-packs/packages/core/src/lib/services/index.ts
  npm/ng-packs/packages/core/src/lib/services/session-state.service.ts
  npm/ng-packs/packages/core/src/lib/states/session.state.ts
  npm/ng-packs/packages/core/src/lib/tests/config.plugin.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/session-state.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/session.state.spec.ts
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/confirmation.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/error.handler.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/toaster.service.spec.ts
Labels: enhancement, module-account, ui-angular

#2606 feat(theme-shared): new toast and confirmation components
  npm/ng-packs/packages/theme-basic/src/lib/components/account-layout/account-layout.component.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/application-layout/application-layout.component.html
  npm/ng-packs/packages/theme-basic/src/lib/components/empty-layout/empty-layout.component.ts
  npm/ng-packs/packages/theme-basic/src/lib/constants/styles.ts
  npm/ng-packs/packages/theme-shared/src/lib/abstracts/toaster.ts
  npm/ng-packs/packages/theme-shared/src/lib/animations/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/animations/toast.animations.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.scss
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.scss
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/toast-container/toast-container.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/toast-container/toast-container.component.scss
  npm/ng-packs/packages/theme-shared/src/lib/components/toast-container/toast-container.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.scss
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/constants/styles.ts
  npm/ng-packs/packages/theme-shared/src/lib/models/confirmation.ts
  npm/ng-packs/packages/theme-shared/src/lib/models/toaster.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/confirmation.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/toaster.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/confirmation.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/error.handler.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/modal.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/toaster.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: ui-angular

#2613 feat(theme-shared): trigger unload confirmation in the modal component when the form is dirty
  npm/ng-packs/packages/core/src/lib/states/session.state.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.ts
Labels: ui-angular

#2612 Increase password max length
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Register.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/IdentityUserConsts.cs
Labels: module-identity, ui-mvc

#2597 Serilog enrichments.
  framework/Volo.Abp.sln
  framework/src/Volo.Abp.AspNetCore.Serilog/Microsoft/AspNetCore/Builder/AbpAspNetCoreSerilogApplicationBuilderExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Serilog/Volo.Abp.AspNetCore.Serilog.csproj
  framework/src/Volo.Abp.AspNetCore.Serilog/Volo/Abp/AspNetCore/Serilog/AbpAspNetCoreSerilogEnrichersOptions.cs
  framework/src/Volo.Abp.AspNetCore.Serilog/Volo/Abp/AspNetCore/Serilog/AbpSerilogEnrichersConsts.cs
  framework/src/Volo.Abp.AspNetCore.Serilog/Volo/Abp/AspNetCore/Serilog/AbpSerilogModule.cs
  framework/src/Volo.Abp.AspNetCore.Serilog/Volo/Abp/AspNetCore/Serilog/SerilogMiddleware.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.csproj
  framework/test/Volo.Abp.AspNetCore.Serilog.Tests/Volo.Abp.AspNetCore.Serilog.Tests.csproj
  framework/test/Volo.Abp.AspNetCore.Serilog.Tests/Volo/Abp/AspNetCore/App/AbpSerilogTestModule.cs
  framework/test/Volo.Abp.AspNetCore.Serilog.Tests/Volo/Abp/AspNetCore/App/CollectingSink.cs
  framework/test/Volo.Abp.AspNetCore.Serilog.Tests/Volo/Abp/AspNetCore/App/SerilogTestController.cs
  framework/test/Volo.Abp.AspNetCore.Serilog.Tests/Volo/Abp/AspNetCore/App/Startup.cs
  framework/test/Volo.Abp.AspNetCore.Serilog.Tests/Volo/Abp/AspNetCore/Serilog/AbpSerilogTestBase.cs
  framework/test/Volo.Abp.AspNetCore.Serilog.Tests/Volo/Abp/AspNetCore/Serilog/Serilog_Enrichers_Tests.cs
  modules/blogging/app/Volo.BloggingTestApp/Volo.BloggingTestApp.csproj
  modules/client-simulation/demo/Volo.ClientSimulation.Demo/Volo.ClientSimulation.Demo.csproj
  modules/docs/app/VoloDocs.Web/VoloDocs.Web.csproj
  nupkg/common.ps1
  samples/BookStore-Angular-MongoDb/aspnet-core/src/Acme.BookStore.HttpApi.Host/Acme.BookStore.HttpApi.Host.csproj
  samples/BookStore-Modular/application/src/Acme.BookStore.Web/Acme.BookStore.Web.csproj
  samples/BookStore-Modular/modules/book-management/host/Acme.BookStore.BookManagement.HttpApi.Host/Acme.BookStore.BookManagement.HttpApi.Host.csproj
  samples/BookStore-Modular/modules/book-management/host/Acme.BookStore.BookManagement.IdentityServer/Acme.BookStore.BookManagement.IdentityServer.csproj
  samples/BookStore-Modular/modules/book-management/host/Acme.BookStore.BookManagement.Web.Host/Acme.BookStore.BookManagement.Web.Host.csproj
  samples/BookStore-Modular/modules/book-management/host/Acme.BookStore.BookManagement.Web.Unified/Acme.BookStore.BookManagement.Web.Unified.csproj
  samples/BookStore/src/Acme.BookStore.Web/Acme.BookStore.Web.csproj
  samples/DashboardDemo/src/DashboardDemo.Web/DashboardDemo.Web.csproj
  samples/MicroserviceDemo/applications/AuthServer.Host/AuthServer.Host.csproj
  samples/MicroserviceDemo/applications/BackendAdminApp.Host/BackendAdminApp.Host.csproj
  samples/MicroserviceDemo/applications/PublicWebSite.Host/PublicWebSite.Host.csproj
  samples/MicroserviceDemo/gateways/BackendAdminAppGateway.Host/BackendAdminAppGateway.Host.csproj
  samples/MicroserviceDemo/gateways/InternalGateway.Host/InternalGateway.Host.csproj
  samples/MicroserviceDemo/gateways/PublicWebSiteGateway.Host/PublicWebSiteGateway.Host.csproj
  samples/MicroserviceDemo/microservices/BloggingService.Host/BloggingService.Host.csproj
  samples/MicroserviceDemo/microservices/IdentityService.Host/IdentityService.Host.csproj
  samples/MicroserviceDemo/microservices/ProductService.Host/ProductService.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyCompanyName.MyProjectName.Web.Unified.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
Labels: enhancement, framework

#2599 #215 role name should be unchangeable
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityRole.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityRoleNameChangedEvent.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityRoleStore.cs
  modules/identity/src/Volo.Abp.PermissionManagement.Domain.Identity/Volo.Abp.PermissionManagement.Domain.Identity.csproj
  modules/identity/src/Volo.Abp.PermissionManagement.Domain.Identity/Volo/Abp/PermissionManagement/Identity/RoleUpdateEventHandler.cs
  modules/identity/test/Volo.Abp.Identity.Domain.Tests/Volo/Abp/Identity/RoleChangingEvents_Test.cs
  modules/permission-management/Volo.Abp.PermissionManagement.sln
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/IPermissionManager.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionGrant.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionManager.cs
  modules/permission-management/test/Volo.Abp.PermissionManagement.Application.Tests/Volo.Abp.PermissionManagement.Application.Tests.csproj
  modules/permission-management/test/Volo.Abp.PermissionManagement.Tests/Volo.Abp.PermissionManagement.Domain.Tests.csproj
  modules/permission-management/test/Volo.Abp.PermissionManagement.Tests/Volo/Abp/PermissionManagement/PermissionManager_Tests.cs
Labels: breaking change, enhancement, module-identity

#2635 fix cli incorrect license error and warning
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Auth/AuthService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Http/CliHttpClient.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Licensing/AbpIoApiKeyService.cs
Labels: cli

#2634 Add PostConfigure & PostConfigureAll method to AbpModule.
  framework/src/Volo.Abp.Core/Volo/Abp/Modularity/AbpModule.cs
Labels: enhancement, framework

#2649 Audit log doc
  docs/en/Audit-Logging.md
  docs/en/Modules/Audit-Logging.md
  docs/en/images/auditlog-object-diagram.png
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingInterceptorRegistrar.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/AuditingStore.cs
Labels: documentation, framework, module-audit-logging

#2655 refactor: confirmation component styles
  npm/ng-packs/packages/theme-basic/src/lib/constants/styles.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.scss
Labels: ui-angular

#2671 add localization for zh-hant
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Blog/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Docs/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Support/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hant.json
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/zh-Hant.json
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo.Abp.Ddd.Application.Contracts.csproj
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Localization/Resources/AbpDdd/zh-Hant.json
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/zh-Hant.json
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpLocalization/zh-Hant.json
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Localization/Resource/zh-Hant.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/zh-Hant.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/zh-Hant.json
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Localization/Resource/zh-Hant.json
  framework/test/Volo.Abp.Emailing.Tests/Volo/Abp/Emailing/Localization/zh-Hant.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/CountryNames/zh-Hant.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/Validation/zh-Hant.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Source/zh-Hant.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/SourceExt/zh-Hant.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/zh-Hant.json
  modules/blogging/src/Volo.Blogging.Application.Contracts/Volo/Blogging/Localization/Resources/Blogging/ApplicationContracts/zh-Hant.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/zh-Hant.json
  modules/docs/app/VoloDocs.Web/Localization/Resources/VoloDocs/Web/zh-Hant.json
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/zh-Hant.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/zh-Hant.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/zh-Hant.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hant.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/zh-Hant.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain.Shared/Volo/Abp/PermissionManagement/Localization/Domain/zh-Hant.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/zh-Hant.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/zh-Hant.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/zh-Hant.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
Labels: documentation

#2683 framework & module & template & sample to target .NET Standard 2.0
  framework/src/Volo.Abp.Dapper/Volo.Abp.Dapper.csproj
  framework/src/Volo.Abp.EntityFrameworkCore.MySQL/Volo.Abp.EntityFrameworkCore.MySQL.csproj
  framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo.Abp.EntityFrameworkCore.PostgreSql.csproj
  framework/src/Volo.Abp.EntityFrameworkCore.SqlServer/Volo.Abp.EntityFrameworkCore.SqlServer.csproj
  framework/src/Volo.Abp.EntityFrameworkCore.Sqlite/Volo.Abp.EntityFrameworkCore.Sqlite.csproj
  framework/src/Volo.Abp.EntityFrameworkCore/Volo.Abp.EntityFrameworkCore.csproj
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo.Abp.AuditLogging.EntityFrameworkCore.csproj
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.EntityFrameworkCore/Volo.Abp.BackgroundJobs.EntityFrameworkCore.csproj
  modules/blogging/app/Volo.BloggingTestApp.EntityFrameworkCore/Volo.BloggingTestApp.EntityFrameworkCore.csproj
  modules/blogging/src/Volo.Blogging.EntityFrameworkCore/Volo.Blogging.EntityFrameworkCore.csproj
  modules/docs/app/VoloDocs.EntityFrameworkCore/VoloDocs.EntityFrameworkCore.csproj
  modules/docs/src/Volo.Docs.EntityFrameworkCore/Volo.Docs.EntityFrameworkCore.csproj
  modules/feature-management/src/Volo.Abp.FeatureManagement.EntityFrameworkCore/Volo.Abp.FeatureManagement.EntityFrameworkCore.csproj
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo.Abp.Identity.EntityFrameworkCore.csproj
  modules/permission-management/src/Volo.Abp.PermissionManagement.EntityFrameworkCore/Volo.Abp.PermissionManagement.EntityFrameworkCore.csproj
  modules/setting-management/src/Volo.Abp.SettingManagement.EntityFrameworkCore/Volo.Abp.SettingManagement.EntityFrameworkCore.csproj
  modules/tenant-management/src/Volo.Abp.TenantManagement.EntityFrameworkCore/Volo.Abp.TenantManagement.EntityFrameworkCore.csproj
  modules/users/src/Volo.Abp.Users.EntityFrameworkCore/Volo.Abp.Users.EntityFrameworkCore.csproj
  samples/BookStore-Modular/modules/book-management/src/Acme.BookStore.BookManagement.EntityFrameworkCore/Acme.BookStore.BookManagement.EntityFrameworkCore.csproj
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/MyCompanyName.MyProjectName.EntityFrameworkCore.csproj
Labels: enhancement, framework

#2693 Fix confirmation dialog width problem
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.scss
Labels: ui-angular

#2700 doc: localization service function descriptions
  npm/ng-packs/packages/core/src/lib/services/localization.service.ts
  npm/ng-packs/packages/setting-management/src/lib/components/setting-management.component.html
  npm/ng-packs/packages/theme-basic/src/lib/components/application-layout/application-layout.component.html
Labels: ui-angular
