Repository abpframework/abp, pull requests merged in 2020-09, with the labels that each got.

#5232 Added kafka integration document
  docs/en/Distributed-Event-Bus-Kafka-Integration.md
  docs/en/Distributed-Event-Bus.md
  docs/en/docs-nav.json
  docs/zh-Hans/Distributed-Event-Bus-Kafka-Integration.md
  docs/zh-Hans/Distributed-Event-Bus.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#5198 Cli: Suite install & update improvements
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SuiteCommand.cs
Labels: abp-cli, enhancement

#5260 Tutorial update 3.1
  docs/en/Tutorials/Part-10.md
  docs/en/Tutorials/Part-2.md
  docs/en/Tutorials/Part-3.md
  docs/en/Tutorials/Part-9.md
  docs/en/Tutorials/images/bookstore-angular-author-selection.png
  docs/en/Tutorials/images/bookstore-angular-service-proxy-author-2.png
  docs/en/Tutorials/images/bookstore-books-with-authorname-angular.png
  docs/en/Tutorials/images/generated-proxies-3.png
Labels: documentation

#5262 Community 3.2 localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
Labels: abp-community

#5268 Fixed the routes sorting problem in Angular UI
  npm/ng-packs/package.json
  npm/ng-packs/packages/core/src/lib/services/routes.service.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/routes/routes.component.ts
  npm/ng-packs/yarn.lock
Labels: ui-angular

#5271 Add FeatureManagement module to host projects.
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/EntityFrameworkCore/IdentityServerHostMigrationsDbContext.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/20200903062011_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/20200903062011_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/IdentityServerHostMigrationsDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/EntityFrameworkCore/UnifiedDbContext.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20200903062216_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20200903062216_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/UnifiedDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyCompanyName.MyProjectName.Web.Unified.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
Labels: abp-template-module

#5285 Matched parameter order when replacing placeholders in LocalizationPipe
  npm/ng-packs/packages/core/src/lib/states/config.state.ts
  npm/ng-packs/packages/core/src/lib/tests/string-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/string-utils.ts
Labels: ui-angular

#5303 Add CS0436 to common.props.
  common.props
  common.test.props
  modules/cms-kit/common.props
  modules/identityserver/common.props
  templates/app/aspnet-core/common.props
  templates/console/common.props
  templates/module/aspnet-core/common.props
Labels: abp-template-app, abp-template-console, abp-template-module

#5263 Pass requestData parameter to inputAction function
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js
Labels: abp-framework, ui-mvc

#5309 Update Chinese documents
  docs/zh-Hans/Authentication/Social-External-Logins.md
  docs/zh-Hans/CLI.md
  docs/zh-Hans/Contribution/Index.md
  docs/zh-Hans/Customizing-Application-Modules-Extending-Entities.md
  docs/zh-Hans/Entities.md
  docs/zh-Hans/Entity-Framework-Core-Migrations.md
  docs/zh-Hans/Entity-Framework-Core.md
  docs/zh-Hans/Getting-Started-Console-Application.md
  docs/zh-Hans/Global-Features.md
  docs/zh-Hans/How-To/Index.md
  docs/zh-Hans/Local-Event-Bus.md
  docs/zh-Hans/MailKit.md
  docs/zh-Hans/Module-Development-Basics.md
  docs/zh-Hans/Moodule-Entity-Extensions.md
  docs/zh-Hans/Nightly-Builds.md
  docs/zh-Hans/Previews.md
  docs/zh-Hans/Repositories.md
  docs/zh-Hans/Samples/Index.md
  docs/zh-Hans/Startup-Templates/Application.md
  docs/zh-Hans/UI/Angular/Environment.md
  docs/zh-Hans/UI/Angular/Migration-Guide-v3.md
  docs/zh-Hans/UI/Angular/Multi-Tenancy.md
  docs/zh-Hans/UI/Angular/Permission-Management.md
  docs/zh-Hans/UI/Angular/Toaster-Service.md
  docs/zh-Hans/UI/AspNetCore/Customization-User-Interface.md
  docs/zh-Hans/Upgrading.md
  docs/zh-Hans/Virtual-File-System.md
  docs/zh-Hans/docs-nav.json
  docs/zh-Hans/images/replace-email-layout.png
  docs/zh-Hans/images/solution-files-non-mvc.png
Labels: documentation

#5300 Fix: localization data is lost when exception is on remote
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/ExceptionHandling/DefaultExceptionToErrorInfoConverter.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/AbpRemoteCallException.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/RemoteServiceErrorInfo.cs
  framework/test/Volo.Abp.Http.Client.Tests/Volo.Abp.Http.Client.Tests.csproj
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/AbpHttpClientTestModule.cs
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/DynamicProxying/IRegularTestController.cs
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/DynamicProxying/RegularTestController.cs
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/DynamicProxying/RegularTestControllerClientProxy_Tests.cs
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/Localization/HttpClientTestResource.cs
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/Localization/en.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/en.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/tr.json
  modules/identity/src/Volo.Abp.Identity.Domain/Microsoft/AspNetCore/Identity/AbpIdentityResultExtensions.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentityResultException.cs
Labels: abp-framework, abp-module-identity

#5257 Allow to add new tabs to the account profile manage page
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/en.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/tr.json
  modules/account/src/Volo.Abp.Account.Web/AbpAccountWebAutomapperProfile.cs
  modules/account/src/Volo.Abp.Account.Web/AbpAccountWebModule.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup/Password/AccountProfilePasswordManagementGroupViewComponent.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup/Password/Default.cshtml
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup/Password/Default.js
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup/PersonalInfo/AccountProfilePersonalInfoManagementGroupViewComponent.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup/PersonalInfo/Default.cshtml
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup/PersonalInfo/Default.js
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Manage.cshtml
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Manage.cshtml.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Manage.js
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Register.cshtml.cs
  modules/account/src/Volo.Abp.Account.Web/ProfileManagement/AccountProfileManagementPageContributor.cs
  modules/account/src/Volo.Abp.Account.Web/ProfileManagement/IProfileManagementPageContributor.cs
  modules/account/src/Volo.Abp.Account.Web/ProfileManagement/ProfileManagementPageCreationContext.cs
  modules/account/src/Volo.Abp.Account.Web/ProfileManagement/ProfileManagementPageGroup.cs
  modules/account/src/Volo.Abp.Account.Web/ProfileManagement/ProfileManagementPageOptions.cs
Labels: abp-module-account, feature

#5247 Replace the obsolete AddIdentityServerAuthentication method.
  modules/cms-kit/host/Volo.CmsKit.HttpApi.Host/CmsKitHttpApiHostModule.cs
  modules/cms-kit/host/Volo.CmsKit.HttpApi.Host/Volo.CmsKit.HttpApi.Host.csproj
  modules/cms-kit/host/Volo.CmsKit.IdentityServer/CmsKitIdentityServerModule.cs
  modules/cms-kit/host/Volo.CmsKit.IdentityServer/Volo.CmsKit.IdentityServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/appsettings.json
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
Labels: abp-template-app, abp-template-module

#5310 Used an intersection type in ApiConfig for strict null checks
  npm/ng-packs/packages/core/src/lib/models/config.ts
Labels: ui-angular

#5318 Add unadded users/roles method to OrganizationUnitRepository
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IOrganizationUnitRepository.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/OrganizationUnit.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreOrganizationUnitRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoOrganizationUnitRepository.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/OrganizationUnitRepository_Tests.cs
Labels: abp-module-identity, feature

#5334 Group features on the feature management modal
  framework/src/Volo.Abp.Features/Volo/Abp/Features/FeatureDefinitionManager.cs
  framework/src/Volo.Abp.Features/Volo/Abp/Features/IFeatureDefinitionManager.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/FeatureGroupDto.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/FeatureListDto.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/GetFeatureListResultDto.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/IFeatureAppService.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application/Volo/Abp/FeatureManagement/FeatureAppService.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.HttpApi/Volo/Abp/FeatureManagement/FeaturesController.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.Application.Tests/Volo/Abp/FeatureManagement/FeatureAppService_Tests.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.Application.Tests/Volo/Abp/FeatureManagement/StringValueJsonConverter_Tests.cs
Labels: abp-module-feature-management, enhancement, ui-mvc

#5338 add page to OrganizationUnitRepository method
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IOrganizationUnitRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreOrganizationUnitRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoOrganizationUnitRepository.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/OrganizationUnitRepository_Tests.cs
Labels: abp-module-identity

#5326 Fixed horizontal gap and unnecessary scrolls on datatable
  npm/ng-packs/packages/theme-shared/src/lib/constants/styles.ts
  npm/ng-packs/packages/theme-shared/src/lib/directives/ngx-datatable-default.directive.ts
Labels: ui-angular

#5333 Created ReplaceableComponentsService and used it instead of ReplaceableComponentsState
  docs/en/UI/Angular/Component-Replacement.md
  docs/en/UI/Angular/Permission-Management-Component-Replacement.md
  npm/ng-packs/packages/core/src/lib/actions/replaceable-components.actions.ts
  npm/ng-packs/packages/core/src/lib/components/dynamic-layout.component.ts
  npm/ng-packs/packages/core/src/lib/components/replaceable-route-container.component.ts
  npm/ng-packs/packages/core/src/lib/directives/replaceable-template.directive.ts
  npm/ng-packs/packages/core/src/lib/services/index.ts
  npm/ng-packs/packages/core/src/lib/services/replaceable-components.service.ts
  npm/ng-packs/packages/core/src/lib/states/replaceable-components.state.ts
  npm/ng-packs/packages/core/src/lib/tests/dynamic-layout.component.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/replaceable-route-container.component.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/replaceable-template.directive.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/route-utils.ts
  npm/ng-packs/packages/theme-basic/src/lib/providers/styles.provider.ts
Labels: ui-angular

#5315 Add more property to user claims.
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/CurrentUserDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationAppService.cs
  framework/src/Volo.Abp.Security/Volo/Abp/Security/Claims/AbpClaimTypes.cs
  framework/src/Volo.Abp.Security/Volo/Abp/Users/CurrentUser.cs
  framework/src/Volo.Abp.Security/Volo/Abp/Users/ICurrentUser.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentityDomainModule.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpUserClaimsPrincipalFactory.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/ClaimsIdentityExtensions.cs
Labels: abp-framework, abp-module-identity

#5259 Introduce IsAvailableToHost of FeatureDefinition.
  framework/src/Volo.Abp.Features/Volo/Abp/Features/FeatureDefinition.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/FeatureManagementPermissions.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/FeaturePermissionDefinitionProvider.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/IFeatureAppService.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application/Volo/Abp/FeatureManagement/FeatureAppService.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/en.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/tr.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/zh-Hans.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/zh-Hant.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/AbpFeatureManagementDomainModule.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.HttpApi/Volo/Abp/FeatureManagement/FeaturesController.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/en.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/tr.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/zh-Hans.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/zh-Hant.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/Index.cshtml
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/Index.js
Labels: abp-framework, abp-module-feature-management, abp-module-tenant-management

#5350 feat: add downloadBlob with file-utils
  npm/ng-packs/packages/core/src/lib/utils/file-utils.ts
  npm/ng-packs/packages/core/src/lib/utils/index.ts
Labels: ui-angular

#5358 Fixed the redirecting to the swagger
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/strategies/auth-flow.strategy.ts
Labels: ui-angular

#5357 Upgrage Oracle.EntityFrameworkCore package to 3.19.80.
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo.Abp.EntityFrameworkCore.Oracle.csproj
Labels: abp-framework

#5364 Always migrate seed data
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Data/MyProjectNameDbMigrationService.cs
Labels: abp-template-app, bug

#5368 Update Data-Filtering.md
  docs/en/Data-Filtering.md
  docs/zh-Hans/Data-Filtering.md
Labels: documentation

#5380 Implemented the group features to the features management
  npm/ng-packs/apps/dev-app/src/environments/environment.ts
  npm/ng-packs/packages/feature-management/src/lib/actions/feature-management.actions.ts
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management/feature-management.component.html
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management/feature-management.component.ts
  npm/ng-packs/packages/feature-management/src/lib/feature-management.module.ts
  npm/ng-packs/packages/feature-management/src/lib/models/feature-management.ts
  npm/ng-packs/packages/feature-management/src/lib/proxy/README.md
  npm/ng-packs/packages/feature-management/src/lib/proxy/feature-management/features.service.ts
  npm/ng-packs/packages/feature-management/src/lib/proxy/feature-management/index.ts
  npm/ng-packs/packages/feature-management/src/lib/proxy/feature-management/models.ts
  npm/ng-packs/packages/feature-management/src/lib/proxy/generate-proxy.json
  npm/ng-packs/packages/feature-management/src/lib/proxy/index.ts
  npm/ng-packs/packages/feature-management/src/lib/proxy/validation/index.ts
  npm/ng-packs/packages/feature-management/src/lib/proxy/validation/string-values/index.ts
  npm/ng-packs/packages/feature-management/src/lib/proxy/validation/string-values/models.ts
  npm/ng-packs/packages/feature-management/src/lib/services/feature-management.service.ts
  npm/ng-packs/packages/feature-management/src/lib/states/feature-management.state.ts
  npm/ng-packs/packages/feature-management/src/public-api.ts
  npm/ng-packs/packages/feature-management/tslint.json
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.html
  npm/ng-packs/yarn.lock
  templates/app/angular/yarn.lock
Labels: ui-angular

#5384 feat: add custom node template for tree component
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.html
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.ts
  npm/ng-packs/packages/components/tree/src/lib/templates/expanded-icon-template.directive.ts
  npm/ng-packs/packages/components/tree/src/lib/templates/tree-node-template.directive.ts
  npm/ng-packs/packages/components/tree/src/lib/tree.module.ts
  npm/ng-packs/packages/components/tree/src/public-api.ts
Labels: ui-angular

#5292 OrganizationUnit should have filter parameter
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IOrganizationUnitRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreOrganizationUnitRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoOrganizationUnitRepository.cs
  modules/identity/test/Volo.Abp.Identity.Application.Tests/Volo/Abp/Identity/IdentityRoleAppService_Tests.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/OrganizationUnitRepository_Tests.cs
Labels: abp-module-identity

#5397 Add security log document.
  docs/en/Modules/Identity.md
  docs/zh-Hans/Modules/Identity.md
Labels: documentation

#5396 Blazor template download
  docs/en/CLI.md
  docs/zh-Hans/CLI.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/TemplateProjectBuildPipelineBuilder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/UiFramework.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/UiFrameworkExtensions.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/BlazorAppsettingsFilePortChangeForSeparatedIdentityServersStep.cs
Labels: abp-cli

#5408 Added a condition for responseType to the schematics service template
  npm/ng-packs/package.json
  npm/ng-packs/packages/core/src/lib/models/rest.ts
  npm/ng-packs/packages/schematics/src/commands/api/files-service/proxy/__namespace@dir__/__name@kebab__.service.ts.template
  npm/ng-packs/yarn.lock
Labels: ui-angular

#5366 Write log to console when Debug.
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/MyCompanyName.MyProjectName.DbMigrator.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/Program.cs
  templates/console/src/MyCompanyName.MyProjectName/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyCompanyName.MyProjectName.Web.Unified.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Program.cs
Labels: abp-template-app, abp-template-module, enhancement

#5361 Feature Management Modal improvements
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/AbpFeatureManagementDomainSharedModule.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/FeatureManagementDomainErrorCodes.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/FeatureValueInvalidException.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/ar.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/de.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/en.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/ru.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/tr.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/zh-Hans.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/zh-Hant.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/FeatureManager.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/feature-management-modal.js
Labels: abp-module-feature-management, enhancement, ui-mvc

#5214 Add formTenantResolveContributor
  framework/Volo.Abp.sln
  framework/src/Volo.Abp.AspNetCore.Authentication.OpenIdConnect/FodyWeavers.xml
  framework/src/Volo.Abp.AspNetCore.Authentication.OpenIdConnect/FodyWeavers.xsd
  framework/src/Volo.Abp.AspNetCore.Authentication.OpenIdConnect/Microsoft/Extensions/DependencyInjection/AbpOpenIdConnectExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Authentication.OpenIdConnect/Volo.Abp.AspNetCore.Authentication.OpenIdConnect.csproj
  framework/src/Volo.Abp.AspNetCore.Authentication.OpenIdConnect/Volo/Abp/AspNetCore/Authentication/OpenIdConnect/AbpAspNetCoreAuthenticationOpenIdConnectModule.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/AbpAspNetCoreMultiTenancyModule.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/FormTenantResolveContributor.cs
  nupkg/common.ps1
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebHostModule.cs
Labels: abp-framework, abp-template-app, abp-template-module, problem

#5174 MongoDB module ACID transaction implementation
  framework/src/Volo.Abp.MongoDB/Volo.Abp.MongoDB.csproj
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/MongoDbRepository.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/AbpMongoDbContext.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/AbpMongoDbModule.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/DependencyInjection/AbpMongoDbConventionalRegistrar.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/IAbpMongoDbContext.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/MongoModelBuilder.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/MongoModelSource.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Uow/MongoDB/MongoDbTransactionApi.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Uow/MongoDB/UnitOfWorkMongoDbContextProvider.cs
  framework/test/Volo.Abp.MongoDB.Tests/Volo/Abp/MongoDB/AbpMongoDbTestModule.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.MongoDB.Tests/Volo/Abp/AuditLogging/MongoDB/AbpAuditLoggingMongoDbTestModule.cs
  modules/background-jobs/test/Volo.Abp.BackgroundJobs.MongoDB.Tests/Volo/Abp/BackgroundJobs/MongoDB/AbpBackgroundJobsMongoDbTestModule.cs
  modules/blob-storing-database/test/Volo.Abp.BlobStoring.Database.MongoDB.Tests/MongoDB/BlobStoringDatabaseMongoDbTestModule.cs
  modules/blogging/test/Volo.Blogging.MongoDB.Tests/Volo/Blogging/MongoDB/BloggingMongoDBTestModule.cs
  modules/cms-kit/test/Volo.CmsKit.MongoDB.Tests/MongoDB/CmsKitMongoDbTestModule.cs
  modules/docs/test/Volo.Docs.MongoDB.Tests/Volo/Docs/MongoDB/DocsMongoDBTestModule.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.MongoDB.Tests/Volo/Abp/FeatureManagement/MongoDB/AbpFeatureManagementMongoDbTestModule.cs
  modules/identity/test/Volo.Abp.Identity.MongoDB.Tests/Volo/Abp/Identity/MongoDB/AbpIdentityMongoDbTestModule.cs
  modules/identityserver/test/Volo.Abp.IdentityServer.MongoDB.Tests/Volo/Abp/IdentityServer/AbpIdentityServerMongoDbTestModule.cs
  modules/permission-management/test/Volo.Abp.PermissionManagement.MongoDB.Tests/Volo/Abp/PermissionManagement/MongoDb/AbpPermissionManagementMongoDbTestModule.cs
  modules/setting-management/test/Volo.Abp.SettingManagement.MongoDB.Tests/Volo/Abp/SettingManagement/MongoDB/AbpSettingManagementMongoDbTestModule.cs
  modules/tenant-management/test/Volo.Abp.TenantManagement.MongoDB.Tests/Volo/Abp/TenantManagement/MongoDb/AbpTenantManagementMongoDbTestModule.cs
  modules/tenant-management/test/Volo.Abp.TenantManagement.MongoDB.Tests/Volo/Abp/TenantManagement/MongoDb/MongoDbFixture.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.MongoDB/MongoDb/MongoDbMyProjectNameDbSchemaMigrator.cs
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.MongoDB.Tests/MongoDb/MyProjectNameMongoDbTestModule.cs
  templates/module/aspnet-core/test/MyCompanyName.MyProjectName.MongoDB.Tests/MongoDB/MyProjectNameMongoDbTestModule.cs
Labels: abp-framework, breaking change, feature

#5409 Use static helper instead extension method.
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Features/IdentityTwoFactorBehaviourFeatureHelper.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/tr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Settings/IdentityTwoFactorBehaviourSettingHelper.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityTwoFactorManager.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserStore.cs
Labels: abp-module-identity

#5323 Hid the menu dropdown when clicking a navigation
  npm/ng-packs/packages/theme-basic/src/lib/components/routes/routes.component.html
  npm/ng-packs/packages/theme-basic/src/lib/components/routes/routes.component.ts
Labels: ui-angular

#5422 Add UsersCanNotChangeTwoFactor & CanNotChangeTwoFactor.
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/IdentityErrorCodes.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/en.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hans.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hant.json
Labels: abp-module-identity

#5427 Update multi-tenancy document
  docs/en/Multi-Tenancy.md
  docs/zh-Hans/Multi-Tenancy.md
Labels: documentation

#5391 Used the new "abp generate-proxy" for all the modules
  npm/ng-packs/apps/dev-app/src/environments/environment.ts
  npm/ng-packs/packages/core/src/lib/tests/config-state.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/config.state.spec.ts
  npm/ng-packs/packages/identity/src/lib/actions/identity.actions.ts
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.ts
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
  npm/ng-packs/packages/identity/src/lib/models/identity.ts
  npm/ng-packs/packages/identity/src/lib/proxy/generate-proxy.json
  npm/ng-packs/packages/identity/src/lib/proxy/identity/identity-role.service.ts
  npm/ng-packs/packages/identity/src/lib/proxy/identity/identity-user-lookup.service.ts
  npm/ng-packs/packages/identity/src/lib/proxy/identity/identity-user.service.ts
  npm/ng-packs/packages/identity/src/lib/proxy/identity/index.ts
  npm/ng-packs/packages/identity/src/lib/proxy/identity/models.ts
  npm/ng-packs/packages/identity/src/lib/proxy/identity/profile.service.ts
  npm/ng-packs/packages/identity/src/lib/proxy/users/index.ts
  npm/ng-packs/packages/identity/src/lib/proxy/users/models.ts
  npm/ng-packs/packages/identity/src/lib/states/identity.state.ts
  npm/ng-packs/packages/identity/src/public-api.ts
  npm/ng-packs/packages/permission-management/src/lib/actions/permission-management.actions.ts
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.ts
  npm/ng-packs/packages/permission-management/src/lib/models/permission-management.ts
  npm/ng-packs/packages/permission-management/src/lib/proxy/README.md
  npm/ng-packs/packages/permission-management/src/lib/proxy/generate-proxy.json
  npm/ng-packs/packages/permission-management/src/lib/proxy/index.ts
  npm/ng-packs/packages/permission-management/src/lib/proxy/models.ts
  npm/ng-packs/packages/permission-management/src/lib/proxy/permissions.service.ts
  npm/ng-packs/packages/permission-management/src/lib/states/permission-management.state.ts
  npm/ng-packs/packages/permission-management/src/public-api.ts
  npm/ng-packs/packages/schematics/src/commands/api/index.ts
  npm/ng-packs/packages/schematics/src/commands/proxy-add/index.ts
  npm/ng-packs/packages/schematics/src/commands/proxy-remove/index.ts
  npm/ng-packs/packages/schematics/yarn.lock
  npm/ng-packs/packages/tenant-management/src/lib/actions/tenant-management.actions.ts
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.ts
  npm/ng-packs/packages/tenant-management/src/lib/models/tenant-management.ts
  npm/ng-packs/packages/tenant-management/src/lib/proxy/README.md
  npm/ng-packs/packages/tenant-management/src/lib/proxy/generate-proxy.json
  npm/ng-packs/packages/tenant-management/src/lib/proxy/index.ts
  npm/ng-packs/packages/tenant-management/src/lib/proxy/models.ts
  npm/ng-packs/packages/tenant-management/src/lib/proxy/tenant.service.ts
  npm/ng-packs/packages/tenant-management/src/lib/services/tenant-management.service.ts
  npm/ng-packs/packages/tenant-management/src/lib/states/tenant-management.state.ts
  npm/ng-packs/packages/tenant-management/src/public-api.ts
  npm/ng-packs/scripts/build-schematics.ts
Labels: ui-angular

#5444 Update mongodb document
  docs/en/MongoDB.md
  docs/en/Tutorials/Part-1.md
  docs/zh-Hans/MongoDB.md
  docs/zh-Hans/Tutorials/Part-1.md
Labels: documentation

#5445 Make `T To<T>` extension method support string to GUID.
  framework/src/Volo.Abp.Core/System/AbpObjectExtensions.cs
  framework/test/Volo.Abp.Core.Tests/System/ObjectExtension_Test.cs
Labels: abp-framework

#5443 Change tenant id when seed user,role and permission grant.
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityDataSeeder.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/IdentityDataSeeder_Tests.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionDataSeeder.cs
  modules/permission-management/test/Volo.Abp.PermissionManagement.Domain.Tests/Volo/Abp/PermissionManagement/PermissionDataSeeder_Tests.cs
Labels: abp-module-identity, abp-module-permission-management

#5448 Update FormTenantResolveContributor
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/FormTenantResolveContributor.cs
Labels: abp-framework, problem

#5474 Add abp.luxon.js to startup templates
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/wwwroot/libs/abp/luxon/abp.luxon.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/wwwroot/libs/luxon/luxon.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/wwwroot/libs/luxon/luxon.js.map
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/wwwroot/libs/luxon/luxon.min.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/wwwroot/libs/luxon/luxon.min.js.map
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/wwwroot/libs/abp/luxon/abp.luxon.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/wwwroot/libs/luxon/luxon.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/wwwroot/libs/luxon/luxon.js.map
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/wwwroot/libs/luxon/luxon.min.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/wwwroot/libs/luxon/luxon.min.js.map
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/wwwroot/libs/abp/luxon/abp.luxon.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/wwwroot/libs/luxon/luxon.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/wwwroot/libs/luxon/luxon.js.map
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/wwwroot/libs/luxon/luxon.min.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/wwwroot/libs/luxon/luxon.min.js.map
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/libs/abp/luxon/abp.luxon.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/libs/luxon/luxon.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/libs/luxon/luxon.js.map
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/libs/luxon/luxon.min.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/libs/luxon/luxon.min.js.map
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/wwwroot/libs/abp/luxon/abp.luxon.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/wwwroot/libs/luxon/luxon.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/wwwroot/libs/luxon/luxon.js.map
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/wwwroot/libs/luxon/luxon.min.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/wwwroot/libs/luxon/luxon.min.js.map
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/wwwroot/libs/abp/luxon/abp.luxon.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/wwwroot/libs/luxon/luxon.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/wwwroot/libs/luxon/luxon.js.map
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/wwwroot/libs/luxon/luxon.min.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/wwwroot/libs/luxon/luxon.min.js.map
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/wwwroot/libs/abp/luxon/abp.luxon.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/wwwroot/libs/luxon/luxon.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/wwwroot/libs/luxon/luxon.js.map
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/wwwroot/libs/luxon/luxon.min.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/wwwroot/libs/luxon/luxon.min.js.map
Labels: abp-template-app, abp-template-module

#5504 Documented Blazor UI for the web application development & getting started tutorials
  docs/en/API/Dynamic-CSharp-API-Clients.md
  docs/en/Getting-Started.md
  docs/en/Startup-Templates/Application.md
  docs/en/Tutorials/Part-1.md
  docs/en/Tutorials/Part-10.md
  docs/en/Tutorials/Part-2.md
  docs/en/Tutorials/Part-3.md
  docs/en/Tutorials/Part-4.md
  docs/en/Tutorials/Part-5.md
  docs/en/Tutorials/Part-6.md
  docs/en/Tutorials/Part-7.md
  docs/en/Tutorials/Part-8.md
  docs/en/Tutorials/Part-9.md
  docs/en/Tutorials/images/blazor-add-book-button.png
  docs/en/Tutorials/images/blazor-add-books-component.png
  docs/en/Tutorials/images/blazor-bookstore-book-list-with-authors.png
  docs/en/Tutorials/images/blazor-bookstore-book-list.png
  docs/en/Tutorials/images/blazor-edit-book-action.png
  docs/en/Tutorials/images/blazor-edit-book-modal.png
  docs/en/Tutorials/images/blazor-menu-bookstore.png
  docs/en/Tutorials/images/blazor-new-book-modal.png
  docs/en/Tutorials/images/book-create-modal-with-author.png
  docs/en/docs-params.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyProjectNameBlazorAutoMapperProfile.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyProjectNameBlazorModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
Labels: documentation, ui-blazor

#5477 Implement Async methods on the repository
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/IReadOnlyRepository.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/RepositoryAsyncExtensions.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/RepositoryBase.cs
Labels: abp-framework, feature

#5471 DataTables.Net Actions Improvements
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js
Labels: enhancement, ui-mvc

#5468 Disabled mongodb unit of work transaction by default
  docs/en/Getting-Started.md
  docs/en/MongoDB.md
  docs/zh-Hans/Getting-Started.md
  docs/zh-Hans/MongoDB.md
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.MongoDB/MongoDb/MyProjectNameMongoDbModule.cs
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.MongoDB/MongoDB/MyProjectNameMongoDbModule.cs
Labels: abp-template-app, abp-template-module, documentation, problem

#5509 Update DefaultAmazonS3ClientFactory.cs
  framework/src/Volo.Abp.BlobStoring.Aws/Volo/Abp/BlobStoring/Aws/DefaultAmazonS3ClientFactory.cs
Labels: abp-framework, bug

#5451 Handle GUID & nullable type before Change Type.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/Data/HasExtraPropertiesExtensions.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/Domain/ExtraProperties_Tests.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/Domain/TestEntityExtensionConfigurator.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/TestDataBuilder.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Testing/HasExtraPropertiesExtensions_Tests.cs
Labels: abp-framework, enhancement

#5484 Apply filter to MongoOrganizationUnitRepository queries
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoOrganizationUnitRepository.cs
Labels: abp-module-identity, bug

#5489 Fix case problem in routing.
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityUserController.cs
Labels: abp-module-identity

#5563 Proxy Generator: ABP CLI should warn developer when project has @abp/ng.schematics with a different version
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/GenerateProxyCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProxyCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/RemoveProxyCommand.cs
Labels: abp-cli

#5575 Blazorise crud page base enhancements
  framework/src/Volo.Abp.BlazoriseUI/Volo/Abp/BlazoriseUI/AbpCrudPageBase.cs
  framework/src/Volo.Abp.BlazoriseUI/Volo/Abp/BlazoriseUI/BlazoriseCrudPageBase.cs
  modules/account/src/Volo.Abp.Account.Blazor/Pages/Account/Manage.razor
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/RoleManagement.razor
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/RoleManagement.razor.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/_Imports.razor
Labels: abp-framework, breaking change, feature, ui-blazor

#5567 Upgraded the Angular packages of the templates to the v10.1.2
  npm/ng-packs/apps/dev-app/tsconfig.dev.json
  npm/ng-packs/apps/dev-app/tsconfig.spec.json
  npm/ng-packs/package.json
  npm/ng-packs/packages/account/src/lib/models/user.ts
  npm/ng-packs/packages/feature-management/src/lib/proxy/generate-proxy.json
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.html
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
  npm/ng-packs/packages/identity/src/lib/proxy/identity/models.ts
  npm/ng-packs/tsconfig.base.json
  npm/ng-packs/tsconfig.json
  npm/ng-packs/yarn.lock
  templates/app/angular/e2e/tsconfig.json
  templates/app/angular/package.json
  templates/app/angular/tsconfig.app.json
  templates/app/angular/tsconfig.base.json
  templates/app/angular/tsconfig.json
  templates/app/angular/tsconfig.spec.json
  templates/app/angular/yarn.lock
  templates/module/angular/package.json
  templates/module/angular/projects/dev-app/e2e/tsconfig.json
  templates/module/angular/projects/dev-app/tsconfig.app.json
  templates/module/angular/projects/dev-app/tsconfig.spec.json
  templates/module/angular/projects/my-project-name/tsconfig.spec.json
  templates/module/angular/tsconfig.base.json
  templates/module/angular/tsconfig.json
Labels: ui-angular

#5466 Remove TwoFactorEnabled related UI & Application Service.
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IdentityUserCreateOrUpdateDtoBase.cs
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IdentityUserDto.cs
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml.cs
  modules/identity/test/Volo.Abp.Identity.Application.Tests/Volo/Abp/Identity/IdentityUserAppService_Tests.cs
  modules/identity/test/Volo.Abp.Identity.AspNetCore.Tests/Volo/Abp/Identity/AspNetCore/ExternalLoginProvider_Tests.cs
Labels: abp-module-identity

#5528 Cms Kit - Swagger Route Conflict
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Ratings/IRatingPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo/CmsKit/Public/Ratings/RatingPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi/Volo/CmsKit/Public/Ratings/RatingPublicController.cs
  modules/cms-kit/test/Volo.CmsKit.Application.Tests/Ratings/RatingPublicAppService_Tests.cs
Labels: abp-module-cms-kit

#5607 Blazor toolbar system
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/Toolbars/AbpToolbarOptions.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/Toolbars/IToolbarConfigurationContext.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/Toolbars/IToolbarContributor.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/Toolbars/IToolbarManager.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/Toolbars/StandardToolbars.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/Toolbars/Toolbar.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/Toolbars/ToolbarConfigurationContext.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/Toolbars/ToolbarItem.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/Toolbars/ToolbarManager.cs
Labels: feature, ui-blazor

#5611 Fixed the redirecting the logout page problem when the isAuthenticated is false
  npm/ng-packs/packages/core/src/lib/strategies/auth-flow.strategy.ts
  npm/ng-packs/packages/core/src/lib/tests/initial-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/initial-utils.ts
Labels: ui-angular

#5615 fix:ObjectDisposedException
  framework/src/Volo.Abp.BlobStoring.Minio/Volo/Abp/BlobStoring/Minio/MinioBlobProvider.cs
Labels: abp-framework, problem

#5604 Community 3.2 localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
Labels: abp-community

#5598 MVC Open Source Startup Template Home Page
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/Pages/Index.cshtml
Labels: abp-framework

#5620 Handle with case issues in json.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/TranslateCommand.cs
Labels: abp-cli
