Repository abpframework/abp, pull requests merged in 2020-03, with the labels that each got.

#2937 Use `IHttpClientFactory` instead of manually creating a `HttpClient`
  framework/src/Volo.Abp.IdentityModel/Volo.Abp.IdentityModel.csproj
  framework/src/Volo.Abp.IdentityModel/Volo/Abp/IdentityModel/IdentityModelAuthenticationService.cs
Labels: abp-framework, enhancement

#2921 Fix scopes may be null bug.
  modules/account/src/Volo.Abp.Account.Web.IdentityServer/Pages/Consent.cshtml
  modules/account/src/Volo.Abp.Account.Web.IdentityServer/Pages/Consent.cshtml.cs
Labels: abp-module-account, effort-0.5

#2869 [Documentation] ABP CLI Replace Packages with Previews
  docs/en/CLI.md
Labels: documentation

#2916 Fix documentation link.
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Index.cshtml.cs
Labels: abp-module-docs, effort-0.5

#2920 Akin/added ordered post list into post app service
  modules/blogging/src/Volo.Blogging.Application.Contracts/Volo/Blogging/Posts/IPostAppService.cs
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Posts/PostAppService.cs
  modules/blogging/src/Volo.Blogging.Domain/Volo/Blogging/Posts/IPostRepository.cs
  modules/blogging/src/Volo.Blogging.EntityFrameworkCore/Volo/Blogging/Posts/EfCorePostRepository.cs
  modules/blogging/src/Volo.Blogging.HttpApi/Volo/Blogging/PostsController.cs
  modules/blogging/src/Volo.Blogging.MongoDB/Volo/Blogging/Posts/MongoPostRepository.cs
Labels: abp-framework, enhancement

#2948 Allow CLI to generate templates with custom sources
  docs/en/CLI.md
  docs/zh-Hans/CLI.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/GetSourceCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/Services/SourceCodeDownloadService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ISourceCodeStore.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ModuleProjectBuilder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ProjectBuildArgs.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/TemplateProjectBuilder.cs
Labels: abp-cli, feature

#2912 Make AbpResourceOwnerPasswordValidator return detailed reason.
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/en.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/tr.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/zh-Hans.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/zh-Hant.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AspNetIdentity/AbpResourceOwnerPasswordValidator.cs
Labels: abp-module-identityserver, enhancement

#2965 Update document
  docs/zh-Hans/CLI.md
  docs/zh-Hans/Nightly-Builds.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#2868 ABP CLI Replace Packages with Previews
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/AbpCliCoreModule.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SwitchNightlyPreviewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SwitchStableCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/UpdateCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/MyGetApiResponse.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/MyGetPackage.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/MyGetPackageListFinder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NpmPackagesUpdater.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/PackageSourceAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/PackageSourceSwitcher.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/VoloNugetPackagesVersionUpdater.cs
Labels: abp-cli, feature

#2986 added multi tenancy info and current tenant dto class
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/ApplicationConfigurationDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/MultiTenancy/CurrentTenantDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/MultiTenancy/MultiTenancyInfoDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationAppService.cs
Labels: abp-framework

#2901 Add document full text search function (elastic search).
  modules/docs/app/VoloDocs.Web/VoloDocs.Web.csproj
  modules/docs/app/VoloDocs.Web/VoloDocsWebModule.cs
  modules/docs/app/VoloDocs.Web/appsettings.json
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Documents/IDocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Documents/DocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi/Volo/Docs/Admin/DocumentsAdminController.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/DocumentSearchInput.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/DocumentSearchOutput.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Documents/IDocumentAppService.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Documents/DocumentAppService.cs
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/DocsDomainErrorCodes.cs
  modules/docs/src/Volo.Docs.Domain/Volo.Docs.Domain.csproj
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/DocsDomainModule.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/DefaultElasticClientProvider.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/DocsElasticSearchOptions.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/DocumentChangedEventHandler.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/ElasticDocumentFullSearch.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/EsDocument.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/IDocumentFullSearch.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/IElasticClientProvider.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/en.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/zh-Hans.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/zh-Hant.json
  modules/docs/src/Volo.Docs.HttpApi/Volo/Docs/Documents/DocsDocumentController.cs
  modules/docs/src/Volo.Docs.Web/DocsWebModule.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Search.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Search.cshtml.cs
Labels: abp-module-docs, feature

#2955 Add extra enumeration large size to bootstrap modal
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Modal/AbpModalSize.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Modal/AbpModalSizeExtensions.cs
Labels: abp-framework

#3021 Update options names in documentation.
  docs/cs/AspNetCore/Widgets.md
  docs/en/AspNetCore/Dynamic-CSharp-API-Clients.md
  docs/en/AspNetCore/Widgets.md
  docs/en/Localization.md
  docs/en/Module-Development-Basics.md
  docs/en/Multi-Tenancy.md
  docs/pt-BR/Localization.md
  docs/zh-Hans/AspNetCore/Dynamic-CSharp-API-Clients.md
  docs/zh-Hans/AspNetCore/Widgets.md
  docs/zh-Hans/Exception-Handling.md
  docs/zh-Hans/Localization.md
  docs/zh-Hans/Module-Development-Basics.md
  docs/zh-Hans/Multi-Tenancy.md
Labels: documentation

#3052 Slovenian translations for the startup template
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/sl.json
Labels: abp-template-app, enhancement

#3047 Create sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/sl.json
Labels: abp-io, enhancement

#3046 Slovenian translations for the admin.abp.io web site
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/sl.json
Labels: abp-io, enhancement

#3049 Slovenian translations for commercial.abp.io
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
Labels: abp-io, enhancement

#3050 Slovenian translations for Volo.Abp.UI.Navigation package
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Localization/Resource/sl.json
Labels: abp-framework, enhancement

#3043 SLovenian translations for Volo.Abp.Emailing package
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/sl.json
Labels: abp-framework, enhancement

#3042 Slovenian translations for the abp.io web site
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sl.json
Labels: abp-io, enhancement

#3051 Slovenian translations for Volo.Abp.Localization package
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpLocalization/sl.json
Labels: abp-framework, enhancement

#3069 Make the PropertyChanges property of EntityChange virtual.
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/EntityChange.cs
Labels: abp-module-audit-logging

#3072 docs: added localization, permission management, component replacement documents for Angular UI
  docs/en/API/Auto-API-Controllers.md
  docs/en/API/Dynamic-CSharp-API-Clients.md
  docs/en/API/JavaScript-API/Auth.md
  docs/en/API/JavaScript-API/Index.md
  docs/en/AspNetCore/Auto-API-Controllers.md
  docs/en/AspNetCore/Bundling-Minification.md
  docs/en/AspNetCore/Client-Side-Package-Management.md
  docs/en/AspNetCore/Dynamic-CSharp-API-Clients.md
  docs/en/AspNetCore/JavaScript-API/Auth.md
  docs/en/AspNetCore/JavaScript-API/Index.md
  docs/en/AspNetCore/Tag-Helpers/Dynamic-Forms.md
  docs/en/AspNetCore/Tag-Helpers/Index.md
  docs/en/AspNetCore/Theming.md
  docs/en/AspNetCore/Widgets.md
  docs/en/Authorization.md
  docs/en/Blog-Posts/2018-09-24-Announcement/Post.md
  docs/en/Blog-Posts/2019-08-16 v0_19_Release/Post.md
  docs/en/Localization.md
  docs/en/Microservice-Architecture.md
  docs/en/Samples/Microservice-Demo.md
  docs/en/Startup-Templates/Application.md
  docs/en/Tutorials/Part-1.md
  docs/en/UI/Angular/AddingSettingTab.md
  docs/en/UI/Angular/Component-Replacement.md
  docs/en/UI/Angular/Localization.md
  docs/en/UI/Angular/Permission-Management.md
  docs/en/UI/Angular/images/component-replacement.gif
  docs/en/UI/Angular/images/custom-settings.png
  docs/en/UI/AspNetCore/Bundling-Minification.md
  docs/en/UI/AspNetCore/Client-Side-Package-Management.md
  docs/en/UI/AspNetCore/Tag-Helpers/Buttons.md
  docs/en/UI/AspNetCore/Tag-Helpers/Dynamic-Forms.md
  docs/en/UI/AspNetCore/Tag-Helpers/Index.md
  docs/en/UI/AspNetCore/Tag-Helpers/fa-address-card.png
  docs/en/UI/AspNetCore/Theming.md
  docs/en/UI/AspNetCore/Widgets.md
  docs/en/docs-nav.json
Labels: documentation, ui-angular

#3029 Cli: changed nuget version info resource
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ProjectReferenceReplaceStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/TemplateFile.cs
Labels: abp-cli

#3064 Link typo
  docs/en/Tutorials/Part-1.md
Labels: documentation, problem

#3094 docs(angular): custom setting page document
  docs/en/UI/Angular/Component-Replacement.md
  docs/en/UI/Angular/Custom-Setting-Page.md
  docs/en/UI/Angular/images/custom-settings.png
  docs/en/docs-nav.json
Labels: documentation, ui-angular

#3103 Backgroundworkerbase logger properties use concrete types as generic parameters
  framework/src/Volo.Abp.BackgroundWorkers/Volo/Abp/BackgroundWorkers/BackgroundWorkerBase.cs
Labels: abp-framework

#3073 Update docs module document
  docs/en/Modules/Docs.md
  docs/en/images/docs-module_download-new-abp-project.png
  docs/en/images/docs-module_solution-explorer.png
  docs/zh-Hans/Modules/Docs.md
  docs/zh-Hans/images/docs-module_download-new-abp-project.png
  docs/zh-Hans/images/docs-module_solution-explorer.png
Labels: abp-module-docs, documentation

#3122 Upgrade MailKit to 2.5.2.
  framework/src/Volo.Abp.MailKit/Volo.Abp.MailKit.csproj
Labels: abp-framework

#3116 Add GetAllBytesAsync to AbpFormFileExtensions
  framework/src/Volo.Abp.AspNetCore.Mvc/Microsoft/AspNetCore/Http/AbpFormFileExtensions.cs
Labels: abp-framework, enhancement

#3107 Custom admin/pass implementation for new tenant
  modules/tenant-management/src/Volo.Abp.TenantManagement.Application.Contracts/Volo/Abp/TenantManagement/TenantCreateDto.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Application.Contracts/Volo/Abp/TenantManagement/TenantCreateOrUpdateDtoBase.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Application/Volo/Abp/TenantManagement/TenantAppService.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.HttpApi/Volo/Abp/TenantManagement/TenantController.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/CreateModal.cshtml
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/CreateModal.cshtml.cs
  modules/tenant-management/test/Volo.Abp.TenantManagement.Application.Tests/Volo/Abp/TenantManagement/TenantAppService_Tests.cs
Labels: abp-module-tenant-management, feature

#3133 added meta tags and localization keys for blog module
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Account.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
Labels: enhancement

#3146 Fixed security issue in multi-tenancy docs
  docs/en/Multi-Tenancy.md
  docs/zh-Hans/Multi-Tenancy.md
Labels: documentation

#2985 Create an endpoint to query all roles.
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IIdentityRoleAppService.cs
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityRoleAppService.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityRoleController.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml.cs
  modules/identity/test/Volo.Abp.Identity.Application.Tests/Volo/Abp/Identity/IdentityRoleAppService_Tests.cs
Labels: abp-module-identity

#2973 Create Background-Workers' documentation
  docs/en/Background-Jobs.md
  docs/en/Background-Workers.md
Labels: abp-module-background-jobs, documentation

#2972 Allow replace & delete BundleContributor.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/BundleContributorCollection.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Packages/Volo/Abp/AspNetCore/Mvc/UI/Packages/BootstrapDatepicker/BootstrapDatepickerScriptContributor.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Packages/Volo/Abp/AspNetCore/Mvc/UI/Packages/JQueryValidation/JQueryValidationScriptContributor.cs
Labels: abp-framework, enhancement

#3151 Added DBMS restrictions in Entity-Framework-Core-Other-DBMS.
  docs/en/Entity-Framework-Core-Other-DBMS.md
  docs/zh-Hans/Entity-Framework-Core-Other-DBMS.md
Labels: documentation

#2971 Cascading entities should not be deleted when soft deleting entities.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Uow/EntityFrameworkCore/UnitOfWorkDbContextProvider.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Testing/SoftDelete_Tests.cs
Labels: abp-framework, enhancement

#3173 Make Account module services easily overridable by inheritance
  modules/account/src/Volo.Abp.Account.Application/Volo/Abp/Account/AccountAppService.cs
  modules/account/src/Volo.Abp.Account.HttpApi/Volo/Abp/Account/AccountController.cs
  modules/account/src/Volo.Abp.Account.Web.IdentityServer/Pages/Account/IdentityServerSupportedLoginModel.cs
  modules/account/src/Volo.Abp.Account.Web/AbpAccountUserMenuContributor.cs
  modules/account/src/Volo.Abp.Account.Web/AccountModuleToolbarContributor.cs
  modules/account/src/Volo.Abp.Account.Web/Areas/Account/Controllers/AccountController.cs
  modules/account/src/Volo.Abp.Account.Web/Modules/Account/Components/Toolbar/UserLoginLink/UserLoginLinkViewComponent.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/AccountPageModel.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Logout.cshtml.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Manage.cshtml.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Register.cshtml.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/SendSecurityCode.cshtml.cs
Labels: abp-module-account, enhancement

#3079 Docs update label improvements
  modules/docs/app/VoloDocs.EntityFrameworkCore/Migrations/20200312050853_init.Designer.cs
  modules/docs/app/VoloDocs.EntityFrameworkCore/Migrations/20200312050853_init.cs
  modules/docs/app/VoloDocs.EntityFrameworkCore/Migrations/VoloDocsDbContextModelSnapshot.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Documents/DocumentAppService.cs
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/DocumentUpdateInfo.cs
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/NavigationNode.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/Document.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/IDocumentSource.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/FileSystem/Documents/FileSystemDocumentSource.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubDocumentSource.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubPatchAnalyzer.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubRepositoryManager.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/IGithubPatchAnalyzer.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/IGithubRepositoryManager.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Projects/ProjectGithubExtensions.cs
  modules/docs/src/Volo.Docs.Web/Areas/Documents/TagHelpers/TreeTagHelper.cs
Labels: abp-module-docs

#3175 Make BackgroundJobs module services easily overridable by inheritance
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.Domain/Volo/Abp/BackgroundJobs/BackgroundJobRecord.cs
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.EntityFrameworkCore/Volo/Abp/BackgroundJobs/EntityFrameworkCore/EfCoreBackgroundJobRepository.cs
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.MongoDB/Volo/Abp/BackgroundJobs/MongoDB/MongoBackgroundJobRepository.cs
Labels: abp-module-background-jobs, enhancement

#3174 Make AuditLogging module services easily overridable by inheritance
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/AuditingStore.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/EfCoreAuditLogRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/MongoAuditLogRepository.cs
Labels: abp-module-audit-logging, enhancement

#3136 Fix unicode anchor links.
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Scripts/vs.js
Labels: abp-module-docs

#3177 Make FeatureManagement module services easily overridable by inheritance
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application/Volo/Abp/FeatureManagement/FeatureAppService.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/DefaultValueFeatureManagementProvider.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/FeatureManagementProvider.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/FeatureManagementStore.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/FeatureStore.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.EntityFrameworkCore/Volo/Abp/FeatureManagement/EntityFrameworkCore/EfCoreFeatureValueRepository.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.HttpApi/Volo/Abp/FeatureManagement/FeaturesController.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.MongoDB/Volo/Abp/FeatureManagement/MongoDB/MongoFeatureValueRepository.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml.cs
Labels: abp-module-feature-management, enhancement

#3178 Make Identity module services easily overridable by inheritance
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityRoleAppService.cs
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/ProfileAppService.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentityOptionsFactory.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentityResultException.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityClaimTypeManager.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityDataSeedContributor.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityDataSeeder.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityRoleManager.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityRoleStore.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserLogin.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserManager.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserRepositoryExternalUserLookupServiceProvider.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserStore.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/UserRoleFinder.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityClaimTypeRepository.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi.Client/Volo/Abp/Identity/HttpClientIdentityUserLookupService.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi.Client/Volo/Abp/Identity/HttpClientUserRoleFinder.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityRoleController.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityUserController.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityUserLookupController.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/ProfileController.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityClaimTypeRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityRoleRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.Web/AbpIdentityWebAutoMapperProfile.cs
  modules/identity/src/Volo.Abp.Identity.Web/Navigation/AbpIdentityWebMainMenuContributor.cs
  modules/identity/src/Volo.Abp.PermissionManagement.Domain.Identity/Volo/Abp/PermissionManagement/Identity/RolePermissionManagementProvider.cs
  modules/identity/src/Volo.Abp.PermissionManagement.Domain.Identity/Volo/Abp/PermissionManagement/Identity/RoleUpdateEventHandler.cs
Labels: abp-module-identity, enhancement

#3179 Make Identity module razor pages easily overridable by inheritance
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/CreateModal.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/EditModal.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/Index.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/Index.cshtml.cs
Labels: abp-module-identity, enhancement

#3181 Make IdentityServer module services easily overridable by inheritance
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpCorsPolicyService.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AllowedCorsOriginsCacheItemInvalidator.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AspNetIdentity/AbpProfileService.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AspNetIdentity/AbpResourceOwnerPasswordValidator.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Clients/ClientStore.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Devices/DeviceFlowCodes.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Devices/DeviceFlowStore.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Grants/PersistedGrantStore.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/ResourceStore.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/ApiResources/ApiResourceRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/Clients/ClientRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/Devices/DeviceFlowCodesRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/Grants/PersistedGrantRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/IdentityResources/IdentityResourceRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/MongoApiResourceRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/MongoClientRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/MongoDeviceFlowCodesRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/MongoIdentityResourceRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/MongoPersistedGrantRepository.cs
Labels: abp-module-identityserver, enhancement

#3182 Make PermissionManagement module services easily overridable by inheritance
  modules/permission-management/src/Volo.Abp.PermissionManagement.Application/Volo/Abp/PermissionManagement/PermissionAppService.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionDataSeeder.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionManager.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionStore.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.EntityFrameworkCore/Volo/Abp/PermissionManagement/EntityFrameworkCore/EfCorePermissionGrantRepository.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.HttpApi/Volo/Abp/PermissionManagement/PermissionsController.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.MongoDB/Volo/Abp/PermissionManagement/MongoDb/MongoPermissionGrantRepository.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/PermissionManagementModal.cshtml.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Utils/FlatTreeDepthFinder.cs
Labels: abp-module-permission-management, enhancement

#3183 Make Setting Management module services easily overridable by inheritance
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/ConfigurationSettingManagementProvider.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/DefaultValueSettingManagementProvider.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/SettingManagementProvider.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/SettingManagementStore.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/SettingStore.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.EntityFrameworkCore/Volo/Abp/SettingManagement/EntityFrameworkCore/EfCoreSettingRepository.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.MongoDB/Volo/Abp/SettingManagement/MongoDB/MongoSettingRepository.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Navigation/SettingManagementMainMenuContributor.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Index.cshtml.cs
Labels: abp-module-setting-management, enhancement

#3184 Make TenantManagement module services easily overridable by inheritance
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/Tenant.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantManager.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantStore.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.EntityFrameworkCore/Volo/Abp/TenantManagement/EntityFrameworkCore/EfCoreTenantRepository.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.HttpApi/Volo/Abp/TenantManagement/TenantController.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.MongoDB/Volo/Abp/TenantManagement/MongoDb/MongoTenantRepository.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/AbpTenantManagementWebAutoMapperProfile.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Navigation/AbpTenantManagementWebMainMenuContributor.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/ConnectionStringsModal.cshtml.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/CreateModal.cshtml.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/EditModal.cshtml.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/Index.cshtml.cs
Labels: abp-module-tenant-management, enhancement

#3192 Angular type script client proxy generator
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApiExploring/AbpApiDefinitionController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AspNetCoreApiDescriptionModelProvider.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/AbpCliCoreModule.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/GenerateProxyCommand.cs
  framework/src/Volo.Abp.Cli/Volo.Abp.Cli.csproj
  framework/src/Volo.Abp.Core/System/AbpTypeExtensions.cs
  framework/src/Volo.Abp.Core/Volo/Abp/Reflection/TypeHelper.cs
  framework/src/Volo.Abp.Core/Volo/Abp/Threading/AsyncHelper.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/ApiDescriptionFinder.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/ApplicationApiDescriptionModel.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/ApplicationApiDescriptionModelRequestDto.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/ControllerApiDescriptionModel.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/ControllerInterfaceApiDescriptionModel.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/IApiDescriptionModelProvider.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/MethodParameterApiDescriptionModel.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/ModelingTypeHelper.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/ParameterApiDescriptionModel.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/PropertyApiDescriptionModel.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/ReturnValueApiDescriptionModel.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/TypeApiDescriptionModel.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/ProxyScripting/Generators/JQuery/JQueryProxyScriptGenerator.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/ProxyScripting/ProxyScriptManager.cs
  npm/ng-packs/packages/core/src/lib/models/dtos.ts
  npm/ng-packs/packages/core/src/lib/models/index.ts
Labels: abp-cli, feature, ui-angular

#3205 refactored async method
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml.cs
Labels: problem

#3150 Upgrade Microsoft.* package to 3.12.
  framework/src/Volo.Abp.AspNetCore.Authentication.JwtBearer/Volo.Abp.AspNetCore.Authentication.JwtBearer.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo.Abp.AspNetCore.Mvc.csproj
  framework/src/Volo.Abp.AspNetCore.TestBase/Volo.Abp.AspNetCore.TestBase.csproj
  framework/src/Volo.Abp.Authorization/Volo.Abp.Authorization.csproj
  framework/src/Volo.Abp.Autofac/Volo.Abp.Autofac.csproj
  framework/src/Volo.Abp.Caching/Volo.Abp.Caching.csproj
  framework/src/Volo.Abp.Core/Volo.Abp.Core.csproj
  framework/src/Volo.Abp.EntityFrameworkCore.SqlServer/Volo.Abp.EntityFrameworkCore.SqlServer.csproj
  framework/src/Volo.Abp.EntityFrameworkCore.Sqlite/Volo.Abp.EntityFrameworkCore.Sqlite.csproj
  framework/src/Volo.Abp.EntityFrameworkCore/Volo.Abp.EntityFrameworkCore.csproj
  framework/src/Volo.Abp.Http.Client/Volo.Abp.Http.Client.csproj
  framework/src/Volo.Abp.IdentityModel/Volo.Abp.IdentityModel.csproj
  framework/src/Volo.Abp.VirtualFileSystem/Volo.Abp.VirtualFileSystem.csproj
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.Shared/Volo.Abp.BackgroundJobs.DemoApp.Shared.csproj
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp/Volo.Abp.BackgroundJobs.DemoApp.csproj
  modules/blogging/app/Volo.BloggingTestApp/Volo.BloggingTestApp.csproj
  modules/docs/src/Volo.Docs.Domain/Volo.Docs.Domain.csproj
  modules/identity/src/Volo.Abp.Identity.Domain/Volo.Abp.Identity.Domain.csproj
  samples/BookStore-Angular-MongoDb/aspnet-core/src/Acme.BookStore.DbMigrator/Acme.BookStore.DbMigrator.csproj
  samples/BookStore-Angular-MongoDb/aspnet-core/src/Acme.BookStore.HttpApi.Host/Acme.BookStore.HttpApi.Host.csproj
  samples/BookStore-Modular/application/src/Acme.BookStore.DbMigrator/Acme.BookStore.DbMigrator.csproj
  samples/BookStore-Modular/application/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Acme.BookStore.EntityFrameworkCore.DbMigrations.csproj
  samples/BookStore-Modular/application/src/Acme.BookStore.Web/Acme.BookStore.Web.csproj
  samples/BookStore-Modular/modules/book-management/host/Acme.BookStore.BookManagement.HttpApi.Host/Acme.BookStore.BookManagement.HttpApi.Host.csproj
  samples/BookStore-Modular/modules/book-management/host/Acme.BookStore.BookManagement.IdentityServer/Acme.BookStore.BookManagement.IdentityServer.csproj
  samples/BookStore-Modular/modules/book-management/host/Acme.BookStore.BookManagement.Web.Host/Acme.BookStore.BookManagement.Web.Host.csproj
  samples/BookStore-Modular/modules/book-management/host/Acme.BookStore.BookManagement.Web.Unified/Acme.BookStore.BookManagement.Web.Unified.csproj
  samples/BookStore/src/Acme.BookStore.DbMigrator/Acme.BookStore.DbMigrator.csproj
  samples/BookStore/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Acme.BookStore.EntityFrameworkCore.DbMigrations.csproj
  samples/BookStore/src/Acme.BookStore.Web/Acme.BookStore.Web.csproj
  samples/DashboardDemo/src/DashboardDemo.DbMigrator/DashboardDemo.DbMigrator.csproj
  samples/DashboardDemo/src/DashboardDemo.EntityFrameworkCore.DbMigrations/DashboardDemo.EntityFrameworkCore.DbMigrations.csproj
  samples/EfCoreMigrationDemo/src/Acme.BookStore.DbMigrator/Acme.BookStore.DbMigrator.csproj
  samples/EfCoreMigrationDemo/src/Acme.BookStore.EntityFrameworkCore.DbMigrations/Acme.BookStore.EntityFrameworkCore.DbMigrations.csproj
  samples/EfCoreMigrationDemo/src/Acme.BookStore.EntityFrameworkCore.DbMigrationsForSecondDb/Acme.BookStore.EntityFrameworkCore.DbMigrationsForSecondDb.csproj
  samples/EfCoreMigrationDemo/src/Acme.BookStore.Web/Acme.BookStore.Web.csproj
  samples/MicroserviceDemo/applications/AuthServer.Host/AuthServer.Host.csproj
  samples/MicroserviceDemo/applications/BackendAdminApp.Host/BackendAdminApp.Host.csproj
  samples/MicroserviceDemo/applications/PublicWebSite.Host/PublicWebSite.Host.csproj
  samples/MicroserviceDemo/gateways/BackendAdminAppGateway.Host/BackendAdminAppGateway.Host.csproj
  samples/MicroserviceDemo/gateways/InternalGateway.Host/InternalGateway.Host.csproj
  samples/MicroserviceDemo/gateways/PublicWebSiteGateway.Host/PublicWebSiteGateway.Host.csproj
  samples/MicroserviceDemo/microservices/BloggingService.Host/BloggingService.Host.csproj
  samples/MicroserviceDemo/microservices/IdentityService.Host/IdentityService.Host.csproj
  samples/MicroserviceDemo/microservices/ProductService.Host/ProductService.Host.csproj
  samples/MicroserviceDemo/microservices/TenantManagementService.Host/TenantManagementService.Host.csproj
  samples/MicroserviceDemo/modules/product/src/ProductManagement.EntityFrameworkCore/ProductManagement.EntityFrameworkCore.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/MyCompanyName.MyProjectName.DbMigrator.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyCompanyName.MyProjectName.Web.Unified.csproj
Labels: abp-framework, abp-module-docs, abp-samples, abp-template-app, abp-template-module

#3236 Added a utility service for easy TrackByFunction implementation
  npm/ng-packs/packages/core/src/lib/services/track-by.service.ts
  npm/ng-packs/packages/core/src/lib/tests/track-by.service.spec.ts
Labels: ui-angular

#3230 The request method of RestService now gets apiName in config parameter for easy baseUrl
  npm/ng-packs/packages/core/src/lib/models/config.ts
  npm/ng-packs/packages/core/src/lib/models/rest.ts
  npm/ng-packs/packages/core/src/lib/services/rest.service.ts
  npm/ng-packs/packages/core/src/lib/tests/rest.service.spec.ts
Labels: ui-angular

#3243 Create documentation for Grids Tag Helper
  docs/en/UI/AspNetCore/Tag-Helpers/Grids.md
Labels: documentation

#3235 Create documentation for Tabs Tag Helper
  docs/en/UI/AspNetCore/Tag-Helpers/Tabs.md
Labels: documentation

#3232 Create documentation for Alert Tag Helper
  docs/en/UI/AspNetCore/Tag-Helpers/Alerts.md
  docs/en/UI/AspNetCore/Tag-Helpers/Index.md
Labels: documentation

#3257 Abp-Modal Tag helper extra features
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Modal/AbpModalFooterTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Modal/AbpModalFooterTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Modal/AbpModalTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Modal/AbpModalTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Modal/ButtonsAlign.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Components/Modals.cshtml
Labels: abp-framework, ui-mvc

#3210 Identity ETO's added
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/IdentityClaimTypeEto.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/IdentityRoleEto.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo.Abp.Identity.Domain.csproj
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentityDomainModule.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityDomainMappingProfile.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUser.cs
Labels: abp-module-identity

#3240 Blogging ETOs' implemented
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Blogs/BlogEto.cs
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Comments/CommentEto.cs
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Posts/PostEto.cs
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Tagging/TagEto.cs
  modules/blogging/src/Volo.Blogging.Domain/Volo.Blogging.Domain.csproj
  modules/blogging/src/Volo.Blogging.Domain/Volo/Blogging/BloggingDomainMappingProfile.cs
  modules/blogging/src/Volo.Blogging.Domain/Volo/Blogging/BloggingDomainModule.cs
Labels: abp-module-blogging, enhancement

#3241 Docs ETOs' added
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/DocumentEto.cs
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Projects/ProjectEto.cs
  modules/docs/src/Volo.Docs.Domain/Volo.Docs.Domain.csproj
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/DocsDomainMappingProfile.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/DocsDomainModule.cs
Labels: abp-module-docs, enhancement

#3266 IdentityServer ETOs' added
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/ApiResources/ApiResourceEto.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Clients/ClientEto.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Devices/DeviceFlowCodesEto.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Grants/PersistedGrantEto.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/IdentityResources/IdentityResourceEto.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpIdentityServerDomainModule.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/IdentityServerAutoMapperProfile.cs
Labels: abp-module-identityserver, enhancement

#3209 Encode the returnUrl parameter.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Components/Toolbar/LanguageSwitch/Default.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Demo/FodyWeavers.xml
Labels: abp-framework, ui-mvc

#3269 Account Module RemoteService Name implemented
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/AccountRemoteServiceConsts.cs
  modules/account/src/Volo.Abp.Account.HttpApi.Client/Volo/Abp/Account/AbpAccountHttpApiClientModule.cs
  modules/account/src/Volo.Abp.Account.HttpApi/Volo/Abp/Account/AccountController.cs
  modules/account/src/Volo.Abp.Account.Web/Areas/Account/Controllers/AccountController.cs
Labels: abp-module-account

#3262 RestService is refactored and optimized
  npm/ng-packs/packages/core/src/lib/services/rest.service.ts
  npm/ng-packs/packages/core/src/lib/tests/common-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/rest.service.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/common-utils.ts
Labels: ui-angular

#3271 Remote service name is set for all modules
  modules/blogging/src/Volo.Blogging.Application.Contracts/Volo/Blogging/BloggingRemoteServiceConsts.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/Volo/Blogging/BloggingHttpApiClientModule.cs
  modules/blogging/src/Volo.Blogging.HttpApi/Volo/Blogging/BlogFilesController.cs
  modules/blogging/src/Volo.Blogging.HttpApi/Volo/Blogging/BlogsController.cs
  modules/blogging/src/Volo.Blogging.HttpApi/Volo/Blogging/CommentsController.cs
  modules/blogging/src/Volo.Blogging.HttpApi/Volo/Blogging/PostsController.cs
  modules/blogging/src/Volo.Blogging.HttpApi/Volo/Blogging/TagsController.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/FeatureManagementRemoteServiceConsts.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.HttpApi.Client/Volo/Abp/FeatureManagement/AbpFeatureManagementHttpApiClientModule.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.HttpApi/Volo/Abp/FeatureManagement/FeaturesController.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Application.Contracts/Volo/Abp/PermissionManagement/PermissionManagementRemoteServiceConsts.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.HttpApi.Client/Volo/Abp/PermissionManagement/AbpPermissionManagementHttpApiClientModule.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.HttpApi/Volo/Abp/PermissionManagement/PermissionsController.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Application.Contracts/Volo/Abp/TenantManagement/TenantManagementRemoteServiceConsts.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.HttpApi.Client/Volo/Abp/TenantManagement/AbpTenantManagementHttpApiClientModule.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.HttpApi/Volo/Abp/TenantManagement/TenantController.cs
Labels: abp-module-account, abp-module-blogging, abp-module-docs, abp-module-feature-management, abp-module-identity, abp-module-permission-management, abp-module-tenant-management, enhancement

#3276 Create documentation for List Groups Tag Helper
  docs/en/UI/AspNetCore/Tag-Helpers/List-Groups.md
Labels: documentation

#3285 Create documentation for Tooltips Tag Helper
  docs/en/UI/AspNetCore/Tag-Helpers/Index.md
  docs/en/UI/AspNetCore/Tag-Helpers/Tooltips.md
Labels: documentation

#3284 Create documentation for Progress Bars Tag Helper
  docs/en/UI/AspNetCore/Tag-Helpers/Progress-Bars.md
Labels: documentation

#3268 Create documentation for Dropdowns Tag Helper
  docs/en/UI/AspNetCore/Tag-Helpers/Dropdowns.md
Labels: documentation

#3278 Create documentation for Paginator Tag Helper
  docs/en/UI/AspNetCore/Tag-Helpers/Paginator.md
Labels: documentation

#3306 Keep the hash of the url in the setQueryString method.
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js
Labels: abp-module-docs, enhancement

#3263 Create documentation for Collapse Tag Helper
  docs/en/UI/AspNetCore/Tag-Helpers/Collapse.md
Labels: documentation

#3261 Create documentation for Modals Tag Helper
  docs/en/UI/AspNetCore/Tag-Helpers/Modals.md
Labels: documentation

#3307 Migrate only tenants with connection strings.
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Data/MyProjectNameDbMigrationService.cs
Labels: abp-template-app, enhancement

#3316 Added documentation on how to make HTTP requests using RestService
  docs/en/UI/Angular/Http-Requests.md
  docs/en/UI/Angular/Localization.md
  docs/en/docs-nav.json
Labels: ui-angular

#3320 Type-safe byDeep method in TrackByService
  npm/ng-packs/package.json
  npm/ng-packs/packages/core/src/lib/services/track-by.service.ts
  npm/ng-packs/packages/core/src/lib/tests/track-by.service.spec.ts
  npm/ng-packs/yarn.lock
Labels: ui-angular

#3322 Added documentation on how to create TrackByFunction using TrackByService
  docs/en/UI/Angular/Custom-Setting-Page.md
  docs/en/UI/Angular/Track-By-Service.md
  docs/en/docs-nav.json
Labels: ui-angular

#3329 Failing tests of Identity Server module because of shared tempkey.rsa
  modules/identityserver/test/Volo.Abp.IdentityServer.TestBase/Volo/Abp/IdentityServer/AbpIdentityServerTestBaseModule.cs
Labels: abp-module-identityserver

#3334 Implemented: Allow to subscribe to exceptions handled by the abp framework
  docs/en/Exception-Handling.md
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Controllers/ErrorController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/AbpExceptionFilter.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/ExceptionHandling/AbpExceptionHandlingMiddleware.cs
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/BackgroundJobExecuter.cs
  framework/src/Volo.Abp.BackgroundJobs.RabbitMQ/Volo/Abp/BackgroundJobs/RabbitMQ/JobQueue.cs
  framework/src/Volo.Abp.BackgroundWorkers/Volo/Abp/BackgroundWorkers/AsyncPeriodicBackgroundWorkerBase.cs
  framework/src/Volo.Abp.BackgroundWorkers/Volo/Abp/BackgroundWorkers/PeriodicBackgroundWorkerBase.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/DistributedCache.cs
  framework/src/Volo.Abp.Core/Volo/Abp/DependencyInjection/ExposedServiceExplorer.cs
  framework/src/Volo.Abp.Core/Volo/Abp/ExceptionHandling/ExceptionNotificationContext.cs
  framework/src/Volo.Abp.Core/Volo/Abp/ExceptionHandling/ExceptionNotifier.cs
  framework/src/Volo.Abp.Core/Volo/Abp/ExceptionHandling/ExceptionNotifierExtensions.cs
  framework/src/Volo.Abp.Core/Volo/Abp/ExceptionHandling/ExceptionSubscriber.cs
  framework/src/Volo.Abp.Core/Volo/Abp/ExceptionHandling/IExceptionNotifier.cs
  framework/src/Volo.Abp.Core/Volo/Abp/ExceptionHandling/IExceptionSubscriber.cs
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/LdapManager.cs
  framework/src/Volo.Abp.RabbitMQ/Volo/Abp/RabbitMQ/RabbitMqMessageConsumer.cs
  framework/src/Volo.Abp.Threading/Volo/Abp/Threading/AbpTimer.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/ExceptionTestController_Tests.cs
Labels: abp-framework, feature

#3336 Added a new environment named internal
  npm/ng-packs/.gitignore
  npm/ng-packs/angular.json
  npm/ng-packs/package.json
Labels: ui-angular

#3338 Make CLI available when abp.io is offline
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Analyticses/CliAnalyticsCollect.cs
Labels: abp-cli, enhancement

#3360 Implemented: Entity Extension System
  docs/en/Best-Practices/Entity-Framework-Core-Integration.md
  docs/en/Customizing-Application-Modules-Extending-Entities.md
  docs/en/Entities.md
  docs/en/Entity-Framework-Core-Migrations.md
  docs/en/Entity-Framework-Core.md
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Extensions/EntityExtensionInfo.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Extensions/EntityExtensionManager.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Extensions/PropertyExtensionInfo.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Modeling/AbpEntityTypeBuilderExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ValueConverters/AbpJsonValueConverter.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ValueConverters/ExtraPropertiesValueConverter.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/AbpEntityFrameworkCoreTestModule.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/Domain/ExtraProperties_Tests.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/Domain/TestEntityExtensionConfigurator.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/TestMigrationsDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFrameworkCore/TestAppDbContext.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/TestDataBuilder.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Testing/ExtraProperties_Tests.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/AbpAuditLoggingDbContextModelBuilderExtensions.cs
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.EntityFrameworkCore/Volo/Abp/BackgroundJobs/EntityFrameworkCore/BackgroundJobsDbContextModelCreatingExtensions.cs
  modules/blogging/src/Volo.Blogging.EntityFrameworkCore/Volo/Blogging/EntityFrameworkCore/BloggingDbContextModelBuilderExtensions.cs
  modules/docs/src/Volo.Docs.EntityFrameworkCore/Volo/Docs/EntityFrameworkCore/DocsDbContextModelBuilderExtensions.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.EntityFrameworkCore/Volo/Abp/FeatureManagement/EntityFrameworkCore/FeatureManagementDbContextModelCreatingExtensions.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IdentityDbContextModelBuilderExtensions.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/EntityFrameworkCore/IdentityServerDbContextModelCreatingExtensions.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.EntityFrameworkCore/Volo/Abp/PermissionManagement/EntityFrameworkCore/AbpPermissionManagementDbContextModelBuilderExtensions.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.EntityFrameworkCore/Volo/Abp/SettingManagement/EntityFrameworkCore/SettingManagementDbContextModelBuilderExtensions.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.EntityFrameworkCore/Volo/Abp/TenantManagement/EntityFrameworkCore/AbpTenantManagementDbContextModelCreatingExtensions.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Users/AppUser.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/MyProjectNameMigrationsDbContext.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/MyProjectNameMigrationsDbContextFactory.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/EntityFrameworkCore/MyProjectNameDbContext.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/EntityFrameworkCore/MyProjectNameDbContextModelCreatingExtensions.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/EntityFrameworkCore/MyProjectNameEntityExtensions.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/EntityFrameworkCore/MyProjectNameEntityFrameworkCoreModule.cs
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/EntityFrameworkCore/MyProjectNameDbContextModelCreatingExtensions.cs
Labels: abp-framework, feature

#3359 Added a Doubly Linked List to Core Module Utils
  docs/en/UI/Angular/Linked-List.md
  npm/ng-packs/packages/core/src/lib/services/index.ts
  npm/ng-packs/packages/core/src/lib/tests/linked-list.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/index.ts
  npm/ng-packs/packages/core/src/lib/utils/linked-list.ts
Labels: ui-angular

#3299 fix(ng.core) correct params of SetEnvironment Action
  npm/ng-packs/packages/core/src/lib/states/config.state.ts
Labels: ui-angular

#3376 Added Custom Methods to LinkedList for Adding and Dropping Multiple Nodes
  docs/en/UI/Angular/Linked-List.md
  npm/ng-packs/packages/core/src/lib/tests/linked-list.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/linked-list.ts
Labels: ui-angular

#3369 Added apiName variables to services that makes HTTP calls to backend
  npm/ng-packs/packages/account/src/lib/services/account.service.ts
  npm/ng-packs/packages/core/src/lib/services/application-configuration.service.ts
  npm/ng-packs/packages/core/src/lib/services/profile.service.ts
  npm/ng-packs/packages/core/src/lib/states/config.state.ts
  npm/ng-packs/packages/feature-management/src/lib/services/feature-management.service.ts
  npm/ng-packs/packages/identity/src/lib/services/identity.service.ts
  npm/ng-packs/packages/permission-management/src/lib/services/permission-management.service.ts
  npm/ng-packs/packages/tenant-management/src/lib/services/tenant-management.service.ts
Labels: ui-angular

#3383 Made layouts replaceable
  docs/en/UI/Angular/Component-Replacement.md
  docs/en/UI/Angular/Service-Proxies.md
  npm/ng-packs/angular.json
  npm/ng-packs/apps/dev-app/src/app/app.module.ts
  npm/ng-packs/packages/core/src/lib/components/dynamic-layout.component.ts
  npm/ng-packs/packages/core/src/lib/models/common.ts
  npm/ng-packs/packages/core/src/lib/tests/dynamic-layout.component.spec.ts
  npm/ng-packs/packages/theme-basic/src/lib/services/initial.service.ts
  templates/app/angular/src/app/app.module.ts
  templates/module/angular/.prettierrc
  templates/module/angular/src/app/app.module.ts
Labels: ui-angular

#3399 Update Pomelo.EntityFrameworkCore.MySql to 3.1.1
  framework/src/Volo.Abp.EntityFrameworkCore.MySQL/Volo.Abp.EntityFrameworkCore.MySQL.csproj
Labels: abp-framework, enhancement

#3290 Make properties virtual on TenantCreateDto
  modules/tenant-management/src/Volo.Abp.TenantManagement.Application.Contracts/Volo/Abp/TenantManagement/TenantCreateDto.cs
Labels: abp-module-tenant-management

#3408 EntityChange selecting implemented to AuditLog Repositories
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/IAuditLogRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/AbpAuditLoggingEfCoreQueryableExtensions.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/EfCoreAuditLogRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/MongoAuditLogRepository.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.TestBase/Volo/Abp/AuditLogging/AuditLogRepository_Tests.cs
Labels: abp-module-audit-logging, feature

#3428 Improved linked list types
  npm/packs/utils/projects/utils/src/lib/linked-list.ts
  npm/packs/utils/tsconfig.json
Labels: ui-angular

#3430 Moves Linked List Document to Common Utils
  docs/en/UI/Angular/Track-By-Service.md
  docs/en/UI/Common/Utils/Linked-List.md
  docs/en/docs-nav.json
Labels: ui-angular
