Repository abpframework/abp, pull requests merged in 2020-10, with the labels that each got.

#5660 Move SeedDataAsync into the change tenant code block
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Data/MyProjectNameDbMigrationService.cs
Labels: abp-template-app, bug

#5662 Update Chinese localization
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/zh-Hans.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/zh-Hant.json
Labels: abp-module-account

#5685 feat: add manage profile guard
  npm/ng-packs/packages/account/src/lib/account-routing.module.ts
  npm/ng-packs/packages/account/src/lib/account.module.ts
  npm/ng-packs/packages/account/src/lib/guards/index.ts
  npm/ng-packs/packages/account/src/lib/guards/manage-profile.guard.ts
  npm/ng-packs/packages/core/src/lib/services/config-state.service.ts
  npm/ng-packs/packages/core/src/lib/states/config.state.ts
  npm/ng-packs/yarn.lock
Labels: ui-angular

#5697 Improve EFCoreRepositoryExtensions.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Domain/Repositories/EfCoreRepositoryExtensions.cs
Labels: abp-framework, enhancement

#5667 Update English Localization For Community
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
Labels: abp-community

#5608 Introduce ITenantConfigurationProvider.
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/MultiTenancyMiddleware.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/ITenantConfigurationProvider.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/TenantConfigurationProvider.cs
Labels: abp-framework

#5717 Update Application-Services.md to explain how to handle file in app services.
  docs/en/Best-Practices/Application-Services.md
Labels: documentation

#5654 Remove the HtmlAgilityPack.NetCore reference
  framework/src/Volo.Abp.Cli.Core/Volo.Abp.Cli.Core.csproj
Labels: abp-cli

#5659 Move BlogDto to Volo.Blogging.Application.Contracts.Shared proejct
  modules/blogging/src/Volo.Blogging.Admin.Application.Contracts/Volo/Blogging/Admin/Blogs/IBlogManagementAppService.cs
  modules/blogging/src/Volo.Blogging.Admin.Application/Volo/Blogging/Admin/BloggingAdminApplicationAutoMapperProfile.cs
  modules/blogging/src/Volo.Blogging.Admin.Application/Volo/Blogging/Admin/Blogs/BlogManagementAppService.cs
  modules/blogging/src/Volo.Blogging.Admin.HttpApi/Volo/Blogging/Admin/BlogManagementController.cs
  modules/blogging/src/Volo.Blogging.Admin.Web/AbpBloggingAdminWebAutoMapperProfile.cs
  modules/blogging/src/Volo.Blogging.Admin.Web/Pages/Blogging/Admin/Blogs/Edit.cshtml.cs
  modules/blogging/src/Volo.Blogging.Application.Contracts.Shared/Volo/Blogging/Blogs/Dtos/BlogDto.cs
  modules/blogging/src/Volo.Blogging.Application.Contracts/Volo/Blogging/Blogs/Dtos/BlogDto.cs
Labels: abp-module-blogging, problem

#5190 Introduce link user feature of Identity module.
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/CurrentTenant.cs
  framework/src/Volo.Abp.Security/Volo/Abp/Security/Claims/CurrentPrincipalAccessorExtensions.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Microsoft/Extensions/DependencyInjection/AbpIdentityServiceCollectionExtensions.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpUserClaimsPrincipalFactory.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIdentityLinkUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityLinkUser.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityLinkUserInfo.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserLinkManager.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/LinkUserTokenProvider.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityLinkUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IIdentityDbContext.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IdentityDbContext.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IdentityDbContextModelBuilderExtensions.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/AbpIdentityMongoDbContext.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/AbpIdentityMongoDbContextExtensions.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/AbpIdentityMongoDbModule.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/IAbpIdentityMongoDbContext.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityLinkUserRepository.cs
  modules/identity/test/Volo.Abp.Identity.AspNetCore.Tests/Volo/Abp/Identity/AspNetCore/LinkUserTokenProvider_Tests.cs
  modules/identity/test/Volo.Abp.Identity.Domain.Tests/Volo/Abp/Identity/IdentityLinkUserManager_Tests.cs
  modules/identity/test/Volo.Abp.Identity.EntityFrameworkCore.Tests/Volo/Abp/Identity/EntityFrameworkCore/IdentityLinkUserRepository_Tests.cs
  modules/identity/test/Volo.Abp.Identity.MongoDB.Tests/Volo/Abp/Identity/MongoDB/IdentityLinkUserRepository_Tests.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/AbpIdentityTestDataBuilder.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/IdentityLinkUserRepository_Tests.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/en.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/tr.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/zh-Hans.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpIdentityServerDomainModule.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AspNetIdentity/LinkLoginExtensionGrantValidator.cs
Labels: abp-framework, abp-module-identity, abp-module-identityserver

#5711 Add Remaining Methods To The IUINotificationService.
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/IUiNotificationService.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/NullUiNotificationService.cs
  framework/src/Volo.Abp.BlazoriseUI/BlazoriseUiNotificationService.cs
Labels: ui-blazor

#5719 Adding resource mapping example that copies all sub folders and maintains folder structure
  docs/en/UI/AspNetCore/Client-Side-Package-Management.md
Labels: documentation, enhancement

#5728 Auto Validate AntiForgery Token for HTTP API Requests
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Account.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Empty.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AntiForgery/AbpAntiForgeryCookieNameProvider.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AntiForgery/AbpAntiForgeryManagerAspNetCoreExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AntiForgery/AbpAntiForgeryOptions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AntiForgery/AbpAutoValidateAntiforgeryTokenAttribute.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AntiForgery/AbpAutoValidateAntiforgeryTokenAuthorizationFilter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AntiForgery/AbpValidateAntiForgeryTokenAttribute.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AntiForgery/AbpValidateAntiforgeryTokenAuthorizationFilter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AntiForgery/AspNetCoreAbpAntiForgeryManager.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationScriptController.cs
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/RequestLocalization/DefaultAbpRequestLocalizationOptionsProvider.cs
  framework/src/Volo.Abp.Core/System/AbpObjectExtensions.cs
Labels: abp-framework, feature

#5683 Fix: "Options" on a document can be a problem for search engines
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js
Labels: abp-module-docs

#5712 Created UiMessageAlert for Blazorise implementation
  framework/Volo.Abp.sln
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/MainLayout.razor
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/_Imports.razor
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/IUiMessageService.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/NullUiMessageService.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/UiMessageEventArgs.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/UiMessageOptions.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/UiMessageService.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/UiMessageType.cs
  framework/src/Volo.Abp.BlazoriseUI/AbpCrudPageBase.cs
  framework/src/Volo.Abp.BlazoriseUI/BlazoriseUiMessageService.cs
  framework/src/Volo.Abp.BlazoriseUI/Components/UiMessageAlert.razor
  framework/src/Volo.Abp.BlazoriseUI/Components/UiMessageAlert.razor.cs
  framework/src/Volo.Abp.BlazoriseUI/UiMessageNotifierService.cs
  framework/src/Volo.Abp.BlazoriseUI/Volo.Abp.BlazoriseUI.csproj
  framework/src/Volo.Abp.BlazoriseUI/_Imports.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Pages/Index.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Pages/Index.razor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/_Imports.razor
Labels: abp-framework, feature, ui-blazor

#5689 Reduced the locale chunks count & improve the locale registering logic
  docs/en/UI/Angular/Localization.md
  npm/ng-packs/packages/core/src/lib/constants/different-locales.ts
  npm/ng-packs/packages/core/src/lib/constants/included-locales.ts
  npm/ng-packs/packages/core/src/lib/constants/index.ts
  npm/ng-packs/packages/core/src/lib/services/localization.service.ts
  npm/ng-packs/packages/core/src/lib/tokens/index.ts
  npm/ng-packs/packages/core/src/lib/tokens/locale-error-handler.token.ts
  npm/ng-packs/packages/core/src/lib/utils/initial-utils.ts
Labels: ui-angular

#5734 Article: How to add custom property to the user entity
  docs/en/Community-Articles/2020-10-08-How-To-Add-Custom-Property-To-The-User-Entity/How-To-Add-Custom-Property-To-The-User-Entity.md
  docs/en/Community-Articles/2020-10-08-How-To-Add-Custom-Property-To-The-User-Entity/added-new-migration.png
  docs/en/Community-Articles/2020-10-08-How-To-Add-Custom-Property-To-The-User-Entity/custom-identity-user-list.png
  docs/en/Community-Articles/2020-10-08-How-To-Add-Custom-Property-To-The-User-Entity/initial-project.png
  docs/en/Community-Articles/2020-10-08-How-To-Add-Custom-Property-To-The-User-Entity/new-user.png
  docs/en/Community-Articles/2020-10-08-How-To-Add-Custom-Property-To-The-User-Entity/nuget-package-manager.png
  docs/en/Community-Articles/2020-10-08-How-To-Add-Custom-Property-To-The-User-Entity/user-table.png
Labels: abp-community

#5666 fix: add prefix to toaster css classes
  docs/en/UI/Angular/Toaster-Service.md
  npm/ng-packs/packages/core/src/lib/models/utility.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/account-layout/account-layout.component.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/empty-layout/empty-layout.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/toast-container/toast-container.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/toast-container/toast-container.component.scss
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.scss
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/models/toaster.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/toaster.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/toaster.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: ui-angular

#5750 Microsoft.AspNetCore.WebUtilities package added to support query string parsing in blazor
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo.Abp.AspNetCore.Components.WebAssembly.csproj
Labels: ui-blazor

#5720 Spanish localization update for v3.2
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/es.json
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Localization/Resources/AbpDdd/es.json
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/es.json
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/Localization/es.json
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/Localization/es.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/es.json
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Localization/Resource/es.json
  framework/test/Volo.Abp.Emailing.Tests/Volo/Abp/Emailing/Localization/es.json
Labels: abp-framework, enhancement

#5752 Docs Module: Merge "Remove from cache" & "Delete from database" buttons
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Documents/IDocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/ar.json
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/cs.json
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/en.json
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/tr.json
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Documents/DocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi/Volo/Docs/Admin/DocumentsAdminController.cs
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Documents/index.js
Labels: abp-module-docs, enhancement

#5733 Support to return Stream from application services & handle on the Dynamic C# proxying
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpMvcOptionsExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AspNetCoreApiDescriptionModelProvider.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Content/InternalRemoteStreamContent.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Content/RemoteStreamContentInputFormatter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Content/RemoteStreamContentOutputFormatter.cs
  framework/src/Volo.Abp.Core/Volo/Abp/Content/IRemoteStreamContent.cs
  framework/src/Volo.Abp.Core/Volo/Abp/Content/RemoteStreamContent.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/Content/ReferencedRemoteStreamContent.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/DynamicHttpProxyInterceptor.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/RequestPayloadBuilder.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Utils/ArrayMacther_Tests.cs
Labels: abp-framework, feature

#5759 Avoid decrypt null setting value.
  framework/src/Volo.Abp.Settings/Volo/Abp/Settings/SettingProvider.cs
Labels: abp-framework

#5766 Fix HTML coding error in AbpInputTagHelperService
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelperService.cs
Labels: abp-community, problem

#5345 Article: Replacing Email Template and Sending Emails
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/POST.md
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/bee.gif
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/db-migrator-1.jpg
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/db-migrator-2.jpg
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/db-migrator-3.jpg
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/email-last.jpg
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/embedded-resource-2.jpg
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/embedded-resource.jpg
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/inline-content.png
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/message.jpg
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/settings.jpg
  docs/en/Community-Articles/2020-09-09-Replacing-Email-Template-and-Sending-Emails/template-definitions.png
Labels: abp-community

#5637 Rebus Integration for Distributed Event Bus
  framework/Volo.Abp.sln
  framework/src/Volo.Abp.EventBus.Rebus/FodyWeavers.xml
  framework/src/Volo.Abp.EventBus.Rebus/FodyWeavers.xsd
  framework/src/Volo.Abp.EventBus.Rebus/Volo.Abp.EventBus.Rebus.csproj
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/AbpEventBusRebusModule.cs
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/AbpEventBusRebusOptions.cs
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/RebusDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/RebusDistributedEventHandlerAdapter.cs
  nupkg/common.ps1
Labels: abp-framework, feature

#5777 Create Rebus Integration document
  docs/en/Distributed-Event-Bus-Rebus-Integration.md
  docs/en/Distributed-Event-Bus.md
  docs/en/docs-nav.json
  docs/zh-Hans/Distributed-Event-Bus-Rebus-Integration.md
  docs/zh-Hans/Distributed-Event-Bus.md
  docs/zh-Hans/docs-nav.json
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/AbpEventBusRebusModule.cs
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/AbpRebusEventBusOptions.cs
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/RebusDistributedEventBus.cs
Labels: documentation

#5779 feat: inner html added to toaster messafe
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.html
Labels: ui-angular

#5768 Show the error message when typing the wrong email
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/en.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/sl.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/tr.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/zh-Hans.json
  modules/account/src/Volo.Abp.Account.Application/Volo/Abp/Account/AccountAppService.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/ForgotPassword.cshtml.cs
Labels: abp-module-account, problem

#5791 Fixed: Blazor Exception handling doesn't show the error message
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/ExceptionHandling/AbpExceptionHandlingLogger.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/ExceptionHandling/AbpExceptionHandlingLoggerProvider.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/ExceptionHandling/IUserExceptionInformer.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/ExceptionHandling/UserExceptionInformer.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/SimpleUiMessageService.cs
Labels: abp-framework, bug, ui-blazor

#5800 Configure AbpStringEncryptionOptions using random values in the template.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/RandomizeStringEncryptionStep.cs
  framework/src/Volo.Abp.Security/Volo/Abp/Security/AbpSecurityModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/appsettings.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/appsettings.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/appsettings.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/appsettings.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/appsettings.json
Labels: abp-cli, abp-template-app

#5831 Only store IdentityLinkUser on the Host side.
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserLinkManager.cs
Labels: abp-module-identity, enhancement

#5845 Update blazor tutorial v3.3
  docs/en/Tutorials/Part-10.md
  docs/en/Tutorials/Part-2.md
  docs/en/Tutorials/Part-3.md
  docs/en/Tutorials/Part-4.md
  docs/en/Tutorials/Part-5.md
  docs/en/Tutorials/Part-7.md
  docs/en/Tutorials/Part-9.md
  docs/en/Tutorials/images/bookstore-authors-blazor-ui.png
Labels: documentation

#5855 Improve abp_io Chinese Localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hans.json
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/zh-Hans.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/zh-Hans.json
  framework/test/Volo.Abp.Emailing.Tests/Volo/Abp/Emailing/Localization/zh-Hans.json
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/Localization/zh-Hans.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/SourceExt/zh-Hans.json
  framework/test/Volo.Abp.TextTemplating.Tests/Volo/Abp/TextTemplating/Localization/zh-Hans.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/zh-Hans.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/zh-Hans.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/zh-Hans.json
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/zh-Hans.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/zh-Hans.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hans.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/zh-Hans.json
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/zh-Hans.json
Labels: abp-io

#5861 Migration Guide for the Abp Identity Server from the v3 to the v4.
  docs/en/Migration-Guides/IdentityServer-from-v3-to-v4.md
Labels: documentation

#5836 Page Header Implementation
  framework/src/Volo.Abp.BlazoriseUI/AbpCrudPageBase.cs
  framework/src/Volo.Abp.BlazoriseUI/BreadcrumbItem.cs
  framework/src/Volo.Abp.BlazoriseUI/Components/PageHeader.razor
  framework/src/Volo.Abp.BlazoriseUI/Components/PageHeader.razor.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/SettingManagement.razor
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/SettingManagement.razor.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/_Imports.razor
Labels: ui-blazor

#5828 Cookie service implementation
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo.Abp.AspNetCore.Components.WebAssembly.csproj
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/CookieOptions.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/CookieService.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/ICookieService.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/wwwroot/abp.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/index.html
Labels: abp-framework, ui-blazor

#5868 Re-create migrations and test module templates for IDS4 4.x upgrade.
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/IdentityServer/IdentityServerDataSeedContributor.cs
Labels: abp-template-module

#5869 Configuration doc link added to Module-Development-Basics.md
  docs/en/Module-Development-Basics.md
Labels: documentation

#5833 Update Two factor localize text.
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/en.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/tr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hans.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hant.json
Labels: abp-module-identity, enhancement

#5863 Remove base call from MapToGetListOutputDtoAsync method.
  framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/CrudAppService.cs
Labels: abp-framework

#5862 Dispose IHost in AbpAspNetCoreIntegratedTestBase at end of test run
  framework/src/Volo.Abp.AspNetCore.TestBase/Volo/Abp/AspNetCore/TestBase/AbpAspNetCoreIntegratedTestBase.cs
Labels: test

#5851 Add summary to AbpApplicationCreationOptions' Configuration property.
  framework/src/Volo.Abp.Core/Volo/Abp/AbpApplicationCreationOptions.cs
Labels: enhancement

#5887 Missing Localization for Community.io
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
Labels: abp-community

#5889 Blazor UI Page alerts implementation
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/MainLayout.razor
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/Alerts/AlertList.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/Alerts/AlertManager.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/Alerts/AlertMessage.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/Alerts/AlertType.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/Alerts/IAlertManager.cs
  framework/src/Volo.Abp.BlazoriseUI/Components/AlertWrapper.cs
  framework/src/Volo.Abp.BlazoriseUI/Components/PageAlert.razor
  framework/src/Volo.Abp.BlazoriseUI/Components/PageAlert.razor.cs
Labels: abp-framework, ui-blazor

#5879 Remove some duplicate claims
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpIdentityServerBuilderExtensions.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AspNetIdentity/AbpUserClaimsFactory.cs
Labels: abp-module-identityserver

#5895 Define abp.features API in abp.js
  docs/en/UI/AspNetCore/JavaScript-API/Features.md
  npm/packs/core/src/abp.js
Labels: abp-framework, enhancement, ui-mvc

#5892 Change the IBrandingProvider namespace
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Components/Brand/Default.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Account.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Empty.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Components/DefaultBrandingProvider.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Components/IBrandingProvider.cs
  modules/blogging/app/Volo.BloggingTestApp/Branding/BloggingTestAppBrandingProvider.cs
  modules/client-simulation/demo/Volo.ClientSimulation.Demo/BrandingProvider.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Host/CmsKitBrandingProvider.cs
  modules/docs/app/VoloDocs.Web/Branding/VoloDocsBrandingProvider.cs
  modules/virtual-file-explorer/app/Volo.Abp.VirtualFileExplorer.DemoApp/Branding/AbpVirtualFileExplorerDemoAppBrandingProvider.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameBrandingProvider.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyProjectNameBrandingProvider.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameBrandingProvider.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyProjectNameBrandingProvider.cs
Labels: abp-framework, breaking change, ui-mvc

#5849 Use async to resolve the tenant.
  docs/en/Multi-Tenancy.md
  docs/zh-Hans/Multi-Tenancy.md
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/CookieTenantResolveContributor.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/DomainTenantResolveContributor.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/FormTenantResolveContributor.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/HeaderTenantResolveContributor.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/HttpTenantResolveContributerBase.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/QueryStringTenantResolveContributor.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/RouteTenantResolveContributor.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/ActionTenantResolveContributor.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/CurrentUserTenantResolveContributor.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/ITenantResolveContributor.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/ITenantResolver.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/TenantConfigurationProvider.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/TenantResolveContributorBase.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/TenantResolver.cs
Labels: abp-framework, breaking change, enhancement

#5903 Use userName instead of username for Identity's FindByUsernameAsync.
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IIdentityUserAppService.cs
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs
Labels: abp-module-identity

#5894 Prevent ReflectionHelper's GetValueByPath method use null values.
  framework/src/Volo.Abp.Core/Volo/Abp/Reflection/ReflectionHelper.cs
  framework/test/Volo.Abp.Core.Tests/Volo/Abp/Reflection/ReflectionHelper_Tests.cs
Labels: enhancement

#5909 Avoid Task<string> being null.
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/CookieTenantResolveContributor.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/DomainTenantResolveContributor.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/HeaderTenantResolveContributor.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/QueryStringTenantResolveContributor.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/RouteTenantResolveContributor.cs
Labels: abp-framework

#5864 Add XSRF-TOKEN to Swagger UI Requests
  framework/Volo.Abp.sln
  framework/src/Volo.Abp.Swashbuckle/Microsoft/AspNetCore/Builder/AbpSwaggerUIBuilderExtensions.cs
  framework/src/Volo.Abp.Swashbuckle/Volo.Abp.Swashbuckle.csproj
  framework/src/Volo.Abp.Swashbuckle/Volo/Abp/Swashbuckle/AbpSwashbuckleModule.cs
  framework/src/Volo.Abp.Swashbuckle/Volo/Abp/Swashbuckle/ISwaggerHtmlResolver.cs
  framework/src/Volo.Abp.Swashbuckle/Volo/Abp/Swashbuckle/SwaggerHtmlResolver.cs
  framework/src/Volo.Abp.Swashbuckle/wwwroot/swagger/ui/abp.swagger.js
  nupkg/common.ps1
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyCompanyName.MyProjectName.Web.Unified.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
Labels: abp-template-app, abp-template-module

#5918 Introduce Volo.Abp.AspNetCore.Components package
  framework/Volo.Abp.sln
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo.Abp.AspNetCore.Components.WebAssembly.csproj
  framework/src/Volo.Abp.AspNetCore.Components/FodyWeavers.xml
  framework/src/Volo.Abp.AspNetCore.Components/FodyWeavers.xsd
  framework/src/Volo.Abp.AspNetCore.Components/Volo.Abp.AspNetCore.Components.csproj
  framework/src/Volo.Abp.AspNetCore.Components/Volo/Abp/AspNetCore/Components/AbpWebAssemblyConventionalRegistrar.cs
  framework/src/Volo.Abp.AspNetCore.Components/Volo/Abp/AspNetCore/Components/ServiceProviderComponentActivator.cs
  nupkg/common.ps1
Labels: abp-framework, ui-blazor

#5908 Add Filter parameter to GetListAsync method of IIdentityRoleAppService.
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/GetIdentityRolesInput.cs
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IIdentityRoleAppService.cs
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityRoleAppService.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/RoleManagement.razor.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityRoleController.cs
  modules/identity/test/Volo.Abp.Identity.Application.Tests/Volo/Abp/Identity/IdentityRoleAppService_Tests.cs
Labels: abp-module-identity, enhancement

#5925 Implemented: Create auto controller routes in kebap-case
  docs/en/API/Auto-API-Controllers.md
  docs/en/Migration-Guides/Abp-4_0.md
  docs/en/Migration-Guides/images/route-4.png
  docs/en/Migration-Guides/images/route-before-4.png
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/AbpConventionalControllerOptions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/AbpServiceConvention.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/ConventionalControllerSetting.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/ConventionalRouteBuilder.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/IConventionalRouteBuilder.cs
Labels: abp-framework, breaking change, enhancement

#5923 Do not validate for primitive objects.
  docs/en/Validation.md
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/DataAnnotationObjectValidationContributor.cs
Labels: abp-framework, enhancement

#5944 Dist. Event Docs: match event object names
  docs/en/Distributed-Event-Bus.md
Labels: documentation

#5946 Update AbpCrudPageBase.cs
  framework/src/Volo.Abp.BlazoriseUI/AbpCrudPageBase.cs
Labels: breaking change, ui-blazor

#5942 Add WPF template
  build/common.ps1
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/TemplateInfoProvider.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Wpf/WpfTemplate.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Wpf/WpfTemplateBase.cs
  templates/wpf/.gitattributes
  templates/wpf/.gitignore
  templates/wpf/MyCompanyName.MyProjectName.sln
  templates/wpf/common.props
  templates/wpf/src/MyCompanyName.MyProjectName/App.xaml
  templates/wpf/src/MyCompanyName.MyProjectName/App.xaml.cs
  templates/wpf/src/MyCompanyName.MyProjectName/AssemblyInfo.cs
  templates/wpf/src/MyCompanyName.MyProjectName/HelloWorldService.cs
  templates/wpf/src/MyCompanyName.MyProjectName/MainWindow.xaml
  templates/wpf/src/MyCompanyName.MyProjectName/MainWindow.xaml.cs
  templates/wpf/src/MyCompanyName.MyProjectName/MyCompanyName.MyProjectName.csproj
  templates/wpf/src/MyCompanyName.MyProjectName/MyProjectNameModule.cs
  templates/wpf/src/MyCompanyName.MyProjectName/appsettings.json
Labels: abp-template-wpf

#5922 Add ViewComponent to DynamicProxyIgnoreTypes.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs
Labels: abp-framework

#5947 Publish an event on comment creation for the CMS Kit
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo.CmsKit.Public.Application.Contracts.csproj
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/CmsKitPublicApplicationContractsModule.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Comments/CreatedCommentEvent.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo/CmsKit/Public/Comments/CommentPublicAppService.cs
Labels: abp-module-cms-kit, feature

#5956 Fix wrong document links
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Console/ConsoleTemplate.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Wpf/WpfTemplate.cs
Labels: abp-cli

#5966 Remove the unique index of IdentityResource, ApiResource and ApiScope.
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/EntityFrameworkCore/IdentityServerDbContextModelCreatingExtensions.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations/Migrations/20201028014149_Initial.Designer.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations/Migrations/20201028014149_Initial.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations/Migrations/MyProjectNameMigrationsDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/20201028014236_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/20201028014236_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/IdentityServerHostMigrationsDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20201028014311_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20201028014311_Initial.cs
Labels: abp-module-identityserver, abp-template-app, abp-template-module

#5986 zh-Hans doc update：Getting-Started-AspNetCore-Application
  docs/zh-Hans/Getting-Started-AspNetCore-Application.md
Labels: documentation

#5987 fix a typo in zh-Hans doc
  docs/zh-Hans/Entity-Framework-Core-Migrations.md
Labels: documentation

#5983 Use global namespace in blazor.
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Pages/MyProjectName/Index.razor
Labels: abp-template-module

#5883 Blazor client-side validation
  framework/src/Volo.Abp.BlazoriseUI/AbpCrudPageBase.cs
  framework/src/Volo.Abp.BlazoriseUI/Volo.Abp.BlazoriseUI.csproj
  framework/src/Volo.Abp.Core/System/AbpObjectExtensions.cs
  modules/identity/.editorconfig
  modules/identity/src/Volo.Abp.Identity.Blazor/AbpIdentityBlazorMessageLocalizerHelper.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/AbpIdentityBlazorModule.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/RoleManagement.razor
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/RoleManagement.razor.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/AbpIdentityDomainSharedModule.cs
Labels: enhancement, ui-blazor
