Repository abpframework/abp, pull requests merged in 2020-12, with the labels that each got.

#6406 Re-organized the docs navigation menu
  docs/zh-Hans/Authentication/Social-External-Logins.md
  docs/zh-Hans/Data-Access.md
  docs/zh-Hans/Modules/Account.md
  docs/zh-Hans/Modules/Blogging.md
  docs/zh-Hans/Modules/Client-Simulation.md
  docs/zh-Hans/Modules/Cms-Kit.md
  docs/zh-Hans/Modules/Feature-Management.md
  docs/zh-Hans/Modules/Identity.md
  docs/zh-Hans/Modules/IdentityServer.md
  docs/zh-Hans/Modules/Index.md
  docs/zh-Hans/Modules/Users.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#6410 Make HangfireJobExecutionAdapter async.
  framework/src/Volo.Abp.BackgroundJobs.HangFire/Volo/Abp/BackgroundJobs/Hangfire/HangfireBackgroundJobManager.cs
  framework/src/Volo.Abp.BackgroundJobs.HangFire/Volo/Abp/BackgroundJobs/Hangfire/HangfireJobExecutionAdapter.cs
Labels: enhancement

#6365 CLI- blazor bundle and minification support
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/AbpCliCoreModule.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundleOptions.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundleTypeDefinition.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlerBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlingConsts.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlingService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/IBundler.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/IBundlingService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/PathHelper.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/Scripts/IScriptBundler.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/Scripts/ScriptBundler.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/Styles/CssRelativePathAdjuster.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/Styles/IStyleBundler.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/Styles/StyleBundler.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/BundleCommand.cs
Labels: abp-cli, ui-blazor

#6453 Update blazor in module.
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/MyProjectNameBlazorHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/wwwroot/index.html
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/wwwroot/main.css
Labels: abp-template-module

#6455 Add `MyProjectNameMenus.cs` to startup template
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Menus/MyProjectNameMenuContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Menus/MyProjectNameMenus.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyProjectNameBlazorModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/Menus/MyProjectNameMenuContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/Menus/MyProjectNameMenus.cs
Labels: abp-template-app

#6508 Devart.Data.Oracle.EFCore is supported net 5.
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Microsoft/EntityFrameworkCore/AbpOracleModelBuilderExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo.Abp.EntityFrameworkCore.Oracle.Devart.csproj
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/AbpDbContextConfigurationContextOracleDevartExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/AbpDbContextOptionsOracleDevartExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/Oracle/Devart/AbpEntityFrameworkCoreOracleDevartModule.cs
  nupkg/common.ps1
Labels: enhancement

#6514 Blazor: Support sub-application deployment
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/Branding.razor
  modules/identity/src/Volo.Abp.Identity.Blazor/AbpIdentityWebMainMenuContributor.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Menus/SettingManagementMenuContributor.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Blazor/Navigation/TenantManagementBlazorMenuContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Menus/MyProjectNameMenuContributor.cs
Labels: enhancement, ui-blazor

#6509 Localize exception messages for AbpAuthorizationException.
  framework/src/Volo.Abp.Authorization/Microsoft/AspNetCore/Authorization/AbpAuthorizationServiceExtensions.cs
  framework/src/Volo.Abp.Authorization/Volo.Abp.Authorization.csproj
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/AbpAuthorizationErrorCodes.cs
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/AbpAuthorizationModule.cs
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Localization/AbpAuthorizationResource.cs
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Localization/en.json
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Localization/tr.json
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Localization/zh-Hans.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/AspNetCore/ExceptionHandling/DefaultExceptionToErrorInfoConverter.cs
  framework/src/Volo.Abp.Features/Volo.Abp.Features.csproj
  framework/src/Volo.Abp.Features/Volo/Abp/Features/AbpFeatureErrorCodes.cs
  framework/src/Volo.Abp.Features/Volo/Abp/Features/AbpFeaturesModule.cs
  framework/src/Volo.Abp.Features/Volo/Abp/Features/FeatureCheckerExtensions.cs
  framework/src/Volo.Abp.Features/Volo/Abp/Features/Localization/AbpFeatureResource.cs
  framework/src/Volo.Abp.Features/Volo/Abp/Features/Localization/en.json
  framework/src/Volo.Abp.Features/Volo/Abp/Features/Localization/tr.json
  framework/src/Volo.Abp.Features/Volo/Abp/Features/Localization/zh-Hans.json
  framework/src/Volo.Abp.Security/Volo/Abp/Authorization/AbpAuthorizationException.cs
  framework/test/Volo.Abp.Authorization.Tests/Microsoft/AspNetCore/Authorization/AbpAuthorizationServiceExtensions_Tests.cs
  framework/test/Volo.Abp.Authorization.Tests/Volo.Abp.Authorization.Tests.csproj
  framework/test/Volo.Abp.Authorization.Tests/Volo/Abp/Authorization/AbpAuthorizationTestModule.cs
  framework/test/Volo.Abp.Features.Tests/Volo.Abp.Features.Tests.csproj
  framework/test/Volo.Abp.Features.Tests/Volo/Abp/Features/AbpFeaturesTestModule.cs
  framework/test/Volo.Abp.Features.Tests/Volo/Abp/Features/FeatureCheckerExtensions_Tests.cs
Labels: abp-framework, enhancement

#6469 ABP CLI: Use app-pro template by default if developer has an active ABP Commercial license
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ITemplateInfoProvider.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/TemplateInfoProvider.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/TemplateProjectBuilder.cs
Labels: abp-cli, enhancement

#6440 Add antiforgery token to the HTTP request headers for the Blazor UI
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/AbpBlazorClientHttpMessageHandler.cs
Labels: enhancement, ui-blazor

#6482 Add responseCallback to datatables.createAjax function.
  docs/en/UI/AspNetCore/Data-Tables.md
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js
Labels: enhancement

#6522 Update command allow to specify version
  docs/en/CLI.md
  docs/zh-Hans/CLI.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/UpdateCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/NuGet/NuGetService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NpmPackagesUpdater.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/VoloNugetPackagesVersionUpdater.cs
Labels: abp-cli, enhancement

#6551 Check ValueType and Validator is null
  modules/feature-management/src/Volo.Abp.FeatureManagement.Blazor/Components/FeatureManagementModal.razor.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/FeatureManager.cs
Labels: abp-module-feature-management, bug

#6533 CLI: Run abp bundle on add-module for Blazor UI
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectNugetPackageAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: abp-cli, enhancement

#6421 Use Microsoft.SourceLink.GitHub
  common.props
  modules/cms-kit/common.props
  modules/cms-kit/host/Volo.CmsKit.Host.Shared/Volo.CmsKit.Host.Shared.csproj
  modules/cms-kit/host/Volo.CmsKit.HttpApi.Host/Volo.CmsKit.HttpApi.Host.csproj
  modules/cms-kit/host/Volo.CmsKit.Web.Host/Volo.CmsKit.Web.Host.csproj
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Volo.CmsKit.Web.Unified.csproj
  modules/cms-kit/test/Volo.CmsKit.Application.Tests/Volo.CmsKit.Application.Tests.csproj
  modules/cms-kit/test/Volo.CmsKit.Domain.Tests/Volo.CmsKit.Domain.Tests.csproj
  modules/cms-kit/test/Volo.CmsKit.EntityFrameworkCore.Tests/Volo.CmsKit.EntityFrameworkCore.Tests.csproj
  modules/cms-kit/test/Volo.CmsKit.MongoDB.Tests/Volo.CmsKit.MongoDB.Tests.csproj
  modules/cms-kit/test/Volo.CmsKit.TestBase/Volo.CmsKit.TestBase.csproj
  modules/identityserver/common.props
  templates/console/common.props
  templates/module/aspnet-core/common.props
  templates/wpf/common.props
Labels: enhancement

#6566 Enhancements for the TreeComponent
  npm/ng-packs/packages/components/package.json
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.html
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.scss
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.ts
  npm/ng-packs/packages/components/tree/src/lib/tree.module.ts
Labels: ui-angular

#6575 Page toolbar extensions applied for the modules
  modules/identity/src/Volo.Abp.Identity.Web/AbpIdentityWebModule.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/Index.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/Index.cshtml
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/AbpTenantManagementWebModule.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/Index.cshtml
Labels: abp-module-identity, abp-module-tenant-management, feature, ui-mvc

#6582 Update blazor document
  docs/en/Tutorials/Part-2.md
  docs/en/Tutorials/Part-3.md
  docs/en/Tutorials/Part-9.md
Labels: documentation

#6589 Make GuidGenerator in EfCoreRepository public.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Domain/Repositories/EntityFrameworkCore/EfCoreRepository.cs
Labels: problem

#6592 Create @abp/cms-kit npm package
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Packages/Volo/Abp/AspNetCore/Mvc/UI/Packages/CmsKit/CmsKitScriptContributor.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Packages/Volo/Abp/AspNetCore/Mvc/UI/Packages/CmsKit/CmsKitStyleContributor.cs
  npm/packs/cms-kit/abp.resourcemapping.js
  npm/packs/cms-kit/package.json
Labels: abp-module-cms-kit, enhancement

#6532 Compatible with PhysicalFileProvider in the TextTemplating.
  framework/src/Volo.Abp.TextTemplating/Volo/Abp/TextTemplating/VirtualFiles/LocalizedTemplateContentReaderFactory.cs
  framework/src/Volo.Abp.TextTemplating/Volo/Abp/TextTemplating/VirtualFiles/VirtualFolderLocalizedTemplateContentReader.cs
  framework/test/Volo.Abp.TextTemplating.Tests/Volo.Abp.TextTemplating.Tests.csproj
  framework/test/Volo.Abp.TextTemplating.Tests/Volo/Abp/TextTemplating/VirtualFiles/LocalizedTemplateContentReaderFactory_Tests.cs
  framework/test/Volo.Abp.TextTemplating.Tests/Volo/Abp/TextTemplating/VirtualFiles/VirtualFileTemplateContributor_Tests.cs
Labels: enhancement

#6480 Use IPermissionStore in PermissionManagementProvider
  modules/identity/src/Volo.Abp.PermissionManagement.Domain.Identity/Volo/Abp/PermissionManagement/Identity/RolePermissionManagementProvider.cs
  modules/identity/src/Volo.Abp.PermissionManagement.Domain.Identity/Volo/Abp/PermissionManagement/Identity/UserPermissionManagementProvider.cs
  modules/identityserver/src/Volo.Abp.PermissionManagement.Domain.IdentityServer/Volo/Abp/PermissionManagement/IdentityServer/ClientPermissionManagementProvider.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionManagementProvider.cs
  modules/permission-management/test/Volo.Abp.PermissionManagement.TestBase/Volo/Abp/PermissionManagement/TestPermissionManagementProvider.cs
Labels: enhancement

#6565 Use location.assign refresh page to avoid form re-submit.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Pages/Abp/MultiTenancy/tenant-switch.js
Labels: enhancement

#6616 Update Part-2.md
  docs/en/Tutorials/Part-2.md
  docs/en/Tutorials/Part-9.md
Labels: documentation

#6573 Lookup property bug fix
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelperService.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/Modularity/EntityExtensionConfiguration.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/CreateModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/EditModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/CreateModal.cshtml
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/EditModal.cshtml
Labels: ui-mvc

#6628 Applied extensibility to the modules for the Angular UI
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.html
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.ts
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.html
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
  npm/ng-packs/packages/identity/src/lib/defaults/default-roles-entity-actions.ts
  npm/ng-packs/packages/identity/src/lib/defaults/default-roles-entity-props.ts
  npm/ng-packs/packages/identity/src/lib/defaults/default-roles-form-props.ts
  npm/ng-packs/packages/identity/src/lib/defaults/default-roles-toolbar-actions.ts
  npm/ng-packs/packages/identity/src/lib/defaults/default-users-entity-actions.ts
  npm/ng-packs/packages/identity/src/lib/defaults/default-users-entity-props.ts
  npm/ng-packs/packages/identity/src/lib/defaults/default-users-form-props.ts
  npm/ng-packs/packages/identity/src/lib/defaults/default-users-toolbar-actions.ts
  npm/ng-packs/packages/identity/src/lib/guards/extensions.guard.ts
  npm/ng-packs/packages/identity/src/lib/guards/index.ts
  npm/ng-packs/packages/identity/src/lib/identity-routing.module.ts
  npm/ng-packs/packages/identity/src/lib/identity.module.ts
  npm/ng-packs/packages/identity/src/lib/models/config-options.ts
  npm/ng-packs/packages/identity/src/lib/models/index.ts
  npm/ng-packs/packages/identity/src/lib/tokens/extensions.token.ts
  npm/ng-packs/packages/identity/src/lib/tokens/index.ts
Labels: ui-angular

#6635 Applied the extensibility system for the Tenant Management module
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.html
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.ts
  npm/ng-packs/packages/tenant-management/src/lib/defaults/default-tenants-entity-actions.ts
  npm/ng-packs/packages/tenant-management/src/lib/defaults/default-tenants-entity-props.ts
  npm/ng-packs/packages/tenant-management/src/lib/defaults/default-tenants-form-props.ts
  npm/ng-packs/packages/tenant-management/src/lib/defaults/default-tenants-toolbar-actions.ts
  npm/ng-packs/packages/tenant-management/src/lib/guards/extensions.guard.ts
  npm/ng-packs/packages/tenant-management/src/lib/guards/index.ts
  npm/ng-packs/packages/tenant-management/src/lib/models/config-options.ts
  npm/ng-packs/packages/tenant-management/src/lib/models/index.ts
  npm/ng-packs/packages/tenant-management/src/lib/tenant-management-routing.module.ts
  npm/ng-packs/packages/tenant-management/src/lib/tenant-management.module.ts
  npm/ng-packs/packages/tenant-management/src/lib/tokens/extensions.token.ts
  npm/ng-packs/packages/tenant-management/src/lib/tokens/index.ts
  npm/ng-packs/packages/tenant-management/src/public-api.ts
Labels: ui-angular

#6643 Update Part-7.md
  docs/en/Tutorials/Part-7.md
Labels: documentation

#6619 Missing localizations for ABP Community
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
Labels: abp-community

#6659 [dev-issue-6369]Added the "scrollable" feature for the Bootstrap Modal Tag Helper.
  docs/en/UI/AspNetCore/Tag-Helpers/Modals.md
  docs/zh-Hans/UI/AspNetCore/Tag-Helpers/Modals.md
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Modal/AbpModalTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Modal/AbpModalTagHelperService.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Components/Modals.cshtml
Labels: enhancement

#6668 Bundle command improvements
  docs/en/CLI.md
  docs/en/UI/Blazor/Global-Scripts-Styles.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundleConfig.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlerBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlingMode.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlingService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/IBundlingService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/Scripts/ScriptBundler.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/Styles/StyleBundler.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/BundleCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Configuration/AbpCliConfig.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Configuration/ConfigReader.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Configuration/IConfigReader.cs
  framework/src/Volo.Abp.Cli/Properties/launchSettings.json
  framework/src/Volo.Abp.Core/Volo/Abp/Bundling/BundleContext.cs
  framework/src/Volo.Abp.Core/Volo/Abp/Bundling/BundleDefinition.cs
  framework/src/Volo.Abp.Core/Volo/Abp/Bundling/BundleParameterDictionary.cs
  framework/src/Volo.Abp.Core/Volo/Abp/Bundling/IBundleContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyProjectNameBundleContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/appsettings.json
Labels: abp-cli, enhancement

#6669 Renamed the patch method of InternalStore to deepPatch and add a new method called patch
  npm/ng-packs/packages/core/src/lib/tests/internal-store.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/internal-store-utils.ts
Labels: ui-angular

#6649 Swagger UI: Set AntiForgeryToken every time
  framework/src/Volo.Abp.Swashbuckle/Microsoft/AspNetCore/Builder/AbpSwaggerUIBuilderExtensions.cs
  framework/src/Volo.Abp.Swashbuckle/Volo.Abp.Swashbuckle.csproj
  framework/src/Volo.Abp.Swashbuckle/Volo/Abp/Swashbuckle/AbpSwashbuckleController.cs
  framework/src/Volo.Abp.Swashbuckle/Volo/Abp/Swashbuckle/AbpSwashbuckleModule.cs
  framework/src/Volo.Abp.Swashbuckle/wwwroot/swagger/ui/abp.js
  framework/src/Volo.Abp.Swashbuckle/wwwroot/swagger/ui/abp.swagger.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
Labels: enhancement

#6678 Implemented: Do not register repository classes to dependency injection by default
  framework/src/Volo.Abp.Core/Volo/Abp/DependencyInjection/DefaultConventionalRegistrar.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/AbpDddDomainModule.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/AbpRepositoryConventionalRegistrar.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/BasicRepositoryBase.cs
Labels: abp-framework, breaking change

#6651 Enhanced Angular UI unit test setup
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/models/common.ts
  npm/ng-packs/packages/core/src/lib/pipes/localization.pipe.ts
  npm/ng-packs/packages/core/src/lib/utils/localization-utils.ts
  npm/ng-packs/packages/core/testing/ng-package.json
  npm/ng-packs/packages/core/testing/src/lib/core-testing.module.ts
  npm/ng-packs/packages/core/testing/src/lib/pipes/index.ts
  npm/ng-packs/packages/core/testing/src/lib/pipes/mock-localization.pipe.ts
  npm/ng-packs/packages/core/testing/src/public-api.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/confirmation.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/error.handler.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/toaster.service.spec.ts
  npm/ng-packs/tsconfig.json
Labels: ui-angular

#6683 Always use the repository method to update the changed entity.
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/OrganizationUnitManager.cs
Labels: abp-module-identity, bug

#6663 Set to # only for null URL
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/FirstLevelNavMenuItem.razor
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/SecondLevelNavMenuItem.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Menus/MyProjectNameMenuContributor.cs
Labels: ui-blazor

#6691 Change CSS source of the Community Article
  docs/en/Community-Articles/2020-12-10-How-to-Integrate-the-Telerik-Blazor-Component/POST.md
Labels: abp-community

#6701 Set job name for Hangfire background job integration
  framework/src/Volo.Abp.BackgroundJobs.HangFire/Volo/Abp/BackgroundJobs/Hangfire/AbpBackgroundJobsHangfireModule.cs
  framework/src/Volo.Abp.BackgroundJobs.HangFire/Volo/Abp/BackgroundJobs/Hangfire/AbpDashboardOptionsProvider.cs
Labels: abp-framework, enhancement

#6710 Removing Form attribute usages from SubmitButton
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/RoleManagement.razor
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor
  modules/tenant-management/src/Volo.Abp.TenantManagement.Blazor/Pages/TenantManagement/TenantManagement.razor
Labels: abp-module-identity, abp-module-tenant-management, enhancement, ui-blazor

#6718 Added samples from abp community articles.
  docs/en/Samples/Index.md
Labels: abp-samples, documentation, enhancement

#6755 Add AbpIdNameTagHelper
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpIdNameTagHelper.cs
Labels: enhancement

#6762 Performance Test Application (Initial)
  test/AbpPerfTest/AbpPerfTest.WithAbp/AbpPerfTest.WithAbp.csproj
  test/AbpPerfTest/AbpPerfTest.WithAbp/AppModule.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/Controllers/BookController.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/Dtos/BookDto.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/Dtos/CreateUpdateBookDto.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/Entities/Book.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/EntityFramework/BookDbContext.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/EntityFramework/BookDbContextFactory.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/Migrations/20201222135738_Added_Books.Designer.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/Migrations/20201222135738_Added_Books.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/Migrations/BookDbContextModelSnapshot.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/Program.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/Properties/launchSettings.json
  test/AbpPerfTest/AbpPerfTest.WithAbp/Startup.cs
  test/AbpPerfTest/AbpPerfTest.WithAbp/appsettings.Development.json
  test/AbpPerfTest/AbpPerfTest.WithAbp/appsettings.json
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/AbpPerfTest.WithoutAbp.csproj
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/Controllers/BookController.cs
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/Dtos/BookDto.cs
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/Dtos/CreateUpdateBookDto.cs
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/Entities/Book.cs
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/EntityFramework/BookDbContext.cs
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/EntityFramework/BookDbContextFactory.cs
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/Migrations/20201222132615_Added_Books.Designer.cs
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/Migrations/20201222132615_Added_Books.cs
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/Migrations/BookDbContextModelSnapshot.cs
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/Program.cs
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/Properties/launchSettings.json
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/Startup.cs
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/appsettings.Development.json
  test/AbpPerfTest/AbpPerfTest.WithoutAbp/appsettings.json
  test/AbpPerfTest/AbpPerfTest.sln
Labels: test

#6753 Avoid using array index in taghelper expressions
  modules/account/src/Volo.Abp.Account.Web.IdentityServer/Pages/Consent.cshtml
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml
Labels: enhancement

#6747 Improved permission management modal performance
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/PermissionManagementModal.cshtml
Labels: abp-module-permission-management, enhancement, ui-mvc

#6771 Localize the submit button text.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpDynamicformTagHelperService.cs
Labels: enhancement

#6772 Add more http test to JMeter.
  test/AbpPerfTest/_jmeter/SimpleTestPlan.jmx
  test/AbpPerfTest/_jmeter/SimpleTestPlanWithoutAbp.jmx
Labels: test

#6774 Blazor theme menu supports target
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/FirstLevelNavMenuItem.razor
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/LoginDisplay.razor
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/SecondLevelNavMenuItem.razor
Labels: enhancement, ui-blazor

#6734 Added RedirectAlowedUrls
  framework/src/Volo.Abp.AspNetCore.Mvc.UI/Volo/Abp/AspNetCore/Mvc/UI/RazorPages/AbpPageModel.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo.Abp.AspNetCore.Mvc.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Authentication/ChallengeAccountController.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Urls/AppUrlOptions.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Urls/AppUrlProvider.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Urls/IAppUrlProvider.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/AccountPageModel.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/appsettings.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/appsettings.json
Labels: abp-framework, abp-template-app, enhancement

#6730 Add LogoUrl to Brand component.
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/Branding.razor
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Components/Brand/Default.cshtml
Labels: ui-blazor, ui-mvc

#6722 Update English localization for Community
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
Labels: abp-community

#6728 Exclude UserCache of ProxyScriptingModel as the cache key.
  framework/src/Volo.Abp.Http/Volo/Abp/Http/ProxyScripting/ProxyScriptManager.cs
Labels: abp-framework, enhancement

#6778 Set returnUrl for blazor account manage button
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Menus/MyProjectNameMenuContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/appsettings.json
Labels: abp-template-app, ui-blazor

#6737 Automate DBMS selection by the ABP CLI
  docs/en/CLI.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/Services/SourceCodeDownloadService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/DatabaseManagementSystem.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/DatabaseManagementSystemChangeStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/TemplateProjectBuildPipelineBuilder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ProjectBuildArgs.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/EfCoreMigrationRecreater.cs
Labels: abp-cli, feature

#6789 Fix the wrong document
  docs/en/UI/Blazor/Theming.md
Labels: documentation

#6800 Add reset password localized text
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/de-DE.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/en.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/es.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/sl.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/tr.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/zh-Hans.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/zh-Hant.json
Labels: abp-module-account

#6798 add wait services
  npm/ng-packs/packages/core/src/lib/interceptors/api.interceptor.ts
  npm/ng-packs/packages/core/src/lib/services/http-wait.service.ts
  npm/ng-packs/packages/core/src/lib/services/index.ts
  npm/ng-packs/packages/core/src/lib/services/lazy-load.service.ts
  npm/ng-packs/packages/core/src/lib/services/resource-wait.service.ts
  npm/ng-packs/packages/core/src/lib/services/router-wait.service.ts
  npm/ng-packs/packages/core/src/lib/tests/api.interceptor.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/lazy-load.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/loader-bar/loader-bar.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/loader-bar.component.spec.ts
Labels: ui-angular

#6801 Fix databaseProvider parameter of thanks page url
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
Labels: abp-cli

#6804 Fix: Cli - Incorrect port settings
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/RemoveUnnecessaryPortsStep.cs
Labels: abp-cli, enhancement

#6814 Fix typo
  docs/zh-Hans/Domain-Driven-Design-Implementation-Guide.md
Labels: documentation

#6818 Enabled swagger login for HostWithIds project
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateChangeDbMigratorPortSettingsStep.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/appsettings.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/appsettings.json
Labels: abp-cli, abp-template-app

#6841 Support ManifestDirectoryInfo and ManifestFileInfo
  modules/virtual-file-explorer/src/Volo.Abp.VirtualFileExplorer.Web/AbpVirtualFileExplorerWebModule.cs
  modules/virtual-file-explorer/src/Volo.Abp.VirtualFileExplorer.Web/Pages/VirtualFileExplorer/Index.cshtml.cs
  modules/virtual-file-explorer/src/Volo.Abp.VirtualFileExplorer.Web/VirtualFileExplorerConsts.cs
  modules/virtual-file-explorer/src/Volo.Abp.VirtualFileExplorer.Web/Volo.Abp.VirtualFileExplorer.Web.csproj
Labels: abp-module-virtual-file-explorer, enhancement

#6821 CMS-Kit Global Feature Definitions For Content And Tag
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Pages/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/GlobalFeatures/ContentsFeature.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/GlobalFeatures/GlobalCmsKitFeatures.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/GlobalFeatures/TagsFeature.cs
Labels: abp-module-cms-kit

#6850 Cms kit - Tags Cleaning
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20201228083120_Updated_Tag_Removed_HexColor.Designer.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20201228083120_Updated_Tag_Removed_HexColor.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/UnifiedDbContextModelSnapshot.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Pages/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Common.Application.Contracts/Volo/CmsKit/Tags/GetRelatedTagsInput.cs
  modules/cms-kit/src/Volo.CmsKit.Common.Application.Contracts/Volo/CmsKit/Tags/TagDto.cs
  modules/cms-kit/src/Volo.CmsKit.Common.Application/Volo/CmsKit/Tags/TagAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Common.Web/Pages/CmsKit/Shared/Components/Tags/Default.cshtml
  modules/cms-kit/src/Volo.CmsKit.Common.Web/Pages/CmsKit/Shared/Components/Tags/TagViewComponent.cs
  modules/cms-kit/src/Volo.CmsKit.Common.Web/Pages/CmsKit/Shared/Components/Tags/default.css
  modules/cms-kit/src/Volo.CmsKit.Common.Web/Volo.CmsKit.Common.Web.csproj
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Tags/TagConsts.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Tags/ITagManager.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Tags/Tag.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Tags/TagManager.cs
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/EntityFrameworkCore/CmsKitDbContextModelCreatingExtensions.cs
Labels: abp-module-cms-kit

#6795 CLI: just delete migrations instead of recreating when -dbms is used
  docs/en/CLI.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/EfCoreMigrationAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/EfCoreMigrationManager.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/EfCoreMigrationRecreater.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: abp-cli, enhancement

#6851 Cms kit - Tags EfCore Query Update
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/Tags/EfCoreTagRepository.cs
Labels: abp-module-cms-kit

#6858 Cms kit - Tags MongoDb Query Update
  modules/cms-kit/src/Volo.CmsKit.MongoDB/Volo/CmsKit/MongoDB/Tags/MongoTagRepository.cs
Labels: abp-module-cms-kit

#6867 CmsKit - Convert Tag Mongo Query to LINQ
  modules/cms-kit/src/Volo.CmsKit.MongoDB/Volo/CmsKit/MongoDB/Tags/MongoTagRepository.cs
Labels: abp-module-cms-kit

#6876 Page Feature and dependent features implementation
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/GlobalFeatures/GlobalCmsKitFeatures.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/GlobalFeatures/PagesFeature.cs
  modules/cms-kit/test/Volo.CmsKit.Domain.Tests/Features/GlobalCmsKitFeatures_Tests.cs
Labels: abp-module-cms-kit

#6885 Make ContainerName nullable
  framework/src/Volo.Abp.BlobStoring.Aliyun/Volo/Abp/BlobStoring/Aliyun/AliyunBlobProvider.cs
  framework/src/Volo.Abp.BlobStoring.Aliyun/Volo/Abp/BlobStoring/Aliyun/AliyunBlobProviderConfiguration.cs
  framework/src/Volo.Abp.BlobStoring.Aws/Volo/Abp/BlobStoring/Aws/AwsBlobProviderConfiguration.cs
  framework/src/Volo.Abp.BlobStoring.Azure/Volo/Abp/BlobStoring/Azure/AzureBlobProviderConfiguration.cs
  framework/src/Volo.Abp.BlobStoring.Minio/Volo/Abp/BlobStoring/Minio/MinioBlobProviderConfiguration.cs
Labels: abp-framework

#6866 Fixed testing problems with modal, "New" button, and Actions dropdown
  npm/ng-packs/packages/core/src/lib/models/utility.ts
  npm/ng-packs/packages/core/src/lib/services/permission.service.ts
  npm/ng-packs/packages/core/src/lib/utils/internal-store-utils.ts
  npm/ng-packs/packages/core/testing/src/lib/core-testing.module.ts
  npm/ng-packs/packages/core/testing/src/lib/services/index.ts
  npm/ng-packs/packages/core/testing/src/lib/services/mock-permission.service.ts
  npm/ng-packs/packages/core/testing/src/public-api.ts
Labels: ui-angular

#6872 Cms kit - Tag admin app services
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Pages/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/CmsKitAdminRemoteServiceConsts.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Tags/ITagAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Tags/TagCreateDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Tags/TagGetListInput.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Tags/TagUpdateDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Permissions/CmsKitAdminPermissionDefinitionProvider.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Permissions/CmsKitAdminPermissions.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo/CmsKit/Admin/Tags/TagAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi/Volo/CmsKit/Admin/Tags/TagController.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/tr.json
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Tags/TagManager.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Tags/GetRelatedTagsInput.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Tags/ITagAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo/CmsKit/Public/Tags/TagAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi/Volo/CmsKit/Public/Tags/TagController.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Tags/Default.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Tags/TagViewComponent.cs
  modules/cms-kit/test/Volo.CmsKit.Application.Tests/Tags/TagAppService_Tests.cs
Labels: abp-module-cms-kit

#6873 Cli: Change NuGet.config file path for module source-code download
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Module/ModuleTemplateBase.cs
Labels: abp-cli

#6877 filter and delay added to http wait service
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/services/http-wait.service.ts
  npm/ng-packs/packages/core/src/lib/utils/http-utils.ts
  npm/ng-packs/packages/core/src/lib/utils/index.ts
Labels: ui-angular

#6913 Improved AddAbpOpenIdConnect
  framework/src/Volo.Abp.AspNetCore.Authentication.OpenIdConnect/Microsoft/Extensions/DependencyInjection/AbpOpenIdConnectExtensions.cs
Labels: abp-framework, enhancement

#6918 Use GetCancellationToken method to pass cancellation tokens.
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/Contents/EfCoreContentRepository.cs
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/Tags/EfCoreTagRepository.cs
  modules/cms-kit/src/Volo.CmsKit.MongoDB/Volo/CmsKit/MongoDB/Contents/MongoContentRepository.cs
  modules/cms-kit/src/Volo.CmsKit.MongoDB/Volo/CmsKit/MongoDB/Tags/MongoTagRepository.cs
Labels: abp-module-cms-kit

#6901 Cms Kit - Tag Refactoring
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Tags/TagCreateDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Tags/TagUpdateDto.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/CmsKitErrorCodes.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Tags/TagAlreadyExistException.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Tags/TagManager.cs
  modules/cms-kit/test/Volo.CmsKit.Application.Tests/Tags/TagAdminAppService_Tests.cs
  modules/cms-kit/test/Volo.CmsKit.Application.Tests/Tags/TagPublicAppService_Tests.cs
Labels: abp-module-cms-kit

#6932 Cms Kit - Fix of Tag Permissions
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Permissions/CmsKitAdminPermissionDefinitionProvider.cs
Labels: abp-module-cms-kit
