Repository abpframework/abp, pull requests merged in 2020-05, with the labels that each got.

#3794 Compare the value of the property to determine whether it is changed.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/EntityHistory/EntityHistoryHelper.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/App/Entities/AppEntityWithDisableAuditingAndPropertyHasAudited.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/Auditing_Tests.cs
Labels: abp-framework

#3700 Wrong polish culture code in translation file name
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/pl-PL.json
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Localization/Resource/pl-PL.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/pl-PL.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/pl-PL.json
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Localization/Resource/pl-PL.json
  framework/test/Volo.Abp.Emailing.Tests/Volo/Abp/Emailing/Localization/pl-PL.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/CountryNames/pl-PL.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/Validation/pl-PL.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Source/pl-PL.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/SourceExt/pl-PL.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/pl-PL.json
  modules/blogging/src/Volo.Blogging.Application.Contracts/Volo/Blogging/Localization/Resources/Blogging/ApplicationContracts/pl-PL.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/pl-PL.json
  modules/docs/app/VoloDocs.Web/Localization/Resources/VoloDocs/Web/pl-PL.json
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/pl-PL.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/pl-PL.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/pl-PL.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/pl-PL.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain.Shared/Volo/Abp/PermissionManagement/Localization/Domain/pl-PL.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/pl-PL.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/pl-PL.json
  samples/MicroserviceDemo/modules/product/src/ProductManagement.Application.Contracts/ProductManagement/Localization/ApplicationContracts/pl-PL.json
  samples/MicroserviceDemo/modules/product/src/ProductManagement.Domain/ProductManagement/Localization/Domain/pl-PL.json
  samples/MicroserviceDemo/modules/product/src/ProductManagement.Domain/ProductManagement/Localization/Domain/pl.json
  samples/MicroserviceDemo/modules/product/src/ProductManagement.Web/Localization/Resources/ProductManagement/pl-PL.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/pl-PL.json
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/pl-PL.json
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/pl.json
Labels: breaking change

#3809 Translate part-2 document
  docs/zh-Hans/Tutorials/Part-1.md
  docs/zh-Hans/Tutorials/Part-2.md
Labels: documentation

#3814 Translate part-3 & modifying menu document
  docs/en/Tutorials/Part-3.md
  docs/zh-Hans/Tutorials/Part-2.md
  docs/zh-Hans/Tutorials/Part-3.md
  docs/zh-Hans/UI/Angular/Config-State.md
  docs/zh-Hans/UI/Angular/Modifying-the-Menu.md
  docs/zh-Hans/UI/Angular/images/navigation-menu-after-patching.png
  docs/zh-Hans/UI/Angular/images/navigation-menu-search-input.png
  docs/zh-Hans/UI/Angular/images/navigation-menu-via-app-routing.png
  docs/zh-Hans/UI/Angular/images/navigation-menu-via-config-state.png
  docs/zh-Hans/docs-nav.json
Labels: documentation

#3771 blog: Code blocks highlighed
  modules/blogging/src/Volo.Blogging.Web/BloggingWebModule.cs
  modules/blogging/src/Volo.Blogging.Web/Bundling/PrismjsScriptBundleContributorBloggingExtension.cs
  modules/blogging/src/Volo.Blogging.Web/Bundling/PrismjsStyleBundleContributorBloggingExtension.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/BloggingPage.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml
  modules/blogging/src/Volo.Blogging.Web/Volo.Blogging.Web.csproj
  npm/packs/blogging/package.json
Labels: abp-module-blogging, feature

#3821 Fixed circular dependency problems in ng-packs
  npm/ng-packs/packages/core/src/lib/services/localization.service.ts
  npm/ng-packs/packages/core/src/lib/states/config.state.ts
  npm/ng-packs/packages/core/src/lib/states/session.state.ts
  npm/ng-packs/packages/core/src/lib/strategies/projection.strategy.ts
  npm/ng-packs/packages/core/src/lib/tests/config.state.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/dynamic-layout.component.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/localization.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/session.state.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/toast-container/toast-container.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/confirmation.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/toaster.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: ui-angular

#3801 make virtual file system return the root directory
  framework/src/Volo.Abp.VirtualFileSystem/Volo/Abp/VirtualFileSystem/DictionaryBasedFileProvider.cs
  framework/src/Volo.Abp.VirtualFileSystem/Volo/Abp/VirtualFileSystem/VirtualFilePathHelper.cs
  framework/test/Volo.Abp.VirtualFileSystem.Tests/Volo/Abp/VirtualFileSystem/VirtualFileProvider_Tests.cs
Labels: abp-framework

#3683 Optimize MyProjectNameDbMigrationService
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Data/MyProjectNameDbMigrationService.cs
Labels: abp-template-app, enhancement

#3843 Add AbpTenantManagementEntityFrameworkCoreModule to host module dependencies
  samples/MicroserviceDemo/microservices/BloggingService.Host/BloggingService.Host.csproj
  samples/MicroserviceDemo/microservices/BloggingService.Host/BloggingServiceHostModule.cs
  samples/MicroserviceDemo/microservices/ProductService.Host/ProductService.Host.csproj
  samples/MicroserviceDemo/microservices/ProductService.Host/ProductServiceHostModule.cs
Labels: abp-samples

#3846 Fixed nextValue/previousValue mismatch in LinkedList
  npm/packs/utils/projects/utils/src/lib/linked-list.ts
Labels: ui-common

#3781 Update Getting-Started.md(Tiered project require redis)
  docs/en/Getting-Started.md
  docs/zh-Hans/Getting-Started.md
Labels: documentation

#3775 Fixes #3774 - dutch localization
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/nl.json
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Localization/Resources/AbpDdd/nl.json
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/nl.json
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpLocalization/nl.json
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Localization/Resource/nl.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/nl.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/nl.json
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Localization/Resource/nl.json
  framework/test/Volo.Abp.Emailing.Tests/Volo/Abp/Emailing/Localization/nl.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/CountryNames/nl.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/Validation/nl.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Source/nl.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/SourceExt/nl.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/nl.json
  modules/blogging/src/Volo.Blogging.Application.Contracts/Volo/Blogging/Localization/Resources/Blogging/ApplicationContracts/nl.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/nl.json
  modules/docs/app/VoloDocs.Web/Localization/Resources/VoloDocs/Web/nl.json
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/nl.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/nl.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/nl.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/nl.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/nl.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain.Shared/Volo/Abp/PermissionManagement/Localization/Domain/nl.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/nl.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/nl.json
Labels: abp-framework, enhancement

#3773 Fixes #3727 - german localization
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/de.json
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Localization/Resources/AbpDdd/de.json
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/de.json
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpLocalization/de.json
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Localization/Resource/de.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/de.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/cs.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/de.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/en.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/es.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/pt-BR.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/ru.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/tr.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/zh-Hans.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/zh-Hant.json
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Localization/Resource/de.json
  framework/test/Volo.Abp.Emailing.Tests/Volo/Abp/Emailing/Localization/de.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/AbpLocalization_Tests.cs
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/CountryNames/de.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/Validation/de.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Source/de.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/SourceExt/de.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/de.json
  modules/blogging/src/Volo.Blogging.Application.Contracts/Volo/Blogging/Localization/Resources/Blogging/ApplicationContracts/de.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/de.json
  modules/docs/app/VoloDocs.Web/Localization/Resources/VoloDocs/Web/de.json
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/de.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/de.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/de.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/de.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/de.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain.Shared/Volo/Abp/PermissionManagement/Localization/Domain/de.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/de.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/de.json
Labels: abp-framework, enhancement

#3847 Add LogoReverseUrl for black backgrounds
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Components/DefaultBrandingProvider.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Components/IBrandingProvider.cs
Labels: abp-framework, enhancement

#3831 Update document
  docs/zh-Hans/Localization.md
  docs/zh-Hans/Object-Extensions.md
Labels: documentation

#3721 Enhanced reindex function.
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Documents/IDocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Projects/IProjectAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Projects/ReindexInput.cs
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Documents/DocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Projects/ProjectAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi/Volo/Docs/Admin/DocumentsAdminController.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi/Volo/Docs/Admin/ProjectsAdminController.cs
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/Index.cshtml
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/index.js
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/ElasticDocumentFullSearch.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/IDocumentFullSearch.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/en.json
Labels: abp-module-docs, enhancement

#3851 Split ApplicaitonLayoutComponent into smaller components
  npm/ng-packs/packages/theme-basic/src/lib/components/application-layout/application-layout.component.html
  npm/ng-packs/packages/theme-basic/src/lib/components/application-layout/application-layout.component.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/index.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/logo/logo.component.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/nav-items/nav-items.component.html
  npm/ng-packs/packages/theme-basic/src/lib/components/nav-items/nav-items.component.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/routes/routes.component.html
  npm/ng-packs/packages/theme-basic/src/lib/components/routes/routes.component.ts
  npm/ng-packs/packages/theme-basic/src/lib/enums/components.ts
  npm/ng-packs/packages/theme-basic/src/lib/theme-basic.module.ts
Labels: enhancement, ui-angular

#3877 Update dynamic-csharp-api-clients document
  docs/en/API/Dynamic-CSharp-API-Clients.md
  docs/zh-Hans/API/Dynamic-CSharp-API-Clients.md
  docs/zh-Hans/Customizing-Application-Modules-Guide.md
  docs/zh-Hans/Entity-Framework-Core-Migrations.md
  docs/zh-Hans/Getting-Started.md
  docs/zh-Hans/Tutorials/Angular/Part-I.md
  docs/zh-Hans/Tutorials/AspNetCore-Mvc/Part-I.md
  docs/zh-Hans/Tutorials/AspNetCore-Mvc/Part-III.md
  docs/zh-Hans/Tutorials/Part-1.md
  docs/zh-Hans/Tutorials/Part-2.md
  docs/zh-Hans/Tutorials/images/bookstore-angular-file-tree.png
  docs/zh-Hans/Tutorials/images/bookstore-book-list.png
  docs/zh-Hans/Tutorials/images/bookstore-creating-book-list-terminal.png
  docs/zh-Hans/Tutorials/images/bookstore-creating-book-module-terminal.png
  docs/zh-Hans/Tutorials/images/generated-proxies.png
  docs/zh-Hans/docs-nav.json
Labels: documentation

#3834 add Localize Emailing resource for zh-hant
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/zh-Hant.json
Labels: abp-framework

#3873 How to Guide: AzureAD integration details enhancement
  docs/en/How-To/Azure-Active-Directory-Authentication-MVC.md
Labels: documentation

#3853 Add multiple StaticWebAssetsFileProvider
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/VirtualFileSystem/WebContentFileProvider.cs
Labels: abp-framework, problem

#3896 Upgrade IdentityServer4 to 3.1.3.
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo.Abp.IdentityServer.Domain.csproj
Labels: abp-module-identityserver, enhancement

#3897 Add error page in template projects.
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
Labels: abp-template-app, abp-template-module, effort-0.5, enhancement

#3902 Add AbpAspNetCoreMvcModule to microservices host module dependencies
  samples/MicroserviceDemo/microservices/BloggingService.Host/BloggingServiceHostModule.cs
  samples/MicroserviceDemo/microservices/IdentityService.Host/IdentityServiceHostModule.cs
  samples/MicroserviceDemo/microservices/ProductService.Host/ProductServiceHostModule.cs
  samples/MicroserviceDemo/microservices/TenantManagementService.Host/TenantManagementServiceHostModule.cs
Labels: abp-samples

#3904 Add Email property to CurrentUserDto.
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/CurrentUserDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationAppService.cs
Labels: abp-framework, effort-0.5, enhancement

#3321 Luis pignataro/traslate
  .gitignore
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/es.json
  framework/src/Volo.Abp.Localization/Volo.Abp.Localization.csproj
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Localization/Resource/es.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/es.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/es.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/CountryNames/es.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/Validation/es.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Source/es.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/es.json
Labels: documentation

#3926 Update document
  docs/zh-Hans/Customizing-Application-Modules-Overriding-Services.md
  docs/zh-Hans/Getting-Started-AspNetCore-Application.md
  docs/zh-Hans/How-To/Azure-Active-Directory-Authentication-MVC.md
  docs/zh-Hans/Samples/Index.md
  docs/zh-Hans/Tutorials/AspNetCore-Mvc/Part-II.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#3930 Make AbpPaginationTagHelper generate correct href attribute
  docs/en/UI/AspNetCore/Tag-Helpers/Paginator.md
  docs/zh-Hans/UI/AspNetCore/Tag-Helpers/Paginator.md
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Pagination/AbpPaginationTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Pagination/PagerModel.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Components/Paginator.cshtml
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Components/Paginator.cshtml.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Demo/Pages/Components/Paginator/Index.cshtml
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Demo/Pages/Components/Paginator/Index.cshtml.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Demo/Pages/Components/Paginator/Index.js
Labels: abp-framework

#3936 Localization enhancements for Angular UI
  npm/ng-packs/apps/dev-app/src/environments/environment.prod.ts
  npm/ng-packs/apps/dev-app/src/environments/environment.ts
  npm/ng-packs/packages/core/src/lib/models/config.ts
  npm/ng-packs/packages/core/src/lib/services/localization.service.ts
  npm/ng-packs/packages/core/src/lib/states/config.state.ts
  npm/ng-packs/packages/core/src/lib/tests/config.state.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/localization.service.spec.ts
  templates/app/angular/src/environments/environment.prod.ts
  templates/app/angular/src/environments/environment.ts
  templates/module/angular/src/environments/environment.prod.ts
  templates/module/angular/src/environments/environment.ts
Labels: ui-angular

#3943 Cotur/documents
  docs/en/Text-Templating.md
  docs/en/images/hello-template.png
  docs/en/images/multiple-file-template.png
Labels: abp-framework, documentation

#3940 Translate signalr integration document
  docs/en/Samples/Index.md
  docs/en/SignalR-Integration.md
  docs/zh-Hans/Samples/Index.md
  docs/zh-Hans/SignalR-Integration.md
  docs/zh-Hans/images/signal-js-file.png
  docs/zh-Hans/images/signalr-demo-chat.png
Labels: documentation

#3910 Added an options called dismissible to confirmation popup options
  docs/en/UI/Angular/Confirmation-Service.md
  npm/ng-packs/packages/core/src/lib/tests/config.state.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.html
  npm/ng-packs/packages/theme-shared/src/lib/models/confirmation.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/confirmation.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/confirmation.service.spec.ts
Labels: ui-angular

#3954 Fix PageModel.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Pagination/PagerModel.cs
Labels: abp-framework, problem

#3919 Fixed loader bar problem
  npm/ng-packs/package.json
  npm/ng-packs/packages/core/package.json
  npm/ng-packs/packages/theme-shared/src/lib/components/loader-bar/loader-bar.component.scss
  npm/ng-packs/packages/theme-shared/src/lib/components/loader-bar/loader-bar.component.ts
  npm/ng-packs/yarn.lock
Labels: ui-angular

#3956 Added ListService for Easy Pagination, Sorting, and Search
  docs/en/UI/Angular/List-Service.md
  docs/en/UI/Angular/Track-By-Service.md
  docs/en/docs-nav.json
  npm/ng-packs/packages/core/src/lib/services/index.ts
  npm/ng-packs/packages/core/src/lib/services/list.service.ts
  npm/ng-packs/packages/core/src/lib/tests/list.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tokens/index.ts
  npm/ng-packs/packages/core/src/lib/tokens/list.token.ts
Labels: ui-angular

#3961 Fix modal open event bug
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/modal-manager.js
Labels: abp-framework, problem, ui-mvc

#3935 Check whether MethodInfo's DeclaringType has auditing disabled.
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingHelper.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingInterceptorRegistrar.cs
Labels: abp-framework, bug

#3932 Put UseAbpRequestLocalization after the UseMultiTenancy
  samples/MicroserviceDemo/applications/AuthServer.Host/AuthServerHostModule.cs
  samples/MicroserviceDemo/applications/BackendAdminApp.Host/BackendAdminAppHostModule.cs
  samples/MicroserviceDemo/applications/PublicWebSite.Host/PublicWebSiteHostModule.cs
  samples/MicroserviceDemo/microservices/BloggingService.Host/BloggingServiceHostModule.cs
  samples/MicroserviceDemo/microservices/IdentityService.Host/IdentityServiceHostModule.cs
  samples/MicroserviceDemo/microservices/ProductService.Host/ProductServiceHostModule.cs
  samples/MicroserviceDemo/microservices/TenantManagementService.Host/TenantManagementServiceHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.Web.Tests/MyProjectNameWebTestModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
Labels: abp-samples, abp-template-app, abp-template-module, enhancement

#3950 Add phone number search
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityUserRepository.cs
Labels: abp-module-identity

#3973 Change HttpApiClient project target to netstandard2.0
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Client/MyCompanyName.MyProjectName.HttpApi.Client.csproj
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Client/MyCompanyName.MyProjectName.HttpApi.Client.csproj
Labels: abp-template-app, abp-template-module, enhancement

#3989 "L" function in the text template rendering system should support parametric text.
  docs/en/Text-Templating.md
  framework/src/Volo.Abp.TextTemplating/Volo/Abp/TextTemplating/TemplateLocalizer.cs
  framework/src/Volo.Abp.TextTemplating/Volo/Abp/TextTemplating/TemplateRenderer.cs
  framework/test/Volo.Abp.TextTemplating.Tests/Volo/Abp/TextTemplating/Localization/en.json
  framework/test/Volo.Abp.TextTemplating.Tests/Volo/Abp/TextTemplating/Localization/tr.json
  framework/test/Volo.Abp.TextTemplating.Tests/Volo/Abp/TextTemplating/SampleTemplates/ForgotPasswordEmail.tpl
  framework/test/Volo.Abp.TextTemplating.Tests/Volo/Abp/TextTemplating/TemplateRenderer_Tests.cs
Labels: abp-framework, enhancement

#3993 Add console application startup template
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/TemplateInfoProvider.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Console/ConsoleTemplate.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Console/ConsoleTemplateBase.cs
  templates/console/.gitattributes
  templates/console/.gitignore
  templates/console/MyCompanyName.MyProjectName.sln
  templates/console/common.props
  templates/console/src/MyCompanyName.MyProjectName.ConsoleApp/HelloWorldService.cs
  templates/console/src/MyCompanyName.MyProjectName.ConsoleApp/MyCompanyName.MyProjectName.ConsoleApp.csproj
  templates/console/src/MyCompanyName.MyProjectName.ConsoleApp/MyProjectNameConsoleAppHostedService.cs
  templates/console/src/MyCompanyName.MyProjectName.ConsoleApp/MyProjectNameConsoleAppModule.cs
  templates/console/src/MyCompanyName.MyProjectName.ConsoleApp/Program.cs
Labels: abp-template-console

#3986 Add docs module client proxies
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/DocsAdminRemoteServiceConsts.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi.Client/Volo.Docs.Admin.HttpApi.Client.csproj
  modules/docs/src/Volo.Docs.Admin.HttpApi.Client/Volo/Docs/Admin/DocsHttpApiClientModule.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/DocsRemoteServiceConsts.cs
  modules/docs/src/Volo.Docs.HttpApi.Client/Volo.Docs.HttpApi.Client.csproj
  modules/docs/src/Volo.Docs.HttpApi.Client/Volo/Docs/DocsHttpApiClientModule.cs
Labels: abp-module-docs, enhancement

#3918 Make ICurrentPrincipalAccessor changeable.
  framework/src/Volo.Abp.AspNetCore.SignalR/Volo/Abp/AspNetCore/SignalR/AbpSignalRUserIdProvider.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/Claims/HttpContextCurrentPrincipalAccessor.cs
  framework/src/Volo.Abp.Security/Volo/Abp/Security/Claims/ICurrentPrincipalAccessor.cs
  framework/src/Volo.Abp.Security/Volo/Abp/Security/Claims/ThreadCurrentPrincipalAccessor.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Authorization/FakeAuthenticationMiddleware.cs
  framework/test/Volo.Abp.Security.Tests/Volo/Abp/Security/Claims/CurrentPrincipalAccessor_Test.cs
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.TestBase/Security/FakeCurrentPrincipalAccessor.cs
  templates/module/aspnet-core/test/MyCompanyName.MyProjectName.TestBase/Security/FakeCurrentPrincipalAccessor.cs
Labels: abp-framework, feature

#3996 Added Localization Methods w/ Fallback to the Localization Service
  npm/ng-packs/packages/core/src/lib/services/localization.service.ts
  npm/ng-packs/packages/core/src/lib/tests/localization-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/localization.service.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/index.ts
  npm/ng-packs/packages/core/src/lib/utils/localization-utils.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/loader-bar/loader-bar.component.ts
Labels: ui-angular

#4006 Update document
  docs/zh-Hans/Dapper.md
  docs/zh-Hans/Object-Extensions.md
  docs/zh-Hans/Samples/Index.md
  docs/zh-Hans/Text-Templating.md
  docs/zh-Hans/UI/Angular/Confirmation-Service.md
  docs/zh-Hans/UI/Angular/Track-By-Service.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#3997 created a test project and moved page toolbar test to abp framework solution
  framework/Volo.Abp.sln
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Tests/Program.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Tests/Properties/launchSettings.json
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Tests/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Tests.csproj
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Tests/Volo/Abp/AspNetCore/Mvc/UI/Theme/Shared/AbpAspNetCoreMvcUiThemeSharedTestBase.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Tests/Volo/Abp/AspNetCore/Mvc/UI/Theme/Shared/AbpAspNetCoreMvcUiThemeSharedTestModule.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Tests/Volo/Abp/AspNetCore/Mvc/UI/Theme/Shared/PageToolbars/PageToolbar_Tests.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Tests/Volo/Abp/AspNetCore/Mvc/UI/Theme/Shared/Startup.cs
Labels: abp-framework

#3720 Blogging Module - Unwanted Exception Suppressing
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Blogs/BlogAppService.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Edit.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/New.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Helpers/BlogNameControlHelper.cs
  modules/blogging/test/Volo.Blogging.Application.Tests/Volo.Blogging.Application.Tests.csproj
  modules/blogging/test/Volo.Blogging.Application.Tests/Volo/Blogging/BlogAppService_Tests.cs
Labels: abp-module-blogging, enhancement

#3754 RTL language support & added arabic localization resources
  .gitignore
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/ar.json
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Packages/Volo/Abp/AspNetCore/Mvc/UI/Packages/Bootstrap/BootstrapStyleContributor.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Account.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Empty.cshtml
  framework/src/Volo.Abp.Core/Volo/Abp/Localization/CultureHelper.cs
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Localization/Resources/AbpDdd/ar.json
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/ar.json
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpLocalization/ar.json
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Localization/Resource/ar.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/ar.json
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Localization/Resource/ar.json
  framework/test/Volo.Abp.Emailing.Tests/Volo/Abp/Emailing/Localization/ar.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/CountryNames/ar.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/Validation/ar.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Source/ar.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/SourceExt/ar.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/ar.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/ar.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ar.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/ar.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain.Shared/Volo/Abp/PermissionManagement/Localization/Domain/ar.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/ar.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/ar.json
  npm/packs/bootstrap/abp.resourcemapping.js
  npm/packs/bootstrap/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/ar.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/libs/bootstrap/css/bootstrap-rtl.css
Labels: abp-framework, feature

#4025 Introduced Reusable Validators Based on Object Attributes
  npm/ng-packs/packages/core/src/lib/tests/validators.spec.ts
  npm/ng-packs/packages/core/src/lib/validators/credit-card.validator.ts
  npm/ng-packs/packages/core/src/lib/validators/index.ts
  npm/ng-packs/packages/core/src/lib/validators/range.validator.ts
  npm/ng-packs/packages/core/src/lib/validators/required.validator.ts
  npm/ng-packs/packages/core/src/lib/validators/string-length.validator.ts
  npm/ng-packs/packages/core/src/lib/validators/url.validator.ts
  npm/ng-packs/packages/core/src/public-api.ts
  npm/ng-packs/packages/theme-basic/src/lib/theme-basic.module.ts
Labels: ui-angular

#4036 Remove disable background worker system check
  framework/src/Volo.Abp.BackgroundWorkers.Quartz/Volo/Abp/BackgroundWorkers/Quartz/AbpBackgroundWorkersQuartzModule.cs
Labels: abp-framework, problem

#4037 Update background document
  docs/en/Background-Jobs-Quartz.md
  docs/en/Background-Workers-Quartz.md
  docs/zh-Hans/Background-Jobs-Quartz.md
  docs/zh-Hans/Background-Workers-Quartz.md
Labels: documentation

#3732 Organization units for the Identity module
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IdentityUserCreateOrUpdateDtoBase.cs
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/IdentityErrorCodes.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/en.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/pt-BR.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/tr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hans.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/OrganizationUnitConsts.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Settings/IdentitySettingNames.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentitySettingDefinitionProvider.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIdentityRoleRepository.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IOrganizationUnitRepository.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUser.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserManager.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserOrganizationUnit.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserStore.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/OrganizationUnit.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/OrganizationUnitManager.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/OrganizationUnitRole.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo.Abp.Identity.EntityFrameworkCore.csproj
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/AbpIdentityEntityFrameworkCoreModule.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityRoleRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreOrganizationUnitRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IIdentityDbContext.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IdentityDbContext.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IdentityDbContextModelBuilderExtensions.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IdentityEfCoreQueryableExtensions.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/AbpIdentityMongoDbContext.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/AbpIdentityMongoDbContextExtensions.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/AbpIdentityMongoDbModule.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/IAbpIdentityMongoDbContext.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityRoleRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoOrganizationUnitRepository.cs
  modules/identity/test/Volo.Abp.Identity.Application.Tests/Volo/Abp/Identity/IdentityUserAppService_Tests.cs
  modules/identity/test/Volo.Abp.Identity.Domain.Tests/Volo/Abp/Identity/IdentityUserManager_Tests.cs
  modules/identity/test/Volo.Abp.Identity.Domain.Tests/Volo/Abp/Identity/OrganizationUnitManager_Tests.cs
  modules/identity/test/Volo.Abp.Identity.EntityFrameworkCore.Tests/Volo/Abp/Identity/EntityFrameworkCore/OrganizationUnitRepository_Tests.cs
  modules/identity/test/Volo.Abp.Identity.MongoDB.Tests/Volo/Abp/Identity/MongoDB/OrganizationUnitRepository_Tests.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/AbpIdentityTestDataBuilder.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/IdentityUserRepository_Tests.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/Identity_Repository_Resolve_Tests.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/LazyLoading_Tests.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/OrganizationUnitRepository_Tests.cs
Labels: abp-module-identity

#4044 Akin/refactored some entity repositories for filtering and pagination
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIdentityRoleRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityRoleRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityRoleRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/ApiResources/IApiResourceRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Clients/IClientRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/IdentityResources/IIdentityResourceRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/ApiResources/ApiResourceRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/Clients/ClientRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/IdentityResources/IdentityResourceRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/MongoApiResourceRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/MongoClientRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/MongoIdentityResourceRepository.cs
Labels: enhancement

#4071 Update chinese document
  docs/zh-Hans/Index.md
  docs/zh-Hans/Road-Map.md
  docs/zh-Hans/Text-Templating.md
  docs/zh-Hans/UI/Angular/List-Service.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#4088 Add cli translate command.
  docs/cs/Contribution/Index.md
  docs/cs/Contribution/Localization-Text-Files.md
  docs/en/CLI.md
  docs/en/Contribution/Index.md
  docs/en/Contribution/Localization-Text-Files.md
  docs/zh-Hans/Contribution/Index.md
  docs/zh-Hans/Contribution/Localization-Text-Files.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/AbpCliCoreModule.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/TranslateCommand.cs
  framework/src/Volo.Abp.Cli/Volo/Abp/Cli/Program.cs
Labels: abp-cli, feature

#4115 Added a Minimum Age Validator to Angular UI
  npm/ng-packs/packages/core/src/lib/tests/validators.spec.ts
  npm/ng-packs/packages/core/src/lib/validators/age.validator.ts
  npm/ng-packs/packages/core/src/lib/validators/index.ts
Labels: ui-angular

#4122 Added a General Invalid Blueprint to Basic Theme
  npm/ng-packs/packages/theme-basic/src/lib/theme-basic.module.ts
Labels: ui-angular

#4097 Change the ErrorMessage of StringLengthAttribute according to the situation.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Validation/ValidationAttributeHelper.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Validation/ValidationTestController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Validation/ValidationTestController_Tests.cs
Labels: abp-framework, problem

#4090 Add virtual file explorer module documentation
  docs/en/Modules/Index.md
  docs/en/Modules/Virtual-File-Explorer.md
  docs/en/images/virtual-file-explorer.png
  docs/zh-Hans/Modules/Index.md
  docs/zh-Hans/Modules/Virtual-File-Explorer.md
  docs/zh-Hans/images/virtual-file-explorer.png
Labels: abp-module-virtual-file-explorer, documentation

#4083 Make DbContextOptionsFactory public.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DependencyInjection/DbContextOptionsFactory.cs
Labels: abp-framework

#4082 Write error logs instead of throwing exceptions when Elasitc Search has errors
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/ElasticDocumentFullSearch.cs
Labels: abp-module-docs

#4131 Upgrade Entity Framework Core Nuget Packages to the latest 3.1.x version
  framework/src/Volo.Abp.EntityFrameworkCore.SqlServer/Volo.Abp.EntityFrameworkCore.SqlServer.csproj
  framework/src/Volo.Abp.EntityFrameworkCore.Sqlite/Volo.Abp.EntityFrameworkCore.Sqlite.csproj
  framework/src/Volo.Abp.EntityFrameworkCore/Volo.Abp.EntityFrameworkCore.csproj
  framework/test/Volo.Abp.Auditing.Tests/Volo.Abp.Auditing.Tests.csproj
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/AbpAuditingTestModule.cs
  framework/test/Volo.Abp.Dapper.Tests/Volo.Abp.Dapper.Tests.csproj
  framework/test/Volo.Abp.Dapper.Tests/Volo/Abp/Dapper/AbpDapperTestModule.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo.Abp.EntityFrameworkCore.Tests.csproj
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/AbpEntityFrameworkCoreTestModule.cs
  modules/account/test/Volo.Abp.Account.Application.Tests/Volo.Abp.Account.Application.Tests.csproj
  modules/account/test/Volo.Abp.Account.Application.Tests/Volo/Abp/Account/AbpAccountApplicationTestModule.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.EntityFrameworkCore.Tests/Volo.Abp.AuditLogging.EntityFrameworkCore.Tests.csproj
  modules/audit-logging/test/Volo.Abp.AuditLogging.EntityFrameworkCore.Tests/Volo/Abp/AuditLogging/EntityFrameworkCore/AbpAuditLoggingEntityFrameworkCoreTestModule.cs
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp/Volo.Abp.BackgroundJobs.DemoApp.csproj
  modules/background-jobs/test/Volo.Abp.BackgroundJobs.EntityFrameworkCore.Tests/Volo.Abp.BackgroundJobs.EntityFrameworkCore.Tests.csproj
  modules/background-jobs/test/Volo.Abp.BackgroundJobs.EntityFrameworkCore.Tests/Volo/Abp/BackgroundJobs/EntityFrameworkCore/AbpBackgroundJobsEntityFrameworkCoreTestModule.cs
  modules/blogging/app/Volo.BloggingTestApp/Volo.BloggingTestApp.csproj
  modules/blogging/test/Volo.Blogging.Domain.Tests/Volo/Abp/Blogging/BloggingDomainTestModule.cs
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo.Blogging.EntityFrameworkCore.Tests.csproj
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo/Blogging/Blogs/BlogRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo/Blogging/Comments/CommentRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo/Blogging/EntityFrameworkCore/BloggingEntityFrameworkCoreTestModule.cs
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo/Blogging/Posts/PostRepository_Tests.cs
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo/Blogging/Tagging/TagRepository_Tests.cs
  modules/docs/app/VoloDocs.Web/VoloDocs.Web.csproj
  modules/docs/test/Volo.Docs.EntityFrameworkCore.Tests/Volo.Docs.EntityFrameworkCore.Tests.csproj
  modules/docs/test/Volo.Docs.EntityFrameworkCore.Tests/Volo/Docs/EntityFrameworkCore/DocsEntityFrameworkCoreTestModule.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.EntityFrameworkCore.Tests/Volo.Abp.FeatureManagement.EntityFrameworkCore.Tests.csproj
  modules/feature-management/test/Volo.Abp.FeatureManagement.EntityFrameworkCore.Tests/Volo/Abp/FeatureManagement/EntityFrameworkCore/AbpFeatureManagementEntityFrameworkCoreTestModule.cs
  modules/identity/test/Volo.Abp.Identity.EntityFrameworkCore.Tests/Volo.Abp.Identity.EntityFrameworkCore.Tests.csproj
  modules/identity/test/Volo.Abp.Identity.EntityFrameworkCore.Tests/Volo/Abp/Identity/EntityFrameworkCore/AbpIdentityEntityFrameworkCoreTestModule.cs
  modules/identityserver/test/Volo.Abp.IdentityServer.EntityFrameworkCore.Tests/Volo.Abp.IdentityServer.EntityFrameworkCore.Tests.csproj
  modules/identityserver/test/Volo.Abp.IdentityServer.EntityFrameworkCore.Tests/Volo/Abp/IdentityServer/AbpIdentityServerTestEntityFrameworkCoreModule.cs
  modules/permission-management/test/Volo.Abp.PermissionManagement.Domain.Tests/Volo.Abp.PermissionManagement.Domain.Tests.csproj
  modules/permission-management/test/Volo.Abp.PermissionManagement.EntityFrameworkCore.Tests/Volo.Abp.PermissionManagement.EntityFrameworkCore.Tests.csproj
  modules/setting-management/test/Volo.Abp.SettingManagement.EntityFrameworkCore.Tests/Volo.Abp.SettingManagement.EntityFrameworkCore.Tests.csproj
  modules/setting-management/test/Volo.Abp.SettingManagement.EntityFrameworkCore.Tests/Volo/Abp/SettingManagement/EntityFrameworkCore/AbpSettingManagementEntityFrameworkCoreTestModule.cs
  modules/tenant-management/test/Volo.Abp.TenantManagement.EntityFrameworkCore.Tests/Volo.Abp.TenantManagement.EntityFrameworkCore.Tests.csproj
  modules/tenant-management/test/Volo.Abp.TenantManagement.EntityFrameworkCore.Tests/Volo/Abp/TenantManagement/EntityFrameworkCore/AbpTenantManagementEntityFrameworkCoreTestModule.cs
  modules/users/test/Volo.Abp.Users.EntityFrameworkCore.Tests/Volo.Abp.Users.EntityFrameworkCore.Tests.csproj
  samples/MicroserviceDemo/applications/AuthServer.Host/AuthServer.Host.csproj
  samples/MicroserviceDemo/microservices/ProductService.Host/ProductService.Host.csproj
  samples/MicroserviceDemo/modules/product/src/ProductManagement.EntityFrameworkCore/ProductManagement.EntityFrameworkCore.csproj
  samples/MicroserviceDemo/modules/product/test/ProductManagement.EntityFrameworkCore.Tests/ProductManagement.EntityFrameworkCore.Tests.csproj
  samples/MicroserviceDemo/modules/product/test/ProductManagement.EntityFrameworkCore.Tests/ProductManagement/EntityFrameworkCore/ProductManagementEntityFrameworkCoreTestModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/MyCompanyName.MyProjectName.DbMigrator.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests/EntityFrameworkCore/MyProjectNameEntityFrameworkCoreTestModule.cs
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyCompanyName.MyProjectName.IdentityServer.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyCompanyName.MyProjectName.Web.Unified.csproj
  templates/module/aspnet-core/test/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests/EntityFrameworkCore/MyProjectNameEntityFrameworkCoreTestModule.cs
  templates/module/aspnet-core/test/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests.csproj
Labels: abp-framework, enhancement

#3933 Add time zone infrastructure.
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/ApplicationConfigurationDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/ClockDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/TimingDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationAppService.cs
  framework/src/Volo.Abp.Timing/Volo.Abp.Timing.csproj
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/AbpTimingModule.cs
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/ITimezoneProvider.cs
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/Localization/Resources/AbpTiming/AbpTimingResource.cs
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/Localization/Resources/AbpTiming/en.json
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/Localization/Resources/AbpTiming/tr.json
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/Localization/Resources/AbpTiming/zh-Hans.json
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/Localization/Resources/AbpTiming/zh-Hant.json
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/TZConvertTimezoneProvider.cs
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/TimingSettingNames.cs
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/TimingSettingProvider.cs
  npm/packs/core/src/abp.js
Labels: abp-framework, feature

#4133 Added RTL Support for Angular UI
  docs/en/UI/Angular/Localization.md
  npm/ng-packs/angular.json
  npm/ng-packs/apps/dev-app/src/app/app.component.ts
  npm/ng-packs/packages/core/src/lib/services/lazy-load.service.ts
  npm/ng-packs/packages/core/src/lib/strategies/loading.strategy.ts
  npm/ng-packs/packages/core/src/lib/tests/lazy-load.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/loading.strategy.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/localization-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/utils/localization-utils.ts
  npm/ng-packs/packages/theme-basic/src/lib/constants/styles.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/table/table.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/table/table.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/constants/styles.ts
  npm/ng-packs/packages/theme-shared/src/lib/handlers/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/handlers/lazy-style.handler.ts
  npm/ng-packs/packages/theme-shared/src/lib/models/common.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/lazy-style.handler.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
  npm/ng-packs/packages/theme-shared/src/lib/tokens/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/tokens/lazy-styles.token.ts
  npm/ng-packs/packages/theme-shared/src/public-api.ts
  templates/app/angular/angular.json
  templates/app/angular/src/app/app.component.ts
Labels: ui-angular

#4148 Update document
  docs/en/Entity-Framework-Core-Oracle.md
  docs/zh-Hans/CLI.md
  docs/zh-Hans/Entity-Framework-Core-MySQL.md
  docs/zh-Hans/Entity-Framework-Core-Oracle.md
  docs/zh-Hans/Entity-Framework-Core-Other-DBMS.md
  docs/zh-Hans/Getting-Started.md
  docs/zh-Hans/UI/Angular/Localization.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#4159 Update document
  docs/zh-Hans/SignalR-Integration.md
  docs/zh-Hans/Tutorials/Part-1.md
  docs/zh-Hans/Tutorials/Part-2.md
  docs/zh-Hans/UI/Angular/Component-Replacement.md
  docs/zh-Hans/docs-nav.json
  docs/zh-Hans/images/hello-template.png
  docs/zh-Hans/images/multiple-file-template.png
Labels: documentation

#4138 Use remote service http client in ApiDescriptionFinder.
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/ApiDescriptionFinder.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/DynamicHttpProxyInterceptor.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/IApiDescriptionFinder.cs
Labels: abp-framework, enhancement

#4135 Use tilde slash in script and style url.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/AbpTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpDynamicformTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpRadioInputTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Pagination/AbpPaginationTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpBundleItemTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpBundleItemTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpBundleTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpScriptBundleTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpScriptTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpStyleBundleTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpStyleTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpTagHelperResourceService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpTagHelperScriptService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpTagHelperStyleService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Microsoft/AspNetCore/Mvc/ViewFeatures/ViewContextExtensions.cs
Labels: abp-framework, enhancement

#4084 Update usage codes in modules and templates.
  docs/en/AspNet-Boilerplate-Migration-Guide.md
  modules/account/src/Volo.Abp.Account.Web/AbpAccountUserMenuContributor.cs
  modules/blogging/src/Volo.Blogging.Web/BloggingMenuContributor.cs
  modules/docs/src/Volo.Docs.Admin.Web/Navigation/DocsMenuContributor.cs
  modules/identity/src/Volo.Abp.Identity.Web/Navigation/AbpIdentityWebMainMenuContributor.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Navigation/SettingManagementMainMenuContributor.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Navigation/AbpTenantManagementWebMainMenuContributor.cs
  modules/virtual-file-explorer/src/Volo.Abp.VirtualFileExplorer.Web/Navigation/AbpVirtualFileExplorerMenuContributor.cs
  samples/MicroserviceDemo/modules/product/src/ProductManagement.Web/ProductManagementMenuContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/Menus/MyProjectNameMenuContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/Menus/MyProjectNameMenuContributor.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/MyProjectNameWebHostMenuContributor.cs
Labels: abp-module-account, abp-module-blogging, abp-module-docs, abp-module-identity, abp-module-setting-management, abp-module-tenant-management, abp-module-virtual-file-explorer, abp-samples, abp-template-app, abp-template-module, enhancement

#4053 Remove consoleApp suffix
  templates/console/MyCompanyName.MyProjectName.sln
  templates/console/src/MyCompanyName.MyProjectName/HelloWorldService.cs
  templates/console/src/MyCompanyName.MyProjectName/MyCompanyName.MyProjectName.csproj
  templates/console/src/MyCompanyName.MyProjectName/MyProjectNameHostedService.cs
  templates/console/src/MyCompanyName.MyProjectName/MyProjectNameModule.cs
  templates/console/src/MyCompanyName.MyProjectName/Program.cs
Labels: abp-template-console, enhancement

#4045 Ignore external link.
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Documents/DocumentAdminAppService.cs
Labels: abp-module-docs
