Repository abpframework/abp, pull requests merged in 2021-12, with the labels that each got.

#10805 fix(CLI): Add missing namespace
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
Labels: problem, abp-cli

#10775 Reuse JsonSerializerOptions instances.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Json/AbpJsonOptionsSetup.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ValueConverters/AbpJsonValueConverter.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ValueConverters/ExtraPropertiesValueConverter.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/ApiDescriptionFinder.cs
  framework/src/Volo.Abp.Json/Volo/Abp/Json/SystemTextJson/AbpSystemTextJsonSerializerOptionsSetup.cs
  framework/src/Volo.Abp.Json/Volo/Abp/Json/SystemTextJson/AbpSystemTextJsonSerializerProvider.cs
  framework/src/Volo.Abp.Json/Volo/Abp/Json/SystemTextJson/JsonConverters/AbpHasExtraPropertiesJsonConverter.cs
  framework/src/Volo.Abp.Json/Volo/Abp/Json/SystemTextJson/JsonConverters/AbpHasExtraPropertiesJsonConverterFactory.cs
  framework/src/Volo.Abp.Json/Volo/Abp/Json/SystemTextJson/JsonConverters/AbpStringToBooleanConverter.cs
  framework/src/Volo.Abp.Json/Volo/Abp/Json/SystemTextJson/JsonConverters/AbpStringToEnumConverter.cs
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Json/JsonLocalizationDictionaryBuilder.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ExtensibleObject.cs
  framework/test/Volo.Abp.Json.Tests/Volo/Abp/Json/AbpStringToBoolean_Tests.cs
  framework/test/Volo.Abp.Json.Tests/Volo/Abp/Json/AbpStringToEnum_Tests.cs
  framework/test/Volo.Abp.Json.Tests/Volo/Abp/Json/AbpSystemTextJsonSerializerProvider_Tests.cs
  framework/test/Volo.Abp.Json.Tests/Volo/Abp/Json/ExtensibleObject_Tests.cs
  framework/test/Volo.Abp.MemoryDb.Tests/Volo/Abp/MemoryDb/JsonConverters/EntityJsonConverter.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/JsonConverters/SelectionStringValueItemSourceJsonConverter.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/JsonConverters/StringValueTypeJsonConverter.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/JsonConverters/ValueValidatorJsonConverter.cs
Labels: enhancement, abp-framework, abp-module-feature-management

#10810 Add missing localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#10814 Angular UI Docs: Added the HttpErrorReporterService document
  docs/en/UI/Angular/HTTP-Error-Reporter-Service.md
  docs/en/UI/Angular/HTTP-Requests.md
Labels: documentation, ui-angular

#10820 The static proxy in MVC does not need to expose application services.
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/ClientProxies/AbpApplicationConfigurationClientProxy.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/ClientProxies/AbpTenantClientProxy.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/Volo/Abp/AspNetCore/Mvc/Client/AbpAspNetCoreMvcClientCommonModule.cs
Labels: abp-framework

#10825 fix: convert old usage of close btn to the new one
  npm/ng-packs/packages/theme-basic/src/lib/components/page-alert-container/page-alert-container.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/http-error-wrapper/http-error-wrapper.component.html
Labels: ui-angular

#10827 Output readable message when version does not exist
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
Labels: abp-cli

#10828 Add `FormBodyBindingIgnoredTypes` in `WebModule`.
  modules/blogging/src/Volo.Blogging.Web/BloggingWebModule.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/CmsKitAdminWebModule.cs
Labels: abp-module-blogging, abp-module-cms-kit

#10829 Use file scoped namespaces for static C# proxy classes
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/ClientProxies/AbpApplicationConfigurationClientProxy.Generated.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/ClientProxies/AbpApplicationConfigurationClientProxy.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/ClientProxies/AbpTenantClientProxy.Generated.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/ClientProxies/AbpTenantClientProxy.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/CSharp/CSharpServiceProxyGenerator.cs
  modules/account/src/Volo.Abp.Account.HttpApi.Client/ClientProxies/AccountClientProxy.Generated.cs
  modules/account/src/Volo.Abp.Account.HttpApi.Client/ClientProxies/ProfileClientProxy.Generated.cs
  modules/blogging/src/Volo.Blogging.Admin.HttpApi.Client/ClientProxies/BlogManagementClientProxy.Generated.cs
  modules/blogging/src/Volo.Blogging.Admin.HttpApi.Client/ClientProxies/BlogManagementClientProxy.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/BlogFilesClientProxy.Generated.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/BlogFilesClientProxy.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/BlogsClientProxy.Generated.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/BlogsClientProxy.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/CommentsClientProxy.Generated.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/CommentsClientProxy.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/PostsClientProxy.Generated.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/PostsClientProxy.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/TagsClientProxy.Generated.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/TagsClientProxy.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/BlogAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/BlogFeatureAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/BlogPostAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/CommentAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/EntityTagAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/MediaDescriptorAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/MenuItemAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/PageAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/TagAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Common.HttpApi.Client/ClientProxies/BlogFeatureClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Common.HttpApi.Client/ClientProxies/MediaDescriptorClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/BlogPostPublicClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/CommentPublicClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/MenuItemPublicClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/PagesPublicClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/RatingPublicClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/ReactionPublicClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/TagPublicClientProxy.Generated.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi.Client/ClientProxies/DocumentsAdminClientProxy.Generated.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi.Client/ClientProxies/DocumentsAdminClientProxy.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi.Client/ClientProxies/ProjectsAdminClientProxy.Generated.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi.Client/ClientProxies/ProjectsAdminClientProxy.cs
  modules/docs/src/Volo.Docs.HttpApi.Client/ClientProxies/DocsDocumentClientProxy.Generated.cs
  modules/docs/src/Volo.Docs.HttpApi.Client/ClientProxies/DocsDocumentClientProxy.cs
  modules/docs/src/Volo.Docs.HttpApi.Client/ClientProxies/DocsProjectClientProxy.Generated.cs
  modules/docs/src/Volo.Docs.HttpApi.Client/ClientProxies/DocsProjectClientProxy.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.HttpApi.Client/ClientProxies/FeaturesClientProxy.Generated.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi.Client/ClientProxies/IdentityRoleClientProxy.Generated.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi.Client/ClientProxies/IdentityUserClientProxy.Generated.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi.Client/ClientProxies/IdentityUserLookupClientProxy.Generated.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.HttpApi.Client/ClientProxies/PermissionsClientProxy.Generated.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.HttpApi.Client/ClientProxies/EmailSettingsClientProxy.Generated.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.HttpApi.Client/ClientProxies/TenantClientProxy.Generated.cs
Labels: abp-cli

#10846 fix(Cli): `add-module` command doesn't work with modules not contain test project
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionFileModifier.cs
Labels: problem, abp-cli

#10853 docs: 📝 Update getting started web application chinsese translation
  docs/en/Getting-Started-Running-Solution.md
  docs/en/Getting-Started.md
  docs/zh-Hans/Getting-Started-Create-Solution.md
  docs/zh-Hans/Getting-Started-Running-Solution.md
  docs/zh-Hans/Getting-Started-Setup-Environment.md
  docs/zh-Hans/Getting-Started.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#10849 Update the "Using Elsa Workflow with ABP Framework" article for Elsa 2.3.0 migration
  docs/en/Community-Articles/2021-06-17-Using-Elsa-Workflow-with-ABP-Framework/POST.md
Labels: enhancement, abp-community

#10848 Enhance CLI
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
Labels: abp-cli

#10854 Add new localizations for commercial.abp.io
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
Labels: abp-io

#10792 Support markdown in CMS-Kit comments
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/tr.json
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/CommentingViewComponent.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/Default.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Renderers/IMarkdownToHtmlRenderer.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Renderers/MarkdownToHtmlRenderer.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Volo.CmsKit.Public.Web.csproj
Labels: feature, abp-module-cms-kit

#10863 Add missing localizations for commercial.abp.io
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
Labels: abp-io

#10877 Fix Volo.CmsKit.abpmdl.json
  modules/cms-kit/Volo.CmsKit.abpmdl.json
  modules/cms-kit/src/Volo.CmsKit.Installer/Volo.CmsKit.Installer.abppkg.json
Labels: abp-module-cms-kit

#10880 Style fix for code block in `Dynamic-CSharp-API-Clients` document
  docs/en/API/Dynamic-CSharp-API-Clients.md
Labels: documentation

#10893 Make `DeserializeOptions` in `ApiDescriptionFinder` changeable.
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/ApiDescriptionFinder.cs
Labels: abp-framework

#10900 Configure RedirectAllowedUrls
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyProjectNameBlazorModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/appsettings.json
Labels: abp-template-app, problem

#10907 fix: wrong message in modal component
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.ts
Labels: ui-angular

#10914 Fix code style problem
  modules/blogging/src/Volo.Blogging.Web/Bundling/PrismjsStyleBundleContributorBloggingExtension.cs
  modules/docs/src/Volo.Docs.Web/Bundling/PrismjsStyleBundleContributorDocsExtension.cs
Labels: abp-module-docs, problem

#10917 Update document
  docs/en/Modules/Docs.md
  docs/en/UI/AspNetCore/Tag-Helpers/Index.md
  docs/zh-Hans/Modules/Docs.md
  docs/zh-Hans/UI/AspNetCore/Tag-Helpers/Index.md
Labels: documentation

#10771 Feature tab will not be rendered if there is no item to show
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application/Volo/Abp/FeatureManagement/FeatureAppService.cs
Labels: abp-module-feature-management

#10951 Cli: Create IAuthService
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Auth/AuthService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Auth/IAuthService.cs
  studio/src/Volo.Abp.Studio.Domain.Shared/Volo/Abp/Studio/AbpStudioErrorCodes.cs
Labels: enhancement, abp-cli

#10953 Update v5.0.0 blog post
  docs/en/Blog-Posts/2021-12-15 v5_0_Release_Stable/POST.md
Labels: enhancement

#10960 Docs: Fix version select-box down arrow
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.min.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.scss
Labels: enhancement, abp-module-docs

#10962 Use `DateTime.UtcNow` in `TokenCleanupService`.
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Tokens/TokenCleanupService.cs
Labels: abp-module-identityserver

#10947 No longer use `AddRazorRuntimeCompilation`.
  framework/src/Volo.Abp.AspNetCore.Mvc/Microsoft/Extensions/DependencyInjection/AbpMvcBuilderExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcOptions.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo.Abp.AspNetCore.Mvc.Tests.csproj
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcTestModule.cs
Labels: enhancement

#10970 Docs: Fix update badge
  modules/docs/src/Volo.Docs.Web/Areas/Documents/TagHelpers/TreeTagHelper.cs
Labels: abp-module-docs, problem

#10976 [Studio] Fixed a potential bug in SolutionFileModuleAdder
  studio/src/Volo.Abp.Studio.Domain.CommonServices/Volo/Abp/Studio/Solution/SolutionFileModuleAdder.cs
Labels: bug

#10992 fix(CLI): directory separator for `bundle` command is not os specific
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlerBase.cs
Labels: problem, abp-cli, ui-blazor

#10997 Cms-Kit studio analyze
  common.props
  modules/cms-kit/host/Volo.CmsKit.HttpApi.Host/Volo.CmsKit.HttpApi.Host.abppkg.analyze.json
  modules/cms-kit/host/Volo.CmsKit.Web.Host/Volo.CmsKit.Web.Host.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo.CmsKit.Admin.Application.Contracts.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo.CmsKit.Admin.Application.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/Volo.CmsKit.Admin.HttpApi.Client.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi/Volo.CmsKit.Admin.HttpApi.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Volo.CmsKit.Admin.Web.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Application.Contracts/Volo.CmsKit.Application.Contracts.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Application/Volo.CmsKit.Application.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Common.Application.Contracts/Volo.CmsKit.Common.Application.Contracts.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Common.Application/Volo.CmsKit.Common.Application.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Common.HttpApi.Client/Volo.CmsKit.Common.HttpApi.Client.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Common.HttpApi/Volo.CmsKit.Common.HttpApi.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Common.Web/Volo.CmsKit.Common.Web.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo.CmsKit.Domain.Shared.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo.CmsKit.Domain.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo.CmsKit.EntityFrameworkCore.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.HttpApi.Client/Volo.CmsKit.HttpApi.Client.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.HttpApi/Volo.CmsKit.HttpApi.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.MongoDB/Volo.CmsKit.MongoDB.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo.CmsKit.Public.Application.Contracts.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo.CmsKit.Public.Application.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/Volo.CmsKit.Public.HttpApi.Client.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi/Volo.CmsKit.Public.HttpApi.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Volo.CmsKit.Public.Web.abppkg.analyze.json
  modules/cms-kit/src/Volo.CmsKit.Web/Volo.CmsKit.Web.abppkg.analyze.json
Labels: abp-module-cms-kit

#11001 translate to zh-Hans
  docs/zh-Hans/Getting-Started-AspNetCore-Application.md
Labels: documentation

#11005 Enhance `AbpRemoteStreamContentModelBinder` class.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ContentFormatters/AbpRemoteStreamContentModelBinder.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ContentFormatters/AbpRemoteStreamContentModelBinderProvider.cs
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/DynamicProxying/PersonAppServiceClientProxy_Tests.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Application/Dto/CreateFileInput.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Application/Dto/CreateMultipleFileInput.cs
Labels: enhancement, abp-framework

#11004 translate to zh-Hans
  docs/zh-Hans/Tutorials/Part-1.md
  docs/zh-Hans/Tutorials/images/bookstore-efcore-migration.png
  docs/zh-Hans/images/create-aspnet-core-application.png
Labels: documentation

#11006 Fix the performance problem of blazor-server
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/MvcCachedApplicationConfigurationClient.cs
Labels: problem

#11015 translate to zh-Hans
  docs/en/Tutorials/Part-2.md
  docs/zh-Hans/Tutorials/Part-2.md
  docs/zh-Hans/Tutorials/images/blazor-add-books-component.png
  docs/zh-Hans/Tutorials/images/blazor-bookstore-book-list.png
  docs/zh-Hans/Tutorials/images/blazor-menu-bookstore.png
  docs/zh-Hans/Tutorials/images/generated-proxies-3.png
  docs/zh-Hans/Tutorials/images/vs-run-without-iisexpress.png
Labels: documentation

#11019 used constant for command name
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/AbpCliCoreModule.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/CleanCommand.cs
Labels: enhancement, abp-cli

#11039 Add `UniqueName` claim to the identity.
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpClaimsService.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AspNetIdentity/AbpUserClaimsFactory.cs
Labels: abp-module-identityserver

#11043 translate to zh-Hans
  docs/zh-Hans/Tutorials/Part-3.md
  docs/zh-Hans/Tutorials/images/blazor-add-book-button.png
  docs/zh-Hans/Tutorials/images/blazor-delete-book-action.png
  docs/zh-Hans/Tutorials/images/blazor-edit-book-action-2.png
  docs/zh-Hans/Tutorials/images/blazor-edit-book-modal.png
  docs/zh-Hans/Tutorials/images/blazor-new-book-modal.png
Labels: documentation

#10950 Update ABP Blazor UI v4.x to v5.0 Migration Guide
  docs/en/Migration-Guides/Abp-5-0-Blazor.md
Labels: documentation

#11016 Add `CleanCommand`.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/AbpCliCoreModule.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/CleanCommand.cs
Labels: abp-cli

#11052 Add `clean` command to CLI.md
  docs/en/CLI.md
  docs/zh-Hans/CLI.md
Labels: documentation, abp-cli

#10925 Community Article: "Integrating the Syncfusion MVC Components to the ABP MVC UI"
  docs/en/Community-Articles/2021-12-13-Integrating-the-Syncfusion-MVC-Components-to-the-ABP-MVC-UI/POST.md
  docs/en/Community-Articles/2021-12-13-Integrating-the-Syncfusion-MVC-Components-to-the-ABP-MVC-UI/calendar-component.png
  docs/en/Community-Articles/2021-12-13-Integrating-the-Syncfusion-MVC-Components-to-the-ABP-MVC-UI/component-folder-structure.png
  docs/en/Community-Articles/2021-12-13-Integrating-the-Syncfusion-MVC-Components-to-the-ABP-MVC-UI/copy-license-key.png
  docs/en/Community-Articles/2021-12-13-Integrating-the-Syncfusion-MVC-Components-to-the-ABP-MVC-UI/manage-trial-1.png
  docs/en/Community-Articles/2021-12-13-Integrating-the-Syncfusion-MVC-Components-to-the-ABP-MVC-UI/manage-trial-2.png
  docs/en/Community-Articles/2021-12-13-Integrating-the-Syncfusion-MVC-Components-to-the-ABP-MVC-UI/syncfusion-libs.png
  docs/en/Community-Articles/2021-12-13-Integrating-the-Syncfusion-MVC-Components-to-the-ABP-MVC-UI/syncfusion-package.png
Labels: abp-community

#11072 Break after the values are got from the provider.
  framework/src/Volo.Abp.Settings/Volo/Abp/Settings/SettingProvider.cs
  modules/setting-management/test/Volo.Abp.SettingManagement.Tests/Volo/Abp/SettingManagement/SettingManager_Basic_Tests.cs
Labels: abp-module-setting-management, abp-framework

#11068 IdentityServer Module translations
  docs/zh-Hans/Modules/IdentityServer.md
Labels: documentation

#11074 Add `WebApplicationBuilderExtensions`.
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Microsoft/AspNetCore/Components/WebAssembly/Hosting/AbpWebAssemblyHostBuilderExtensions.cs
  framework/src/Volo.Abp.AspNetCore/Microsoft/Extensions/DependencyInjection/WebApplicationBuilderExtensions.cs
  framework/src/Volo.Abp.Core/Volo/Abp/AbpApplicationFactory.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/DbMigratorHostedService.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/Program.cs
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.HttpApi.Client.ConsoleTestApp/ConsoleTestAppHostedService.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Program.cs
  templates/module/aspnet-core/test/MyCompanyName.MyProjectName.HttpApi.Client.ConsoleTestApp/ConsoleTestAppHostedService.cs
Labels: abp-template-app, abp-framework, abp-template-module

#11076 Add `AbpTenantManagementEntityFrameworkCoreModule` to `HttpApi.Host` project.
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
Labels: bug, abp-template-module

#11089 translate to zh-Hans
  docs/en/Tutorials/Part-5.md
  docs/zh-Hans/Tutorials/Part-5.md
Labels: documentation

#11093 Rename InitializeAsync to InitializeApplicationAsync
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Microsoft/AspNetCore/Components/WebAssembly/Hosting/AbpWebAssemblyHostBuilderExtensions.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/Program.cs
Labels: abp-framework

#11097 Add some serivces to AbpComponentBase
  framework/src/Volo.Abp.AspNetCore.Components/Volo.Abp.AspNetCore.Components.csproj
  framework/src/Volo.Abp.AspNetCore.Components/Volo/Abp/AspNetCore/Components/AbpAspNetCoreComponentsModule.cs
  framework/src/Volo.Abp.AspNetCore.Components/Volo/Abp/AspNetCore/Components/AbpComponentBase.cs
Labels: enhancement, abp-framework, ui-blazor

#11118 Throw an exception when no BLOB provider used
  framework/src/Volo.Abp.BlobStoring/Volo/Abp/BlobStoring/DefaultBlobProviderSelector.cs
Labels: enhancement

#11125 Publish local events when uow completed.
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus.cs
  framework/test/Volo.Abp.EventBus.Tests/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus_Test.cs
Labels: enhancement, abp-framework

#11135 Add MakeProxyJsonFileEmbeddedStep
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/ModuleProjectBuildPipelineBuilder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/MakeProxyJsonFileEmbeddedStep.cs
Labels: abp-cli

#11145 Cli: Always use production urls
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliUrls.cs
Labels: abp-cli

#11147 Update localizations for commercial.abp.io
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/de-DE.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
Labels: abp-io

#11136 Editing the Quick Start Docs
  docs/en/Tutorials/Todo/Index.md
Labels: documentation
