Repository abpframework/abp, pull requests merged in 2021-08, with the labels that each got.

#9706 Fix NU1701 warning of Volo.Abp.Sms.Aliyun
  framework/src/Volo.Abp.Sms.Aliyun/Volo.Abp.Sms.Aliyun.csproj
Labels: abp-framework

#9712 Add GetListAsync mehtod to IDocumentRepository
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/IDocumentRepository.cs
  modules/docs/src/Volo.Docs.EntityFrameworkCore/Volo/Docs/Documents/EFCoreDocumentRepository.cs
  modules/docs/src/Volo.Docs.MongoDB/Volo/Docs/Documents/MongoDocumentRepository.cs
Labels: abp-module-docs

#9594 Remove gulpfile from the MVC UI projects & change docs to offer CLI
  docs/en/Blog-Posts/2020-10-15 v3_3_Preview/POST.md
  docs/en/Modules/Docs.md
  docs/en/Modules/Virtual-File-Explorer.md
  docs/en/SignalR-Integration.md
  docs/en/UI/AspNetCore/Basic-Theme.md
  docs/en/UI/AspNetCore/Client-Side-Package-Management.md
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/gulpfile.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/gulpfile.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/gulpfile.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/gulpfile.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/gulpfile.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/gulpfile.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/gulpfile.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/gulpfile.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/gulpfile.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/gulpfile.js
Labels: abp-cli, abp-template-app, abp-template-module, documentation

#9717 Audit Logs: Add ClientIPAddress filter
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/IAuditLogRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/EfCoreAuditLogRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/MongoAuditLogRepository.cs
Labels: abp-module-audit-logging, enhancement

#9582 Add Romanian language
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Blog/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Docs/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Support/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ro-RO.json
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/ro-RO.json
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Localization/ro-RO.json
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Localization/Resources/AbpDdd/ro-RO.json
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/ro-RO.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/ro-RO.json
  framework/src/Volo.Abp.Features/Volo/Abp/Features/Localization/ro-RO.json
  framework/src/Volo.Abp.GlobalFeatures/Volo/Abp/GlobalFeatures/Localization/ro-RO.json
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/Localization/ro-RO.json
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpLocalization/ro-RO.json
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/Localization/ro-RO.json
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Localization/Resource/ro-RO.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/ro-RO.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/ro-RO.json
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcTestModule.cs
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/ro-RO.json
  modules/blob-storing-database/src/Volo.Abp.BlobStoring.Database.Domain.Shared/Volo/Abp/BlobStoring/Database/Localization/ro-RO.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/ro-RO.json
  modules/cms-kit/host/Volo.CmsKit.HttpApi.Host/CmsKitHttpApiHostModule.cs
  modules/cms-kit/host/Volo.CmsKit.IdentityServer/CmsKitIdentityServerModule.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/CmsKitWebUnifiedModule.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/ro-RO.json
  modules/docs/app/VoloDocs.Web/Localization/Resources/VoloDocs/Web/ro-RO.json
  modules/docs/app/VoloDocs.Web/VoloDocsWebModule.cs
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/ro-RO.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/ro-RO.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/ro-RO.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ro-RO.json
  modules/identity/test/Volo.Abp.Identity.Domain.Tests/Volo/Abp/Identity/LocalizationExtensions/ro-RO.json
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/ro-RO.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain.Shared/Volo/Abp/PermissionManagement/Localization/Domain/ro-RO.json
  modules/setting-management/app/Volo.Abp.SettingManagement.DemoApp/DemoAppModule.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/ro-RO.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/ro-RO.json
  modules/virtual-file-explorer/app/Volo.Abp.VirtualFileExplorer.DemoApp/AbpVirtualFileExplorerDemoAppModule.cs
  modules/virtual-file-explorer/src/Volo.Abp.VirtualFileExplorer.Web/Localization/Resources/ro-RO.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyProjectNameBlazorModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyProjectNameBlazorModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/ro-RO.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/MyProjectNameBlazorHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/Localization/MyProjectName/ro-RO.json
Labels: feature

#9729 fix(docs module): last item in document navigation is not fully display
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.min.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.scss
Labels: abp-module-docs, problem

#9740 Update name of DbContexts.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/CreateMigrationAndRunMigratorCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/EfCoreMigrationManager.cs
Labels: abp-cli, problem

#9743 Support pre-configure IServerSideBlazorBuilder.
  framework/src/Volo.Abp.AspNetCore.Components.Server/Volo/Abp/AspNetCore/Components/Server/AbpAspNetCoreComponentsServerModule.cs
Labels: abp-framework, enhancement

#9750 Fix Volo.BasicTheme install problem
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ReplaceCommonPropsStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NugetPackageToLocalReferenceConverter.cs
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Tests/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Tests.csproj
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Tests/Volo/Abp/AspNetCore/Mvc/UI/Bootstrap/Demo/AbpAspNetCoreMvcUiBootstrapDemoTestBase.cs
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.csproj
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Demo/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Demo.csproj
Labels: abp-cli, abp-module-basic-theme

#9753 fix: creating wrong dates when timezone is utc-
  npm/ng-packs/packages/theme-shared/extensions/src/lib/adapters/date.adapter.ts
Labels: ui-angular

#9756 New command refactor
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliUrls.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/Services/SourceCodeDownloadService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ProjectBuildArgs.cs
Labels: abp-cli

#9760 Remove Blazor.Server.Host when no-ui option is specified
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Module/ModuleTemplateBase.cs
Labels: problem, abp-cli

#9763 fix: hide action column when no action is permitted
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/extensible-table/extensible-table.component.html
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/extensible-table/extensible-table.component.ts
Labels: ui-angular

#9774 Make MongoClientSettings configurable
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/AbpMongoDbContextOptions.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Uow/MongoDB/UnitOfWorkMongoDbContextProvider.cs
Labels: enhancement, abp-framework

#9768 fix: DTR in angular not replacing placeholder from baseUrl
  npm/ng-packs/packages/core/src/lib/utils/multi-tenancy-utils.ts
Labels: ui-angular

#9782 add the blogpost about lepton-x alpha release
  docs/en/Blog-Posts/2021-07-28-lepton-x-release/POST.md
  docs/en/Blog-Posts/2021-07-28-lepton-x-release/lepton-x-lite-dashboard.png
  docs/en/Blog-Posts/2021-07-28-lepton-x-release/lepton-x-lite-menu-collapsed.png
Labels: announcement

#9780 Add missing localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#9785 Angular UI: Removed ThemeBasicModule from shared modules
  npm/ng-packs/apps/dev-app/src/app/shared/shared.module.ts
  templates/app/angular/src/app/shared/shared.module.ts
  templates/module/angular/projects/dev-app/src/app/shared/shared.module.ts
Labels: ui-angular

#9784 Optimize the performance of PermissionAppService
  modules/identity/src/Volo.Abp.PermissionManagement.Domain.Identity/Volo/Abp/PermissionManagement/Identity/RolePermissionManagementProvider.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Application/Volo/Abp/PermissionManagement/PermissionAppService.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/IPermissionManagementProvider.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/IPermissionManager.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/MultiplePermissionValueProviderGrantInfo.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/MultiplePermissionWithGrantedProviders.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionManagementProvider.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionManager.cs
  modules/permission-management/test/Volo.Abp.PermissionManagement.Domain.Tests/Volo/Abp/PermissionManagement/PermissionManager_Tests.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Application.Contracts/Permissions/MyProjectNamePermissionDefinitionProvider.cs
Labels: enhancement, abp-module-identity, abp-module-permission-management

#9808 CmsKit - Fix MongoDb Migration issue
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Menus/MenuItem.cs
Labels: abp-module-cms-kit

#9821 Use DisallowConcurrentExecution to keep a Job from firing concurrently
  framework/src/Volo.Abp.BackgroundWorkers.Quartz/Volo/Abp/BackgroundWorkers/Quartz/QuartzPeriodicBackgroundWorkerAdapter.cs
Labels: enhancement, abp-framework

#9829 Rename IgnoreMultiTenancy.cs to IgnoreMultiTenancyAttribute.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/IgnoreMultiTenancyAttribute.cs
Labels: abp-framework

#9839 fix: use refreshAppState when updating config state
  npm/ng-packs/packages/core/src/lib/services/config-state.service.ts
  npm/ng-packs/packages/core/src/lib/services/localization.service.ts
  npm/ng-packs/packages/core/src/lib/states/config.state.ts
  npm/ng-packs/packages/core/src/lib/strategies/auth-flow.strategy.ts
  npm/ng-packs/packages/core/src/lib/utils/auth-utils.ts
  npm/ng-packs/packages/core/src/lib/utils/initial-utils.ts
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management/feature-management.component.ts
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.ts
Labels: ui-angular

#9851 Update global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/global.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/index.html
Labels: bug, ui-blazor

#9858 fix: add optional access in extensible-table
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/extensible-table/extensible-table.component.html
Labels: ui-angular

#9872 Replace gulp usage with abp install-libs command in the documents
  docs/en/Community-Articles/2020-05-29-Real-Time-Messaging-In-A-Distributed-Architecture-Using-Abp-Framework-SingalR-RabbitMQ/POST.md
  docs/en/Community-Articles/2020-08-18-Using-DevExtreme-Components-With-The-ABP-Framework/Using-DevExtreme-Components-With-The-ABP-Framework.md
  docs/en/Community-Articles/2021-03-12-Simple-SignalR-Notification/POST.md
  docs/en/Modules/Docs.md
  docs/en/Modules/Virtual-File-Explorer.md
  docs/en/SignalR-Integration.md
  docs/en/UI/AspNetCore/Client-Side-Package-Management.md
  docs/zh-Hans/Modules/Docs.md
  docs/zh-Hans/Modules/Virtual-File-Explorer.md
  docs/zh-Hans/SignalR-Integration.md
  docs/zh-Hans/UI/AspNetCore/Client-Side-Package-Management.md
Labels: documentation

#9875 Angular UI: Improved the build script in ng-packs
  npm/ng-packs/.eslintrc.json
  npm/ng-packs/package.json
  npm/ng-packs/scripts/build-schematics.ts
  npm/ng-packs/scripts/build.ts
Labels: ui-angular

#9876 Angular UI: Fixed the testing errors
  npm/ng-packs/packages/core/src/lib/tests/initial-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/localization.service.spec.ts
  npm/ng-packs/packages/theme-shared/extensions/src/tests/enum.util.spec.ts
Labels: ui-angular

#9865 Enabled PublishTrimmed for Blazor wasm project
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj
Labels: enhancement, abp-template-app

#9715 Fix cli add-module: Do not delete a project that is referenced by solution
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: abp-cli

#9934 docs: 📝 Update Chinese doc -- Todo tutorial
  docs/en/Tutorials/Todo/Index.md
  docs/zh-Hans/Tutorials/Todo/Index.md
  docs/zh-Hans/Tutorials/Todo/run-without-iisexpress.png
  docs/zh-Hans/Tutorials/Todo/todo-api.png
  docs/zh-Hans/Tutorials/Todo/todo-efcore-migration.png
  docs/zh-Hans/Tutorials/Todo/todo-list.png
  docs/zh-Hans/Tutorials/Todo/todo-swagger-ui-initial.png
  docs/zh-Hans/Tutorials/Todo/todo-ui-initial.png
  docs/zh-Hans/Tutorials/todo/Index.md
  docs/zh-Hans/Tutorials/todo/todo-efcore-migration.png
  docs/zh-Hans/docs-nav.json
  docs/zh-Hans/docs-params.json
Labels: documentation
