Repository abpframework/abp, pull requests merged in 2021-11, with the labels that each got.

#10490 Automatically set TenantId while creating a new entity object.
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Entity.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/EntityHelper.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/AbpMultiTenancyModule.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/AsyncLocalCurrentTenantAccessor.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Entities/Entity_Tests.cs
  framework/test/Volo.Abp.TestApp.Tests/Volo/Abp/TestApp/Application/PersonAppService_Tests.cs
Labels: feature, breaking change, abp-framework

#10495 Do not add duplicate assemblies.
  framework/src/Volo.Abp.Core/Volo/Abp/AbpApplicationBase.cs
  framework/test/Volo.Abp.Core.Tests/Volo/Abp/DependencyInjection/AutoServiceRegistration_Tests.cs
Labels: enhancement, abp-framework

#10458 Use the original file content when an error occurs.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/BundlerBase.cs
  framework/src/Volo.Abp.Minify/Volo/Abp/Minify/NUglify/NUglifyException.cs
  framework/src/Volo.Abp.Minify/Volo/Abp/Minify/NUglify/NUglifyMinifierBase.cs
Labels: abp-framework

#10494 Blogging: Replace System.Drawing with ImageSharp package
  modules/blogging/src/Volo.Blogging.Admin.Application/Volo.Blogging.Admin.Application.csproj
  modules/blogging/src/Volo.Blogging.Application/Volo.Blogging.Application.csproj
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Files/FileUploadConsts.cs
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Files/ImageFormatHelper.cs
Labels: enhancement, breaking change, abp-module-blogging

#10387 Enhance the error that occurs during the http request.
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/AspNetCore/ExceptionHandling/DefaultExceptionToErrorInfoConverter.cs
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/Http/Client/AbpRemoteCallException.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/ClientProxying/ClientProxyBase.cs
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/DynamicProxying/RegularTestControllerClientProxy_AbpRemoteCallException_Tests.cs
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/DynamicProxying/RegularTestControllerClientProxy_Tests.cs
Labels: enhancement, abp-framework

#10500 Update Identity and Account proxies
  npm/ng-packs/nx.json
  npm/ng-packs/packages/account-core/proxy/src/lib/proxy/account/index.ts
  npm/ng-packs/packages/account-core/proxy/src/lib/proxy/account/models.ts
  npm/ng-packs/packages/account-core/proxy/src/lib/proxy/account/profile.service.ts
  npm/ng-packs/packages/account-core/proxy/src/lib/proxy/generate-proxy.json
  npm/ng-packs/packages/account-core/proxy/src/lib/proxy/identity/models.ts
  npm/ng-packs/packages/account/ng-package.json
  npm/ng-packs/packages/account/package.json
  npm/ng-packs/packages/account/src/lib/components/change-password/change-password.component.ts
  npm/ng-packs/packages/account/src/lib/components/manage-profile/manage-profile.component.ts
  npm/ng-packs/packages/account/src/lib/components/personal-settings/personal-settings.component.ts
  npm/ng-packs/packages/account/src/lib/services/manage-profile.state.service.ts
  npm/ng-packs/packages/identity/proxy/src/lib/proxy/generate-proxy.json
  npm/ng-packs/packages/identity/proxy/src/lib/proxy/identity/index.ts
  npm/ng-packs/packages/identity/proxy/src/lib/proxy/identity/models.ts
Labels: ui-angular

#10496 Cli: Write only error messages on login command
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliUrls.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/LoginCommand.cs
Labels: enhancement, abp-cli

#10497 Add unique index.
  modules/feature-management/src/Volo.Abp.FeatureManagement.EntityFrameworkCore/Volo/Abp/FeatureManagement/EntityFrameworkCore/FeatureManagementDbContextModelCreatingExtensions.cs
  modules/identity/test/Volo.Abp.Identity.Domain.Tests/Volo/Abp/Identity/TestPermissionDataBuilder.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.EntityFrameworkCore/Volo/Abp/PermissionManagement/EntityFrameworkCore/AbpPermissionManagementDbContextModelBuilderExtensions.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.EntityFrameworkCore/Volo/Abp/SettingManagement/EntityFrameworkCore/SettingManagementDbContextModelBuilderExtensions.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/20211102025718_Initial.Designer.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/20211102025718_Initial.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/20211102025808_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/20211102025808_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/UnifiedDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/20211102025809_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/20211102025809_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Migrations/IdentityServerHostMigrationsDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20211102025817_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20211102025817_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/UnifiedDbContextModelSnapshot.cs
Labels: enhancement, abp-module-permission-management, abp-module-setting-management, abp-module-feature-management

#10520 Update CSharpServiceProxyGenerator.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/CSharp/CSharpServiceProxyGenerator.cs
Labels: abp-cli

#10501 Add `isLockedOut` and `notActive` to `IIdentityUserRepository`.
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityUserRepository.cs
Labels: enhancement, abp-module-identity

#10508 Switch to `ClaimsPrincipal` in `HubContext`.
  framework/src/Volo.Abp.AspNetCore.SignalR/Volo/Abp/AspNetCore/SignalR/AbpAspNetCoreSignalRModule.cs
  framework/src/Volo.Abp.AspNetCore.SignalR/Volo/Abp/AspNetCore/SignalR/AbpSignalRHubFilter.cs
Labels: abp-framework

#10516 Replace `IOptionsSnapshot` with `IOptions` and `IOptionsMonitor`
  framework/src/Volo.Abp.AspNetCore.Authentication.OpenIdConnect/Microsoft/Extensions/DependencyInjection/AbpOpenIdConnectExtensions.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/TenantResolveContextExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AntiForgery/AbpAntiForgeryCookieNameProvider.cs
  framework/src/Volo.Abp.Data/Volo/Abp/Data/DefaultConnectionStringResolver.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/RemoteServiceConfigurationProvider.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/ConfigurationStore/DefaultTenantStore.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/MultiTenantConnectionStringResolver.cs
  framework/src/Volo.Abp.Sms.Aliyun/Volo/Abp/Sms/Aliyun/AliyunSmsSender.cs
Labels: abp-framework

#10519 Add static proxy for `Volo.Abp.AspNetCore.Mvc.Client.Common`.
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/WebAssemblyCachedApplicationConfigurationClient.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/ClientProxies/AbpApplicationConfigurationClientProxy.Generated.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/ClientProxies/AbpApplicationConfigurationClientProxy.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/ClientProxies/AbpTenantClientProxy.Generated.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/ClientProxies/AbpTenantClientProxy.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/ClientProxies/abp-generate-proxy.json
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/Volo.Abp.AspNetCore.Mvc.Client.Common.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/Volo/Abp/AspNetCore/Mvc/Client/AbpAspNetCoreMvcClientCommonModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/MvcCachedApplicationConfigurationClient.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/MvcRemoteTenantStore.cs
Labels: enhancement, abp-framework

#10542 Use `NullEmailSender` in module template project.
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/MyProjectNameBlazorHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
Labels: abp-template-module

#10546 Clear `input.filter` if there is no search value.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js
Labels: enhancement, ui-mvc

#10547 Support `IEnumerable` in `GenerateFormPostDataAsync` method.
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/ClientProxying/ClientProxyRequestPayloadBuilder.cs
Labels: enhancement, abp-framework

#10556 Include unchecked checkboxes on serializeFormToObject
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery/jquery-extensions.js
Labels: abp-framework, ui-mvc

#10536 Add missing localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#10569 `abp add-module` command doesn't work for `blazor-server` project
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlingService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: problem, abp-cli

#10563 CmsKit: Rename whiteList option to allowList
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/ReactionSelection/default.js
Labels: abp-module-cms-kit

#10588 Update document
  docs/en/Background-Workers-Quartz.md
  docs/zh-Hans/Background-Workers-Quartz.md
Labels: documentation

#10598 Cms Kit - Rendering Improvements & Refactoring
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20210622142314_Initial.Designer.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20210817095158_ConcurrencyStampUpdate.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20211110134400_Initial.Designer.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20211110134400_Initial.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/UnifiedDbContextModelSnapshot.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Program.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/package.json
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Pages/Default.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/BlogPost.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/Index.cshtml
Labels: abp-module-cms-kit

#10594 Add an option to AbpExceptionHandlingOptions for enabling/disabling StackTrace
  docs/en/Exception-Handling.md
  framework/src/Volo.Abp.AspNetCore.Components.Web/Volo/Abp/AspNetCore/Components/Web/ExceptionHandling/UserExceptionInformer.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Controllers/ErrorController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/AbpExceptionFilter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/AbpExceptionPageFilter.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/ExceptionHandling/AbpExceptionHandlingMiddleware.cs
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/AspNetCore/ExceptionHandling/AbpExceptionHandlingOptions.cs
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/AspNetCore/ExceptionHandling/DefaultExceptionToErrorInfoConverter.cs
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/AspNetCore/ExceptionHandling/IExceptionToErrorInfoConverter.cs
  framework/test/Volo.Abp.Authorization.Tests/Microsoft/AspNetCore/Authorization/AbpAuthorizationServiceExtensions_Tests.cs
  framework/test/Volo.Abp.Features.Tests/Volo/Abp/Features/FeatureCheckerExtensions_Tests.cs
  framework/test/Volo.Abp.GlobalFeatures.Tests/Volo/Abp/GlobalFeatures/AbpGlobalFeatureNotEnableException_Localization_Test.cs
Labels: enhancement, abp-framework, documentation

#10607 Upgrade NX to v13
  npm/ng-packs/angular.json
  npm/ng-packs/apps/dev-app-e2e/src/plugins/index.js
  npm/ng-packs/apps/dev-app-e2e/tsconfig.json
  npm/ng-packs/apps/dev-app/tsconfig.json
  npm/ng-packs/migrations.json
  npm/ng-packs/nx.json
  npm/ng-packs/package.json
  npm/ng-packs/packages/account-core/tsconfig.json
  npm/ng-packs/packages/account/tsconfig.json
  npm/ng-packs/packages/components/tsconfig.json
  npm/ng-packs/packages/core/src/lib/directives/replaceable-template.directive.ts
  npm/ng-packs/packages/core/src/lib/tests/environment.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/replaceable-template.directive.spec.ts
  npm/ng-packs/packages/core/tsconfig.json
  npm/ng-packs/packages/feature-management/tsconfig.json
  npm/ng-packs/packages/identity/tsconfig.json
  npm/ng-packs/packages/permission-management/tsconfig.json
  npm/ng-packs/packages/schematics/.eslintrc.json
  npm/ng-packs/packages/setting-management/tsconfig.json
  npm/ng-packs/packages/tenant-management/tsconfig.json
  npm/ng-packs/packages/theme-basic/src/lib/tests/lazy-style.handler.spec.ts
  npm/ng-packs/packages/theme-basic/tsconfig.json
  npm/ng-packs/packages/theme-shared/extensions/src/tests/entity-props.spec.ts
  npm/ng-packs/packages/theme-shared/extensions/src/tests/form-props.spec.ts
  npm/ng-packs/packages/theme-shared/extensions/src/tests/toolbar-actions.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/breadcrumb.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/button.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/error.handler.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/loader-bar.component.spec.ts
  npm/ng-packs/packages/theme-shared/tsconfig.json
  npm/ng-packs/source-code-requirements/tsconfig.lib.json
  npm/ng-packs/source-code-requirements/tsconfig.spec.json
  npm/ng-packs/tools/tsconfig.tools.json
  npm/ng-packs/tsconfig.base.json
  npm/ng-packs/yarn.lock
Labels: enhancement

#10614 Apply data filters while querying from roles
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/RepositoryBase.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/MongoDbRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityUserRepository.cs
Labels: bug, abp-module-identity

#10615 Cms Kit - Reaction Popover Fix
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/ReactionSelection/default.css
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/ReactionSelection/default.js
Labels: ui-mvc, abp-module-cms-kit

#10617 Angular UI: Support UI localizations
  docs/en/UI/Angular/Localization.md
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/models/common.ts
  npm/ng-packs/packages/core/src/lib/services/localization.service.ts
  npm/ng-packs/packages/core/src/lib/tests/localization.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tokens/index.ts
  npm/ng-packs/packages/core/src/lib/tokens/localization.token.ts
Labels: ui-angular

#10620 commercial.abp.io: Update FAQ page localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: enhancement, abp-io

#10509 Article: "Many to Many Relationship with ABP and EF Core"
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/POST.md
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/application-contracts-folder-structure.png
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/application-final-demo.gif
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/application-folder-structure.png
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/book-create.gif
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/book-creation-modal.png
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/book-update-modal.png
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/demo.png
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/domain-file-structure.png
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/domain-shared-file-structure.png
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/er-diagram.png
  docs/en/Community-Articles/2021-10-31-Many-to-Many-Relationship-with-ABP-and-EF-Core/web-folder-structure.png
Labels: abp-community

#10649 Support prompt parameter
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/Angular/AngularServiceProxyGenerator.cs
Labels: abp-cli

#10655 Add bootstrap migration section in angular docs
  docs/en/Migration-Guides/Abp-5_0-Angular.md
Labels: documentation, ui-angular

#9600 Add `tokenPurpose` parameter for `Generate` and `Verify` methods.
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/LinkUserTokenProviderConsts.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityLinkUserManager.cs
  modules/identity/test/Volo.Abp.Identity.AspNetCore.Tests/Volo/Abp/Identity/AspNetCore/LinkUserTokenProvider_Tests.cs
Labels: enhancement, abp-module-identity

#10664 Angular UI: Added missing locale files
  npm/ng-packs/packages/core/locale/src/utils/register-locale.ts
Labels: ui-angular

#10641 Skip `WebSocketRequest` in `MvcCachedApplicationConfigurationClient`.
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/MvcCachedApplicationConfigurationClient.cs
Labels: abp-framework, ui-blazor

#10663 Use `targetDbContextType` instead of `TMongoDbContext`.
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Uow/MongoDB/UnitOfWorkMongoDbContextProvider.cs
Labels: abp-framework

#10658 Log errors and not using if the current MongoDB does not support transactions.
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Uow/MongoDB/UnitOfWorkMongoDbContextProvider.cs
Labels: abp-framework

#10680 [Blazor Server]Enable `DetailedErrors` in development environment.
  framework/src/Volo.Abp.AspNetCore.Components.Server/Volo/Abp/AspNetCore/Components/Server/AbpAspNetCoreComponentsServerModule.cs
Labels: abp-framework

#10677 Add new localization for community.abp.io
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/de-DE.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/zh-Hans.json
Labels: abp-io

#10684 Update virtual file system document
  docs/en/Virtual-File-System.md
  docs/zh-Hans/Virtual-File-System.md
Labels: documentation

#10729 Select2 - Bootstrap 5 Modal Fix
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Bundling/BasicThemeGlobalStyleContributor.cs
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/wwwroot/themes/basic/custom/select2-bs5-fix.css
Labels: abp-module-basic-theme

#10734 Better solution for Select2 with BS5 Modals
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/dom-event-handlers.js
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Bundling/BasicThemeGlobalStyleContributor.cs
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/wwwroot/themes/basic/custom/select2-bs5-fix.css
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/CreateModal.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/UpdateModal.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/createModal.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/updateModal.js
Labels: enhancement, abp-framework, abp-module-cms-kit, abp-module-basic-theme

#10735 Update List-Service.md
  docs/en/UI/Angular/List-Service.md
Labels: documentation, ui-angular

#10711 Cms-Kit: Show the new lines on the comments
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/Default.cshtml
Labels: enhancement, abp-module-cms-kit

#10752 fix indent problem of comments in blog module
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/blog.css
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/blog.min.css
Labels: abp-module-blogging, problem

#10719 Add note about "long identifier support up to 128 bytes from v12.2" to Oracle documentations
  docs/en/Entity-Framework-Core-Oracle-Devart.md
  docs/en/Entity-Framework-Core-Oracle-Official.md
Labels: enhancement, documentation

#10761 Fix PublishToEventBusAsync problem.
  framework/src/Volo.Abp.EventBus.Azure/Volo/Abp/EventBus/Azure/AzureDistributedEventBus.cs
Labels: abp-framework

#10765 Run `dotnet build /graphBuild` after new service creation
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
Labels: problem, abp-cli

#10772 Angular UI: Downgrade the @ng-bootstrap/ng-bootstrap version
  npm/ng-packs/apps/dev-app/src/polyfills.ts
  npm/ng-packs/package.json
  npm/ng-packs/packages/components/package.json
  npm/ng-packs/packages/theme-shared/package.json
  npm/ng-packs/yarn.lock
Labels: ui-angular

#10776 Add ManageHostFeatures button to Blazor UI
  modules/tenant-management/src/Volo.Abp.TenantManagement.Blazor/Pages/TenantManagement/TenantManagement.razor.cs
Labels: abp-module-tenant-management

#10713 Log errors and not using if the current database does not support transactions.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Uow/EntityFrameworkCore/UnitOfWorkDbContextProvider.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Uow/MongoDB/UnitOfWorkMongoDbContextProvider.cs
Labels: enhancement, abp-framework

#10793 feat: update ngx-validate
  npm/ng-packs/package.json
  npm/ng-packs/packages/theme-shared/package.json
  npm/ng-packs/yarn.lock
Labels: ui-angular

#10795 fix: use tsconfig app json in dev-app
  npm/ng-packs/angular.json
Labels: ui-angular

#10770 Check microservice project version when adding a new microservice project
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
Labels: enhancement, abp-cli

#10790 Add new localizations to admin.abp.io
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/tr.json
Labels: abp-io
