Repository abpframework/abp, pull requests merged in 2022-05, with the labels that each got.

#12421 Add `ctor` to `ExtensibleEntityDto` base classes.
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Dtos/ExtensibleAuditedEntityDto.cs
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Dtos/ExtensibleAuditedEntityWithUserDto.cs
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Dtos/ExtensibleCreationAuditedEntityDto.cs
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Dtos/ExtensibleCreationAuditedEntityWithUserDto.cs
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Dtos/ExtensibleEntityDto.cs
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Dtos/ExtensibleFullAuditedEntityDto.cs
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Dtos/ExtensibleFullAuditedEntityWithUserDto.cs
Labels: abp-framework

#12427 Quick Grammar Fix of all the final commits
  docs/en/Background-Jobs.md
  docs/en/Background-Workers.md
  docs/en/Caching.md
  docs/en/Deployment/Clustered-Environment.md
  docs/en/Deployment/Index.md
  docs/en/Distributed-Locking.md
Labels: abp-framework, documentation

#12434 Update zh-Hans docs
  docs/zh-Hans/Deployment/Clustered-Environment.md
  docs/zh-Hans/Deployment/Index.md
  docs/zh-Hans/Distributed-Locking.md
  docs/zh-Hans/docs-nav.json
  docs/zh-Hans/images/deployment-clustered.png
  docs/zh-Hans/images/deployment-single-instance.png
Labels: documentation

#12400 Cli: Configure Docker Files
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/MoveFileStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/RemoveFileStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/TemplateCodeDeleteStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppNoLayersTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
Labels: abp-cli

#11912 feat: Convert short date,time and datetime functions to pipe #11909
  docs/en/UI/Angular/DateTime-Format-Pipe.md
  docs/en/docs-nav.json
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/pipes/index.ts
  npm/ng-packs/packages/core/src/lib/pipes/short-date-time.pipe.ts
  npm/ng-packs/packages/core/src/lib/pipes/short-date.pipe.ts
  npm/ng-packs/packages/core/src/lib/pipes/short-time.pipe.ts
Labels: ui-angular

#12371 Added notification for user successfull delete action in Abp.
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.ts
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.ts
Labels: ui-angular

#12455 Update zh-Hans docs
  docs/zh-Hans/CLI-New-Command-Samples.md
  docs/zh-Hans/CLI.md
  docs/zh-Hans/Entities.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#12456 Feature modal improvement
  modules/feature-management/src/Volo.Abp.FeatureManagement.Blazor/Components/FeatureManagementModal.razor
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml
Labels: enhancement, abp-module-feature-management

#12480 Fix LeptonX Lite menu name
  docs/en/docs-nav.json
Labels: documentation

#12459 Changed type of password textbox in email settings page.
  npm/ng-packs/packages/setting-management/config/src/components/email-setting-group/email-setting-group.component.html
Labels: ui-angular

#12483 Fix migrate-database.ps1 file
  templates/app-nolayers/aspnet-core/migrate-database.ps1
Labels: bug, abp-template-app-nolayers

#12468 Update Distributed-Event-Bus-Rebus-Integration.md
  docs/zh-Hans/Distributed-Event-Bus-Kafka-Integration.md
  docs/zh-Hans/Distributed-Event-Bus-Rebus-Integration.md
Labels: documentation

#12499 Add [DisableAuditing] to TenantCreateDto.AdminPassword
  modules/tenant-management/src/Volo.Abp.TenantManagement.Application.Contracts/Volo/Abp/TenantManagement/TenantCreateDto.cs
Labels: abp-module-tenant-management

#12486 Cli: Create migrations after project generation
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/CreateMigrationAndRunMigratorCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/Services/DotnetEfToolManager.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/Services/InitialMigrationCreator.cs
Labels: enhancement, abp-cli

#10981 Added EnsureExistsAsync for optimal checking
  docs/en/Repositories.md
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/RepositoryExtensions.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/Repositories/RepositoryExtensions_Tests.cs
  framework/test/Volo.Abp.MemoryDb.Tests/Volo/Abp/MemoryDb/Repositories/RepositoryExtensions_Tests.cs
  framework/test/Volo.Abp.MongoDB.Tests/Volo/Abp/MongoDB/Repositories/RepositoryExtensions_Tests.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Testing/RepositoryExtensions_Tests.cs
Labels: enhancement, abp-framework

#12505 Remove description of `AllowTenantsToChangeEmailSettings` feature.
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/SettingManagementFeatureDefinitionProvider.cs
Labels: abp-module-setting-management

#12508 Update CLI.md
  docs/en/CLI.md
Labels: enhancement, documentation

#12452 Add new localizations for community.abp.io
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/tr.json
Labels: abp-io

#12513 Tag-Helpers: Support for TextArea in html
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelperService.cs
Labels: abp-framework

#12517 Bring 5.2 document updates to 5.3 branch
  docs/en/Dependency-Injection.md
  docs/en/Distributed-Event-Bus.md
  docs/en/Local-Event-Bus.md
Labels: documentation

#12518 Add localizations for Progressive Web Application
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
Labels: abp-io

#12522 Docs: Support `diff` language for code highlight
  modules/docs/src/Volo.Docs.Web/Bundling/PrismjsScriptBundleContributorDocsExtension.cs
Labels: enhancement, abp-module-docs

#12528 Docs: Add diff highlight plugin
  modules/docs/src/Volo.Docs.Web/Bundling/PrismjsScriptBundleContributorDocsExtension.cs
  modules/docs/src/Volo.Docs.Web/Bundling/PrismjsStyleBundleContributorDocsExtension.cs
Labels: enhancement, abp-module-docs

#12530 Grammatic improvement on MultiTenancy Localization
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/en.json
Labels: localization

#12521 blogging: remove unnecessary header link
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/detail.js
Labels: abp-module-blogging

#12544 Replace abp add-package command with dotnet one
  docs/en/Themes/LeptonXLite/mvc.md
Labels: documentation

#12556 Upgrade Blazorise to 1.0.4
  framework/src/Volo.Abp.BlazoriseUI/Volo.Abp.BlazoriseUI.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyCompanyName.MyProjectName.Blazor.Server.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/global.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/index.html
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/MyCompanyName.MyProjectName.Blazor.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/wwwroot/global.css
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/wwwroot/index.html
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/MyCompanyName.MyProjectName.Blazor.Server.Host.csproj
Labels: abp-framework

#12561 Output warning when `actionApiDescriptionModel is null`.
  framework/src/Volo.Abp.Http.Client.Web/Volo/Abp/Http/Client/Web/Conventions/AbpHttpClientProxyServiceConvention.cs
Labels: enhancement, abp-framework

#12563 Create Migration Guide for v5.3
  docs/en/Migration-Guides/Abp-5_3.md
  docs/en/Migration-Guides/Index.md
Labels: documentation

#12562 CmsKit update static client proxies
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/BlogPostAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/cms-kit-admin-generate-proxy.json
  modules/cms-kit/src/Volo.CmsKit.Common.HttpApi.Client/ClientProxies/cms-kit-common-generate-proxy.json
  modules/cms-kit/src/Volo.CmsKit.Public.Web/wwwroot/client-proxies/cms-kit-proxy.js
Labels: abp-module-cms-kit

#12567 Update LeptonX Documentation
  docs/en/Themes/LeptonXLite/blazor.md
  docs/en/Themes/LeptonXLite/mvc.md
Labels: documentation

#12569 Check the `ReturnUrl` on `Manage` page.
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Urls/AppUrlProvider.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Manage.cshtml.cs
Labels: abp-module-account

#12534 Openiddict minor revisions
  docs/en/Modules/OpenIddict.md
  modules/openiddict/app/OpenIddict.Demo.Client.Mvc/Pages/Index.cshtml
  modules/openiddict/app/OpenIddict.Demo.Client.Mvc/Program.cs
  modules/openiddict/app/OpenIddict.Demo.Server/OpenIddict.Demo.Server.csproj
  modules/openiddict/app/OpenIddict.Demo.Server/OpenIddictServerModule.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Program.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo.Abp.OpenIddict.AspNetCore.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/AbpOpenIddictAspNetCoreModule.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/AbpOpenIddictOptions.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/WildcardDomains/AbpOpenIddictWildcardDomainBase.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/WildcardDomains/AbpOpenIddictWildcardDomainOptions.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/WildcardDomains/AbpValidateClientPostLogoutRedirectUri.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/WildcardDomains/AbpValidateClientRedirectUri.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/WildcardDomains/AbpValidatePostLogoutRedirectUriParameter.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/WildcardDomains/AbpValidateRedirectUriParameter.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain.Shared/Volo.Abp.OpenIddict.Domain.Shared.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain.Shared/Volo/Abp/OpenIddict/AbpOpenIddictDomainSharedModule.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo.Abp.OpenIddict.Domain.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/AbpOpenIddictDomainModule.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/TokenCleanupBackgroundWorker.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.EntityFrameworkCore/Volo.Abp.OpenIddict.EntityFrameworkCore.csproj
  modules/openiddict/test/Volo.Abp.OpenIddict.Domain.Tests/Volo.Abp.OpenIddict.Domain.Tests.csproj
  modules/openiddict/test/Volo.Abp.OpenIddict.EntityFrameworkCore.Tests/Volo.Abp.OpenIddict.EntityFrameworkCore.Tests.csproj
Labels: enhancement, abp-module-openiddict

#12377 Add validation rules for this property.
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/PropertyApiDescriptionModel.cs
Labels: abp-framework

#12603 Fix the problem of `ValueObject` return value.
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Values/ValueObject.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Values/EmailAddress.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Values/ValueObject_Tests.cs
Labels: abp-framework

#12597 Make `UserEto ` class inherit `IHasExtraProperties`
  modules/users/src/Volo.Abp.Users.Abstractions/Volo/Abp/Users/UserEto.cs
Labels: enhancement, abp-module-users

#12606 Sending test email in the setting page with MVC and Blazor UI
  modules/setting-management/src/Volo.Abp.SettingManagement.Application.Contracts/Volo/Abp/SettingManagement/IEmailSettingsAppService.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Application.Contracts/Volo/Abp/SettingManagement/SendTestEmailInput.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Application.Contracts/Volo/Abp/SettingManagement/SettingManagementPermissionDefinitionProvider.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Application.Contracts/Volo/Abp/SettingManagement/SettingManagementPermissions.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Application/Volo/Abp/SettingManagement/EmailSettingsAppService.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/EmailSettingGroup/EmailSettingGroupViewComponent.razor
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/EmailSettingGroup/EmailSettingGroupViewComponent.razor.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/SettingManagementBlazorAutoMapperProfile.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/en.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/tr.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/zh-Hans.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/zh-Hant.json
  modules/setting-management/src/Volo.Abp.SettingManagement.HttpApi.Client/ClientProxies/EmailSettingsClientProxy.Generated.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.HttpApi.Client/ClientProxies/settingManagement-generate-proxy.json
  modules/setting-management/src/Volo.Abp.SettingManagement.HttpApi/Volo/Abp/SettingManagement/EmailSettingsController.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Components/EmailSettingGroup/Default.cshtml
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Components/EmailSettingGroup/Default.js
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Components/EmailSettingGroup/SendTestEmailModal.cshtml
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Components/EmailSettingGroup/SendTestEmailModal.cshtml.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/SettingManagementWebAutoMapperProfile.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/wwwroot/client-proxies/settingManagement-proxy.js
Labels: feature, abp-module-setting-management, ui-mvc, ui-blazor

#12553 Document how to check global features in MVC UI.
  docs/en/UI/AspNetCore/JavaScript-API/GlobalFeatures.md
  docs/en/UI/AspNetCore/JavaScript-API/Index.md
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/ApplicationGlobalFeatureConfigurationDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationAppService.cs
  npm/packs/core/src/abp.js
Labels: ui-mvc

#12636 abpIo: move some localizations to base
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#12551 Add Farsi Resource Files
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/fa.json
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Localization/fa.json
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Localization/Resources/AbpDdd/fa.json
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Localization/fa.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/fa.json
  framework/src/Volo.Abp.Features/Volo/Abp/Features/Localization/fa.json
  framework/src/Volo.Abp.GlobalFeatures/Volo/Abp/GlobalFeatures/Localization/fa.json
  framework/src/Volo.Abp.Ldap/Volo/Abp/Ldap/Localization/fa.json
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Resources/AbpLocalization/fa.json
  framework/src/Volo.Abp.Timing/Volo/Abp/Timing/Localization/fa.json
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Localization/Resource/fa.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/fa.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/fa.json
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Localization/Resource/fa.json
  framework/test/Volo.Abp.Emailing.Tests/Volo/Abp/Emailing/Localization/fa.json
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/Localization/fa.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/CountryNames/fa.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Base/Validation/fa.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Source/fa.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/SourceExt/fa.json
  framework/test/Volo.Abp.TextTemplating.Tests/Volo/Abp/TextTemplating/Localization/fa.json
Labels: enhancement, abp-framework

#12644 Add `OpenIddictClaimsPrincipalContributor`.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/ClaimDestinations/AbpDefaultOpenIddictClaimDestinationsProvider.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/OpenIddictClaimsPrincipalContributor.cs
Labels: abp-module-openiddict

#12576 Added checkers for integers, floats and decimal
  framework/src/Volo.Abp.Core/Volo/Abp/Check.cs
Labels: enhancement, abp-framework

#12666 Add IMultiTenant to IdentityRoleNameChangedEto
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/IdentityRoleNameChangedEto.cs
Labels: bug, abp-module-identity

#12670 Rebus: Fix the problem of calling Handler multiple times
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/AbpRebusEventHandlerStep.cs
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/IRebusDistributedEventHandlerAdapter.cs
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/RebusDistributedEventHandlerAdapter.cs
Labels: bug, abp-framework

#12674 Separate Blazor Server & Wasm Docs
  docs/en/UI/AspNetCore/Theming.md
  docs/en/UI/Blazor/Authentication.md
  docs/en/UI/Blazor/Basic-Theme.md
  docs/en/UI/Blazor/Customization-Overriding-Components.md
  docs/en/UI/Blazor/Error-Handling.md
  docs/en/UI/Blazor/Theming.md
  docs/en/UI/Blazor/Toolbars.md
Labels: documentation

#12682 Cli: Support for nested <Template-Remove> conditions
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Files/FileEntryExtensions.cs
Labels: enhancement, abp-cli

#12683 Cli: Improve <TEMPLATE-REMOVE>
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Files/FileEntryExtensions.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
Labels: enhancement, abp-cli

#12628 Add new localizations for `abp.io` websites
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#12686 Rnhance SwaggerUIBundle
  framework/src/Volo.Abp.Swashbuckle/wwwroot/swagger/ui/abp.swagger.js
Labels: problem, abp-framework

#12679 Add unit test for the Check
  framework/test/Volo.Abp.Core.Tests/Volo/Abp/Check_Tests.cs
Labels: enhancement, abp-framework

#12688 Add missing `_Imports.razor` file to app-nolayers blazor server project
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/_Imports.razor
Labels: enhancement, ui-blazor, abp-template-app-nolayers

#12607 Add input the by pass markAssubmit
  npm/ng-packs/packages/core/src/lib/directives/form-submit.directive.ts
Labels: ui-angular

#12707 Update Blazor LeptonXLite documentation
  docs/en/Themes/LeptonXLite/blazor.md
Labels: enhancement, documentation

#12706 Cli: fix typo in ProjectCreationCommandBase.cs file
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
Labels: abp-cli

#12710 Convert PageHeader to `h1` from `h5`
  framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/Layout/PageHeader.razor
Labels: abp-framework

#12614 Abp consuming rest api by using static proxy
  docs/en/Community-Articles/2022-05-16-Consuming-Rest-Api-By-Using-Static-Proxy/POST.md
  docs/en/Community-Articles/2022-05-16-Consuming-Rest-Api-By-Using-Static-Proxy/permission.png
  docs/en/Community-Articles/2022-05-16-Consuming-Rest-Api-By-Using-Static-Proxy/static-proxy.png
Labels: documentation

#12660 Global features Angular Api added
  docs/en/UI/Angular/GlobalFeatures.md
  docs/en/docs-nav.json
  npm/ng-packs/packages/account-core/src/lib/tenant-box.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/generate-proxy.json
  npm/ng-packs/packages/core/src/lib/proxy/pages/abp/multi-tenancy/abp-tenant.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/api-exploring/abp-api-definition.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/application-configurations/abp-application-configuration.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/application-configurations/models.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/application-configurations/object-extending/models.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/multi-tenancy/models.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/http/modeling/models.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/localization/models.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/models.ts
  npm/ng-packs/packages/core/src/lib/services/config-state.service.ts
  npm/ng-packs/packages/core/src/lib/services/multi-tenancy.service.ts
Labels: ui-angular

#12729 Remove build command options
  docs/en/CLI.md
Labels: documentation

#12738 Cli: update command should update all solutions in sub-folders
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/UpdateCommand.cs
Labels: feature, abp-cli

#12737 Add new localizations entries for abp.io websites
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Support/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Support/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Support/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Support/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Support/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Support/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Support/Localization/Resources/zh-Hant.json
Labels: abp-io

#12748 Add new localizations to base resource
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#12751 fix(modules/docs): null exception problem
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: bug, abp-module-docs

#12755 Reset change password form after succeeded
  modules/account/src/Volo.Abp.Account.Blazor/Pages/Account/AccountManage.razor.cs
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup/Password/Default.js
Labels: abp-module-account, ui-mvc, ui-blazor

#12760 Add missing condition for UpdatManyAsync
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/MongoDbRepository.cs
Labels: bug, abp-framework

#12768 Cli: Check if file exists in NugetPackageToLocalReferenceConverter
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NugetPackageToLocalReferenceConverter.cs
Labels: abp-cli

#12744 Add new localizations entries for abp.io websites 2
  abp_io/AbpIoLocalization/AbpIoLocalization/Blog/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.cshtml
Labels: enhancement, abp-io, localization

#12750 Allow return to `Web.Host` application in `Account/Manage` Page
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/appsettings.json
Labels: abp-template-app

#12780 CLI Compatible `AuthServer` project name.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AngularEnvironmentFilePortChangeForSeparatedAuthServersStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateChangeConsoleTestClientPortSettingsStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateChangeDbMigratorPortSettingsStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateSwitchEntityFrameworkCoreToMongoDbStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/BlazorAppsettingsFilePortChangeForSeparatedAuthServersStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/ReactEnvironmentFilePortChangeForSeparatedAuthServersStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/RemoveUnnecessaryPortsStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NuGetPackageTarget.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectFinder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectNugetPackageAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: abp-cli

#12602 Added checker for Struct types
  framework/src/Volo.Abp.Core/Volo/Abp/Check.cs
Labels: abp-framework

#12712 Add IExternalLoginProviderWithPassword
  modules/identity/src/Volo.Abp.Identity.AspNetCore/Volo/Abp/Identity/AspNetCore/AbpSignInManager.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/ExternalLoginProviderBase.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/ExternalLoginProviderWithPasswordBase.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IExternalLoginProvider.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IExternalLoginProviderWithPassword.cs
Labels: enhancement, abp-module-identity

#12804 Cli: Use `WorkingDirectory` when installing yarn & npm
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NpmPackagesUpdater.cs
Labels: enhancement, abp-cli

#12806 Cli: Use WorkingDirectory when running install-libs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/LIbs/InstallLibsService.cs
Labels: enhancement, abp-cli

#12809 Update some localizations for commercial.abp.io
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#12640 Quick start tutorial with the single layer startup template
  docs/en/Tutorials/Todo/Single-Layer/Index.md
  docs/en/Tutorials/Todo/Single-Layer/todo-efcore-migration-single-layer.png
Labels: documentation, abp-template-app-nolayers

#12610 Document the single layer application startup template (`app-nolayers`)
  docs/en/Startup-Templates/Application-Single-Layer.md
  docs/en/docs-nav.json
  docs/en/images/bookstore-single-layer-solution-structure.png
  docs/en/images/single-layer-angular-folder-structure.png
  docs/en/images/single-layer-folder-structure.png
Labels: documentation, abp-template-app-nolayers

#12817 Cli: Log special information on Dll not found exception
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SuiteCommand.cs
Labels: abp-cli

#12816 Upgrade Autofac to latest.
  framework/src/Volo.Abp.Autofac/Autofac/Extensions/DependencyInjection/AutofacRegistration.cs
  framework/src/Volo.Abp.Autofac/Volo.Abp.Autofac.csproj
Labels: enhancement, abp-framework

#12815 Update saving without any permissions localization
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain.Shared/Volo/Abp/PermissionManagement/Localization/Domain/en.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain.Shared/Volo/Abp/PermissionManagement/Localization/Domain/tr.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/permission-management-modal.js
Labels: abp-module-permission-management, localization

#12826 Documentation for breadcrumb
  docs/en/UI/Angular/Breadcrumb.md
Labels: documentation, ui-angular
