Repository abpframework/abp, pull requests merged in 2022-09, with the labels that each got.

#13907 Fix Kafka connection problem
  framework/src/Volo.Abp.Kafka/Volo/Abp/Kafka/ConsumerPool.cs
  framework/src/Volo.Abp.Kafka/Volo/Abp/Kafka/ProducerPool.cs
Labels: problem, abp-framework

#13906 Add Theme to Symbols
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Microservice/MicroserviceTemplateBase.cs
Labels: enhancement, abp-cli

#13912 Cli: Renamed ICmdHelper.OpenWebPage to ICmdHelper.Open
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/CmdHelper.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/ICmdHelper.cs
Labels: enhancement, breaking change, abp-cli

#13903 Implement layout hooks for blazor
  framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/Components/LayoutHooks/LayoutHook.razor
  framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/Components/LayoutHooks/LayoutHook.razor.cs
  framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/Layout/StandardLayouts.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI/Volo/Abp/AspNetCore/Mvc/UI/Components/LayoutHook/Default.cshtml
  framework/src/Volo.Abp.AspNetCore.Mvc.UI/Volo/Abp/AspNetCore/Mvc/UI/Components/LayoutHook/LayoutHookViewComponent.cs
  framework/src/Volo.Abp.UI/Volo/Abp/Ui/LayoutHooks/AbpLayoutHookOptions.cs
  framework/src/Volo.Abp.UI/Volo/Abp/Ui/LayoutHooks/LayoutHookInfo.cs
  framework/src/Volo.Abp.UI/Volo/Abp/Ui/LayoutHooks/LayoutHookViewModel.cs
  framework/src/Volo.Abp.UI/Volo/Abp/Ui/LayoutHooks/LayoutHooks.cs
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Themes/Basic/MainLayout.razor
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Account.cshtml
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Empty.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/CmsKitPublicWebModule.cs
  modules/docs/src/Volo.Docs.Web/DocsWebModule.cs
Labels: feature, breaking change, abp-framework, ui-blazor, abp-module-basic-theme

#13115 Add missing Page-Layout to the menu of docs
  docs/en/docs-nav.json
Labels: documentation

#12393 Remove `FormTenantResolveContributor` from the `AbpTenantResolveOptions`.
  docs/en/Multi-Tenancy.md
  docs/zh-Hans/Multi-Tenancy.md
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/AbpAspNetCoreMultiTenancyModule.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/FormTenantResolveContributor.cs
Labels: breaking change

#13921 Hangfire support specific queue
  docs/en/Background-Jobs-Hangfire.md
  docs/zh-Hans/Background-Jobs-Hangfire.md
  framework/src/Volo.Abp.BackgroundJobs.HangFire/Volo/Abp/BackgroundJobs/Hangfire/HangfireBackgroundJobManager.cs
  framework/src/Volo.Abp.BackgroundJobs.HangFire/Volo/Abp/BackgroundJobs/Hangfire/HangfireJobExecutionAdapter.cs
Labels: enhancement, abp-framework

#13924 Add EntityEquals to Entities document
  docs/en/Entities.md
  docs/zh-Hans/Entities.md
Labels: enhancement, documentation

#13898 Add LeptonXLite Mvc doc
  docs/en/Themes/LeptonXLite/AspNetCore.md
  docs/en/images/leptonxlite-brand-component.png
  docs/en/images/leptonxlite-breadcrumb-component.png
  docs/en/images/leptonxlite-language-switch-component.png
  docs/en/images/leptonxlite-mobile-language-switch-component.png
  docs/en/images/leptonxlite-mobile-user-menu-component.png
  docs/en/images/leptonxlite-page-alerts-component.png
  docs/en/images/leptonxlite-sidebar-menu-component.png
  docs/en/images/leptonxlite-user-menu-component.png
Labels: enhancement, documentation

#13930 CLI: Fix theme selection for blazor (basic-theme)
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Microservice/MicroserviceTemplateBase.cs
Labels: problem, abp-cli

#13943 Addd missing Chinese localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/zh-Hans.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/zh-Hans.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/zh-Hans.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain.Shared/Volo/Abp/PermissionManagement/Localization/Domain/zh-Hans.json
Labels: enhancement

#13958 CLI work when abp.io is offline
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
Labels: enhancement, abp-cli

#13955 Cli: Fix theme selection for basic theme (angular)
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/RemoveDependencyFromPackageJsonFileStep.cs
Labels: problem, abp-cli

#13820 Improved the menu icon
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Menus/CmsKitAdminMenuContributor.cs
Labels: abp-module-cms-kit

#13968 Change EntityPropertyChangeInfo members to static
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/EntityPropertyChangeInfo.cs
Labels: enhancement, abp-module-audit-logging

#13969 Document Layout Hooks for Blazor UI
  docs/en/UI/Blazor/Layout-Hooks.md
  docs/en/docs-nav.json
  docs/en/images/bookstore-banner-component.png
Labels: documentation

#13970 Update MainLayout.razor
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Themes/Basic/MainLayout.razor
Labels: abp-module-basic-theme

#13972 Distributed lock key prefix
  docs/en/Distributed-Locking.md
  docs/zh-Hans/Distributed-Locking.md
  framework/src/Volo.Abp.DistributedLocking.Abstractions/Volo/Abp/DistributedLocking/AbpDistributedLockOptions.cs
  framework/src/Volo.Abp.DistributedLocking.Abstractions/Volo/Abp/DistributedLocking/DistributedLockKeyNormalizer.cs
  framework/src/Volo.Abp.DistributedLocking.Abstractions/Volo/Abp/DistributedLocking/IDistributedLockKeyNormalizer.cs
  framework/src/Volo.Abp.DistributedLocking.Abstractions/Volo/Abp/DistributedLocking/LocalAbpDistributedLock.cs
  framework/src/Volo.Abp.DistributedLocking.Dapr/Volo/Abp/DistributedLocking/Dapr/DaprAbpDistributedLock.cs
  framework/src/Volo.Abp.DistributedLocking/Volo/Abp/DistributedLocking/MedallionAbpDistributedLock.cs
Labels: feature, abp-framework

#13980 Add Audit logging localization files
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo.Abp.AuditLogging.Domain.Shared.csproj
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/AbpAuditLoggingDomainSharedModule.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/ar.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/de-DE.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/en.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/es.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/fi.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/fr.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/hi.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/it.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/pt-BR.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/ru.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/sk.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/sl.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/tr.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/zh-Hans.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/zh-Hant.json
Labels: enhancement, abp-module-audit-logging

#12896 Introduce Integration Service Infrastructure
  framework/src/Volo.Abp.AspNetCore.Mvc/Microsoft/AspNetCore/Mvc/Abstractions/ActionDescriptorExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Auditing/AbpAuditActionFilter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Auditing/AbpAuditPageFilter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/ConventionalRouteBuilder.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/AbpAspNetCoreConsts.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Auditing/AbpAspNetCoreAuditingOptions.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Auditing/AbpAuditingMiddleware.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AbpAuditingOptions.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingHelper.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingInterceptor.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingInterceptorRegistrar.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/IAuditingHelper.cs
  framework/src/Volo.Abp.Core/Volo/Abp/IRemoteService.cs
  framework/src/Volo.Abp.Core/Volo/Abp/IntegrationServiceAttribute.cs
  framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Services/IApplicationService.cs
  framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/AbpDddApplicationModule.cs
  framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/ApplicationService.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Auditing/AuditIntegrationServiceTestController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Auditing/AuditIntegrationServiceTestController_Tests.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Auditing/AuditTestController_Tests.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/PeopleIntegrationService_Tests.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/Auditing_Tests.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Application/IPeopleIntegrationService.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Application/PeopleIntegrationService.cs
Labels: feature, abp-framework

#14004 Update leptonx to nightly
  templates/NuGet.Config
  templates/app-nolayers/angular/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/MyCompanyName.MyProjectName.Host.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyCompanyName.MyProjectName.Host.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/MyCompanyName.MyProjectName.Mvc.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyCompanyName.MyProjectName.Mvc.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/package.json
  templates/app/angular/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/MyCompanyName.MyProjectName.AuthServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyCompanyName.MyProjectName.Blazor.Server.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/package.json
Labels: abp-template-app, abp-template-module, abp-template-app-nolayers

#13997 Logo Changed in app-nolayers, module , app.
  templates/app-nolayers/angular/src/assets/images/logo/logo-light-thumbnail.png
  templates/app-nolayers/angular/src/assets/images/logo/logo-light.png
  templates/app-nolayers/angular/src/styles.scss
  templates/app/angular/src/assets/images/logo/logo-light-thumbnail.png
  templates/app/angular/src/assets/images/logo/logo-light.png
  templates/app/angular/src/styles.scss
  templates/module/angular/projects/dev-app/src/assets/images/logo/logo-light-thumbnail.png
  templates/module/angular/projects/dev-app/src/assets/images/logo/logo-light.png
  templates/module/angular/projects/dev-app/src/styles.scss
Labels: ui-angular

#14007 Added class to modal header
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.html
  npm/ng-packs/packages/theme-shared/src/lib/constants/styles.ts
Labels: ui-angular

#14006 Cache a `scope` with multiple `ApiResource`.
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/ResourceStore.cs
  modules/identityserver/test/Volo.Abp.IdentityServer.Domain.Tests/Volo/Abp/IdentityServer/ResourceStore_Cache_Tests.cs
  modules/identityserver/test/Volo.Abp.IdentityServer.TestBase/Volo/Abp/IdentityServer/AbpIdentityServerTestDataBuilder.cs
Labels: abp-module-identityserver

#14022 Implement IMultiTenant for the ETO
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/IdentityRoleEto.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/OrganizationUnitEto.cs
  modules/users/src/Volo.Abp.Users.Abstractions/Volo/Abp/Users/UserEto.cs
Labels: enhancement

#14015 Dapr improvements & documentation
  docs/en/Dapr/Index.md
  docs/en/docs-nav.json
  framework/src/Volo.Abp.AspNetCore.Mvc.Dapr.EventBus/Volo/Abp/AspNetCore/Mvc/Dapr/EventBus/Controllers/AbpAspNetCoreMvcDaprPubSubController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Dapr.EventBus/Volo/Abp/AspNetCore/Mvc/Dapr/EventBus/SystemTextJson/AbpAspNetCoreMvcDaprSubscriptionDefinitionConverter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Dapr/Volo/Abp/AspNetCore/Mvc/Dapr/DaprAppApiTokenValidator.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Dapr/Volo/Abp/AspNetCore/Mvc/Dapr/DaprHttpContextExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Dapr/Volo/Abp/AspNetCore/Mvc/Dapr/IDaprAppApiTokenValidator.cs
  framework/src/Volo.Abp.Dapr/Volo/Abp/Dapr/AbpDaprClientFactory.cs
  framework/src/Volo.Abp.Dapr/Volo/Abp/Dapr/AbpDaprModule.cs
  framework/src/Volo.Abp.Dapr/Volo/Abp/Dapr/AbpDaprOptions.cs
  framework/src/Volo.Abp.Dapr/Volo/Abp/Dapr/DaprApiTokenProvider.cs
  framework/src/Volo.Abp.Dapr/Volo/Abp/Dapr/IAbpDaprClientFactory.cs
  framework/src/Volo.Abp.Dapr/Volo/Abp/Dapr/IDaprApiTokenProvider.cs
  framework/src/Volo.Abp.DistributedLocking.Abstractions/Volo/Abp/DistributedLocking/IAbpDistributedLock.cs
  framework/src/Volo.Abp.DistributedLocking.Dapr/Volo/Abp/DistributedLocking/Dapr/AbpDistributedLockDaprOptions.cs
  framework/src/Volo.Abp.DistributedLocking.Dapr/Volo/Abp/DistributedLocking/Dapr/DaprAbpDistributedLock.cs
  framework/src/Volo.Abp.EventBus.Dapr/Volo/Abp/EventBus/Dapr/DaprDistributedEventBus.cs
Labels: enhancement, abp-framework, documentation

#14030 6.0 leptonx documentation
  docs/en/Themes/LeptonXLite/AspNetCore.md
  docs/en/images/leptonxlite-brand-component.png
  docs/en/images/leptonxlite-breadcrumb-component.png
  docs/en/images/leptonxlite-language-switch-component.png
  docs/en/images/leptonxlite-mobile-language-switch-component.png
  docs/en/images/leptonxlite-mobile-user-menu-component.png
  docs/en/images/leptonxlite-page-alerts-component.png
  docs/en/images/leptonxlite-sidebar-menu-component.png
  docs/en/images/leptonxlite-user-menu-component.png
Labels: documentation

#14028 feature-management: update menu name
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/ar.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/cs.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/de-DE.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/de.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/el.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/en-GB.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/en.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/es.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/fa.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/fi.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/fr.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/hi.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/hu.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/is.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/it.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/nl.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/pl-PL.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/pt-BR.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/ro-RO.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/ru.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/sk.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/sl.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/tr.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/vi.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/zh-Hans.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/zh-Hant.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Settings/FeatureSettingManagementPageContributor.cs
Labels: enhancement, abp-module-feature-management

#14034 ABP Community Post: Using gRPC with the ABP Framework
  docs/en/Community-Articles/2022-09-15-Grpc-Demo/POST.md
  docs/en/Community-Articles/2022-09-15-Grpc-Demo/client-application.png
  docs/en/Community-Articles/2022-09-15-Grpc-Demo/contracts.png
  docs/en/Community-Articles/2022-09-15-Grpc-Demo/host-changes-1.png
  docs/en/Community-Articles/2022-09-15-Grpc-Demo/solution.png
  docs/en/Community-Articles/2022-09-15-Grpc-Demo/swagger.png
Labels: documentation

#14033 quick fix
  docs/en/Dapr/Index.md
Labels: documentation

#13818 Use lepton-x logos on templates
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/wwwroot/global-styles.css
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/wwwroot/images/logo/leptonx/logo-dark-thumbnail.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/wwwroot/images/logo/leptonx/logo-dark.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/wwwroot/images/logo/leptonx/logo-light-thumbnail.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/wwwroot/images/logo/leptonx/logo-light.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/wwwroot/global-styles.css
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/wwwroot/images/logo/leptonx/logo-dark-thumbnail.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/wwwroot/images/logo/leptonx/logo-dark.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/wwwroot/images/logo/leptonx/logo-light-thumbnail.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/wwwroot/images/logo/leptonx/logo-light.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/wwwroot/global-styles.css
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/wwwroot/images/logo/leptonx/logo-dark-thumbnail.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/wwwroot/images/logo/leptonx/logo-dark.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/wwwroot/images/logo/leptonx/logo-light-thumbnail.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/wwwroot/images/logo/leptonx/logo-light.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/wwwroot/global-styles.css
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/wwwroot/images/logo/leptonx/logo-dark-thumbnail.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/wwwroot/images/logo/leptonx/logo-dark.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/wwwroot/images/logo/leptonx/logo-light-thumbnail.png
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/wwwroot/images/logo/leptonx/logo-light.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/wwwroot/global-styles.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/wwwroot/images/logo/leptonx/logo-dark-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/wwwroot/images/logo/leptonx/logo-dark.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/wwwroot/images/logo/leptonx/logo-light-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/wwwroot/images/logo/leptonx/logo-light.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/wwwroot/global-styles.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/wwwroot/images/logo/leptonx/logo-dark-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/wwwroot/images/logo/leptonx/logo-dark.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/wwwroot/images/logo/leptonx/logo-light-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/wwwroot/images/logo/leptonx/logo-light.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/wwwroot/global-styles.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/wwwroot/images/logo/leptonx/logo-dark-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/wwwroot/images/logo/leptonx/logo-dark.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/wwwroot/images/logo/leptonx/logo-light-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/wwwroot/images/logo/leptonx/logo-light.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/images/logo/leptonx/logo-dark-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/images/logo/leptonx/logo-dark.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/images/logo/leptonx/logo-light-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/images/logo/leptonx/logo-light.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/main.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/wwwroot/global-styles.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/wwwroot/images/logo/leptonx/logo-dark-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/wwwroot/images/logo/leptonx/logo-dark.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/wwwroot/images/logo/leptonx/logo-light-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/wwwroot/images/logo/leptonx/logo-light.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/wwwroot/global-styles.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/wwwroot/images/logo/leptonx/logo-dark-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/wwwroot/images/logo/leptonx/logo-dark.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/wwwroot/images/logo/leptonx/logo-light-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/wwwroot/images/logo/leptonx/logo-light.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/global-styles.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/images/logo/leptonx/logo-dark-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/images/logo/leptonx/logo-dark.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/images/logo/leptonx/logo-light-thumbnail.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/images/logo/leptonx/logo-light.png
Labels: abp-template-app, ui-mvc, ui-blazor, abp-template-app-nolayers

#14041 Update Abp-6_0.md
  docs/en/Migration-Guides/Abp-6_0.md
Labels: documentation

#14040 cms-kit: Fix type on `BlogFeatureAppService.cs`
  modules/cms-kit/src/Volo.CmsKit.Common.Application/Volo/CmsKit/Blogs/BlogFeatureAppService.cs
Labels: breaking change, abp-module-cms-kit

#14038 Dapr document for Chinese
  docs/zh-Hans/Dapr/Index.md
Labels: documentation

#14044 Issue/11742
  npm/ng-packs/packages/identity/src/lib/defaults/default-users-form-props.ts
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.ts
  npm/ng-packs/packages/setting-management/config/src/lib/components/email-setting-group/email-setting-group.component.html
Labels: ui-angular

#13839 Add grouping ability to extensible-form.component.html
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/extensible-form/extensible-form-prop.component.html
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/extensible-form/extensible-form-prop.component.ts
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/extensible-form/extensible-form.component.html
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/extensible-form/extensible-form.component.ts
  npm/ng-packs/packages/theme-shared/extensions/src/lib/models/form-props.ts
Labels: ui-angular, effort-sm

#14051 Integration services improvements
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Auditing/AbpAuditActionFilter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/ConventionalControllerSetting.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/ConventionalRouteBuilder.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingInterceptorRegistrar.cs
  framework/src/Volo.Abp.Core/Volo/Abp/ApplicationServiceTypes.cs
  framework/src/Volo.Abp.Core/Volo/Abp/IntegrationServiceAttribute.cs
  framework/src/Volo.Abp.Http.Client/Microsoft/Extensions/DependencyInjection/ServiceCollectionHttpClientProxyExtensions.cs
  framework/test/Volo.Abp.Core.Tests/Volo/Abp/IntegrationServiceAttribute_Tests.cs
Labels: feature

#14053 CLI: Remove theme logo folder according to theme selection
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/RemoveFilesStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/TemplateCodeDeleteStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
Labels: abp-cli

#14060 Change default value of ShowCancelButton to false
  modules/account/src/Volo.Abp.Account.Web.IdentityServer/Pages/Account/IdentityServerSupportedLoginModel.cs
  modules/account/src/Volo.Abp.Account.Web.OpenIddict/Pages/Account/OpenIddictSupportedLoginModel.cs
Labels: abp-module-account

#14045 Update Blazorise references to `1.0.6`
  framework/src/Volo.Abp.BlazoriseUI/Volo.Abp.BlazoriseUI.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyCompanyName.MyProjectName.Blazor.Server.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/global.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/index.html
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/MyCompanyName.MyProjectName.Blazor.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/wwwroot/global.css
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/wwwroot/global.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/wwwroot/index.html
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/MyCompanyName.MyProjectName.Blazor.Server.Host.csproj
Labels: ui-blazor

#14063 MailKit: Add MessageId header
  framework/src/Volo.Abp.MailKit/Volo/Abp/MailKit/MailKitSmtpEmailSender.cs
Labels: abp-framework

#14072 setting-management: add href for tab items
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Index.cshtml
Labels: abp-module-setting-management

#14074 Add missing Turkish localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Blog/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/tr.json
  framework/test/Volo.Abp.Http.Client.Tests/Volo/Abp/Http/Localization/tr.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Source/tr.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/SourceExt/tr.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/tr.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/tr.json
Labels: localization

#14047 Fix JavaScript Localization API
  npm/packs/core/src/abp.js
Labels: abp-framework, ui-mvc

#14085 Add missing Turkish localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
Labels: localization

#13978 Documents module styles changed as designed
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Scripts/vs.js
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css.map
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.scss
Labels: abp-module-basic-theme

#14092 CLI: Add warning for Angular theme selection
  docs/en/UI/Angular/Theme-Configurations.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/TemplateProjectBuilder.cs
Labels: abp-cli

#14096 Selected "Active" and "Lock..." when we open the "new user" dialog
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor.cs
Labels: enhancement, abp-module-identity, ui-blazor

#14100 Add missing mapping for `Configuration` in ModuleExtensionConfigurationHelper
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/Modularity/ModuleExtensionConfigurationHelper.cs
Labels: enhancement, abp-framework

#14110 Update leptonx-lite npm packages to `1.0.0-rc.6`
  templates/app-nolayers/angular/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/package.json
  templates/app/angular/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/package.json
Labels: abp-template-app, ui-angular, ui-mvc, ui-blazor, abp-template-app-nolayers

#14108 localization typo fixed
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io, localization

#14103 Conditional PersonalInfo editing
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup/PersonalInfo/Default.cshtml
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/ObjectExtending/IdentityModuleExtensionConsts.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/MyProjectNameModuleExtensionConfigurator.cs
Labels: abp-module-account, abp-module-identity

#14121 Project.ExtraProperties["VersionBranchPrefix"] Null check
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: enhancement, abp-module-docs

#14125 Cli: Fix line splitting in SolutionFileModifier
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionFileModifier.cs
Labels: abp-cli

#14135 fix unit tests of localizations
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/Source/tr.json
  framework/test/Volo.Abp.Localization.Tests/Volo/Abp/Localization/TestResources/SourceExt/tr.json
Labels: abp-framework

#14147 Reduce duplication of defining languages in startup templates.
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/MyProjectNameAuthServerModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyProjectNameBlazorModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyProjectNameBlazorModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/MyProjectNameDomainModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyProjectNameHttpApiHostModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyProjectNameWebModule.cs
Labels: abp-template-app

#14149 Add `data` to `RemoteServiceErrorInfo`.
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/AspNetCore/ExceptionHandling/DefaultExceptionToErrorInfoConverter.cs
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/Http/RemoteServiceErrorInfo.cs
Labels: enhancement, abp-framework

#14152 Added `AbpFeaturesModule` dependency
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/CmsKitDomainSharedModule.cs
Labels: bug, abp-module-cms-kit

#14150 Cli: Get leptonx & framework versions separately
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/GitHub/GithubRelease.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
Labels: abp-cli

#14148 Add an option to enable/disable AuditLogActionInfo entirely.
  docs/en/Audit-Logging.md
  docs/zh-Hans/Audit-Logging.md
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Auditing/AbpAuditActionFilter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Auditing/AbpAuditPageFilter.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AbpAuditingOptions.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingInterceptor.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Auditing/AuditTestController_Tests.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Auditing/AuditTestPage_Tests.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/Auditing_Tests.cs
Labels: enhancement, abp-framework

#14162 Add active page name to all pages.
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Components/ContentTitle/ContentTitleViewComponent.cs
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Components/ContentTitle/Default.cshtml
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/Index.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/Index.cshtml
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/Index.cshtml
  modules/virtual-file-explorer/src/Volo.Abp.VirtualFileExplorer.Web/Pages/VirtualFileExplorer/Index.cshtml
Labels: abp-module-tenant-management, abp-module-identity, abp-module-virtual-file-explorer, abp-module-basic-theme

#14161 Cli: Change version api url
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
Labels: abp-cli

#14169 Update Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
Labels: abp-module-docs

#14180 Added localization for the reject trial license button
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: localization

#14182 Cli: Check latest version one time per day
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliConsts.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliPaths.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/GetSourceCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/Services/SourceCodeDownloadService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Memory/MemoryService.cs
Labels: enhancement, abp-cli

#14188 CmsKit-Blogs: mark `OnGet` method as `virtual`
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/Index.cshtml.cs
Labels: abp-module-cms-kit
