Repository abpframework/abp, pull requests merged in 2022-12, with the labels that each got.

#14895 Update Hangfire document
  docs/en/Background-Workers-Hangfire.md
  docs/zh-Hans/Background-Workers-Hangfire.md
Labels: documentation

#14890 New document: Configuring for Production
  docs/en/Deployment/Configuring-Production.md
  docs/en/Deployment/Index.md
  docs/en/docs-nav.json
Labels: abp-framework, documentation

#14900 Update documents for configuration & localization endpoint separation
  docs/en/API/Application-Configuration.md
  docs/en/API/Application-Localization.md
  docs/en/UI/AspNetCore/JavaScript-API/Localization.md
  npm/packs/core/src/abp.js
Labels: bug, documentation

#14876 Add extra filters to the User page
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityUserRepository.cs
Labels: abp-module-identity

#14913 Enhance ABP CLI
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
Labels: abp-cli

#14899 Add `GivenName` claim to `Userinfo` endpoint.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/UserInfoController.cs
Labels: abp-module-openiddict

#14935 Ignore `HostAbortedException` in `app` and `module` template.
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/Program.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/Program.cs
  templates/console/src/MyCompanyName.MyProjectName/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Host/Program.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Program.cs
Labels: abp-template-app, abp-template-module

#14903 Document: Optimizing Your Application for Production Environments
  docs/en/Deployment/Configuring-Production.md
  docs/en/Deployment/Index.md
  docs/en/Deployment/Optimizing-Production.md
  docs/en/docs-nav.json
Labels: documentation

#14926 A space should be left between values that appear adjacent to the tab
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Tab/AbpTabsTagHelperService.cs
Labels: bug, ui-mvc

#14939 Added margin bottom to card for better appearance
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Card/AbpCardTagHelperService.cs
Labels: ui-mvc

#14952 fix initial language conflict
  npm/ng-packs/packages/core/src/lib/services/session-state.service.ts
Labels: ui-angular

#14886 Update change-theme map. Add Font-bundle
  npm/ng-packs/packages/schematics/src/commands/change-theme/style-map.ts
Labels: ui-angular

#14821 Git prettier hook
  npm/ng-packs/.prettierignore
  npm/ng-packs/README.md
  npm/ng-packs/package.json
  npm/ng-packs/pre-commit
Labels: ui-angular

#14955 Cli: add missing steps when angular module added to app template
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/AngularSourceCodeAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: enhancement, abp-cli

#14940 Move abp-tree css to angular.json an inject with lazyLoadService
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.scss
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.ts
Labels: breaking change, ui-angular

#14968 Filter controller by service-type on ABP Schematics
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/Angular/AngularServiceProxyGenerator.cs
  npm/ng-packs/package.json
  npm/ng-packs/packages/schematics/src/commands/api/index.ts
  npm/ng-packs/packages/schematics/src/commands/api/schema.json
  npm/ng-packs/packages/schematics/src/commands/proxy-add/schema.json
  npm/ng-packs/packages/schematics/src/enums/index.ts
  npm/ng-packs/packages/schematics/src/enums/service-types.ts
  npm/ng-packs/packages/schematics/src/models/api-definition.ts
  npm/ng-packs/packages/schematics/src/models/generate-proxy-schema.ts
  npm/ng-packs/scripts/copy-packages-to-templates.ts
Labels: ui-angular

#14995 Update DefaultHomePageMiddleware.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/DefaultHomePageMiddleware.cs
Labels: abp-module-cms-kit

#15001 Register `HttpClient` in the necessary modules.
  framework/src/Volo.Abp.AspNetCore.Authentication.OpenIdConnect/Volo/Abp/AspNetCore/Authentication/OpenIdConnect/AbpAspNetCoreAuthenticationOpenIdConnectModule.cs
  framework/src/Volo.Abp.AspNetCore.Components.Server/Volo/Abp/AspNetCore/Components/Server/AbpAspNetCoreComponentsServerModule.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/AbpAspNetCoreComponentsWebAssemblyModule.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/AbpHttpClientModule.cs
Labels: enhancement, abp-framework

#15005 Upgrade OpenIddict to 4.0 rc1.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo.Abp.OpenIddict.AspNetCore.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/AbpOpenIddictAspNetCoreModule.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain.Shared/Volo.Abp.OpenIddict.Domain.Shared.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo.Abp.OpenIddict.Domain.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Applications/AbpOpenIddictApplicationStore.cs
Labels: abp-module-openiddict

#14884 Document Distributed Entity Cache
  docs/en/Caching.md
  docs/en/Deployment/Clustered-Environment.md
  docs/en/Entities.md
  docs/en/Entity-Cache.md
  docs/en/docs-nav.json
Labels: documentation

#15016 Change theme for MauiBlazor
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
Labels: enhancement, abp-cli

#14994 Cli: Add MauiBlazor nuget type
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NuGetPackageTarget.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectFinder.cs
Labels: enhancement, abp-cli

#15024 add description to feature management
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/en.json
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain.Shared/Volo/Abp/FeatureManagement/Localization/Domain/tr.json
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management-tab/feature-management-tab.component.html
Labels: localization

#15035 Add description to feature-management setting tab
  modules/feature-management/src/Volo.Abp.FeatureManagement.Blazor/Components/FeatureSettingGroup/FeatureSettingManagementComponent.razor
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/Components/FeatureSettingGroup/Default.cshtml
Labels: abp-module-feature-management, ui-mvc, ui-blazor

#15038 Add dist schematic
  npm/ng-packs/package.json
  npm/ng-packs/scripts/mock-schematic/mock-schematic-json.ts
Labels: ui-angular

#15042 Cli: Add missing brackett in angular module source code adder
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/AngularSourceCodeAdder.cs
Labels: bug, abp-cli

#15046 Docs.abp.io. bugs fixed
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.scss
Labels: enhancement, abp-module-docs

#15081 CLI: Run change-theme command without checking the theme
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
Labels: abp-cli

#15079 Added AllowClear and Placeholder to select2
  docs/en/UI/AspNetCore/AutoComplete-Select.md
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/dom-event-handlers.js
Labels: abp-framework, ui-mvc

#15078 issue-1439 Localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#15090 issue-1450 localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
Labels: abp-io

#15097 hotfix this.
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.ts
Labels: ui-angular

#14842 Introduce `IAbpHostEnvironment` and reduce cache durations for development environment.
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Microsoft/AspNetCore/Components/WebAssembly/Hosting/AbpWebAssemblyHostBuilderExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Microsoft/Extensions/DependencyInjection/AbpWebAssemblyServiceCollectionExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Microsoft/Extensions/DependencyInjection/EmptyWebAssemblyHostEnvironment.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/AbpAspNetCoreComponentsWebAssemblyModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/AbpAspNetCoreMvcClientCacheOptions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/AbpAspNetCoreMvcClientModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/MvcCachedApplicationConfigurationClient.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/MvcRemoteTenantStore.cs
  framework/src/Volo.Abp.AspNetCore/Microsoft/Extensions/DependencyInjection/WebApplicationBuilderExtensions.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/AbpAspNetCoreModule.cs
  framework/src/Volo.Abp.Core/Microsoft/Extensions/DependencyInjection/ServiceCollectionApplicationExtensions.cs
  framework/src/Volo.Abp.Core/Volo/Abp/AbpApplicationBase.cs
  framework/src/Volo.Abp.Core/Volo/Abp/AbpApplicationCreationOptions.cs
  framework/src/Volo.Abp.Core/Volo/Abp/AbpHostEnvironment.cs
  framework/src/Volo.Abp.Core/Volo/Abp/AbpHostEnvironmentExtensions.cs
  framework/src/Volo.Abp.Core/Volo/Abp/IAbpHostEnvironment.cs
  framework/src/Volo.Abp.IdentityModel/Volo/Abp/IdentityModel/IdentityModelAuthenticationService.cs
  framework/test/Volo.Abp.AspNetCore.Tests/Volo/Abp/AspNetCore/AbpHostEnvironment_Tests.cs
  framework/test/Volo.Abp.Core.Tests/Volo/Abp/AbpApplication_Initialize_Tests.cs
Labels: feature, abp-framework

#15101 Adding captcha to the comment - doc
  docs/en/Modules/Cms-Kit/Comments.md
Labels: documentation, abp-module-cms-kit

#15096 Fixed the slide issue
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/Default.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/default.css
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/default.scss
Labels: bug, abp-module-cms-kit

#15117 Cmskit - deleting comment by the allowed user
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/tr.json
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Permissions/CmsKitPublicPermissionDefinitionProvider.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Permissions/CmsKitPublicPermissions.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo/CmsKit/Public/Comments/CommentPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/Default.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/default.js
Labels: enhancement, ui-mvc, abp-module-cms-kit

#14197 Introduce `IHasEntityVersion` and `EntitySynchronizer`
  docs/en/Distributed-Event-Bus.md
  framework/src/Volo.Abp.Auditing.Contracts/Volo/Abp/Auditing/IHasEntityVersion.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditPropertySetter.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/IAuditPropertySetter.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Events/Distributed/EntitySynchronizer.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.MemoryDb/Volo/Abp/Domain/Repositories/MemoryDb/MemoryDbRepository.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/MongoDbRepository.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/AuditPropertySetterTestBase.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/AuditPropertySetter_EntityVersion_Tests.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo.Abp.Ddd.Tests.csproj
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Entities/Events/Distributed/EntitySynchronizers/EntitySynchronizer_Tests.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Entities/Events/Distributed/EntitySynchronizers/WithEntityVersion/Book.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Entities/Events/Distributed/EntitySynchronizers/WithEntityVersion/BookSynchronizer.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Entities/Events/Distributed/EntitySynchronizers/WithEntityVersion/RemoteBookEto.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Entities/Events/Distributed/EntitySynchronizers/WithoutEntityVersion/Author.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Entities/Events/Distributed/EntitySynchronizers/WithoutEntityVersion/AuthorSynchronizer.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Entities/Events/Distributed/EntitySynchronizers/WithoutEntityVersion/RemoteAuthorEto.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Domain/Person.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Testing/Auditing_Tests.cs
Labels: feature, abp-framework

#15125 edit FeatureManagement localization
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management-tab/feature-management-tab.component.html
Labels: ui-angular

#15128 Cli: show the current cli version
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
Labels: enhancement, abp-cli

#15122 proxy generation support nested Dto on get request
  npm/ng-packs/packages/schematics/src/models/method.ts
  npm/ng-packs/packages/schematics/src/utils/methods.ts
Labels: ui-angular

#15154 Added To Do video links to the documentation
  docs/en/Tutorials/Todo/Index.md
Labels: enhancement, documentation

#15152 Update/ng bootstrap angular 15 version
  npm/ng-packs/package.json
  npm/ng-packs/packages/theme-shared/package.json
Labels: ui-angular

#15162 Cli: Update default connections string for SqlServer
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/Services/ConnectionStringProvider.cs
Labels: enhancement, abp-cli

#15153 added hide show button
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup/Password/Default.cshtml
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup/Password/Default.js
Labels: enhancement, abp-module-account

#15171 Add the missed admin password label
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/en.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/Localization/Resources/tr.json
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/CreateModal.cshtml
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/CreateModal.cshtml.cs
Labels: bug, abp-module-tenant-management

#15169 Implement `IHasEntityVersion ` for some entities of some modules
  .gitignore
  framework/src/Volo.Abp.Auditing.Contracts/Volo/Abp/Auditing/IHasEntityVersion.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Entities/Events/Distributed/EntitySynchronizers/EntitySynchronizer_Tests.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20221216140823_Initial.Designer.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20221216140823_Initial.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/UnifiedDbContextModelSnapshot.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Blogs/BlogPostDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Pages/PageDto.cs
  modules/cms-kit/src/Volo.CmsKit.Common.Application.Contracts/Volo/CmsKit/Contents/DefaultContentDto.cs
  modules/cms-kit/src/Volo.CmsKit.Common.Application.Contracts/Volo/CmsKit/Contents/PageDto.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/BlogPost.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Pages/Page.cs
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IdentityUserDto.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo.Abp.Identity.Domain.Shared.csproj
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/IdentityRoleEto.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/OrganizationUnitEto.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityRole.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUser.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/OrganizationUnit.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo.Abp.TenantManagement.Domain.Shared.csproj
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain.Shared/Volo/Abp/TenantManagement/TenantEto.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/Tenant.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/Migrations/20221220114435_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/Migrations/20221220114435_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/20221220103129_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/20221220103129_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/20221220102812_Initial.Designer.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/20221220102812_Initial.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/20221220114625_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/20221220114625_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/AuthServerDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/20221220103713_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/20221220103713_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/UnifiedDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20221220103825_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20221220103825_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/UnifiedDbContextModelSnapshot.cs
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Web/Properties/launchSettings.json
Labels: feature, abp-framework

#15184 Added the missed serializable attribute for dtos
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Blogs/CreateBlogDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Blogs/UpdateBlogDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/GlobalResources/GlobalResourcesDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/GlobalResources/GlobalResourcesUpdateDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Menus/PageLookupDto.cs
  modules/cms-kit/src/Volo.CmsKit.Common.Application.Contracts/Volo/CmsKit/Contents/IContent.cs
  modules/cms-kit/src/Volo.CmsKit.Common.Application.Contracts/Volo/CmsKit/Users/CmsUserDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Blogs/BlogPostFilteredPagedAndSortedResultRequestDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Reactions/ReactionWithSelectionDto.cs
Labels: abp-module-cms-kit

#15193 docs module: alert-criteria position changed
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css.map
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.scss
Labels: abp-module-docs

#15196 Update ef-core package versions to 7.0.1 for templates
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyCompanyName.MyProjectName.Host.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyCompanyName.MyProjectName.Mvc.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/MyCompanyName.MyProjectName.EntityFrameworkCore.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/MyCompanyName.MyProjectName.AuthServer.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/MyCompanyName.MyProjectName.Blazor.Server.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyCompanyName.MyProjectName.Web.Unified.csproj
Labels: abp-template-app, abp-template-module, abp-template-app-nolayers

#15208 `AddDataMigrationEnvironment` before `AddApplicationAsync`.
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/Program.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/Program.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/Program.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Program.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/Program.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Program.cs
Labels: abp-template-app-nolayers

#15195 docs module: blockquote design changed
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Scripts/vs.js
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css.map
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.scss
Labels: abp-module-docs

#15200 Manage host Feature button moved form tenant management
  npm/ng-packs/packages/tenant-management/src/lib/defaults/default-tenants-toolbar-actions.ts
Labels: ui-angular

#15217 Upgrade OpenIddict to 4.0.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo.Abp.OpenIddict.AspNetCore.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain.Shared/Volo.Abp.OpenIddict.Domain.Shared.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo.Abp.OpenIddict.Domain.csproj
Labels: abp-module-openiddict

#15216 Setting management page should always visible to host side
  modules/feature-management/src/Volo.Abp.FeatureManagement.Blazor/Components/FeatureManagementModal.razor
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/SettingManagementFeatureDefinitionProvider.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Settings/EmailingPageContributor.cs
Labels: enhancement, abp-module-setting-management

#15084 Add hide show button to password field
  npm/ng-packs/packages/identity/src/lib/defaults/default-users-form-props.ts
  npm/ng-packs/packages/tenant-management/src/lib/defaults/default-tenants-form-props.ts
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/extensible-form/extensible-form-prop.component.html
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/extensible-form/extensible-form-prop.component.ts
  npm/ng-packs/packages/theme-shared/extensions/src/lib/enums/components.ts
  npm/ng-packs/packages/theme-shared/extensions/src/lib/enums/props.enum.ts
  npm/ng-packs/packages/theme-shared/extensions/src/public-api.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/password/password.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/password/password.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: ui-angular

#15221 Schematics create lib improvments
  npm/ng-packs/packages/schematics/src/commands/create-lib/files-package/__libraryName@kebab__/karma.conf.js.template
  npm/ng-packs/packages/schematics/src/commands/create-lib/index.ts
  npm/ng-packs/packages/schematics/src/commands/create-lib/schema.json
Labels: ui-angular

#14897 Use EF Core 7.0 bulk update/delete operations.
  framework/src/Volo.Abp.EntityFrameworkCore.MySQL/Volo/Abp/EntityFrameworkCore/DistributedEvents/MySQLInboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.MySQL/Volo/Abp/EntityFrameworkCore/DistributedEvents/MySQLOutboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/DistributedEvents/IOracleDbContextEventInbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/DistributedEvents/IOracleDbContextEventOutbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/DistributedEvents/OracleDbContextEventInbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/DistributedEvents/OracleDbContextEventOutbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/DistributedEvents/OracleInboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/DistributedEvents/OracleOutboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/Oracle/Devart/AbpEntityFrameworkCoreOracleDevartModule.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo/Abp/EntityFrameworkCore/DistributedEvents/IOracleDbContextEventInbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo/Abp/EntityFrameworkCore/DistributedEvents/IOracleDbContextEventOutbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo/Abp/EntityFrameworkCore/DistributedEvents/OracleDbContextEventInbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo/Abp/EntityFrameworkCore/DistributedEvents/OracleDbContextEventOutbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo/Abp/EntityFrameworkCore/DistributedEvents/OracleInboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo/Abp/EntityFrameworkCore/DistributedEvents/OracleOutboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo/Abp/EntityFrameworkCore/Oracle/AbpEntityFrameworkCoreOracleModule.cs
  framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo/Abp/EntityFrameworkCore/DistributedEvents/IPostgreSqlDbContextEventInbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo/Abp/EntityFrameworkCore/DistributedEvents/IPostgreSqlDbContextEventOutbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo/Abp/EntityFrameworkCore/DistributedEvents/PostgreSqlDbContextEventInbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo/Abp/EntityFrameworkCore/DistributedEvents/PostgreSqlDbContextEventOutbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo/Abp/EntityFrameworkCore/DistributedEvents/PostgreSqlInboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo/Abp/EntityFrameworkCore/DistributedEvents/PostgreSqlOutboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo/Abp/EntityFrameworkCore/PostgreSql/AbpEntityFrameworkCorePostgreSqlModule.cs
  framework/src/Volo.Abp.EntityFrameworkCore.SqlServer/Volo/Abp/EntityFrameworkCore/DistributedEvents/SqlServerInboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.SqlServer/Volo/Abp/EntityFrameworkCore/DistributedEvents/SqlServerOutboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Sqlite/Volo/Abp/EntityFrameworkCore/DistributedEvents/SqliteInboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Sqlite/Volo/Abp/EntityFrameworkCore/DistributedEvents/SqliteOutboxConfigExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpEntityFrameworkCoreModule.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/DbContextEventInbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/DbContextEventOutbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/ISqlRawDbContextEventInbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/ISqlRawDbContextEventOutbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/SqlRawDbContextEventInbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/SqlRawDbContextEventOutbox.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Devices/IDeviceFlowCodesRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Grants/IPersistentGrantRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Tokens/TokenCleanupOptions.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Tokens/TokenCleanupService.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/Devices/DeviceFlowCodesRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/Grants/PersistentGrantRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/MongoDeviceFlowCodesRepository.cs
  modules/identityserver/src/Volo.Abp.IdentityServer.MongoDB/Volo/Abp/IdentityServer/MongoDB/MongoPersistentGrantRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/AbpOpenIddictAuthorizationStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/IOpenIddictAuthorizationRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/AbpOpenIddictTokenStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/IOpenIddictTokenRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.EntityFrameworkCore/Volo/Abp/OpenIddict/Authorizations/EfCoreOpenIddictAuthorizationRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.EntityFrameworkCore/Volo/Abp/OpenIddict/Tokens/EfCoreOpenIddictTokenRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.MongoDB/Volo/Abp/OpenIddict/Authorizations/MongoOpenIddictAuthorizationRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.MongoDB/Volo/Abp/OpenIddict/Tokens/MongoOpenIddictTokenRepository.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.Domain.Tests/Volo/Abp/OpenIddict/Authorizations/AbpOpenIddictAuthorizationStore_Tests.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.TestBase/Volo/Abp/OpenIddict/OpenIddictAuthorizationRepository_Tests.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.TestBase/Volo/Abp/OpenIddict/OpenIddictDataSeedContributor.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.TestBase/Volo/Abp/OpenIddict/OpenIddictTokenRepository_Tests.cs
Labels: abp-framework, abp-module-identityserver, abp-module-openiddict

#15234 Remove Directory.Build.props for MAUIBlazor
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
Labels: abp-cli

#15157 docs: offline support
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/DocsDomainModule.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/IDocumentSource.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/DocsGithubLanguageOptions.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubDocumentSource.cs
Labels: abp-module-docs

#15250 Update tutorial for v7 0 and MVC / EF Core
  docs/en/Tutorials/Part-10.md
  docs/en/Tutorials/Part-2.md
  docs/en/Tutorials/Part-3.md
  docs/en/Tutorials/Part-5.md
  docs/en/Tutorials/Part-6.md
  docs/en/Tutorials/Part-8.md
  docs/en/Tutorials/Part-9.md
  docs/en/Tutorials/images/bookstore-added-author-to-book-list-2.png
  docs/en/Tutorials/images/bookstore-added-authors-to-modals-2.png
  docs/en/Tutorials/images/bookstore-author-permissions-2.png
  docs/en/Tutorials/images/bookstore-authors-page-2.png
  docs/en/Tutorials/images/bookstore-book-list-4.png
  docs/en/Tutorials/images/bookstore-create-dialog-3.png
  docs/en/Tutorials/images/bookstore-edit-button-3.png
  docs/en/Tutorials/images/bookstore-edit-delete-actions-2.png
  docs/en/Tutorials/images/bookstore-new-author-modal-2.png
  docs/en/Tutorials/images/bookstore-new-book-button-3.png
  docs/en/Tutorials/images/bookstore-new-book-button-small-2.png
  docs/en/Tutorials/images/bookstore-new-menu-item-2.png
  docs/en/Tutorials/images/bookstore-permissions-ui-2.png
Labels: documentation

#15264 CLI: Use created project's angular cli instead of the global ng cli
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
Labels: abp-cli

#15262 abp.io: add new localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#15265 click action given to the button
  npm/ng-packs/packages/theme-shared/src/lib/components/password/password.component.html
Labels: ui-angular

#15267 Update FeatureManagementModal.cshtml
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml
Labels: enhancement, abp-module-feature-management, ui-mvc
