Repository abpframework/abp, pull requests merged in 2022-02, with the labels that each got.

#11518 Update Repositories.md
  docs/zh-Hans/Repositories.md
Labels: documentation

#11520 Blogging: Update service injection property types as protected
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Blogs/BlogAppService.cs
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Comments/CommentAppService.cs
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Comments/CommentAuthorizationHandler.cs
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Posts/PostAppService.cs
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Posts/PostAuthorizationHandler.cs
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Tagging/TagAppService.cs
Labels: enhancement, abp-module-blogging

#11528 Add missing localizations for abp.io websites
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#11537 Remove assumptions from the basic theme layouts
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Account.cshtml
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml
Labels: enhancement, abp-module-basic-theme

#11535 Community Article: "How to Hide ABP Related Endpoints on the Swagger UI"
  docs/en/Community-Articles/2022-02-06-How-to-Hide-ABP-Related-Endpoints-on-Swagger-UI/POST.md
  docs/en/Community-Articles/2022-02-06-How-to-Hide-ABP-Related-Endpoints-on-Swagger-UI/swagger-hide-endpoints.gif
  docs/en/Community-Articles/2022-02-06-How-to-Hide-ABP-Related-Endpoints-on-Swagger-UI/swagger-settings.png
  docs/en/Community-Articles/2022-02-06-How-to-Hide-ABP-Related-Endpoints-on-Swagger-UI/swagger.png
Labels: abp-community

#11541 Add missing localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#11479 CLI: Fix neighbor TEMPLATE-REMOVE usage
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Files/FileEntryExtensions.cs
Labels: bug, abp-cli

#11564 Add missing Authorize attribute to setting-management
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/SettingManagement.razor
Labels: abp-module-setting-management, ui-blazor

#11546 Add new localizations for admin.abp.io
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#11574 Add new localizations for account.abp.io
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/de-DE.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Account/Localization/Resources/zh-Hant.json
Labels: abp-io

#11551 Compatible with API Versioning.
  docs/en/API/API-Versioning.md
  docs/en/docs-nav.json
  docs/zh-Hans/API/API-Versioning.md
  docs/zh-Hans/docs-nav.json
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcOptions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApiDescriptionExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApiExploring/AbpRemoteServiceApiDescriptionProvider.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AspNetCoreApiDescriptionModelProvider.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/AbpServiceConvention.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Versioning/HttpContextRequestedApiVersion.cs
  framework/src/Volo.Abp.Http.Client.Web/Volo/Abp/Http/Client/Web/Conventions/AbpHttpClientProxyServiceConvention.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/ClientProxying/ClientProxyBase.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/ClientProxying/CurrentApiVersionInfo.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/ClientProxying/ICurrentApiVersionInfo.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/ControllerApiDescriptionModel.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/ModuleApiDescriptionModel.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/ProxyScripting/Generators/JQuery/JQueryProxyScriptGenerator.cs
Labels: abp-framework

#11575 Update the "How to Hide ABP Related Endpoints on Swagger UI" article
  docs/en/Community-Articles/2022-02-06-How-to-Hide-ABP-Related-Endpoints-on-Swagger-UI/POST.md
  docs/en/Community-Articles/2022-02-06-How-to-Hide-ABP-Related-Endpoints-on-Swagger-UI/swagger-document-filter.png
Labels: enhancement, abp-community

#11591 Enhanced Hangfire integration
  framework/src/Volo.Abp.BackgroundWorkers.Hangfire/Volo/Abp/BackgroundWorkers/Hangfire/AbpBackgroundWorkersHangfireModule.cs
  framework/src/Volo.Abp.BackgroundWorkers.Hangfire/Volo/Abp/BackgroundWorkers/Hangfire/HangfireBackgroundWorkerManager.cs
  framework/src/Volo.Abp.HangFire/Volo/Abp/Hangfire/AbpHangfireBackgroundJobServer.cs
  framework/src/Volo.Abp.HangFire/Volo/Abp/Hangfire/AbpHangfireModule.cs
Labels: enhancement

#11576 Icon customization properties added to confirmation popup. Issue #11511
  docs/en/UI/Angular/Confirmation-Service.md
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/confirmation/confirmation.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/models/common.ts
  npm/ng-packs/packages/theme-shared/src/lib/models/confirmation.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/confirmation.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/confirmation.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
  npm/ng-packs/packages/theme-shared/src/lib/tokens/confirmation-icons.token.ts
Labels: ui-angular

#11610 Docs: Fix Filter problem on mobile devices
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Scripts/vs.js
Labels: abp-module-docs, problem, effort-0.5

#11643 Update document
  docs/en/Tutorials/Part-1.md
  docs/en/Tutorials/Part-10.md
  docs/en/Tutorials/Part-7.md
  docs/zh-Hans/Tutorials/Part-1.md
  docs/zh-Hans/Tutorials/Part-7.md
Labels: documentation

#11650 Update document
  docs/zh-Hans/Tutorials/Part-10.md
Labels: documentation

#11652 Add class parameter to AbpExtensibleDataGrid
  framework/src/Volo.Abp.BlazoriseUI/Components/AbpExtensibleDataGrid.razor
  framework/src/Volo.Abp.BlazoriseUI/Components/AbpExtensibleDataGrid.razor.cs
Labels: abp-framework, ui-blazor

#11658 Add responsive parameter to AbpExtensibleDataGrid
  framework/src/Volo.Abp.BlazoriseUI/Components/AbpExtensibleDataGrid.razor
  framework/src/Volo.Abp.BlazoriseUI/Components/AbpExtensibleDataGrid.razor.cs
Labels: abp-framework, ui-blazor

#11665 Add new localizations for abp.io websites
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
Labels: abp-io

#11673 Update document
  docs/en/Tutorials/Part-3.md
  docs/zh-Hans/Tutorials/Part-2.md
  docs/zh-Hans/Tutorials/Part-3.md
  docs/zh-Hans/Tutorials/Part-5.md
  docs/zh-Hans/Tutorials/Part-6.md
  docs/zh-Hans/Tutorials/Part-8.md
  docs/zh-Hans/Tutorials/Part-9.md
Labels: documentation

#11675 Add support to hide ABP endpoints on Swagger UI
  framework/src/Volo.Abp.Swashbuckle/Microsoft/Extensions/DependencyInjection/AbpSwaggerGenOptionsExtensions.cs
  framework/src/Volo.Abp.Swashbuckle/Volo/Abp/Swashbuckle/AbpSwashbuckleDocumentFilter.cs
Labels: enhancement, abp-framework

#11676 Blazor: lazy loading setting components
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/EmailSettingGroup/EmailSettingGroupViewComponent.razor.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/SettingManagement.razor
Labels: abp-module-setting-management, problem

#11684 Remove Volo.BloggingTestApp.MongoDb folder
  modules/blogging/app/Volo.BloggingTestApp.MongoDB/Volo.BloggingTestApp.MongoDB.abppkg.json
Labels: abp-module-blogging

#11686 Enhance Docs Module
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Projects/ProjectAdminAppService.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/ElasticDocumentFullSearch.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/IDocumentFullSearch.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubDocumentSource.cs
Labels: abp-module-docs

#11687 Handle possible exceptions in SaveChangesAsync method.
  framework/src/Volo.Abp.AspNetCore.SignalR/Volo/Abp/AspNetCore/SignalR/Auditing/AbpAuditHubFilter.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Auditing/AbpAuditingMiddleware.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingInterceptor.cs
Labels: enhancement, abp-framework

#11615 Docs: Add note for Blazor Server Error Handling
  docs/en/UI/Blazor/Error-Handling.md
Labels: enhancement, documentation

#11646 Fix concurrency error when changing my user information
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup/PersonalInfo/Default.js
Labels: abp-module-account, problem

#11707 Fix example community post URL
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/de-DE.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/zh-Hant.json
Labels: abp-io

#11722 Update Samples documentation
  docs/en/Samples/Index.md
Labels: enhancement, documentation

#11731 Add app-nolayers to CLI document
  docs/en/CLI.md
  docs/zh-Hans/CLI.md
Labels: documentation

#11717 Translate Upgrading document to chinese
  docs/zh-Hans/Previews.md
  docs/zh-Hans/Upgrading.md
Labels: documentation

#11733 Update tui-editor usage according to new version
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/create.js
Labels: abp-module-cms-kit

#11709 form name attribute was added 'abp-button'
  npm/ng-packs/packages/theme-shared/src/lib/components/button/button.component.ts
Labels: ui-angular
