Repository abpframework/abp, pull requests merged in 2022-04, with the labels that each got.

#12087 Implements send to admin approval to publish
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Blogs/IBlogPostAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo/CmsKit/Admin/Blogs/BlogPostAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/BlogPostAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi/Volo/CmsKit/Admin/Blogs/BlogPostAdminController.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/Create.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/Create.cshtml.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/create.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/index.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/wwwroot/client-proxies/cms-kit-admin-proxy.js
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Blogs/BlogPostStatus.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/tr.json
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/BlogPost.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/IBlogPostRepository.cs
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/Blogs/EfCoreBlogPostRepository.cs
  modules/cms-kit/src/Volo.CmsKit.MongoDB/Volo/CmsKit/MongoDB/Blogs/MongoBlogPostRepository.cs
Labels: abp-module-cms-kit, effort-sm

#12156 Update SolutionModuleAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: abp-framework

#12158 Update docs according to bs5 class renames
  docs/en/Tutorials/Part-2.md
  docs/en/Tutorials/Part-3.md
  docs/en/Tutorials/Part-5.md
  docs/en/Tutorials/Part-9.md
  docs/en/UI/Angular/Component-Replacement.md
  docs/en/UI/Angular/How-Replaceable-Components-Work-with-Extensions.md
  docs/en/UI/AspNetCore/Tag-Helpers/Figure.md
  docs/en/UI/AspNetCore/Theming.md
  docs/pt-BR/Tutorials/Angular/Part-II.md
  docs/pt-BR/Tutorials/AspNetCore-Mvc/Part-II.md
  docs/zh-Hans/Tutorials/Part-2.md
  docs/zh-Hans/Tutorials/Part-3.md
  docs/zh-Hans/UI/Angular/Component-Replacement.md
Labels: enhancement

#12157 Some enhancements for Blazor UI
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/EmailSettingGroup/EmailSettingGroupViewComponent.razor
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/EmailSettingGroup/EmailSettingGroupViewComponent.razor.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/SettingManagementBlazorAutoMapperProfile.cs
Labels: enhancement, ui-blazor

#12176 Fix ApiResource mapping
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/IdentityServerAutoMapperProfile.cs
Labels: problem, abp-module-identityserver

#12189 Upgrade AutoMapper to v11
  framework/src/Volo.Abp.AutoMapper/Volo.Abp.AutoMapper.csproj
  framework/src/Volo.Abp.AutoMapper/Volo/Abp/AutoMapper/AbpAutoMapperModule.cs
  modules/account/src/Volo.Abp.Account.Application/Volo.Abp.Account.Application.csproj
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.Domain/Volo.Abp.BackgroundJobs.Domain.csproj
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.MongoDB/Volo.Abp.BackgroundJobs.MongoDB.csproj
  modules/blogging/app/Volo.BloggingTestApp.MongoDB/Volo.BloggingTestApp.MongoDB.csproj
  modules/blogging/src/Volo.Blogging.Admin.Application/Volo.Blogging.Admin.Application.csproj
  modules/blogging/src/Volo.Blogging.Application/Volo.Blogging.Application.csproj
  modules/blogging/src/Volo.Blogging.Domain/Volo.Blogging.Domain.csproj
  modules/blogging/src/Volo.Blogging.MongoDB/Volo.Blogging.MongoDB.csproj
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo.CmsKit.Admin.Application.csproj
  modules/cms-kit/src/Volo.CmsKit.Application/Volo.CmsKit.Application.csproj
  modules/cms-kit/src/Volo.CmsKit.Common.Application/Volo.CmsKit.Common.Application.csproj
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo.CmsKit.Public.Application.csproj
  modules/docs/src/Volo.Docs.Admin.Application/Volo.Docs.Admin.Application.csproj
  modules/docs/src/Volo.Docs.Application/Volo.Docs.Application.csproj
  modules/docs/src/Volo.Docs.Domain/Volo.Docs.Domain.csproj
  modules/docs/src/Volo.Docs.MongoDB/Volo.Docs.MongoDB.csproj
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application/Volo.Abp.FeatureManagement.Application.csproj
  modules/identity/src/Volo.Abp.Identity.Application/Volo.Abp.Identity.Application.csproj
  modules/identity/src/Volo.Abp.Identity.Domain/Volo.Abp.Identity.Domain.csproj
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo.Abp.Identity.MongoDB.csproj
  modules/permission-management/src/Volo.Abp.PermissionManagement.Application/Volo.Abp.PermissionManagement.Application.csproj
  modules/setting-management/src/Volo.Abp.SettingManagement.Application/Volo.Abp.SettingManagement.Application.csproj
  modules/tenant-management/src/Volo.Abp.TenantManagement.Application/Volo.Abp.TenantManagement.Application.csproj
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo.Abp.TenantManagement.Domain.csproj
  modules/tenant-management/src/Volo.Abp.TenantManagement.MongoDB/Volo.Abp.TenantManagement.MongoDB.csproj
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Application/MyCompanyName.MyProjectName.Application.csproj
Labels: breaking change, abp-framework

#12179 Add PWA Support to template
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/RemoveFileStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/TemplateCodeDeleteStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/icon-192.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/icon-512.png
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/index.html
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/manifest.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/service-worker.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/service-worker.published.js
Labels: feature, abp-template-app, abp-cli, ui-blazor

#12198 move RightAligned parameter to BarDropdown
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Server.BasicTheme/Themes/Basic/LanguageSwitch.razor
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/LanguageSwitch.razor
Labels: ui-blazor

#12202 Enhance ABP CLI
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NpmPackagesUpdater.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectNpmPackageAdder.cs
Labels: enhancement, abp-cli

#12210 Update generate-proxy UsageInfo
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProxyCommandBase.cs
Labels: enhancement, abp-cli

#12212 CmsKit: Added setter to GlobalResources.Name
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/GlobalResources/GlobalResource.cs
Labels: abp-module-cms-kit

#12192 Community Article: "Concurrency Check in ABP"
  docs/en/Community-Articles/2022-04-06-Concurrency-Check-in-ABP-Based-Applications/POST.md
  docs/en/Community-Articles/2022-04-06-Concurrency-Check-in-ABP-Based-Applications/concurrency-mismatch.gif
  docs/en/Community-Articles/2022-04-06-Concurrency-Check-in-ABP-Based-Applications/optimistic-concurrency.png
Labels: abp-community

#12214 Set `ContentLength` of `HttpContext.Response`
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ContentFormatters/RemoteStreamContentOutputFormatter.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/ContentFormatters/RemoteStreamContentTestController_Tests.cs
Labels: abp-framework

#12218 Fix `FeatureManagementModal` page error.
  modules/feature-management/src/Volo.Abp.FeatureManagement.Blazor/Components/FeatureManagementModal.razor
Labels: abp-module-feature-management, ui-blazor

#12225 Update "Concurrency Check" community article
  docs/en/Community-Articles/2022-04-06-Concurrency-Check-in-ABP-Based-Applications/POST.md
Labels: enhancement, abp-community

#12173 CMS Kit - Blog Features Seeding
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/BlogFeatureDataSeedContributor.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/BlogFeatureManager.cs
Labels: abp-module-cms-kit

#12226 Cli: Use `workingDirectory` for migration commands after module adding
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/EfCoreMigrationManager.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: abp-cli

#12231 Cli: Allow to generate code with Suite
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SuiteCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/CmdHelper.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/ICmdHelper.cs
Labels: feature, abp-cli

#12237 Make methods of AuditPropertySetter virtual
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditPropertySetter.cs
Labels: abp-framework

#12254 Put ABP Book to home pages of application startup templates
  templates/app-nolayers/angular/src/app/home/home.component.html
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/Pages/Index.razor
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/Pages/Index.razor
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/Pages/Index.cshtml
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Pages/Index.cshtml
  templates/app/angular/src/app/home/home.component.html
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/Pages/Index.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/Pages/Index.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Pages/Index.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/Pages/Index.cshtml
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/Pages/Index.cshtml
Labels: abp-template-app, abp-template-app-nolayers

#12263 Add `UnitOfWorkExtensions_Tests`
  framework/src/Volo.Abp.Uow/Volo/Abp/Uow/UnitOfWorkExtensions.cs
  framework/test/Volo.Abp.Uow.Tests/Volo/Abp/Uow/UnitOfWorkExtensions_Tests.cs
Labels: abp-framework

#12269 Add `AbpPermissionManagementDomainIdentityServerModule` .
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/MyCompanyName.MyProjectName.Host.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyCompanyName.MyProjectName.Host.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/MyCompanyName.MyProjectName.Mvc.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyCompanyName.MyProjectName.Mvc.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyProjectNameModule.cs
Labels: abp-template-app-nolayers

#12296 CmsKit - BlogFeature DataSeeding Fix
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/BlogFeatureDataSeedContributor.cs
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/EntityFrameworkCore/ICmsKitDbContext.cs
Labels: abp-module-cms-kit

#12305 Update BlogFeatureDataSeedContributor.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/BlogFeatureDataSeedContributor.cs
Labels: abp-module-cms-kit

#12306 `AddAutoMapperObjectMapper` to `app-nolayers`.
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyProjectNameModule.cs
Labels: abp-template-app-nolayers

#12289 Add `AbpDesignTimeDbContextBase`.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Design/AbpDesignTimeDbContextBase.cs
Labels: abp-framework

#12191 Add PWA description to the CLI documentation
  docs/en/CLI.md
Labels: documentation

#12302 Disable the abp module for dynamic JavaScript client proxies
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs
Labels: abp-framework

#12264 PWA Support for Angular in CLI
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ProjectBuildArgs.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/AngularPwaSupportAdder.cs
Labels: abp-cli

#12312 add scroll-index feature to blogging document
  docs/en/Modules/Cms-Kit/Blogging.md
  docs/en/images/cmskit-module-features-dialog-2.png
  docs/en/images/cmskit-module-features-scroll-index.png
Labels: documentation, abp-module-cms-kit

#12314 Cli: Check </Template-remove> in gitignore files
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/TemplateCodeDeleteStep.cs
Labels: enhancement, abp-cli

#12300 Add proper title to Abp-permission-manager.component #9581
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.html
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
  npm/ng-packs/packages/identity/src/lib/defaults/default-users-entity-actions.ts
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.html
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.ts
Labels: ui-angular

#12294 Blazor modal enchancements
  modules/feature-management/src/Volo.Abp.FeatureManagement.Blazor/Components/FeatureManagementModal.razor.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor.cs
Labels: abp-module-permission-management, abp-module-feature-management

#12308 Abp.io: Added Localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
Labels: abp-io

#12323 Cli: Add license code to module source code downloads
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/ModuleProjectBuildPipelineBuilder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/CreateAppSettingsSecretsStep.cs
Labels: enhancement, abp-cli

#12327 Make Module's Datagrids Orderable for Blazor
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/RoleManagement.razor.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Blazor/Pages/TenantManagement/TenantManagement.razor.cs
Labels: abp-module-tenant-management, abp-module-identity, ui-blazor

#12340 Create docs/zh-Hans/Testing.md
  docs/zh-Hans/Testing.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#12345 Update zh-Hans docs
  docs/zh-Hans/UI/Angular/Testing.md
  docs/zh-Hans/UI/AspNetCore/Testing.md
  docs/zh-Hans/docs-nav.json
Labels: documentation

#12368 Cli: Improve create app settings secrets step
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/CreateAppSettingsSecretsStep.cs
Labels: abp-cli

#12356 Add canonical URL to show the latest version
  modules/docs/src/Volo.Docs.Web/DocsWebModule.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Shared/Components/Head/Default.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Shared/Components/Head/HeadViewComponent.cs
Labels: abp-module-docs

#12370 Setting management localization fix
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/SettingManagementFeatureDefinitionProvider.cs
Labels: abp-module-setting-management

#12381 Tag Helpers: enable description text for checbox input
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelperService.cs
Labels: enhancement, abp-framework

#12363 Add `TryToGetFromBaseCulture` and `TryToGetFromDefaultCulture` to `AbpLocalizationOptions`.
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/AbpDictionaryBasedStringLocalizer.cs
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/AbpLocalizationOptions.cs
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/AbpStringLocalizerFactory.cs
Labels: abp-framework

#12358 Introduce `AbpRequestSizeLimitMiddleware `
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/Builder/AbpApplicationBuilderExtensions.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/RequestSizeLimit/AbpRequestSizeLimitMiddleware.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/RequestSizeLimit/RequestSizeLimit.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo.Abp.AspNetCore.Mvc.Tests.csproj
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcTestModule.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/RequestSizeLimit/RequestBodySizeCheckingStream.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/RequestSizeLimit/RequestSizeLimitController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/RequestSizeLimit/RequestSizeLimitController_Tests.cs
Labels: abp-framework

#12353 GDPR: Add Volo.Abp.Gdpr.Abstractions package to framework
  framework/Volo.Abp.sln
  framework/src/Volo.Abp.Gdpr.Abstractions/FodyWeavers.xml
  framework/src/Volo.Abp.Gdpr.Abstractions/FodyWeavers.xsd
  framework/src/Volo.Abp.Gdpr.Abstractions/Volo.Abp.Gdpr.Abstractions.csproj
  framework/src/Volo.Abp.Gdpr.Abstractions/Volo/Abp/Gdpr/AbpGdprAbstractionsModule.cs
  framework/src/Volo.Abp.Gdpr.Abstractions/Volo/Abp/Gdpr/GdprDataInfo.cs
  framework/src/Volo.Abp.Gdpr.Abstractions/Volo/Abp/Gdpr/GdprUserDataDeletionRequestedEto.cs
  framework/src/Volo.Abp.Gdpr.Abstractions/Volo/Abp/Gdpr/GdprUserDataPreparedEto.cs
  framework/src/Volo.Abp.Gdpr.Abstractions/Volo/Abp/Gdpr/GdprUserDataProviderContext.cs
  framework/src/Volo.Abp.Gdpr.Abstractions/Volo/Abp/Gdpr/GdprUserDataRequestedEto.cs
Labels: feature

#12385 Revert "Publish event when uow completed"
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus.cs
  framework/test/Volo.Abp.EventBus.Tests/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus_Test.cs
Labels: bug, abp-framework

#12392 Revert "Introduce `AbpRequestSizeLimitMiddleware `"
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/Builder/AbpApplicationBuilderExtensions.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/RequestSizeLimit/AbpRequestSizeLimitMiddleware.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/RequestSizeLimit/RequestSizeLimit.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo.Abp.AspNetCore.Mvc.Tests.csproj
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcTestModule.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/RequestSizeLimit/RequestBodySizeCheckingStream.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/RequestSizeLimit/RequestSizeLimitController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/RequestSizeLimit/RequestSizeLimitController_Tests.cs
Labels: abp-framework

#12330 proxy generation api versioning imp
  npm/ng-packs/packages/schematics/src/models/method.ts
  npm/ng-packs/packages/schematics/src/utils/index.ts
  npm/ng-packs/packages/schematics/src/utils/methods.ts
  npm/ng-packs/packages/schematics/src/utils/service.ts
  npm/ng-packs/packages/schematics/src/utils/text.ts
Labels: ui-angular

#12396 remove duplicate ICurrentTenant injection in blazor template
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/Pages/Index.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/Pages/Index.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Pages/Index.razor
Labels: abp-template-app

#12401 app-nolayers: Fix localization problem (on production)
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/MyCompanyName.MyProjectName.Host.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyCompanyName.MyProjectName.Host.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/MyCompanyName.MyProjectName.Mvc.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyCompanyName.MyProjectName.Mvc.csproj
Labels: abp-template-app-nolayers

#12410 Add new localizations for abp.io websites
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
Labels: abp-io

#12383 LeptonX Lite Documentation
  docs/en/Themes/LeptonXLite/angular.md
  docs/en/Themes/LeptonXLite/blazor.md
  docs/en/Themes/LeptonXLite/mvc.md
  docs/en/docs-nav.json
Labels: documentation

#12416 Documentation for Clustered Deployment
  docs/en/Background-Jobs.md
  docs/en/Background-Workers.md
  docs/en/Caching.md
  docs/en/Deployment/Clustered-Environment.md
  docs/en/Deployment/Index.md
  docs/en/Distributed-Locking.md
  docs/en/Redis-Cache.md
  docs/en/_resources/Diagrams.pptx
  docs/en/docs-nav.json
  docs/en/images/deployment-clustered.png
  docs/en/images/deployment-single-instance.png
Labels: abp-framework, documentation
