Repository abpframework/abp, pull requests merged in 2023-03, with the labels that each got.

#15841 Add Spring Campaign localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#15842 Encode the text in the `MultiTenancyMiddlewareErrorPageBuilder`.
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/AbpAspNetCoreMultiTenancyOptions.cs
  framework/test/Volo.Abp.AspNetCore.MultiTenancy.Tests/Volo/Abp/AspNetCore/MultiTenancy/AspNetCoreMultiTenancy_MultiTenancyMiddlewareErrorPageBuilder_Tests.cs
Labels: abp-framework

#15851 Add `AbpHttpClientStaticProxyingOptions`.
  framework/src/Volo.Abp.Http.Client.Web/Volo/Abp/Http/Client/Web/Conventions/AbpHttpClientProxyServiceConvention.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/StaticProxying/AbpHttpClientStaticProxyingOptions.cs
Labels: enhancement, abp-framework

#15755 Card component document
  docs/en/UI/Angular/Card-Component.md
  docs/en/UI/Angular/images/abp-card-component.png
Labels: documentation

#15824 Update entiry point on abp-schematic and abp-cli
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProxyCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/Angular/AngularServiceProxyGenerator.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/GenerateProxyArgs.cs
  npm/ng-packs/packages/schematics/src/commands/proxy-add/schema.json
Labels: ui-angular

#15858 Blazor - PageLayout enhancements
  framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/Layout/PageHeader.razor.cs
  framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/Layout/PageLayout.cs
Labels: enhancement, abp-framework

#15863 Remove `AuthenticationProperties` from `LogoutController`.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/LogoutController.cs
Labels: abp-module-openiddict

#15866 Fix dropdown inside responsive table
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js
Labels: ui-mvc

#15872 Cli: Change Theme for Public sites
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
Labels: abp-cli

#15891 Update Multi-Tenancy.md
  docs/en/Multi-Tenancy.md
Labels: documentation

#15894 Fix Language Switch in Authserver project
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/Pages/Index.cshtml
Labels: abp-template-app

#15847 give more details about list service filtering
  docs/en/UI/Angular/List-Service.md
Labels: documentation

#15909 commercial.abp.io - update FAQ
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#15911 Disable dynamic permissions and features in unit test.
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests/EntityFrameworkCore/MyProjectNameEntityFrameworkCoreTestModule.cs
Labels: abp-template-app

#15908 Define groups for menu items
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenu.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenuExtensions.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenuGroup.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenuGroupList.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenuItem.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/IHasMenuGroups.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/MenuManager.cs
  framework/test/Volo.Abp.UI.Navigation.Tests/Volo/Abp/Ui/Navigation/AbpUiNavigationTestModule.cs
  framework/test/Volo.Abp.UI.Navigation.Tests/Volo/Abp/Ui/Navigation/MenuManager_Tests.cs
Labels: abp-framework

#15918 CLI: Add user id to LoginInfo
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Auth/LoginInfo.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/LoginInfoCommand.cs
Labels: abp-cli

#15876 Check the token when refreshing the blazor server page.
  framework/src/Volo.Abp.AspNetCore.Components.Server/Microsoft/AspNetCore/Authentication/Cookies/CookieAuthenticationOptionsExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Components.Server/Volo.Abp.AspNetCore.Components.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyProjectNameBlazorModule.cs
Labels: enhancement, abp-template-app, abp-framework

#15878 Update AbpStringExtensions.ReplaceFirst, to spans
  framework/src/Volo.Abp.Core/System/AbpStringExtensions.cs
Labels: abp-framework

#15917 Feat local storage service
  npm/ng-packs/packages/core/src/lib/services/index.ts
  npm/ng-packs/packages/core/src/lib/services/local-storage.service.ts
  npm/ng-packs/packages/core/src/lib/services/session-state.service.ts
  npm/ng-packs/packages/core/src/lib/tests/local-storage.service.spec.ts
  npm/ng-packs/packages/oauth/src/lib/oauth.module.ts
  npm/ng-packs/packages/oauth/src/lib/strategies/auth-flow-strategy.ts
  npm/ng-packs/packages/oauth/src/lib/strategies/auth-password-flow-strategy.ts
  npm/ng-packs/packages/oauth/src/lib/utils/auth-utils.ts
Labels: ui-angular

#15930 Lint exception fixed in theme-shard
  npm/ng-packs/packages/theme-shared/src/lib/directives/visible.directive.ts
Labels: ui-angular

#15949 Upgrade `Autofac` to 7.0.0.
  framework/src/Volo.Abp.Autofac/Volo.Abp.Autofac.csproj
Labels: abp-framework

#15922 Document: Define groups for menu items
  docs/en/UI/AspNetCore/Navigation-Menu.md
  docs/en/UI/Blazor/Navigation-Menu.md
Labels: documentation

#15540 #15539 aded localization languaje for select2 for
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/dom-event-handlers.js
Labels: abp-framework, ui-mvc

#15539 aded localization fir dynamic resource for select2
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Packages/Volo/Abp/AspNetCore/Mvc/UI/Packages/Select2/Select2ScriptContributor.cs
Labels: enhancement, abp-framework

#15950 issue-1678-localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
Labels: abp-io

#15895 Add `BlazorWebAssemblyCurrentApplicationConfigurationCacheResetService`.
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/Configuration/BlazorWebAssemblyCurrentApplicationConfigurationCacheResetService.cs
Labels: abp-framework, ui-blazor

#15943 Add edit link in project page for all docs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
Labels: abp-module-docs

#15967 Set Url to project/version in home of breadcrumb
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
Labels: abp-module-docs

#15969 fix search bar layout problem if no contributor or edit link is empty
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
Labels: abp-module-docs

#15973 Upgrade Azure.Storage.Blobs package
  framework/src/Volo.Abp.BlobStoring.Azure/Volo.Abp.BlobStoring.Azure.csproj
Labels: abp-framework

#15931 refactor component output names to follow angular style guide
  npm/ng-packs/packages/theme-shared/src/lib/components/checkbox/checkbox.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/form-input/form-input.component.ts
Labels: ui-angular

#15976 Localization: Skip virtual json files without culture code
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/Json/JsonLocalizationDictionaryBuilder.cs
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/VirtualFiles/VirtualFileLocalizationResourceContributorBase.cs
Labels: enhancement, abp-framework

#15989 Avoid cache scoped DI containers in Lazy object.
  framework/src/Volo.Abp.AspNetCore.Mvc.NewtonsoftJson/Volo/Abp/AspNetCore/Mvc/NewtonsoftJson/AbpAspNetCoreMvcNewtonsoftModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Json/MvcCoreBuilderExtensions.cs
  framework/src/Volo.Abp.Json.Newtonsoft/Volo/Abp/Json/Newtonsoft/AbpCamelCasePropertyNamesContractResolver.cs
  framework/src/Volo.Abp.Json.Newtonsoft/Volo/Abp/Json/Newtonsoft/AbpDefaultContractResolver.cs
  framework/src/Volo.Abp.Json.Newtonsoft/Volo/Abp/Json/Newtonsoft/AbpJsonNewtonsoftModule.cs
  framework/src/Volo.Abp.Json.Newtonsoft/Volo/Abp/Json/Newtonsoft/AbpNewtonsoftJsonSerializer.cs
  framework/src/Volo.Abp.Json.SystemTextJson/Volo/Abp/Json/SystemTextJson/AbpDefaultJsonTypeInfoResolver.cs
  framework/src/Volo.Abp.Json.SystemTextJson/Volo/Abp/Json/SystemTextJson/AbpJsonSystemTextJsonModule.cs
  framework/test/Volo.Abp.MemoryDb.Tests/Volo/Abp/MemoryDb/AbpMemoryDbTestModule.cs
Labels: problem

#16022 Add new Localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Blog/Localization/Resources/en.json
Labels: abp-io

#16030 Commercial.abp.io - Faq localization edit
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
Labels: abp-io, localization

#16057 Cli: Always check nuget sources for latest version of LeptonX packages
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Version/PackageVersionCheckerService.cs
Labels: bug, abp-cli

#15927 Update index.js
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Documents/index.js
Labels: abp-module-docs, problem

#16071 Log exception on `AbpExceptionFilter`.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/AbpExceptionFilter.cs
Labels: abp-framework

#16086 Add `virtual` to controllers of framework.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Controllers/ErrorController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApiExploring/AbpApiDefinitionController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationScriptController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Localization/AbpApplicationLocalizationScriptController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ProxyScripting/AbpServiceProxyScriptController.cs
  framework/src/Volo.Abp.Swashbuckle/Volo/Abp/Swashbuckle/AbpSwashbuckleController.cs
Labels: abp-framework

#16090 Update Hangfire document
  docs/en/Background-Jobs-Hangfire.md
  docs/en/Background-Workers-Hangfire.md
  docs/zh-Hans/Background-Jobs-Hangfire.md
  docs/zh-Hans/Background-Workers-Hangfire.md
Labels: documentation

#16072 Abp.io websites - editing title localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Blog/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Blog/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Blog/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Blog/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hans.json
Labels: abp-io, localization

#16092 Abp.io - GetStarted page localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hant.json
  docs/en/CLI.md
Labels: documentation, localization

#16098 Small ar Fix for Localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
Labels: abp-io

#16096 Add AutocompleteParentSelector to AbpSelectTagHelper
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelperService.cs
Labels: enhancement, ui-mvc

#16099 Add namespaces to blazor toolbars documentation
  docs/en/UI/Blazor/Toolbars.md
Labels: documentation

#16049 page-alert-container component updated for HTML content
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/pipes/index.ts
  npm/ng-packs/packages/core/src/lib/pipes/safe-html.pipe.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/page-alert-container/page-alert-container.component.html
Labels: ui-angular

#16081 Update localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
Labels: abp-io

#15925 [DOC] Update ConfigStateService to include RefreshAppState
  docs/en/UI/Angular/Config-State-Service.md
Labels: documentation

#16069 remove themebasic testing module
  templates/app-nolayers/angular/src/app/home/home.component.spec.ts
  templates/app/angular/src/app/home/home.component.spec.ts
Labels: ui-angular

#16128 Admin.abp.io - localization arrangement
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/zh-Hant.json
Labels: localization

#16131 DataGridEntityActionsColumn show a *single button* if there is only one available action
  framework/src/Volo.Abp.BlazoriseUI/Components/AbpExtensibleDataGrid.razor
Labels: enhancement, ui-blazor

#15857 document all features in card component
  docs/en/UI/Angular/Card-Component.md
  docs/en/UI/Angular/images/abp-card-body.png
  docs/en/UI/Angular/images/abp-card-header-footer.png
  docs/en/UI/Angular/images/abp-card-header.png
  docs/en/UI/Angular/images/abp-card-image.png
  docs/en/UI/Angular/images/abp-card-kitchen-sink.png
  docs/en/UI/Angular/images/abp-card-list-group.png
  docs/en/UI/Angular/images/abp-card-title-text-link.png
Labels: documentation

#16117 Documantation and test created for `abpSafeHtml` & `page-alert`
  docs/en/UI/Angular/Page-Alerts.md
  docs/en/UI/Angular/images/page-alert-with-html-example.png
  npm/ng-packs/packages/core/src/lib/tests/safe-html.pipe.spec.ts
Labels: documentation, ui-angular, test

#16136 Salihozkara/seo
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
Labels: abp-io

#15938 Grouped menu feature @abp/ng.core
  docs/en/UI/Angular/Modifying-the-Menu.md
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/ar.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/cs.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/de.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/el.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/en-GB.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/en.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/es.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/fa.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/fi.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/fr.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/hi.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/hr.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/hu.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/is.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/it.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/nl.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/pl-PL.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/pt-BR.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/ro-RO.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/ru.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/sk.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/sl.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/tr.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/vi.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/zh-Hans.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/zh-Hant.json
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/models/common.ts
  npm/ng-packs/packages/core/src/lib/services/routes.service.ts
  npm/ng-packs/packages/core/src/lib/tests/routes.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/utils/common.utils.ts
  npm/ng-packs/packages/core/src/lib/tokens/index.ts
  npm/ng-packs/packages/core/src/lib/tokens/others-group.token.ts
  npm/ng-packs/packages/core/src/lib/utils/tree-utils.ts
Labels: ui-angular

#16149 New Article: Using Dapper with the ABP Framework
  docs/en/Community-Articles/2023-03-20-Dapper/POST.md
  docs/en/Community-Articles/2023-03-20-Dapper/book-class-in-rider.png
  docs/en/Community-Articles/2023-03-20-Dapper/book-database-table.png
  docs/en/Community-Articles/2023-03-20-Dapper/book-table-data.png
  docs/en/Community-Articles/2023-03-20-Dapper/list-of-books.png
Labels: community-article-request
