Repository abpframework/abp, pull requests merged in 2023-01, with the labels that each got.

#15283 Account: Update localizations
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/cs.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/da.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/de.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/el.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/en-GB.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/en.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/fa.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/fi.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/fr.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/hi.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/hr.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/hu.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/is.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/it.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/nl.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/pl-PL.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/pt-BR.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/ro-RO.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/ru.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/sk.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/sl.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/tr.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/vi.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/zh-Hans.json
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/zh-Hant.json
Labels: abp-module-account, localization

#15285 Update ng-zorro-antd package #15190
  npm/ng-packs/package.json
  npm/ng-packs/packages/components/package.json
Labels: ui-angular

#15168 run change detection with queue manager in permission directive
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/directives/permission.directive.ts
  npm/ng-packs/packages/core/src/lib/tokens/index.ts
  npm/ng-packs/packages/core/src/lib/tokens/queue.token.ts
  npm/ng-packs/packages/core/src/lib/utils/index.ts
  npm/ng-packs/packages/core/src/lib/utils/queue.ts
Labels: ui-angular

#15295 abp-select tag helper: Check enum values as underlying type for localization
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelperService.cs
Labels: abp-framework, ui-mvc

#15300 Skipped if version could not parsed
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/VoloNugetPackagesVersionUpdater.cs
Labels: abp-cli

#15307 abp.io: add new localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#15309 Set defaults while adding features
  framework/src/Volo.Abp.Features/Volo/Abp/Features/FeatureCheckerBase.cs
  framework/src/Volo.Abp.Features/Volo/Abp/Features/FeatureDefinition.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/FeatureDefinitionRecord.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.EntityFrameworkCore.Tests/Volo/Abp/FeatureManagement/EntityFrameworkCore/AbpFeatureManagementEntityFrameworkCoreTestModule.cs
Labels: bug, abp-framework, abp-module-feature-management

#15334 Remove timestamp and Level from ABP CLI
  framework/src/Volo.Abp.Cli/Volo/Abp/Cli/Program.cs
Labels: enhancement, abp-cli

#15332 Object Extensions supports Enum property
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/Data/HasExtraPropertiesExtensions.cs
  framework/test/Volo.Abp.ObjectExtending.Tests/Volo/Abp/ObjectExtending/AbpObjectExtendingTestModule.cs
  framework/test/Volo.Abp.ObjectExtending.Tests/Volo/Abp/ObjectExtending/ExtensibleObject_Tests.cs
  framework/test/Volo.Abp.ObjectExtending.Tests/Volo/Abp/ObjectExtending/HasExtraPropertiesObjectExtendingExtensions_Tests.cs
  framework/test/Volo.Abp.ObjectExtending.Tests/Volo/Abp/ObjectExtending/TestObjects/ExtensibleTestPerson.cs
Labels: abp-framework

#15326 CLI: Use only project name for change-theme schematics
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
Labels: ui-angular

#15192 Document `IAbpHostEnvironment`
  docs/en/Application-Startup.md
Labels: documentation

#15344 Update login button
  npm/ng-packs/apps/dev-app/src/app/app.module.ts
  npm/ng-packs/apps/dev-app/src/app/home/home.component.html
  npm/ng-packs/apps/dev-app/src/app/home/home.component.ts
Labels: ui-angular

#15336 `AddAppSettingsSecretsJson` in console project.
  templates/console/src/MyCompanyName.MyProjectName/MyCompanyName.MyProjectName.csproj
  templates/console/src/MyCompanyName.MyProjectName/Program.cs
Labels: abp-template-console

#15360 Add `IAbpConnectionStringChecker`.
  framework/src/Volo.Abp.Data/Volo/Abp/Data/AbpConnectionStringCheckResult.cs
  framework/src/Volo.Abp.Data/Volo/Abp/Data/DefaultConnectionStringChecker.cs
  framework/src/Volo.Abp.Data/Volo/Abp/Data/IConnectionStringChecker.cs
  framework/src/Volo.Abp.EntityFrameworkCore.MySQL/Volo/Abp/EntityFrameworkCore/ConnectionStrings/MySqlConnectionStringChecker.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/ConnectionStrings/OracleDevartConnectionStringChecker.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo/Abp/EntityFrameworkCore/ConnectionStrings/OracleConnectionStringChecker.cs
  framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo/Abp/EntityFrameworkCore/ConnectionStrings/NpgsqlConnectionStringChecker.cs
  framework/src/Volo.Abp.EntityFrameworkCore.SqlServer/Volo/Abp/EntityFrameworkCore/ConnectionStrings/SqlServerConnectionStringChecker.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Sqlite/Volo/Abp/EntityFrameworkCore/ConnectionStrings/SqliteConnectionStringChecker.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/ConnectionStrings/MongoDBConnectionStringChecker.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/ConnectionStrings/AbpConnectionStringChecker_Tests.cs
Labels: enhancement, abp-framework

#15303 Upradge bookstore blazor and angular
  docs/en/Tutorials/Part-1.md
  docs/en/Tutorials/Part-10.md
  docs/en/Tutorials/Part-2.md
  docs/en/Tutorials/Part-3.md
  docs/en/Tutorials/Part-4.md
  docs/en/Tutorials/Part-5.md
  docs/en/Tutorials/Part-6.md
  docs/en/Tutorials/Part-7.md
  docs/en/Tutorials/Part-8.md
  docs/en/Tutorials/Part-9.md
  docs/en/Tutorials/images/blazor-add-book-button-2.png
  docs/en/Tutorials/images/blazor-bookstore-book-list-2.png
  docs/en/Tutorials/images/blazor-bookstore-book-list-with-authors-2.png
  docs/en/Tutorials/images/blazor-delete-book-action-2.png
  docs/en/Tutorials/images/blazor-edit-book-action-3.png
  docs/en/Tutorials/images/blazor-edit-book-modal-2.png
  docs/en/Tutorials/images/blazor-new-book-modal-2.png
  docs/en/Tutorials/images/book-create-modal-with-author-2.png
  docs/en/Tutorials/images/bookstore-actions-buttons-2.png
  docs/en/Tutorials/images/bookstore-angular-author-selection-2.png
  docs/en/Tutorials/images/bookstore-angular-authors-page-2.png
  docs/en/Tutorials/images/bookstore-author-permissions-3.png
  docs/en/Tutorials/images/bookstore-authors-page-3.png
  docs/en/Tutorials/images/bookstore-book-list-angular.png
  docs/en/Tutorials/images/bookstore-books-with-authorname-angular-2.png
  docs/en/Tutorials/images/bookstore-confirmation-popup-2.png
  docs/en/Tutorials/images/bookstore-empty-new-book-modal-2.png
  docs/en/Tutorials/images/bookstore-final-actions-dropdown-2.png
  docs/en/Tutorials/images/bookstore-new-book-form-v3.png
Labels: documentation, abp-samples

#15378 Issue-1568 Localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#15293 Fix minor package update issues.
  npm/ng-packs/package.json
Labels: ui-angular

#15394 Enhance ABP CLI
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/CSharp/CSharpServiceProxyGenerator.cs
Labels: abp-cli

#15406 Deleted typo comma in appsettings.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/appsettings.json
Labels: abp-template-app-nolayers

#15408 Do not validate `ExtraProperties`.
  framework/src/Volo.Abp.AutoMapper/AutoMapper/AbpAutoMapperExtensibleDtoExtensions.cs
Labels: abp-framework

#15428 Update documents for get-started page changes
  docs/en/Modules/Account.md
  docs/en/Modules/Audit-Logging.md
  docs/en/Modules/Background-Jobs.md
  docs/en/Modules/Docs.md
  docs/en/Modules/Feature-Management.md
  docs/en/Modules/Identity.md
  docs/en/Modules/IdentityServer.md
  docs/en/Modules/OpenIddict.md
  docs/en/Modules/Permission-Management.md
  docs/en/Startup-Templates/Application-Single-Layer.md
  docs/en/Startup-Templates/Application.md
  docs/en/Startup-Templates/Module.md
  docs/en/UI/Angular/Quick-Start.md
Labels: enhancement, documentation

#15435 Add TwoLetterISOLanguageName LanguageInfo
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/LanguageInfo.cs
Labels: abp-framework

#15384 refresh app state when language change
  npm/ng-packs/packages/core/src/lib/services/localization.service.ts
Labels: ui-angular

#15463 add missing localizations
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/ar.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/de-DE.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/es.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/fi.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/fr.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/hi.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/it.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/pt-BR.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/ru.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/sk.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/sl.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/zh-Hans.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/zh-Hant.json
Labels: abp-module-audit-logging, localization

#15470 Remove tokens before removing authorizations.
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/AbpOpenIddictAuthorizationStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/IOpenIddictTokenRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.EntityFrameworkCore/Volo/Abp/OpenIddict/Tokens/EfCoreOpenIddictTokenRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.MongoDB/Volo/Abp/OpenIddict/Tokens/MongoOpenIddictTokenRepository.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.TestBase/Volo/Abp/OpenIddict/OpenIddictTokenRepository_Tests.cs
Labels: abp-module-openiddict

#15416 Support for adding custom `Grant Type`.
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Data/OpenIddictDataSeedContributor.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Data/OpenIddictDataSeedContributor.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/Data/OpenIddictDataSeedContributor.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Data/OpenIddictDataSeedContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/OpenIddict/OpenIddictDataSeedContributor.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/OpenIddict/OpenIddictDataSeedContributor.cs
Labels: abp-template-app, abp-template-module, abp-template-app-nolayers

#15475 CmsKit: Performance Improvements on DefaultHomePageMiddleware
  modules/cms-kit/src/Volo.CmsKit.Public.Web/DefaultHomePageMiddleware.cs
Labels: enhancement, abp-module-cms-kit

#15359 Angular: using AuthService instead of OAuthService
  templates/app-nolayers/angular/src/app/home/home.component.ts
  templates/app/angular/src/app/home/home.component.ts
Labels: ui-angular

#15484 Changes to BookStore Angular documentation
  docs/en/Tutorials/Part-3.md
  docs/en/Tutorials/Part-5.md
  docs/en/Tutorials/Part-9.md
Labels: documentation

#15486 Improvements on Layout Hooks
  framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/Components/LayoutHooks/LayoutHook.razor.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI/Volo/Abp/AspNetCore/Mvc/UI/Components/LayoutHook/LayoutHookViewComponent.cs
Labels: enhancement, abp-framework

#15489 CMS-KIT: add link types to links in comments as optional
  docs/en/Modules/Cms-Kit/Comments.md
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Pages/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Common.Web/Renderers/IMarkdownToHtmlRenderer.cs
  modules/cms-kit/src/Volo.CmsKit.Common.Web/Renderers/MarkdownToHtmlRenderer.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/CommentingViewComponent.cs
Labels: abp-module-cms-kit

#15488 cms-kit: Invalidate default home page cache when it's changed
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo/CmsKit/Admin/Pages/PageAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Pages/PageConsts.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Pages/PageCacheItem.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo/CmsKit/Public/Pages/PagePublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo/CmsKit/Public/PublicApplicationAutoMapperProfile.cs
Labels: problem, abp-module-cms-kit

#15499 Update proxy files of core
  npm/ng-packs/packages/core/src/lib/proxy/generate-proxy.json
  npm/ng-packs/packages/core/src/lib/proxy/pages/abp/multi-tenancy/abp-tenant.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/api-exploring/abp-api-definition.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/application-configurations/abp-application-configuration.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/application-configurations/abp-application-localization.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/http/modeling/models.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/localization/models.ts
Labels: ui-angular

#15502 BookStore part3 image file path
  docs/en/Tutorials/Part-3.md
Labels: documentation

#15507 Abp document update
  docs/en/Getting-Started-Running-Solution.md
  docs/en/Tutorials/Part-10.md
  docs/en/Tutorials/Part-5.md
  docs/en/Tutorials/images/blazor-edit-book-modal-2.png
  docs/en/Tutorials/images/blazor-new-book-modal-2.png
  docs/en/Tutorials/images/book-create-modal-with-author-2.png
  docs/en/Tutorials/images/bookstore-added-authors-to-modals-2.png
  docs/en/Tutorials/images/bookstore-angular-author-selection-2.png
  docs/en/Tutorials/images/bookstore-confirmation-popup-2.png
  docs/en/Tutorials/images/bookstore-final-actions-dropdown-2.png
  docs/en/Tutorials/images/bookstore-new-book-form-v3.png
  docs/en/images/bookstore-home-2.png
  docs/en/images/bookstore-login-2.png
Labels: documentation

#15508 Set `AutoTransactionBehavior ` to `Never` when always disabling transactions.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests/EntityFrameworkCore/MyProjectNameEntityFrameworkCoreTestModule.cs
  templates/module/aspnet-core/test/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests/EntityFrameworkCore/MyProjectNameEntityFrameworkCoreTestModule.cs
Labels: abp-template-app, abp-framework, abp-template-module

#15517 issue-1201-localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#15519 Fix cross site scripting (reflected) vulnerability in permission module
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/PermissionManagementModal.cshtml
Labels: abp-module-permission-management

#15523 Unused localization removed
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#15527 A Format String error occurs | penetration test
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationLocalizationAppService.cs
Labels: enhancement, abp-framework

#15545 Enhance no-layers Blazor webassembly template
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/Menus/MyProjectNameMenuContributor.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyCompanyName.MyProjectName.Blazor.WebAssembly.Client.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyProjectNameBlazorAutoMapperProfile.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyProjectNameBlazorModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyProjectNameBrandingProvider.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyProjectNameBundleContributor.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyProjectNameComponentBase.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/Pages/Index.razor.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/Program.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/_Imports.razor
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Data/MyProjectNameDbContext.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Data/MyProjectNameDbMigrationService.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Data/MyProjectNameMongoDbSchemaMigrator.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Data/OpenIddictDataSeedContributor.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/MyCompanyName.MyProjectName.Blazor.WebAssembly.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/MyProjectNameHostModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/ObjectMapping/MyProjectNameAutoMapperProfile.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Program.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/web.config
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Data/MyProjectNameDbContext.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Data/MyProjectNameDbContextFactory.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Data/MyProjectNameDbMigrationService.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Data/MyProjectNameEFCoreDbSchemaMigrator.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Data/OpenIddictDataSeedContributor.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/20221205080257_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/20221205080257_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/MyCompanyName.MyProjectName.Blazor.WebAssembly.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/MyProjectNameHostModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/ObjectMapping/MyProjectNameAutoMapperProfile.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Program.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/web.config
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Shared/Localization/MyProjectNameResource.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Shared/MultiTenancy/MultiTenancyConsts.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Shared/MyCompanyName.MyProjectName.Blazor.WebAssembly.Shared.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Shared/MyProjectNameContractsModule.cs
Labels: abp-template-app-nolayers

#15524 Use providers instead of direct repository access for resetting features
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application/Volo/Abp/FeatureManagement/FeatureAppService.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/FeatureManager.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/IFeatureManager.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.Domain.Tests/Volo/Abp/FeatureManagement/FeatureManager_Tests.cs
Labels: abp-module-feature-management

#15516 Cli: Support Blazor WASM option (single-layer)
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/AppNoLayersMigrateDatabaseChangeStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/AppNoLayersMoveProjectsStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppNoLayersTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
Labels: enhancement, abp-cli, ui-blazor
