Repository abpframework/abp, pull requests merged in 2023-02, with the labels that each got.

#15553 issue 1201 localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#15092 Documentation update for Blazor WASM option to single-layer solution template
  docs/en/CLI.md
  docs/en/Startup-Templates/Application-Single-Layer.md
  docs/en/Tutorials/Todo/Single-Layer/Index.md
  docs/zh-Hans/CLI.md
Labels: documentation

#15574 Fix openiddict cache problem.
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/AbpOpenIddictDomainModule.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/AbpOpenIddictIdentifierConverter.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/AbpOpenIddictStoreBase.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Applications/AbpApplicationManager.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Applications/AbpOpenIddictApplicationCache.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Applications/AbpOpenIddictApplicationStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/AbpAuthorizationManager.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/AbpOpenIddictAuthorizationCache.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/AbpOpenIddictAuthorizationStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Scopes/AbpOpenIddictScopeCache.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Scopes/AbpOpenIddictScopeStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Scopes/AbpScopeManager.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/AbpOpenIddictTokenStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/AbpTokenManager.cs
Labels: abp-module-openiddict

#15548 How to Contribute to ABP Framework?
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/how-can-I-contribute-to-open-source-projects-on-github.md
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/images/branch-image.png
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/images/clone-image.png
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/images/commit-image.png
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/images/developer-list.png
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/images/fork-project-image.png
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/images/fork-project-profile.png
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/images/git-push-image.png
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/images/github-desktop-change.png
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/images/github-desktop-pull-request.png
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/images/open-pull-request-image.png
  docs/en/Community-Articles/2023-01-30-How-To-Contribute-To-a-Open-Source-Software/images/pull-request-image.png
Labels: community-article-request

#15551 Cli: Fix wrong import when module added to angular project
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/AngularSourceCodeAdder.cs
Labels: enhancement, abp-cli

#15582 Set `EntityTenantId` of `EntityChange`.
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/EntityChange.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.Tests/Volo/Abp/AuditLogging/MultiTenantAuditLog_Tests.cs
Labels: abp-module-audit-logging

#15586 issue-1201 localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#15594 Trial License page License Type column name replace to "Interested License Type"
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#15556 Describe all abp database tables in a new document
  docs/en/Modules/Database-Tables.md
  docs/en/docs-nav.json
Labels: documentation

#15335 Make `ReplaceDbContext` supports multi-tenancy.
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/DependencyInjection/AbpCommonDbContextRegistrationOptions.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/DependencyInjection/IAbpCommonDbContextRegistrationOptionsBuilder.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/DependencyInjection/MultiTenantDbContextType.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/DependencyInjection/ReplaceDbContextAttribute.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Microsoft/Extensions/DependencyInjection/AbpEfCoreServiceCollectionExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContextOptions.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/EfCoreDbContextTypeProvider.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/IEfCoreDbContextTypeProvider.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Uow/EntityFrameworkCore/UnitOfWorkDbContextProvider.cs
  framework/src/Volo.Abp.MemoryDb/Microsoft/Extensions/DependencyInjection/AbpMemoryDbServiceCollectionExtensions.cs
  framework/src/Volo.Abp.MongoDB/Microsoft/Extensions/DependencyInjection/AbpMongoDbServiceCollectionExtensions.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/AbpMongoDbContextOptions.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/IMongoDbContextTypeProvider.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/MongoDbContextTypeProvider.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Uow/MongoDB/UnitOfWorkMongoDbContextProvider.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests.SecondContext/Volo/Abp/EntityFrameworkCore/TestApp/FifthContext/FifthDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests.SecondContext/Volo/Abp/EntityFrameworkCore/TestApp/FifthContext/FifthDbContextDummyEntity.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests.SecondContext/Volo/Abp/EntityFrameworkCore/TestApp/FifthContext/FifthDbContextDummyEntityRepository.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests.SecondContext/Volo/Abp/EntityFrameworkCore/TestApp/FifthContext/FifthDbContextMultiTenantDummyEntity.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests.SecondContext/Volo/Abp/EntityFrameworkCore/TestApp/FifthContext/FifthDbContextMultiTenantDummyEntityRepository.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests.SecondContext/Volo/Abp/EntityFrameworkCore/TestApp/FifthContext/IFifthDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/AbpEntityFrameworkCoreTestModule.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/DbContext_Replace_Tests.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFrameworkCore/HostTestAppDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFrameworkCore/TenantTestAppDbContext.cs
  framework/test/Volo.Abp.MongoDB.Tests.SecondContext/Volo/Abp/MongoDB/TestApp/FifthContext/FifthDbContext.cs
  framework/test/Volo.Abp.MongoDB.Tests.SecondContext/Volo/Abp/MongoDB/TestApp/FifthContext/FifthDbContextDummyEntity.cs
  framework/test/Volo.Abp.MongoDB.Tests.SecondContext/Volo/Abp/MongoDB/TestApp/FifthContext/FifthDbContextDummyEntityRepository.cs
  framework/test/Volo.Abp.MongoDB.Tests.SecondContext/Volo/Abp/MongoDB/TestApp/FifthContext/FifthDbContextMultiTenantDummyEntity.cs
  framework/test/Volo.Abp.MongoDB.Tests.SecondContext/Volo/Abp/MongoDB/TestApp/FifthContext/FifthDbContextMultiTenantDummyEntityRepository.cs
  framework/test/Volo.Abp.MongoDB.Tests.SecondContext/Volo/Abp/MongoDB/TestApp/FifthContext/IFifthDbContext.cs
  framework/test/Volo.Abp.MongoDB.Tests/Volo/Abp/MongoDB/AbpMongoDbTestModule.cs
  framework/test/Volo.Abp.MongoDB.Tests/Volo/Abp/MongoDB/DbContext_Replace_Tests.cs
  framework/test/Volo.Abp.MongoDB.Tests/Volo/Abp/TestApp/MongoDb/HostTestAppDbContext.cs
  framework/test/Volo.Abp.MongoDB.Tests/Volo/Abp/TestApp/MongoDb/TenantTestAppDbContext.cs
Labels: abp-framework

#15608 Convert CustomData to dictionary
  docs/en/UI/AspNetCore/Navigation-Menu.md
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenu.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenuItem.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Menus/CmsKitPublicMenuContributor.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/AbpFeatureManagementDomainModule.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.EntityFrameworkCore.Tests/Volo/Abp/FeatureManagement/EntityFrameworkCore/AbpFeatureManagementEntityFrameworkCoreTestModule.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/AbpPermissionManagementDomainModule.cs
  modules/permission-management/test/Volo.Abp.PermissionManagement.Domain.Tests/Volo/Abp/PermissionManagement/PermissionDefinitionRecordRepository_Tests.cs
  modules/permission-management/test/Volo.Abp.PermissionManagement.EntityFrameworkCore.Tests/Volo/Abp/PermissionManagement/EntityFrameworkCore/AbpPermissionManagementEntityFrameworkCoreTestModule.cs
  modules/permission-management/test/Volo.Abp.PermissionManagement.EntityFrameworkCore.Tests/Volo/Abp/PermissionManagement/EntityFrameworkCore/EFCorePermissionDefinitionRecordRepository_Tests.cs
Labels: breaking change, abp-framework

#15610 Change VALIDATION_TARGET_SELECTOR
  npm/ng-packs/packages/theme-basic/src/lib/theme-basic.module.ts
Labels: breaking change, ui-angular

#15618 Grammar check for Modules/Database-Tables doc
  docs/en/Modules/Database-Tables.md
Labels: documentation

#15611 Add custom menu component support to Basic Theme
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Navigation/BasicThemeNavigationExtensions.cs
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Themes/Basic/FirstLevelNavMenuItem.razor
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Themes/Basic/SecondLevelNavMenuItem.razor
Labels: abp-module-basic-theme

#15625 Fix Url check from in #15611
  docs/en/UI/Blazor/Basic-Theme.md
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Themes/Basic/FirstLevelNavMenuItem.razor
Labels: abp-module-basic-theme

#15596 add visible$ property to nav items
  npm/ng-packs/packages/theme-basic/src/lib/components/nav-items/current-user.component.html
  npm/ng-packs/packages/theme-basic/src/lib/components/nav-items/nav-items.component.html
  npm/ng-packs/packages/theme-shared/src/lib/directives/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/directives/visible.directive.ts
  npm/ng-packs/packages/theme-shared/src/lib/models/nav-item.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: ui-angular

#15641 Update LeptonXLite package version
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/MyCompanyName.MyProjectName.Host.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyCompanyName.MyProjectName.Host.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/MyCompanyName.MyProjectName.Mvc.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyCompanyName.MyProjectName.Mvc.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/MyCompanyName.MyProjectName.AuthServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyCompanyName.MyProjectName.Blazor.Server.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
Labels: abp-template-app, abp-template-app-nolayers

#15635 Cli: Include company name in app.module.ts when adding angular source code
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/AngularSourceCodeAdder.cs
Labels: abp-cli

#15656 Embedded YouTube videos to the Single Layer TodoApp Doc
  docs/en/Tutorials/Todo/Single-Layer/Index.md
Labels: enhancement, documentation

#15644 Fixed the `OnRegistered` name typo
  docs/en/Dependency-Injection.md
  docs/zh-Hans/Dependency-Injection.md
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Widgets/Volo/Abp/AspNetCore/Mvc/UI/Widgets/AbpAspNetCoreMvcUiWidgetsModule.cs
  framework/src/Volo.Abp.AspNetCore.SignalR/Volo/Abp/AspNetCore/SignalR/AbpAspNetCoreSignalRModule.cs
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AbpAuditingModule.cs
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/AbpAuthorizationModule.cs
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/AbpBackgroundJobsAbstractionsModule.cs
  framework/src/Volo.Abp.Core/Microsoft/Extensions/DependencyInjection/ServiceCollectionRegistrationActionExtensions.cs
  framework/src/Volo.Abp.Data/Volo/Abp/Data/AbpDataModule.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/AbpEventBusModule.cs
  framework/src/Volo.Abp.Features/Volo/Abp/Features/AbpFeaturesModule.cs
  framework/src/Volo.Abp.GlobalFeatures/Volo/Abp/GlobalFeatures/AbpGlobalFeaturesModule.cs
  framework/src/Volo.Abp.Security/Volo/Abp/Security/AbpSecurityModule.cs
  framework/src/Volo.Abp.Settings/Volo/Abp/Settings/AbpSettingsModule.cs
  framework/src/Volo.Abp.TextTemplating.Core/Volo/Abp/TextTemplating/AbpTextTemplatingCoreModule.cs
  framework/src/Volo.Abp.Uow/Volo/Abp/Uow/AbpUnitOfWorkModule.cs
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/AbpValidationModule.cs
  framework/test/Volo.Abp.Authorization.Tests/Volo/Abp/Authorization/AbpAuthorizationTestModule.cs
  framework/test/Volo.Abp.Core.Tests/Volo/Abp/DynamicProxy/AbpInterceptionTestBase.cs
  framework/test/Volo.Abp.FluentValidation.Tests/Volo/Abp/FluentValidation/ApplicationService_FluentValidation_Tests.cs
  framework/test/Volo.Abp.Validation.Tests/Volo/Abp/Validation/ApplicationService_Validation_Tests.cs
Labels: breaking change

#15668 Update nolayers template
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/wwwroot/index.html
Labels: abp-template-app-nolayers

#15667 Cli: Move CheckMultipleOrganizationsAsync to AuthService
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Auth/AuthService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Auth/IAuthService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/LoginCommand.cs
Labels: abp-cli

#15670 7.1 update leptonx dependencies
  modules/openiddict/app/angular/package.json
  templates/app-nolayers/angular/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyCompanyName.MyProjectName.Blazor.WebAssembly.Client.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/MyCompanyName.MyProjectName.Blazor.WebAssembly.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/MyCompanyName.MyProjectName.Blazor.WebAssembly.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/MyCompanyName.MyProjectName.Host.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyCompanyName.MyProjectName.Host.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/MyCompanyName.MyProjectName.Mvc.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyCompanyName.MyProjectName.Mvc.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/package.json
  templates/app/angular/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/MyCompanyName.MyProjectName.AuthServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyCompanyName.MyProjectName.Blazor.Server.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/package.json
Labels: ui-angular

#15677 Upgrade to Blazorise 1.2.0.
  framework/src/Volo.Abp.BlazoriseUI/Volo.Abp.BlazoriseUI.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyCompanyName.MyProjectName.Blazor.WebAssembly.Client.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/wwwroot/global.css
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/wwwroot/global.js
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/wwwroot/index.html
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyCompanyName.MyProjectName.Blazor.Server.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/global.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/index.html
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/MyCompanyName.MyProjectName.Blazor.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/wwwroot/global.css
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/wwwroot/index.html
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/MyCompanyName.MyProjectName.Blazor.Server.Host.csproj
Labels: abp-template-app, abp-framework, abp-template-module, abp-template-app-nolayers

#15648 Cli: Fix migration creation in no-layers template
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppNoLayersTemplateBase.cs
Labels: bug, abp-cli

#15680 Cli: Check if user is logged in before trying to get login info
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/LoginInfoCommand.cs
Labels: enhancement, abp-cli

#15687 Incorrect filtering for Booleans has been fixed in the IdentityUserRepository
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityUserRepository.cs
Labels: abp-module-identity

#15688 Make `EntityHistoryHelper` compatible `ValueObject`.
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/EntityHelper.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/EntityHistory/EntityHistoryHelper.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/AbpAuditingTestModule.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/App/Entities/AppEntityWithValueObject.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/App/EntityFrameworkCore/AbpAuditingTestDbContext.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/Auditing_Tests.cs
Labels: abp-framework

#15692 Cli: Enhancements related with starting ABP Suite
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/Services/SuiteAppSettingsService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SuiteCommand.cs
Labels: enhancement, abp-cli

#15702 Update en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#15597 fix some Unit tests
  npm/ng-packs/packages/core/src/lib/tests/application-localization.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/config-state.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/date-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/localization-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/localization.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/permission.guard.spec.ts
Labels: ui-angular

#15721 Switch Angular Dev-App to LeptonX-Lite
  npm/ng-packs/angular.json
  npm/ng-packs/apps/dev-app/src/app/app.module.ts
  npm/ng-packs/package.json
Labels: enhancement, ui-angular

#15584 Feat card component
  npm/ng-packs/apps/dev-app/src/app/home/home.component.html
  npm/ng-packs/package.json
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card-body.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card-title.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card.module.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/directives/visible.directive.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: ui-angular

#15719 Update LeptonX dependencies to latest stable OR preview version
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyCompanyName.MyProjectName.Blazor.WebAssembly.Client.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/MyCompanyName.MyProjectName.Blazor.WebAssembly.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/MyCompanyName.MyProjectName.Blazor.WebAssembly.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/MyCompanyName.MyProjectName.Host.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyCompanyName.MyProjectName.Host.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/MyCompanyName.MyProjectName.Mvc.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyCompanyName.MyProjectName.Mvc.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/MyCompanyName.MyProjectName.AuthServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyCompanyName.MyProjectName.Blazor.Server.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
Labels: enhancement

#15731 Add `AbpStringToGuidConverter` and `AbpNullableStringToGuidConverter`.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Json/MvcCoreBuilderExtensions.cs
  framework/src/Volo.Abp.Json.SystemTextJson/Volo/Abp/Json/SystemTextJson/AbpJsonSystemTextJsonModule.cs
  framework/src/Volo.Abp.Json.SystemTextJson/Volo/Abp/Json/SystemTextJson/JsonConverters/AbpNullableStringToGuidConverter.cs
  framework/src/Volo.Abp.Json.SystemTextJson/Volo/Abp/Json/SystemTextJson/JsonConverters/AbpStringToGuidConverter.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/ModelBinding/ModelBindingController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/ModelBinding/ModelBindingController_Tests.cs
  framework/test/Volo.Abp.Json.Tests/Volo/Abp/Json/AbpStringToGuid_Tests.cs
Labels: abp-framework

#15727 Capchta localization edited
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en.json
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Security/Captcha/CaptchaException.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Security/Captcha/SimpleMathsCaptchaGenerator.cs
Labels: abp-module-cms-kit

#15734 Update CmdHelper.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/CmdHelper.cs
Labels: abp-cli

#15740 CLI: Fix ChangeThemeStep
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
Labels: abp-cli

#15751 Revise CMS Kit documentation
  docs/en/Modules/Cms-Kit/Blogging.md
  docs/en/Modules/Cms-Kit/Comments.md
  docs/en/Modules/Cms-Kit/Global-Resources.md
  docs/en/Modules/Cms-Kit/Index.md
  docs/en/Modules/Cms-Kit/Menus.md
  docs/en/Modules/Cms-Kit/Pages.md
  docs/en/Modules/Cms-Kit/Ratings.md
  docs/en/Modules/Cms-Kit/Reactions.md
  docs/en/Modules/Cms-Kit/Tags.md
Labels: enhancement, documentation

#15585 Angular UI minor improvements
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.html
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.html
  npm/ng-packs/packages/identity/src/lib/identity.module.ts
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.html
  npm/ng-packs/packages/tenant-management/src/lib/tenant-management.module.ts
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/page-toolbar/page-toolbar.component.html
  templates/app-nolayers/angular/package.json
  templates/app/angular/package.json
Labels: ui-angular

#15729 Encode URL before saving it into database
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Edit.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/New.cshtml.cs
Labels: abp-module-blogging

#15736 Set some localized messages for `ModelBindingMessageProvider`.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/ar.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/cs.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/de.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/el.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/en-GB.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/en.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/es.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/fa.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/fi.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/fr.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/hi.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/hr.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/hu.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/is.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/it.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/nl.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/pl-PL.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/pt-BR.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/ro-RO.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/ru.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/sk.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/sl.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/tr.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/vi.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/zh-Hans.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/zh-Hant.json
Labels: abp-framework

#15783 CLI: Check latest stable version from a new endpoint
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/AbpCliCoreModule.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliConsts.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliUrls.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/CliCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SuiteCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Http/CliHttpClientFactory.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/VoloNugetPackagesVersionUpdater.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Version/CommercialPackages.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Version/LatestVersionInfo.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Version/PackageVersionCheckerService.cs
  latest-versions.json
Labels: abp-cli

#15792 Bug #15791 - Fix log out fails when EnableLocalLogin is false
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Logout.cshtml.cs
Labels: abp-module-account

#15741 Feat input wrapper
  npm/ng-packs/angular.json
  npm/ng-packs/apps/dev-app/src/app/app.module.ts
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.html
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/checkbox/checkbox.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/form-input/form-input.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/enums/form.ts
  npm/ng-packs/packages/theme-shared/src/lib/enums/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/checkbox.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/form-input.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
  npm/ng-packs/tsconfig.base.json
Labels: ui-angular

#15802 cms-kit: Fix `TagHelper` name
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/BlogPost.cshtml
Labels: abp-module-cms-kit

#15810 Remove the key from the exception.
  framework/src/Volo.Abp.Uow/Volo/Abp/Uow/UnitOfWork.cs
Labels: enhancement, abp-framework

#15796 docs.abp.io : The problem was solved when the document part was extended
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css.map
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.scss
Labels: abp-module-docs

#15809 Improvements for permission-management modal
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/PermissionManagementModal.cshtml
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/PermissionManagementModal.cshtml.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/permission-management-modal.js
Labels: abp-module-permission-management, ui-mvc, ui-blazor, pr-revision-1

#15788 add grant function on AuthService
  npm/ng-packs/packages/core/src/lib/abstracts/auth-response.model.ts
  npm/ng-packs/packages/core/src/lib/abstracts/auth.service.ts
  npm/ng-packs/packages/core/src/lib/abstracts/index.ts
  npm/ng-packs/packages/oauth/src/lib/services/oauth.service.ts
Labels: ui-angular

#15827 Upgrade OpenIddict to 4.1.0.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo.Abp.OpenIddict.AspNetCore.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain.Shared/Volo.Abp.OpenIddict.Domain.Shared.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo.Abp.OpenIddict.Domain.csproj
Labels: abp-framework

#15282 CancellationToken parameter added for background jobs
  docs/en/Background-Jobs.md
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/AsyncBackgroundJob.cs
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/BackgroundJob.cs
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/BackgroundJobExecuter.cs
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/IAsyncBackgroundJob.cs
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/IBackgroundJob.cs
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/JobExecutionContext.cs
  framework/src/Volo.Abp.BackgroundJobs.HangFire/Volo/Abp/BackgroundJobs/Hangfire/HangfireBackgroundJobManager.cs
  framework/src/Volo.Abp.BackgroundJobs.HangFire/Volo/Abp/BackgroundJobs/Hangfire/HangfireJobExecutionAdapter.cs
  framework/src/Volo.Abp.BackgroundJobs.Quartz/Volo/Abp/BackgroundJobs/Quartz/QuartzJobExecutionAdapter.cs
  framework/src/Volo.Abp.BackgroundJobs/Volo/Abp/BackgroundJobs/BackgroundJobWorker.cs
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/BackgroundEmailSendingJob.cs
  framework/test/Volo.Abp.BackgroundJobs.Tests/Volo/Abp/BackgroundJobs/BackgroundJobExecuter_Tests.cs
  framework/test/Volo.Abp.BackgroundJobs.Tests/Volo/Abp/BackgroundJobs/MyAsyncJob.cs
  framework/test/Volo.Abp.BackgroundJobs.Tests/Volo/Abp/BackgroundJobs/MyJob.cs
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.HangFire/Program.cs
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.Quartz/Program.cs
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.RabbitMq/Program.cs
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.Shared/Jobs/LongRunningJob.cs
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.Shared/Jobs/LongRunningJobArgs.cs
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.Shared/Jobs/WriteToConsoleGreenJob.cs
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.Shared/Jobs/WriteToConsoleYellowJob.cs
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp/DemoAppModule.cs
  modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp/Program.cs
Labels: breaking change

#15831 Fix bundle service path issue
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlerBase.cs
Labels: bug, abp-cli
