Repository abpframework/abp, pull requests merged in 2023-05, with the labels that each got.

#16437 Cli Documentation: Add example for `switch-to-local` command
  docs/en/CLI.md
Labels: documentation, abp-cli

#16440 Update OpenIddict to 4.3.0
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo.Abp.OpenIddict.AspNetCore.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain.Shared/Volo.Abp.OpenIddict.Domain.Shared.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo.Abp.OpenIddict.Domain.csproj
Labels: abp-module-openiddict

#16441 Output the message if the package is installed
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectNugetPackageAdder.cs
Labels: enhancement, abp-cli

#16412 Blogging module - Member page enhancements
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.cshtml
Labels: abp-module-blogging

#16459 Normalize ElementId for navigation menu items
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenuGroup.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenuItem.cs
Labels: abp-framework

#16467 Improve performance and seo for blog module
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.cshtml
Labels: abp-module-blogging

#16471 Add Blazor option to the Overriding the User Interface document
  docs/en/Customizing-Application-Modules-Overriding-User-Interface.md
Labels: documentation

#16470 Remove deprecated packages. bump @abp/ng.theme.lepton-x
  npm/ng-packs/package.json
Labels: hold

#16480 Revert "Update OpenIddict to 4.3.0"
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo.Abp.OpenIddict.AspNetCore.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain.Shared/Volo.Abp.OpenIddict.Domain.Shared.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo.Abp.OpenIddict.Domain.csproj
Labels: abp-module-openiddict

#16477 community.abp.io - new testimonial localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
Labels: localization

#16333 Inform when a new distributed message received or sent.
  framework/src/Volo.Abp.AspNetCore.Mvc.Dapr.EventBus/Volo/Abp/AspNetCore/Mvc/Dapr/EventBus/Controllers/AbpAspNetCoreMvcDaprEventsController.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/DistributedEventReceived.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/DistributedEventSent.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/DistributedEventSource.cs
  framework/src/Volo.Abp.EventBus.Azure/Volo/Abp/EventBus/Azure/AzureDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus.Dapr/Volo/Abp/EventBus/Dapr/DaprDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus.Kafka/Volo/Abp/EventBus/Kafka/KafkaDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus.RabbitMQ/Volo/Abp/EventBus/RabbitMq/RabbitMqDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/RebusDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/DistributedEventBusBase.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/EventBusBase.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Local/LocalEventBus.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/AbpMongoDbDateTimeSerializer.cs
  framework/test/Volo.Abp.EventBus.Tests/Volo/Abp/EventBus/Distributed/DistributedEventHandles.cs
  framework/test/Volo.Abp.EventBus.Tests/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus_Test.cs
Labels: feature, abp-framework

#16506 CLI: Find PRO packages more accurate
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliUrls.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Version/CommercialPackages.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Version/PackageVersionCheckerService.cs
Labels: enhancement, abp-cli

#16509 Update Tutorials document
  docs/en/Tutorials/Part-8.md
  docs/zh-Hans/Tutorials/Part-8.md
Labels: documentation

#16516 AngularUI:Theme configuration added to docs
  docs/en/UI/Angular/Theme-Configurations.md
  docs/en/docs-nav.json
Labels: documentation, ui-angular

#16476 Cms-Kit - comment enhancement on admin side
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20221223083811_Added_EntityVersion.Designer.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20221223083811_Added_EntityVersion.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20230504122708_Initial.Designer.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/20230504122708_Initial.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Migrations/UnifiedDbContextModelSnapshot.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Comments/CommentWithAuthorDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Comments/index.css
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Comments/index.js
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Comments/CommentConsts.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en.json
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Comments/Comment.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Comments/CommentManager.cs
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/EntityFrameworkCore/CmsKitDbContextModelCreatingExtensions.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Comments/CommentDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Comments/CreateCommentInput.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Comments/CreateCommentWithParametersInput.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo/CmsKit/Public/Comments/CommentPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/Default.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/default.js
Labels: feature, abp-io, abp-module-cms-kit

#16520 `SetModificationAuditProperties` for entities with default value.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/Auditing/Auditing_Tests.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/TestMigrationsDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFrameworkCore/TestAppDbContext.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Domain/Person.cs
Labels: abp-framework

#16521 Add `Volo.Abp.Ddd.Domain.Shared` package.
  framework/Volo.Abp.sln
  framework/src/Volo.Abp.Ddd.Domain.Shared/FodyWeavers.xml
  framework/src/Volo.Abp.Ddd.Domain.Shared/FodyWeavers.xsd
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo.Abp.Ddd.Domain.Shared.csproj
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/AbpDddDomainSharedModule.cs
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/Entities/Events/Distributed/AbpDistributedEntityEventOptions.cs
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/Entities/Events/Distributed/AutoEntityDistributedEventSelectorList.cs
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/Entities/Events/Distributed/EntityCreatedEto.cs
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/Entities/Events/Distributed/EntityDeletedEto.cs
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/Entities/Events/Distributed/EntityEto.cs
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/Entities/Events/Distributed/EntityUpdatedEto.cs
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/Entities/Events/Distributed/EtoMappingDictionary.cs
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/Entities/Events/Distributed/EtoMappingDictionaryItem.cs
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/Entities/Events/Distributed/IAutoEntityDistributedEventSelectorList.cs
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/Entities/Events/Distributed/IEntityEto.cs
  framework/src/Volo.Abp.Ddd.Domain.Shared/Volo/Abp/Domain/Entities/Events/Distributed/IEntityToEtoMapper.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo.Abp.Ddd.Domain.csproj
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/AbpDddDomainModule.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo.Abp.EventBus.Abstractions.csproj
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Abstractions/AbpEventBusAbstractionsModule.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IEventInbox.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IEventOutbox.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IInboxProcessor.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IOutboxSender.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/ISupportsEventBoxes.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/InboxConfig.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/InboxConfigDictionary.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IncomingEventInfo.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/OutboxConfig.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/OutboxConfigDictionary.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/OutgoingEventInfo.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/IEventBus.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/IEventDataMayHaveTenantId.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/IEventDataWithInheritableGenericArgument.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/IEventHandlerDisposeWrapper.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/IEventHandlerFactory.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/IEventHandlerInvoker.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Local/ILocalEventBus.cs
  nupkg/common.ps1
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/MyCompanyName.MyProjectName.Domain.Shared.csproj
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/MyProjectNameDomainSharedModule.cs
Labels: abp-framework, abp-template-module

#16544 Add `LocalEventHandlerOrderAttribute`.
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Local/LocalEventHandlerOrderAttribute.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Local/LocalEventBus.cs
  framework/test/Volo.Abp.EventBus.Tests/Volo/Abp/EventBus/Local/EventBus_Order_Test.cs
Labels: abp-framework

#16548 Show warning instead of crashing the application when a bundle script/style file not found.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpTagHelperResourceService.cs
Labels: abp-framework

#16551 Refactor ChangeThemeStep
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
Labels: abp-cli

#16537 Refactor `ClaimsPrincipal` handle way of OpenIddict.
  docs/en/Community-Articles/2022-11-14-How-to-add-a-custom-grant-type-in-OpenIddict/POST.md
  docs/en/Modules/OpenIddict.md
  modules/openiddict/app/OpenIddict.Demo.Server/ExtensionGrants/MyTokenExtensionGrant.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/AbpOpenIddictAspNetCoreModule.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/ClaimDestinations/AbpOpenIddictClaimDestinationsManager.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/ClaimDestinations/AbpOpenIddictClaimDestinationsOptions.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/ClaimDestinations/AbpOpenIddictClaimDestinationsProviderContext.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/ClaimDestinations/IAbpOpenIddictClaimDestinationsProvider.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Claims/AbpDefaultOpenIddictClaimsPrincipalHandler.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Claims/AbpOpenIddictClaimsPrincipalHandlerContext.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Claims/AbpOpenIddictClaimsPrincipalManager.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Claims/AbpOpenIddictClaimsPrincipalOptions.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Claims/IAbpOpenIddictClaimsPrincipalHandler.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/AbpOpenIdDictControllerBase.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/AuthorizeController.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/TokenController.AuthorizationCode.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/TokenController.DeviceCode.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/TokenController.Password.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/TokenController.RefreshToken.cs
Labels: breaking change, abp-module-openiddict

#16562 Commercial.abp.io - Localization of new testimonials
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io, localization

#16489 fix IRemoteStreamContent issue on generate service
  npm/ng-packs/packages/schematics/src/constants/volo.ts
  npm/ng-packs/packages/schematics/src/enums/binding-source-id.ts
  npm/ng-packs/packages/schematics/src/models/method.ts
  npm/ng-packs/packages/schematics/src/utils/service.ts
Labels: ui-angular

#16566 Support extra properties for users module
  modules/users/src/Volo.Abp.Users.Abstractions/Volo/Abp/Users/IUserData.cs
  modules/users/src/Volo.Abp.Users.Abstractions/Volo/Abp/Users/UserData.cs
  modules/users/src/Volo.Abp.Users.Abstractions/Volo/Abp/Users/UserEto.cs
  modules/users/src/Volo.Abp.Users.Domain/Volo/Abp/Users/AbpUserExtensions.cs
  modules/users/src/Volo.Abp.Users.Domain/Volo/Abp/Users/IUser.cs
Labels: abp-module-users

#16569 Commercial.abp.io - adding new faq localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: localization

#16575 Add `UpdateDockerImagesStep`.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Microservice/MicroserviceTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Microservice/UpdateDockerImagesStep.cs
Labels: abp-cli

#16497 Angular: normalize TS versions
  npm/ng-packs/package.json
  npm/ng-packs/packages/schematics/package.json
  npm/ng-packs/packages/schematics/src/utils/angular/latest-versions/package.json
  npm/ng-packs/packages/schematics/src/utils/methods.ts
  npm/ng-packs/scripts/package.json
Labels: ui-angular

#16589 Blogging - created css file for detail page
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/detail.css
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Shared/Styles/blog.css
Labels: abp-module-blogging

#16595 commercial.abp.io - added localization for the trial page
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io, localization

#16579 Blogging - Post detail and member page edits
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/en.json
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/detail.css
  modules/blogging/src/Volo.Blogging.Web/Pages/Members/Index.cshtml
Labels: abp-module-blogging

#16604 Add blazor to solution structure document
  docs/en/Startup-Templates/Application.md
  docs/en/images/layered-project-dependencies-blazor-server.png
  docs/en/images/layered-project-dependencies-blazor-wasm.png
Labels: documentation

#16601 fix condition line for error component
  npm/ng-packs/packages/theme-shared/src/lib/handlers/error.handler.ts
Labels: ui-angular

#16638 Add different solutions for long path issue on windows
  docs/en/KB/Windows-Path-Too-Long-Fix.md
Labels: documentation

#16655 Fix cms kit automapper exception
  modules/cms-kit/src/Volo.CmsKit.Public.Web/CmsKitPublicWebAutoMapperProfile.cs
Labels: abp-module-cms-kit

#16651 Bind when date is a valid value
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/DatePicker/AbpDatePickerBaseTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/DatePicker/AbpDatePickerTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/dom-event-handlers.js
Labels: bug

#16660 Add `CancellationToken` to `ITransactionApi`.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Uow/EntityFrameworkCore/EfCoreTransactionApi.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Uow/MongoDB/MongoDbTransactionApi.cs
  framework/src/Volo.Abp.Uow/Volo/Abp/Uow/ISupportsRollback.cs
  framework/src/Volo.Abp.Uow/Volo/Abp/Uow/ITransactionApi.cs
  framework/src/Volo.Abp.Uow/Volo/Abp/Uow/UnitOfWork.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/Uow/UnitOfWork_CancellationToken_Tests.cs
  framework/test/Volo.Abp.MongoDB.Tests/Volo/Abp/MongoDB/Uow/UnitOfWork_CancellationToken_Tests.cs
Labels: abp-framework

#16654 Minor bug fixed for return prev. url
  npm/ng-packs/packages/oauth/src/lib/strategies/auth-code-flow-strategy.ts
Labels: bug, ui-angular

#16657 Add `ClearDownloadCacheCommand`.
  docs/en/CLI.md
  docs/zh-Hans/CLI.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/AbpCliCoreModule.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ClearDownloadCacheCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ISourceCodeStore.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ProjectBuildArgs.cs
Labels: enhancement, abp-cli

#16677 Fix permission modal
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/PermissionManagementModal.cshtml.cs
Labels: abp-module-permission-management, ui-mvc

#16653 Abp.io - title and meta name localization of sites
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
Labels: localization

#16674 Upgrade `OpenIddict` to `4.4.0`.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo.Abp.OpenIddict.AspNetCore.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain.Shared/Volo.Abp.OpenIddict.Domain.Shared.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo.Abp.OpenIddict.Domain.csproj
Labels: abp-module-openiddict

#16686 Fix file issue in dynamic form
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpDynamicformTagHelperService.cs
Labels: abp-framework

#16681 fix(): ensure new password is different from current password
  modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/ChangePasswordInput.cs
  modules/account/src/Volo.Abp.Account.Blazor/Pages/Account/AccountManage.razor.cs
  modules/account/test/Volo.Abp.Account.Application.Tests/Volo/Abp/Account/ProfileAppService_Tests.cs
Labels: feature, abp-module-account

#16496 Script nonce support for CSP
  docs/en/UI/AspNetCore/Security-Headers.md
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpTagHelperScriptService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpTagHelperStyleService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/ScriptNonceTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Bundling/SharedThemeGlobalScriptContributor.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/dom-event-handlers.js
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/AbpAspNetCoreConsts.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/AbpSecurityHeaderNonceHelper.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/AbpSecurityHeadersMiddleware.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/AbpSecurityHeadersOptions.cs
  npm/packs/jquery/src/abp.jquery.js
Labels: enhancement, breaking change

#16685 Add Nx Code Generator for encapsulating ABP Schematics on NX repositories without 'angular.json' file
  npm/ng-packs/.eslintrc.json
  npm/ng-packs/.vscode/settings.json
  npm/ng-packs/package.json
  npm/ng-packs/packages/generators/.eslintrc.json
  npm/ng-packs/packages/generators/README.md
  npm/ng-packs/packages/generators/generators.json
  npm/ng-packs/packages/generators/jest.config.ts
  npm/ng-packs/packages/generators/package.json
  npm/ng-packs/packages/generators/project.json
  npm/ng-packs/packages/generators/src/generators/generate-proxy/files/src/index.ts.template
  npm/ng-packs/packages/generators/src/generators/generate-proxy/generator.spec.ts
  npm/ng-packs/packages/generators/src/generators/generate-proxy/generator.ts
  npm/ng-packs/packages/generators/src/generators/generate-proxy/schema.d.ts
  npm/ng-packs/packages/generators/src/generators/generate-proxy/schema.json
  npm/ng-packs/packages/generators/src/index.ts
  npm/ng-packs/packages/generators/tsconfig.json
  npm/ng-packs/packages/generators/tsconfig.lib.json
  npm/ng-packs/packages/generators/tsconfig.spec.json
  npm/ng-packs/tsconfig.base.json
Labels: ui-angular

#16676 Add `AbpMemoryPoolHttpResponseStreamWriterFactory`.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Infrastructure/AbpMemoryPoolHttpResponseStreamWriterFactory.cs
Labels: abp-framework

#16695 Prevent breaking change
  docs/en/UI/AspNetCore/Security-Headers.md
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/AbpSecurityHeadersMiddleware.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/AbpSecurityHeadersOptions.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Security/Headers/SecurityHeadersTestController_Tests.cs
Labels: abp-framework

#16617 Support to remove and replace controllers.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcOptions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/AbpServiceConvention.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Controllers/ReplaceControllersAttribute.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Controllers/ReplaceBuiltInController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Controllers/ReplaceBuiltInController_Tests.cs
Labels: enhancement, abp-framework

#16707 admin.abp.io: Add new localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io, localization

#16699 show muted text in form field
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/extensible-form/extensible-form-prop.component.html
  npm/ng-packs/packages/theme-shared/extensions/src/lib/models/form-props.ts
  npm/ng-packs/packages/theme-shared/extensions/src/lib/models/internal/object-extensions.ts
  npm/ng-packs/packages/theme-shared/extensions/src/lib/models/props.ts
  npm/ng-packs/packages/theme-shared/extensions/src/lib/utils/state.util.ts
Labels: ui-angular

#16554 Document `LocalEventHandlerOrderAttribute`
  docs/en/Local-Event-Bus.md
Labels: documentation

#16679 Add new localizations for abp.io website
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#16696 Add Installation section for Imaging providers
  docs/en/Image-Manipulation.md
Labels: documentation

#16712 Support to remove and replace controllers
  docs/en/API/Auto-API-Controllers.md
Labels: abp-framework, documentation

#16723 Blog - Edited blog name null check
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Blogs/BlogAppService.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.cshtml.cs
Labels: abp-module-blogging

#16709 Add `Monitoring Distributed Events` section to distributed event bus document
  docs/en/Distributed-Event-Bus.md
Labels: abp-framework, documentation

#16711 Fix nightly build
  npm/ng-packs/migrations.json
  npm/ng-packs/package.json
  npm/ng-packs/packages/generators/.eslintrc.json
  npm/ng-packs/packages/generators/README.md
  npm/ng-packs/packages/generators/generators.json
  npm/ng-packs/packages/generators/jest.config.ts
  npm/ng-packs/packages/generators/package.json
  npm/ng-packs/packages/generators/project.json
  npm/ng-packs/packages/generators/src/generators/generate-proxy/generator.ts
  npm/ng-packs/packages/generators/src/generators/generate-proxy/index.ts
  npm/ng-packs/packages/generators/src/generators/generate-proxy/schema.d.ts
  npm/ng-packs/packages/generators/src/generators/generate-proxy/schema.json
  npm/ng-packs/packages/generators/src/generators/update-version/generator.ts
  npm/ng-packs/packages/generators/src/generators/update-version/index.ts
  npm/ng-packs/packages/generators/src/generators/update-version/schema.d.ts
  npm/ng-packs/packages/generators/src/generators/update-version/schema.json
  npm/ng-packs/packages/generators/src/generators/update-version/utils.ts
  npm/ng-packs/packages/generators/src/index.ts
  npm/ng-packs/packages/generators/tsconfig.json
  npm/ng-packs/packages/generators/tsconfig.lib.json
  npm/ng-packs/packages/generators/tsconfig.spec.json
  npm/ng-packs/packages/schematics/package.json
  npm/ng-packs/packages/schematics/src/utils/rule.ts
  npm/ng-packs/packages/theme-shared/package.json
  npm/ng-packs/scripts/package.json
  npm/ng-packs/scripts/publish.ts
  npm/ng-packs/scripts/update-version.ts
  npm/ng-packs/tsconfig.base.json
  npm/publish-ng.ps1
Labels: ui-angular
