Repository abpframework/abp, pull requests merged in 2023-12, with the labels that each got.

#18341 Update Pre-Requirements
  docs/en/Tutorials/Todo/Single-Layer/Index.md
Labels: documentation

#18346 Remove `AppTemplateRemoveMongodbCollectionFixtureStep`.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateRemoveMongodbCollectionFixtureStep.cs
Labels: abp-cli

#18092 Update en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
Labels: abp-io

#18351 Adjust ProjectNpmPackageAdder & Add npm package info to web projects
  common.props
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectNpmPackageAdder.cs
  modules/blogging/src/Volo.Blogging.Web/Volo.Blogging.Web.abppkg
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Volo.CmsKit.Admin.Web.abppkg
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Volo.CmsKit.Public.Web.abppkg
  modules/cms-kit/src/Volo.CmsKit.Web/Volo.CmsKit.Web.abppkg
  modules/docs/src/Volo.Docs.Web/Volo.Docs.Web.abppkg
Labels: enhancement, abp-cli

#18318 Add default values to test email form in setting-management module
  npm/ng-packs/packages/setting-management/config/src/lib/components/email-setting-group/email-setting-group.component.html
  npm/ng-packs/packages/setting-management/config/src/lib/components/email-setting-group/email-setting-group.component.ts
  npm/ng-packs/packages/setting-management/config/src/lib/enums/policy-names.ts
Labels: abp-module-setting-management, ui-angular

#18361 Update version to release 7.4.3
  common.props
Labels: devops

#18360 CLI: New version info should logged if the current CLI version is pre-release and the stable version fetched from GitHub.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Version/PackageVersionCheckerService.cs
Labels: bug, abp-cli

#18345 Convert directives to standalone and update standalone components imports / template
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form-prop.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form-prop.component.ts
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.ts
  npm/ng-packs/packages/components/extensible/src/lib/components/grid-actions/grid-actions.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/grid-actions/grid-actions.component.ts
  npm/ng-packs/packages/components/extensible/src/lib/components/page-toolbar/page-toolbar.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/page-toolbar/page-toolbar.component.ts
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/directives/autofocus.directive.ts
  npm/ng-packs/packages/core/src/lib/directives/debounce.directive.ts
  npm/ng-packs/packages/core/src/lib/directives/for.directive.ts
  npm/ng-packs/packages/core/src/lib/directives/form-submit.directive.ts
  npm/ng-packs/packages/core/src/lib/directives/init.directive.ts
  npm/ng-packs/packages/core/src/lib/directives/permission.directive.ts
  npm/ng-packs/packages/core/src/lib/directives/replaceable-template.directive.ts
  npm/ng-packs/packages/core/src/lib/directives/stop-propagation.directive.ts
Labels: enhancement, ui-angular

#18359 Fix module find condition, included module name bisde module path
  npm/ng-packs/packages/schematics/src/commands/change-theme/index.ts
Labels: ui-angular

#18373 CLI: Fix angular package name for lepton theme in the ChangeThemeStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
Labels: bug, abp-cli

#18376 Add missing localizations for abpio websites
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: localization

#18327 Sort the API Definition
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AspNetCoreApiDescriptionModelProvider.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/ApplicationApiDescriptionModel.cs
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/ModuleApiDescriptionModel.cs
Labels: enhancement, abp-framework

#18355 Swagger Oidc support multi-tenant
  framework/src/Volo.Abp.Swashbuckle/wwwroot/swagger/ui/abp.swagger.js
Labels: abp-framework

#18388 Support `dropdowns-dividers` for `row acrions`.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js
Labels: ui-mvc

#18395 Update version to release 8.0.0-rc.3
  common.props
Labels: devops

#18343 Support nested permission
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor.cs
Labels: abp-module-permission-management, ui-blazor

#18403 improve validate version message
  npm/scripts/validate-versions.ts
Labels: ui-angular

#18398 [Backward Port 7.4] Better PageHeader rendering for Settings
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/SettingManagement.razor.cs
Labels: ui-blazor

#18381 Update en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#18422 Update en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
Labels: abp-io

#18260 Introduce `IInjectPropertiesService`.
  docs/en/Dependency-Injection.md
  framework/src/Volo.Abp.Autofac/Volo/Abp/Autofac/AutoFacInjectPropertiesService.cs
  framework/src/Volo.Abp.Core/Volo/Abp/DependencyInjection/IInjectPropertiesService.cs
  framework/src/Volo.Abp.Core/Volo/Abp/DependencyInjection/NullInjectPropertiesService.cs
  framework/test/Volo.Abp.Autofac.Tests/Volo/Abp/Autofac/AutoFacInjectingPropertiesService_Tests.cs
Labels: abp-framework

#18430 CmsKit: Fix UnableToReadFont Error
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Security/Captcha/SimpleMathsCaptchaGenerator.cs
Labels: abp-module-cms-kit

#18429 Grant all permissions checkbox does not affect Select all checkbox.
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.ts
Labels: bug, ui-angular

#18401 Update leptonx lite layout customization doc
  docs/en/Themes/LeptonXLite/Angular.md
Labels: documentation, ui-angular

#18454 fix and move unit tests
  npm/ng-packs/packages/components/extensible/src/tests/enum.util.spec.ts
  npm/ng-packs/packages/components/extensible/src/tests/state.util.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/date-time.adapter.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/date.adapter.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/time.adapter.spec.ts
Labels: documentation, ui-angular

#18460 Update version to release 7.4.4
  common.props
Labels: devops

#18451 Throw exception if same hub has same `RoutePattern`.
  framework/src/Volo.Abp.AspNetCore.SignalR/Volo/Abp/AspNetCore/SignalR/AbpAspNetCoreSignalRModule.cs
  framework/test/Volo.Abp.AspNetCore.SignalR.Tests/Volo.Abp.AspNetCore.SignalR.Tests.csproj
  framework/test/Volo.Abp.AspNetCore.SignalR.Tests/Volo/Abp/AspNetCore/SignalR/AbpAspNetCoreSignalRTestModule.cs
  framework/test/Volo.Abp.AspNetCore.SignalR.Tests/Volo/Abp/AspNetCore/SignalR/AbpSignalROptions_Tests.cs
  framework/test/Volo.Abp.AspNetCore.SignalR.Tests/Volo/Abp/AspNetCore/SignalR/Program.cs
  framework/test/Volo.Abp.AspNetCore.SignalR.Tests/Volo/Abp/AspNetCore/SignalR/SampleHubs/RegularHubBase.cs
Labels: abp-framework

#18483 Docs: Blazor forms & validation
  docs/en/UI/Blazor/Forms-Validation.md
  docs/en/docs-nav.json
Labels: documentation

#18487 Add `TimezoneHelpText` to timezone setting.
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/TimeZoneSettingGroup/TimeZoneSettingGroupViewComponent.razor
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/de-DE.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/en.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/tr.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/zh-Hans.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/zh-Hant.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Components/TimeZoneSettingGroup/Default.cshtml
Labels: abp-module-setting-management

#18486 Move `CheckRedisPreRequirements` step to the last of `pipeline`.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/CheckRedisPreRequirements.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/TemplateInfo.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/TemplateProjectBuildPipelineBuilder.cs
Labels: abp-cli

#18475 Update abpio admin localization en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#18494 Update zone.js version to ~0.14.0
  npm/ng-packs/package.json
  npm/ng-packs/packages/schematics/src/utils/angular/latest-versions/package.json
  templates/app-nolayers/angular/package.json
  templates/app/angular/package.json
  templates/module/angular/package.json
Labels: enhancement, ui-angular

#18500 Update Sorting Navigation Elements documentation
  docs/en/UI/Angular/Sorting-Navigation-Elements.md
  npm/ng-packs/packages/core/src/lib/tokens/index.ts
Labels: documentation, ui-angular

#18504 Use `IsNullOrEmpty` instead null-check in AuditLogs Repositories
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/EfCoreAuditLogRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/MongoAuditLogRepository.cs
Labels: enhancement, breaking change, abp-module-audit-logging

#18507 Add`AbpAccountHttpApiModule ` to blazor-server host.
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/MyCompanyName.MyProjectName.Blazor.Server.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/MyProjectNameBlazorHostModule.cs
Labels: abp-template-module

#18491 Update ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
Labels: bug, abp-io

#18516 Update version to release 8.0.0 stable
  common.props
Labels: devops

#18515 Upgrade `OpenIddict` to `5.0.0`.
  Directory.Packages.props
  docs/en/Migration-Guides/Abp-8_0.md
  docs/en/Migration-Guides/OpenIddict4-to-5.md
Labels: abp-module-openiddict

#18512 Skip opening web browser after `abp new` command.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
Labels: abp-cli

#18506 Create Powershell scripts to zip templates for testing pre-rc
  templates/zip-templates.ps1
Labels: devops

#18519 ABP CLI - Throw exceptions instead swallowing
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/BundleCommand.cs
Labels: abp-cli

#18385 Handle the case where there are hidden items in the column.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js
Labels: ui-mvc

#18532 Open my account page in a new window.
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/MyProjectNameHostMenuContributor.cs
Labels: abp-template-module

#18534 Remove AccountLayoutModule import when change-theme to LeptonX
  npm/ng-packs/packages/schematics/src/commands/change-theme/style-map.ts
Labels: ui-angular

#18539 Update Linked-List document
  docs/en/UI/Common/Utils/Linked-List.md
  docs/zh-Hans/UI/Common/Utils/Linked-List.md
Labels: documentation

#18544 Bump AsyncKeyedLock from 6.2.2 to 6.2.4
  Directory.Packages.props
Labels: dependency-change

#18525 Update latest-versions.json
  latest-versions.json
Labels: abp-cli

#18543 Upgrade UPPY to the latest
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/wwwroot/libs/uppy/uppy.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/create.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/update.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Pages/create.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Pages/update.js
  npm/packs/uppy/package.json
Labels: enhancement

#18555 Add GetListByNamesAsync to IIDentityClaimTypeRepository
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIDentityClaimTypeRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityClaimTypeRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityClaimTypeRepository.cs
  modules/identity/test/Volo.Abp.Identity.TestBase/Volo/Abp/Identity/IdentityClaimTypeRepository_Tests.cs
Labels: abp-module-identity

#18553 CLI: Remove 'HostWithIds' symbol.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/OpenIddict/OpenIddictDataSeedContributor.cs
Labels: abp-template-app, abp-cli

#18567 Change the `default pfx password` in `README` file.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/RandomizeAuthServerPassPhraseStep.cs
Labels: abp-cli

#18569 Update tutorials's unit test code for 8.0 changes.
  docs/en/Tutorials/Part-10.md
  docs/en/Tutorials/Part-4.md
  docs/en/Tutorials/Part-8.md
Labels: documentation

#18574 Remove MethodPlaceholder
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/CSharp/CSharpServiceProxyGenerator.cs
Labels: abp-cli

#18558 Update blueprints
  npm/ng-packs/packages/theme-shared/src/lib/constants/validation.ts
Labels: ui-angular

#18557 Blogs member page updated, space added
  modules/blogging/src/Volo.Blogging.Web/Pages/Members/Index.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Members/Index.css
Labels: enhancement

#18580 app-nolayers blazor template bug fixed
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Program.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Program.cs
Labels: bug

#18585 Enhance Tutorials documents for nullable reference
  docs/en/Tutorials/Part-1.md
  docs/en/Tutorials/Part-10.md
  docs/en/Tutorials/Part-6.md
  docs/en/Tutorials/Part-8.md
  docs/en/Tutorials/Part-9.md
Labels: enhancement, documentation

#18583 Remove RemoveUnnecessaryDbMigratorClients
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/RemoveUnnecessaryPortsStep.cs
Labels: abp-cli

#18590 Set `IdentityOptions` when updating user role.
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs
Labels: abp-module-identity

#18594 Pen icon removed from blog admin page and blog detail
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Members/Index.cshtml
Labels: abp-io

#18598 Update version to release 7.4.5
  common.props
Labels: devops

#18577 Feat: provide filtering for OAuth error listener
  docs/en/UI/Angular/Authorization.md
  npm/ng-packs/packages/core/package.json
  npm/ng-packs/packages/core/src/lib/abstracts/auth-error-filter.ts
  npm/ng-packs/packages/core/src/lib/abstracts/auth.service.ts
  npm/ng-packs/packages/core/src/lib/abstracts/index.ts
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/models/auth-events.ts
  npm/ng-packs/packages/core/src/lib/models/auth.ts
  npm/ng-packs/packages/core/src/lib/models/index.ts
  npm/ng-packs/packages/oauth/package.json
  npm/ng-packs/packages/oauth/src/lib/oauth.module.ts
  npm/ng-packs/packages/oauth/src/lib/services/index.ts
  npm/ng-packs/packages/oauth/src/lib/services/oauth-error-filter.service.ts
  npm/ng-packs/packages/oauth/src/lib/services/oauth.service.ts
  npm/ng-packs/packages/oauth/src/lib/strategies/auth-flow-strategy.ts
Labels: feature, ui-angular

#18603 AngularUI: update templates
  templates/app-nolayers/angular/angular.json
  templates/app-nolayers/angular/package.json
  templates/app/angular/angular.json
  templates/app/angular/package.json
  templates/module/angular/angular.json
Labels: ui-angular

#18602 Update en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#18610 Update @abp/ng.theme.lepton-x package version
  modules/openiddict/app/angular/package.json
  npm/ng-packs/package.json
Labels: ui-angular

#18561 Update Payment Localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
Labels: localization

#18621 Fix: set as 2.4.7 all theme.lepton-x.lite packages for 7.4.5
  modules/openiddict/app/angular/package.json
  npm/ng-packs/package.json
  npm/scripts/change-package-version.ts
  npm/scripts/package.json
  templates/app-nolayers/angular/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/package.json
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/package.json
  templates/app/angular/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/package.json
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/package.json
Labels: ui-angular

#18527 Add new layout component and define dynamic layouts
  docs/en/UI/Angular/Component-Replacement.md
Labels: documentation

#18476 Add `RememberMe` claim to current identity principal.
  framework/src/Volo.Abp.Security/Volo/Abp/Security/Claims/AbpClaimTypes.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/AuthorizeController.cs
Labels: abp-framework, abp-module-openiddict

#18639 Changed IdentityServer4 to Openiddict in all languages
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hant.json
Labels: abp-io

#18380 Use `Asp.Versioning.Mvc` to replace `Microsoft.AspNetCore.Mvc.Versioning`.
  Directory.Packages.props
  framework/src/Volo.Abp.AspNetCore.Mvc/Microsoft/Extensions/DependencyInjection/AbpApiVersioningExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo.Abp.AspNetCore.Mvc.csproj
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AspNetCoreApiDescriptionModelProvider.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/AbpConventionalApiControllerSpecification.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/ConventionalControllerSetting.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/AbpAspNetCoreMvcVersioningTestModule.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning/App/HelloController.cs
  modules/account/src/Volo.Abp.Account.HttpApi/Volo/Abp/Account/DynamicClaimsController.cs
  modules/account/src/Volo.Abp.Account.HttpApi/Volo/Abp/Account/ProfileController.cs
  modules/account/src/Volo.Abp.Account.Web/Areas/Account/Controllers/AccountController.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi/Volo/Docs/Admin/DocumentsAdminController.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi/Volo/Docs/Admin/ProjectsAdminController.cs
  modules/docs/src/Volo.Docs.HttpApi/Volo/Docs/Documents/DocsDocumentController.cs
  modules/docs/src/Volo.Docs.HttpApi/Volo/Docs/Projects/DocsProjectController.cs
  modules/docs/src/Volo.Docs.Web/Areas/Documents/DocumentResourceController.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityRoleController.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityUserController.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityUserLookupController.cs
  modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/Integration/IdentityUserIntegrationController.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.HttpApi/Volo/Abp/PermissionManagement/Integration/PermissionIntegrationController.cs
Labels: feature, breaking change

#18412 Clear the tenant cache when creating/update/deleting.
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/AbpAspNetCoreMvcClientCacheOptions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/AbpAspNetCoreMvcClientModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/MvcRemoteTenantStore.cs
  framework/src/Volo.Abp.MultiTenancy.Abstractions/Volo/Abp/MultiTenancy/TenantConfigurationCacheItem.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantCacheItem.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantCacheItemInvalidator.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantConfigurationCacheItemInvalidator.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantManager.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantStore.cs
  modules/tenant-management/test/Volo.Abp.TenantManagement.Domain.Tests/Volo/Abp/TenantManagement/TenantCacheItemInvalidator_Tests.cs
  modules/tenant-management/test/Volo.Abp.TenantManagement.TestBase/Volo/Abp/TenantManagement/AbpTenantManagementTestDataBuilder.cs
Labels: breaking change, abp-module-tenant-management
