Repository abpframework/abp, pull requests merged in 2023-04, with the labels that each got.

#16168 Add `AttachScopes` handler.
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/20230404033745_Initial.Designer.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/20230404033745_Initial.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/ServerDbContextModelSnapshot.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/AbpOpenIddictAspNetCoreModule.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Scopes/AttachScopes.cs
Labels: abp-module-openiddict

#16180 Add missing localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: localization

#16181 Permissions modal select all disabled state fix
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor.cs
Labels: abp-module-feature-management, ui-blazor

#16174 Cms: Allow/Disallow External URLs in Comments
  docs/en/Modules/Cms-Kit/Comments.md
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/CmsKitWebUnifiedModule.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Comments/CmsKitCommentOptions.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en.json
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Comments/CreateCommentWithParametersInput.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo/CmsKit/Public/Comments/CommentPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/CmsKitPublicWebAutoMapperProfile.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Controllers/CmsKitPublicCommentsController.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/CommentingViewComponent.cs
  modules/cms-kit/test/Volo.CmsKit.Application.Tests/CmsKitApplicationTestModule.cs
  modules/cms-kit/test/Volo.CmsKit.Application.Tests/Comments/CommentPublicAppService_Tests.cs
Labels: feature, abp-module-cms-kit

#16173 fix card component lint errors
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card-body.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card-footer.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card-header.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card-header.directive.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card-img-top.directive.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card-subtitle.directive.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card-title.directive.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/card/card.module.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/card-header.directive.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/card-img-top.directive.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/card-subtitle.directive.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/card-title.directive.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/card.component.spec.ts
Labels: ui-angular

#16189 Commercial.abp.io - new testimonial localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
Labels: abp-io, localization

#16188 Fix ExtraProperties problem in Blazor
  framework/src/Volo.Abp.BlazoriseUI/Components/ObjectExtending/LookupExtensionProperty.razor
  framework/src/Volo.Abp.BlazoriseUI/Components/ObjectExtending/LookupExtensionProperty.razor.cs
Labels: ui-blazor

#16199 Abp.io - Turkish language localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
Labels: abp-io, localization

#16212 Fix docs module
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Documents/index.js
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.min.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.scss
Labels: bug, abp-module-docs

#16204 Make `IsValueObject` check customizable.
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/EntityHelper.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/EntityHistory/EntityHistoryHelper.cs
Labels: abp-framework

#16207 expose rest service options on generated proxy services as parameter.
  npm/ng-packs/package.json
  npm/ng-packs/packages/core/src/lib/models/rest.ts
  npm/ng-packs/packages/core/src/lib/services/rest.service.ts
  npm/ng-packs/packages/schematics/src/commands/api/files-service/proxy/__namespace@dir__/__name@kebab__.service.ts.template
  npm/ng-packs/packages/schematics/src/utils/service.ts
Labels: ui-angular

#16218 Add `@abp/qrcode` library.
  npm/packs/qrcode/abp.resourcemapping.js
  npm/packs/qrcode/package.json
  npm/packs/qrcode/src/qrcode.js
  npm/packs/qrcode/src/qrcode.min.js
Labels: ui-mvc

#16224 Create migration-guide for ABP v7.2
  docs/en/Migration-Guides/Abp-7_1.md
  docs/en/Migration-Guides/Abp-7_2.md
  docs/en/Migration-Guides/Index.md
Labels: documentation

#16226 Abp.io - Turkish localization arrangement
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
Labels: abp-io, localization

#16225 bootstrap-taghelpers.abp.io: Navbar enhancement
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/AbpAspNetCoreMvcUiBootstrapDemoModule.cs
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/BootstrapDemoBrandingProvider.cs
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Menus/BootstrapDemoMenuContributor.cs
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Menus/BootstrapDemoMenus.cs
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/_ViewStart.cshtml
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/wwwroot/imgs/demo/abp-io-light.png
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/wwwroot/styles/my-global-styles.css
Labels: abp-io

#16235 Commercial.abp.io - New localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#16111 dynamicFormTagHelper add Column attribute
  docs/en/UI/AspNetCore/Tag-Helpers/Dynamic-Forms.md
  docs/zh-Hans/UI/AspNetCore/Tag-Helpers/Dynamic-Forms.md
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpDynamicformTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpDynamicformTagHelperService.cs
Labels: enhancement, abp-framework, ui-mvc

#16274 Add about us localization key
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hant.json
Labels: abp-io

#16268 Add `RandomizeAuthServerPassPhraseStep`.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppNoLayersTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Microservice/MicroserviceServiceTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Microservice/MicroserviceTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/RandomizeAuthServerPassPhraseStep.cs
Labels: abp-cli

#16286 fix style issue in the Version and Filter input fields on docs module
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.scss
Labels: abp-module-docs, problem

#16265 detect selectedNode change on tree
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.ts
Labels: ui-angular

#16293 New CLI Command: switch-to-local
  docs/en/CLI.md
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/AbpCliCoreModule.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SwitchToLocalCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/LocalReferenceConverter.cs
Labels: feature, abp-cli

#16261 bootstrap-taghelpers.abp.io - New DatePicker & DateRangePicker
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Components/DatePicker.cshtml
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Components/DatePicker.cshtml.cs
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Index.cshtml
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Menus/BootstrapDemoMenuContributor.cs
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Menus/BootstrapDemoMenus.cs
Labels: abp-io

#16307 Encode the `Label` of `TagHelper`.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/DatePicker/AbpDatePickerBaseTagHelperService.cs
Labels: abp-framework, ui-mvc

#16309 Update localizations for admin resources
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: localization

#16255 Add Tag-Helper support Bootstrap Floating Labels
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Demo/Views/Components/Themes/Shared/Demos/FormElementsDemo/Default.cshtml
Labels: feature, abp-framework, ui-mvc

#16276 Fix for potential race condition while saving dynamic feature and permissions
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/AbpFeatureManagementDomainModule.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/StaticFeatureSaver.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/AbpPermissionManagementDomainModule.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/StaticPermissionSaver.cs
Labels: bug, abp-module-permission-management, abp-module-feature-management

#16332 Normalize ElementId for navigation menu items
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenuGroup.cs
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenuItem.cs
Labels: abp-framework

#16339 Dependency injection design compatible with automapper
  framework/src/Volo.Abp.AutoMapper/Volo/Abp/AutoMapper/AbpAutoMapperModule.cs
Labels: bug, abp-framework

#16346 Add models of openiddict to ` ModuleExtensionConfiguration`.
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/AbpOpenIddictDomainModule.cs
Labels: abp-module-openiddict

#16351 Throw `ConcurrencyException` when `AbpDbConcurrencyException` occurs.
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Applications/AbpOpenIddictApplicationStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/AbpOpenIddictAuthorizationStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Scopes/AbpOpenIddictScopeStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/AbpOpenIddictTokenStore.cs
Labels: abp-module-openiddict

#16330 Create a document for ABP Security Headers
  docs/en/UI/AspNetCore/Security-Headers.md
  docs/en/docs-nav.json
  docs/en/images/security-response-headers.png
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/AbpSecurityHeadersMiddleware.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/AbpSecurityHeadersOptions.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Security/Headers/SecurityHeadersTestController_Tests.cs
Labels: documentation

#16362 Add spacing to icons in datagrid actions
  framework/src/Volo.Abp.BlazoriseUI/Components/EntityAction.razor
Labels: enhancement, abp-framework, ui-blazor

#16352 Bootstrap-taghelpers.abp.io - Homepage design edit
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Index.cshtml
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Index.css
Labels: abp-io

#16368 cms-kit - emoji problem in different browsers and mobile
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/ReactionSelection/default.js
Labels: abp-module-cms-kit

#16313 Blog Module - Member page created
  modules/blogging/app/Volo.BloggingTestApp/Pages/_ViewImports.cshtml
  modules/blogging/src/Volo.Blogging.Application.Contracts/Volo/Blogging/Members/IMemberAppService.cs
  modules/blogging/src/Volo.Blogging.Application.Contracts/Volo/Blogging/Posts/IPostAppService.cs
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Members/MemberAppService.cs
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Posts/PostAppService.cs
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/en.json
  modules/blogging/src/Volo.Blogging.Domain/Volo/Blogging/Posts/IPostRepository.cs
  modules/blogging/src/Volo.Blogging.EntityFrameworkCore/Volo/Blogging/Posts/EfCorePostRepository.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/MembersClientProxy.Generated.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/MembersClientProxy.cs
  modules/blogging/src/Volo.Blogging.HttpApi.Client/ClientProxies/PostsClientProxy.Generated.cs
  modules/blogging/src/Volo.Blogging.HttpApi/Volo/Blogging/PostsController.cs
  modules/blogging/src/Volo.Blogging.MongoDB/Volo/Blogging/Posts/MongoPostRepository.cs
  modules/blogging/src/Volo.Blogging.Web/BloggingWebModule.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Index.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Members/Index.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Members/Index.cshtml.cs
  modules/blogging/src/Volo.Blogging.Web/Pages/Members/Index.css
  modules/blogging/src/Volo.Blogging.Web/wwwroot/client-proxies/blogging-proxy.js
Labels: abp-module-blogging, abp-io

#16380 bootstrap-taghelpers.abp.io - Files copied to output folder
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.csproj
Labels: abp-io

#16359 Add "Single Layer" option to Get Started tutorial
  docs/en/Getting-Started-Create-Solution-Single-Layer.md
  docs/en/Getting-Started-Overall.md
  docs/en/Getting-Started-Running-Solution-Single-Layer.md
  docs/en/Getting-Started-Setup-Environment-Single-Layer.md
  docs/en/Getting-Started-Single-Layered.md
  docs/en/docs-nav.json
  docs/en/images/single-layer-index-page.png
Labels: enhancement, documentation

#16391 Docs.abp.io - Fixing broken links
  docs/en/Migration-Guides/Abp-6_0.md
Labels: documentation

#16397 bootstrap-taghelpers.abp.io - Changed homepage title
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Index.cshtml
Labels: abp-io

#16404 Prevent authorization when using generate-proxy command
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/ServiceProxyGeneratorBase.cs
Labels: enhancement, abp-cli

#16406 Change language and login item order.
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Server.BasicTheme/BasicThemeToolbarContributor.cs
Labels: enhancement, abp-module-basic-theme

#16379 Create unique char validator
  npm/ng-packs/packages/core/src/lib/services/config-state.service.ts
  npm/ng-packs/packages/core/src/lib/tests/validators.spec.ts
  npm/ng-packs/packages/core/src/lib/validators/index.ts
  npm/ng-packs/packages/core/src/lib/validators/unique-character.validator.ts
Labels: ui-angular

#16378 add aria-hidden field to icons
  modules/openiddict/app/angular/src/app/home/home.component.html
  npm/ng-packs/apps/dev-app/src/app/home/home.component.html
  npm/ng-packs/packages/account/src/lib/components/forgot-password/forgot-password.component.html
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.html
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management-tab/feature-management-tab.component.html
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management/feature-management.component.html
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.html
  npm/ng-packs/packages/identity/src/lib/defaults/default-users-entity-props.ts
  npm/ng-packs/packages/setting-management/config/src/lib/components/email-setting-group/email-setting-group.component.html
  npm/ng-packs/packages/theme-shared/extensions/src/lib/components/extensible-table/extensible-table.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/breadcrumb-items/breadcrumb-items.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/button/button.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/loading/loading.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/password/password.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.html
  templates/app/angular/src/app/home/home.component.html
Labels: ui-angular

#16424 Fix abp utils builder
  npm/ng-packs/packages/account/src/lib/components/personal-settings/personal-settings-half-row.component.ts
  npm/packs/utils/angular.json
Labels: ui-angular
