Repository abpframework/abp, pull requests merged in 2024-02, with the labels that each got.

#18904 Fix: Error occurs when js is minified in date picker
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/date-range-picker/date-range-picker-extensions.js
Labels: abp-framework

#18869 ExpirationWarnings added en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: localization

#18915 Clı: Added trustUserVersion option
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ISourceCodeStore.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/ProjectBuildArgs.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/TemplateProjectBuilder.cs
Labels: enhancement, abp-cli

#18917 Add new localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: abp-io

#18703 Update ABP IO Turkish Localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/tr.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/tr.json
Labels: enhancement, abp-io, localization

#18925 Update angular projects
  npm/ng-packs/.env
  npm/ng-packs/apps/dev-app-e2e/project.json
  npm/ng-packs/apps/dev-app/project.json
  npm/ng-packs/migrations.json
  npm/ng-packs/nx.json
  npm/ng-packs/package.json
  npm/ng-packs/packages/account-core/project.json
  npm/ng-packs/packages/account-core/proxy/ng-package.json
  npm/ng-packs/packages/account/config/ng-package.json
  npm/ng-packs/packages/account/project.json
  npm/ng-packs/packages/components/chart.js/ng-package.json
  npm/ng-packs/packages/components/page/ng-package.json
  npm/ng-packs/packages/components/project.json
  npm/ng-packs/packages/components/tree/ng-package.json
  npm/ng-packs/packages/core/locale/ng-package.json
  npm/ng-packs/packages/core/project.json
  npm/ng-packs/packages/core/testing/ng-package.json
  npm/ng-packs/packages/feature-management/project.json
  npm/ng-packs/packages/feature-management/proxy/ng-package.json
  npm/ng-packs/packages/generators/project.json
  npm/ng-packs/packages/generators/tsconfig.json
  npm/ng-packs/packages/identity/config/ng-package.json
  npm/ng-packs/packages/identity/project.json
  npm/ng-packs/packages/identity/proxy/ng-package.json
  npm/ng-packs/packages/oauth/project.json
  npm/ng-packs/packages/permission-management/project.json
  npm/ng-packs/packages/permission-management/proxy/ng-package.json
  npm/ng-packs/packages/schematics/project.json
  npm/ng-packs/packages/schematics/src/commands/create-lib/files-package/__libraryName@kebab__/config/ng-package.json.template
  npm/ng-packs/packages/schematics/src/commands/create-lib/files-secondary-entrypoint/__libraryName@kebab__/ng-package.json.template
  npm/ng-packs/packages/setting-management/config/ng-package.json
  npm/ng-packs/packages/setting-management/project.json
  npm/ng-packs/packages/setting-management/proxy/ng-package.json
  npm/ng-packs/packages/tenant-management/config/ng-package.json
  npm/ng-packs/packages/tenant-management/project.json
  npm/ng-packs/packages/tenant-management/proxy/ng-package.json
  npm/ng-packs/packages/theme-basic/project.json
  npm/ng-packs/packages/theme-basic/testing/ng-package.json
  npm/ng-packs/packages/theme-shared/project.json
  npm/ng-packs/packages/theme-shared/testing/ng-package.json
  templates/app-nolayers/angular/package.json
  templates/app/angular/package.json
  templates/module/angular/package.json
Labels: ui-angular

#18927 Add `ManageRoles` permission.
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IdentityPermissionDefinitionProvider.cs
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IdentityPermissions.cs
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor.cs
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ar.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/cs.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/de.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/el.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/en-GB.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/en.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/es.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/fa.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/fi.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/fr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/hi.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/hr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/hu.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/is.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/it.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/nl.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/pl-PL.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/pt-BR.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ro-RO.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ru.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/sk.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/sl.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/tr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/vi.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hans.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hant.json
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml.cs
Labels: abp-module-identity

#18939 Normalize angular packages
  templates/app-nolayers/angular/package.json
  templates/app/angular/package.json
Labels: ui-angular

#18937 Update filterKey for prerc case during get lastest version of package
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NpmPackagesUpdater.cs
Labels: bug, abp-cli

#18945 Use LeptonX Lite `3.1.*` version in ABP 8.1
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyCompanyName.MyProjectName.Blazor.WebAssembly.Client.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/MyCompanyName.MyProjectName.Blazor.WebAssembly.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/MyCompanyName.MyProjectName.Blazor.WebAssembly.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/MyCompanyName.MyProjectName.Host.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyCompanyName.MyProjectName.Host.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/MyCompanyName.MyProjectName.Mvc.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyCompanyName.MyProjectName.Mvc.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/MyCompanyName.MyProjectName.AuthServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyCompanyName.MyProjectName.Blazor.Server.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
Labels: abp-template-app

#18903 Fix namespace in Getting started - Single Layer
  docs/en/Tutorials/Todo/Single-Layer/Index.md
Labels: documentation

#18941 Remove striped-rows from tables
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Demo/Views/Components/Themes/Shared/Demos/TablesDemo/Default.cshtml
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Pages/Components/Tables.cshtml
  modules/blogging/src/Volo.Blogging.Admin.Web/Pages/Blogging/Admin/Blogs/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Blogs/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Comments/Details.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Comments/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Pages/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Tags/Index.cshtml
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Documents/Index.cshtml
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/Index.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/Index.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/Index.cshtml
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/Index.cshtml
  modules/virtual-file-explorer/src/Volo.Abp.VirtualFileExplorer.Web/Pages/VirtualFileExplorer/Index.cshtml
Labels: ui-mvc, ui-blazor

#18922 Index url controls added
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: feature, documentation

#18957 Update version to release 8.0.3
  common.props
Labels: devops

#18963 Update CLI documentation
  docs/en/CLI.md
Labels: documentation, abp-cli

#18967 CLI: Add nightly package source to the package source mappings
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/PackagePreviewSwitcher.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/PackageSourceManager.cs
Labels: bug, abp-cli

#18978 Replace theme package in `package.json`
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ReplaceDependencyFromPackageJsonFileStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppNoLayersTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Microservice/MicroserviceTemplateBase.cs
Labels: abp-cli

#18976 Prettify toaster message, and refresh token without asking for logout
  npm/ng-packs/packages/account/src/lib/components/personal-settings/personal-settings.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.scss
Labels: enhancement, ui-angular

#18960 Update latest-versions.json
  latest-versions.json
Labels: abp-cli

#18983 Fix bug while setting value to RememberMeService and enhancement for IAuthService interface
  npm/ng-packs/packages/core/src/lib/abstracts/auth.service.ts
  npm/ng-packs/packages/oauth/src/lib/services/oauth.service.ts
  npm/ng-packs/packages/oauth/src/lib/utils/auth-utils.ts
Labels: bug, ui-angular

#18962 Add formsModule to extensible-form-prop component, enhancement for template and fix className duplication
  npm/ng-packs/package.json
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form-prop.component.ts
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form.component.html
Labels: bug, ui-angular

#18990 Better navigation to "Next Step" in the documentation
  docs/en/Getting-Started-Create-Solution-Single-Layer.md
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/en.json
  modules/docs/src/Volo.Docs.Web/HtmlConverting/DocumentNavigationDto.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/DocumentNavigationsDto.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/IDocumentSectionRenderer.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/ScribanDocumentSectionRenderer.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.css.map
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.min.css.map
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.min.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.scss
Labels: abp-module-docs

#18999 Revert "CLI: Add nightly package source to the package source mappings"
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/PackagePreviewSwitcher.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/PackageSourceManager.cs
Labels: abp-cli

#18998 Fix datepicker firefox problem
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/dom-event-handlers.js
Labels: bug, abp-framework

#18997 Fix: Datepicker not working correctly
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/date-range-picker/date-range-picker-extensions.js
Labels: bug, abp-framework

#19006 Fix: abp/core js package version
  npm/packs/uppy/package.json
Labels: bug

#19008 Update version to release 8.1.0-rc.1
  common.props
Labels: devops

#19011 React native/logout
  templates/app/react-native/.prettierrc
  templates/app/react-native/Environment.js
  templates/app/react-native/package.json
  templates/app/react-native/src/api/AccountAPI.js
  templates/app/react-native/src/screens/Settings/SettingsScreen.js
  templates/app/react-native/src/store/actions/AppActions.js
  templates/app/react-native/src/store/sagas/AppSaga.js
Labels: ui-react-native

#19013 Update auto-pr.yml for rel-8.1
  .github/workflows/auto-pr.yml
Labels: devops

#19015 Update auto-pr.yml for rel-8.1
  .github/workflows/auto-pr.yml
Labels: devops

#18874 Disable the `DynamicProxy` for `ConventionalControllers`.
  docs/en/API/Auto-API-Controllers.md
  docs/en/Integration-Services.md
  docs/zh-Hans/API/Auto-API-Controllers.md
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs
  framework/src/Volo.Abp.Core/Volo/Abp/DynamicProxy/DynamicProxyIgnoreTypes.cs
  framework/src/Volo.Abp.Core/Volo/Abp/DynamicProxy/ProxyHelper.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcTestModule.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/ConventionalController_Tests.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Application/ConventionalAppService.cs
Labels: abp-framework

#19018 Update `Pomelo.EntityFrameworkCore.MySql` to `8.0.0`.
  Directory.Packages.props
  docs/en/Migration-Guides/Abp-8_0.md
Labels: abp-framework

#19025 Update Localization.md
  docs/en/UI/Angular/Localization.md
Labels: documentation, ui-angular, localization

#18938 Localization added for Return of Investment Page
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: localization

#19039 Add `CurrentCultureDto` property to `ApplicationLocalizationDto `.
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/ApplicationLocalizationDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/CurrentCultureDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationAppService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationLocalizationAppService.cs
Labels: enhancement, abp-framework

#19022 Page Titles Enhancement
  npm/ng-packs/apps/dev-app/src/app/app-routing.module.ts
  npm/ng-packs/apps/dev-app/src/favicon.ico
  npm/ng-packs/packages/account/src/lib/account-routing.module.ts
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/core/src/lib/services/title-strategy.service.ts
  npm/ng-packs/packages/identity/src/lib/identity-routing.module.ts
  npm/ng-packs/packages/setting-management/src/lib/setting-management-routing.module.ts
  npm/ng-packs/packages/tenant-management/src/lib/tenant-management-routing.module.ts
Labels: enhancement, ui-angular

#19048 Format Authorization.md file
  docs/en/UI/Angular/Authorization.md
Labels: documentation, ui-angular

#19054 Update localization for roi page
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: localization

#19041 Update `OpenIddict` to `5.2.0`.
  Directory.Packages.props
Labels: abp-module-openiddict

#19057 Leave us review localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hant.json
Labels: abp-io, localization

#19068 Update `Npgsql.EntityFrameworkCore.PostgreSQL` to `8.0.2`.
  Directory.Packages.props
Labels: abp-framework

#18972 Let the Manage Role permission as a sub-permission of Edit.
  modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IdentityPermissionDefinitionProvider.cs
Labels: abp-module-identity, ui-angular, ui-mvc, ui-blazor

#19061 ProjectDeletionWarningMessage added to localization
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/en.json
Labels: localization

#19075 Fix abp npm package's version
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/package.json
Labels: bug, dependencies

#19073 Allows configuration of MongoDB entity indexes
  docs/en/MongoDB.md
  docs/zh-Hans/MongoDB.md
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/IHasCreateCollectionOptions.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/IHasMongoIndexManagerAction.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/IMongoEntityModelBuilder.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/MongoEntityModelBuilder.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/MongoModelBuilder.cs
  framework/test/Volo.Abp.MongoDB.Tests/Volo/Abp/MongoDB/Repositories/Repository_Basic_Tests.cs
  framework/test/Volo.Abp.MongoDB.Tests/Volo/Abp/TestApp/MongoDb/TestAppMongoDbContext.cs
Labels: feature, abp-framework

#19082 Update version to release 8.0.4
  common.props
Labels: devops

#19056 Check cache value is not null.
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/MvcRemoteTenantStore.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantStore.cs
Labels: abp-module-tenant-management, abp-framework

#19095 Only `outputWarning` for templates.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
Labels: abp-cli

#19101 Fix rendering actions cell on specific cases
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js
Labels: ui-mvc

#19092 Update title strategy service to set localized title
  npm/ng-packs/packages/core/src/lib/services/title-strategy.service.ts
Labels: bug, ui-angular

#19093 `PublishEntityEvent` for entities with default value.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
Labels: abp-framework

#19066 Create unit test for OAuthErrorFilterService
  npm/ng-packs/packages/oauth/src/lib/tests/oauth-error-filter.service.spec.ts
Labels: ui-angular, test

#19107 Update docs for rel-8.0
  docs/en/Getting-Started-Create-Solution-Single-Layer.md
  docs/en/Getting-Started-Create-Solution.md
  docs/en/Getting-Started-Running-Solution-Single-Layer.md
  docs/en/Getting-Started-Running-Solution.md
  docs/en/Getting-Started-Setup-Environment-Single-Layer.md
  docs/en/Getting-Started-Setup-Environment.md
  docs/en/Tutorials/Part-1.md
  docs/en/Tutorials/Part-10.md
  docs/en/Tutorials/Part-2.md
  docs/en/Tutorials/Part-3.md
  docs/en/Tutorials/Part-4.md
  docs/en/Tutorials/Part-5.md
  docs/en/Tutorials/Part-6.md
  docs/en/Tutorials/Part-7.md
  docs/en/Tutorials/Part-8.md
  docs/en/Tutorials/Part-9.md
Labels: documentation

#19097 Update latest-versions.json
  latest-versions.json
Labels: abp-cli

#19113 Remove nxCloudAccessToken
  npm/ng-packs/nx.json
Labels: ui-angular

#19115 Update Getting-Started-Setup-Environment-Single-Layer.md
  docs/en/Getting-Started-Setup-Environment-Single-Layer.md
Labels: documentation

#19118 Update `Testing.md`.
  docs/en/Testing.md
  docs/en/images/solution-test-projects.png
  docs/en/images/unitest-efcore-mongodb.png
  docs/en/images/vs-run-tests-in-parallel.png
  docs/en/images/vs-startup-template-tests.png
Labels: documentation

#19122 Fix code-block in Tenant-Management.md
  docs/en/Modules/Tenant-Management.md
Labels: documentation

#19132 Pass `JsonSerializerOptions` when serializing the `enum`.
  framework/src/Volo.Abp.Json.SystemTextJson/Volo/Abp/Json/SystemTextJson/JsonConverters/AbpStringToEnumConverter.cs
  framework/test/Volo.Abp.Json.Tests/Volo/Abp/Json/AbpStringToEnum_Tests.cs
Labels: enhancement, abp-framework

#19125 Add `AbpUnitTestSqliteConnection` for unit test.
  framework/src/Volo.Abp.EntityFrameworkCore.Sqlite/Volo/Abp/EntityFrameworkCore/Sqlite/AbpUnitTestSqliteConnection.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/AbpAuditingTestModule.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/AbpEntityFrameworkCoreTestModule.cs
  modules/account/test/Volo.Abp.Account.Application.Tests/Volo/Abp/Account/AbpAccountApplicationTestModule.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.EntityFrameworkCore.Tests/Volo/Abp/AuditLogging/EntityFrameworkCore/AbpAuditLoggingEntityFrameworkCoreTestModule.cs
  modules/background-jobs/test/Volo.Abp.BackgroundJobs.EntityFrameworkCore.Tests/Volo/Abp/BackgroundJobs/EntityFrameworkCore/AbpBackgroundJobsEntityFrameworkCoreTestModule.cs
  modules/blob-storing-database/test/Volo.Abp.BlobStoring.Database.EntityFrameworkCore.Tests/EntityFrameworkCore/BlobStoringDatabaseEntityFrameworkCoreTestModule.cs
  modules/blob-storing-database/test/Volo.Abp.BlobStoring.Database.EntityFrameworkCore.Tests/Volo.Abp.BlobStoring.Database.EntityFrameworkCore.Tests.csproj
  modules/blogging/test/Volo.Blogging.EntityFrameworkCore.Tests/Volo/Blogging/EntityFrameworkCore/BloggingEntityFrameworkCoreTestModule.cs
  modules/cms-kit/test/Volo.CmsKit.EntityFrameworkCore.Tests/EntityFrameworkCore/CmsKitEntityFrameworkCoreTestModule.cs
  modules/docs/test/Volo.Docs.EntityFrameworkCore.Tests/Volo/Docs/EntityFrameworkCore/DocsEntityFrameworkCoreTestModule.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.EntityFrameworkCore.Tests/Volo/Abp/FeatureManagement/EntityFrameworkCore/AbpFeatureManagementEntityFrameworkCoreTestModule.cs
  modules/identity/test/Volo.Abp.Identity.EntityFrameworkCore.Tests/Volo/Abp/Identity/EntityFrameworkCore/AbpIdentityEntityFrameworkCoreTestModule.cs
  modules/identityserver/test/Volo.Abp.IdentityServer.EntityFrameworkCore.Tests/Volo/Abp/IdentityServer/AbpIdentityServerTestEntityFrameworkCoreModule.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.EntityFrameworkCore.Tests/Volo/Abp/OpenIddict/EntityFrameworkCore/OpenIddictEntityFrameworkCoreTestModule.cs
  modules/setting-management/test/Volo.Abp.SettingManagement.EntityFrameworkCore.Tests/Volo/Abp/SettingManagement/EntityFrameworkCore/AbpSettingManagementEntityFrameworkCoreTestModule.cs
  modules/tenant-management/test/Volo.Abp.TenantManagement.EntityFrameworkCore.Tests/Volo/Abp/TenantManagement/EntityFrameworkCore/AbpTenantManagementEntityFrameworkCoreTestModule.cs
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests/EntityFrameworkCore/MyProjectNameEntityFrameworkCoreTestModule.cs
  templates/module/aspnet-core/test/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests/EntityFrameworkCore/MyProjectNameEntityFrameworkCoreTestModule.cs
Labels: abp-template-app, abp-framework, abp-template-module, test

#19119 Add localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
Labels: abp-io

#19134 Add new localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
Labels: abp-io

#19088 Add test to remember-me.service and fix return value in service
  npm/ng-packs/packages/oauth/src/lib/services/remember-me.service.ts
  npm/ng-packs/packages/oauth/src/lib/tests/remember-me.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/loader-bar.component.spec.ts
Labels: ui-angular, test

#19139 Mark `VerifyPasswordResetTokenAsync` endpoint as `virtual`.
  modules/account/src/Volo.Abp.Account.HttpApi/Volo/Abp/Account/AccountController.cs
Labels: abp-module-account

#19046 Prevent request to app-configuration after language change
  npm/ng-packs/packages/core/src/lib/proxy/generate-proxy.json
  npm/ng-packs/packages/core/src/lib/proxy/pages/abp/multi-tenancy/abp-tenant.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/api-exploring/abp-api-definition.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/application-configurations/abp-application-configuration.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/application-configurations/abp-application-localization.service.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/application-configurations/models.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/application-configurations/object-extending/models.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/asp-net-core/mvc/multi-tenancy/models.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/http/modeling/models.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/localization/models.ts
  npm/ng-packs/packages/core/src/lib/proxy/volo/abp/models.ts
  npm/ng-packs/packages/core/src/lib/services/config-state.service.ts
  npm/ng-packs/packages/core/src/lib/services/localization.service.ts
Labels: enhancement, ui-angular

#19126 Localization improved for pricing page
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hant.json
Labels: enhancement, abp-io, localization

#19144 Localization for profile menu & commercial welcome page
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
Labels: abp-io, localization

#19076 Email Preferences Localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hant.json
Labels: abp-io, localization

#19145 Fix DTO code generation for C# static proxy
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/CSharp/CSharpServiceProxyGenerator.cs
Labels: abp-cli

#19151 Video Courses & Resources localization updated all languages
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hant.json
Labels: bug, localization

#19133 Add `AbpOpenIddictStoreOptions` to configure the `IsolationLevel`.
  docs/en/Modules/OpenIddict.md
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/AbpOpenIddictStoreBase.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/AbpOpenIddictStoreOptions.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Applications/AbpOpenIddictApplicationStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/AbpOpenIddictAuthorizationStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Scopes/AbpOpenIddictScopeStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/AbpOpenIddictTokenStore.cs
Labels: abp-module-openiddict

#19146 Previous and Next buttons fixed
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
Labels: abp-module-docs

#19147 Add tooltip attribute to extensible form component
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form-prop.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form-prop.component.ts
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.html
  npm/ng-packs/packages/components/extensible/src/lib/models/entity-props.ts
  npm/ng-packs/packages/components/extensible/src/lib/models/form-props.ts
  npm/ng-packs/packages/components/extensible/src/lib/models/props.ts
Labels: enhancement, breaking change, ui-angular

#19135 set default `className` if `group.name` doesn't defined in prop
  npm/ng-packs/packages/components/extensible/src/lib/models/form-props.ts
Labels: enhancement, ui-angular

#19161 Update version to release 8.1.0-rc.2
  common.props
Labels: devops

#19163 Move tooltip icon inside of label
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form-prop.component.html
Labels: enhancement, ui-angular

#18955 Localization update for commercial-abp-io
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
Labels: abp-io, localization

#19173 cms-kit: Dummy placeholders should be stored as embedded resources.
  modules/cms-kit/src/Volo.CmsKit.Common.Web/wwwroot/cms-kit/dummy-placeholder-1280x720.png
  modules/cms-kit/src/Volo.CmsKit.Common.Web/wwwroot/cms-kit/dummy-placeholder-320x180.png
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/BlogPost.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/Index.cshtml
Labels: abp-module-cms-kit
