Repository abpframework/abp, pull requests merged in 2024-03, with the labels that each got.

#19170 Add showOnlyIcon attribute to single action button
  npm/ng-packs/packages/components/extensible/src/lib/components/grid-actions/grid-actions.component.html
  npm/ng-packs/packages/components/extensible/src/lib/models/entity-actions.ts
Labels: enhancement, ui-angular

#19171 Remove extra element from DOM when prop is invisible
  npm/ng-packs/package.json
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form.component.ts
Labels: problem, ui-angular

#19168 Allow overriding features from Edition
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml.cs
Labels: abp-module-feature-management, ui-mvc

#19180 Disable `DynamicSetting` in unit test.
  templates/app/aspnet-core/test/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests/EntityFrameworkCore/MyProjectNameEntityFrameworkCoreTestModule.cs
Labels: abp-template-app

#19188 Using Testcontainers in ABP Unit Test
  docs/en/Community-Articles/2024-03-02-Using-Testcontainers-In-ABP-Unit-Test/POST.md
  docs/en/Community-Articles/2024-03-02-Using-Testcontainers-In-ABP-Unit-Test/efcore.png
  docs/en/Community-Articles/2024-03-02-Using-Testcontainers-In-ABP-Unit-Test/mongodb.png
Labels: community-article-request

#19185 Create base application service classes for single-layer templates
  docs/en/Tutorials/Todo/Single-Layer/Index.md
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/Services/MyProjectNameAppService.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/Services/MyProjectNameAppService.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Services/MyProjectNameAppService.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Services/MyProjectNameAppService.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/Services/MyProjectNameAppService.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Services/MyProjectNameAppService.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/Services/MyProjectNameAppService.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Services/MyProjectNameAppService.cs
Labels: enhancement, abp-template-app-nolayers

#19199 Only `GetEntitiesAsync` on page 1.
  framework/src/Volo.Abp.BlazoriseUI/AbpCrudPageBase.cs
Labels: ui-blazor

#19186 Remove header from Permissions modal
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/PermissionManagementModal.cshtml
Labels: abp-module-permission-management, ui-mvc, ui-blazor

#19200 Add tooltip functionality to grid actions component
  npm/ng-packs/packages/components/extensible/src/lib/components/grid-actions/grid-actions.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/grid-actions/grid-actions.component.ts
  npm/ng-packs/packages/components/extensible/src/lib/models/entity-actions.ts
Labels: enhancement, ui-angular

#19203 Fix pagination issue in ExtensibleTableComponent
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.ts
  npm/ng-packs/packages/core/src/lib/services/list.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/directives/ngx-datatable-list.directive.ts
Labels: bug, ui-angular

#19214 Update documentation for newly created properties in extensions
  docs/en/UI/Angular/Data-Table-Column-Extensions.md
  docs/en/UI/Angular/Dynamic-Form-Extensions.md
  docs/en/UI/Angular/Entity-Action-Extensions.md
Labels: documentation, ui-angular

#19215 Add localization all languages for contact error page
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
Labels: localization

#19205 Add Localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hant.json
Labels: localization

#19226 Update ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ro-RO.json
Labels: localization

#19232 Update Background-Workers document
  docs/en/Background-Workers.md
  docs/zh-Hans/Background-Workers.md
Labels: documentation

#19227 Update testimonials submit page description
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hant.json
Labels: enhancement, localization

#19216 New newsletter option localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
Labels: abp-io, localization

#19237 Mongo repository SessionHandle null check added for DeleteDirectAsync
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/MongoDbRepository.cs
Labels: bug

#19208 TenantStore list method added
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor/Volo/Abp/AspNetCore/Components/MauiBlazor/MauiBlazorRemoteTenantStore.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/MvcRemoteTenantStore.cs
  framework/src/Volo.Abp.MultiTenancy.Abstractions/Volo/Abp/MultiTenancy/ITenantStore.cs
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/ConfigurationStore/DefaultTenantStore.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/AbpTenantManagementDomainMappingProfile.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantStore.cs
  modules/tenant-management/test/Volo.Abp.TenantManagement.Domain.Tests/Volo/Abp/TenantManagement/TenantStore_Tests.cs
Labels: enhancement

#19244 Localization errors fixed
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
Labels: abp-io, localization

#19239 Update all language localization for video pages
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/zh-Hant.json
Labels: localization

#19241 Allow extending `ConfigureConventions` and `OnModelCreating`.
  docs/en/Entity-Framework-Core.md
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContextOptions.cs
Labels: abp-framework

#19247 Remove Title from setting page
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/SettingManagement.razor
Labels: ui-blazor

#19246 Remove Titles from Setting Tabs
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management-tab/feature-management-tab.component.html
  npm/ng-packs/packages/setting-management/config/src/lib/components/email-setting-group/email-setting-group.component.html
Labels: enhancement, ui-angular

#19221 Fix: Date filter does not work properly
  npm/ng-packs/packages/theme-shared/src/lib/adapters/date-time.adapter.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/date-time.adapter.spec.ts
Labels: ui-angular

#19222 Remove flag-icon property from the `ILanguageInfo`
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/ILanguageInfo.cs
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/LanguageInfo.cs
  modules/cms-kit/host/Volo.CmsKit.HttpApi.Host/CmsKitHttpApiHostModule.cs
  modules/cms-kit/host/Volo.CmsKit.IdentityServer/CmsKitIdentityServerModule.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/CmsKitWebUnifiedModule.cs
  modules/docs/app/VoloDocs.Web/VoloDocsWebModule.cs
  modules/setting-management/app/Volo.Abp.SettingManagement.DemoApp/DemoAppModule.cs
  modules/virtual-file-explorer/app/Volo.Abp.VirtualFileExplorer.DemoApp/AbpVirtualFileExplorerDemoAppModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Shared/MyProjectNameContractsModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/MyProjectNameModule.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyProjectNameModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/MyProjectNameDomainModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/MyProjectNameAuthServerModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/MyProjectNameBlazorHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/MyProjectNameWebUnifiedModule.cs
Labels: breaking change, abp-framework

#19252 Validate email address for `IEmailSender.QueueAsync` method to prevent background job to retry if the email address is invalid.
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/EmailSenderBase.cs
  framework/src/Volo.Abp.Validation.Abstractions/Volo/Abp/Validation/ValidationHelper.cs
Labels: enhancement, abp-framework

#19255 Use LeptonX `3.2.*` in ABP `8.2` templates
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyCompanyName.MyProjectName.Blazor.WebAssembly.Client.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/MyCompanyName.MyProjectName.Blazor.WebAssembly.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/MyCompanyName.MyProjectName.Blazor.WebAssembly.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/MyCompanyName.MyProjectName.Host.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/MyCompanyName.MyProjectName.Host.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc.Mongo/MyCompanyName.MyProjectName.Mvc.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/MyCompanyName.MyProjectName.Mvc.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/MyCompanyName.MyProjectName.AuthServer.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Client/MyCompanyName.MyProjectName.Blazor.Client.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyCompanyName.MyProjectName.Blazor.Server.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Client/MyCompanyName.MyProjectName.Blazor.WebApp.Client.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered.Client/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered.Client.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp/MyCompanyName.MyProjectName.Blazor.WebApp.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyCompanyName.MyProjectName.HttpApi.HostWithIds.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/MyCompanyName.MyProjectName.Web.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/MyCompanyName.MyProjectName.Web.csproj
Labels: abp-template-app, abp-template-app-nolayers

#19223 Update docs for videocourses
  docs/en/API/Auto-API-Controllers.md
  docs/en/Application-Services.md
  docs/en/Authorization.md
  docs/en/Best-Practices/Application-Services.md
  docs/en/Best-Practices/Data-Transfer-Objects.md
  docs/en/Best-Practices/Domain-Services.md
  docs/en/Best-Practices/Entities.md
  docs/en/Best-Practices/Entity-Framework-Core-Integration.md
  docs/en/Best-Practices/MongoDB-Integration.md
  docs/en/Best-Practices/Repositories.md
  docs/en/CLI.md
  docs/en/Data-Transfer-Objects.md
  docs/en/Dependency-Injection.md
  docs/en/Domain-Services.md
  docs/en/Dynamic-Proxying-Interceptors.md
  docs/en/Entities.md
  docs/en/Entity-Framework-Core.md
  docs/en/Exception-Handling.md
  docs/en/Localization.md
  docs/en/Module-Development-Basics.md
  docs/en/MongoDB.md
  docs/en/Repositories.md
  docs/en/Startup-Templates/Application-Single-Layer.md
  docs/en/Startup-Templates/Application.md
  docs/en/UI/Angular/Authorization.md
  docs/en/UI/Angular/Localization.md
  docs/en/UI/Angular/Service-Proxies.md
  docs/en/UI/AspNetCore/JavaScript-API/Localization.md
  docs/en/UI/Blazor/Authorization.md
  docs/en/UI/Blazor/Localization.md
  docs/en/Unit-Of-Work.md
  docs/en/Virtual-File-System.md
Labels: enhancement, documentation

#19258 Audit log new localizations added
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/en.json
Labels: abp-module-audit-logging

#19260 "Extend Now" -> "Extend / Renew"
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
Labels: abp-io, localization

#19259 Update expo and react native, resolve breaking changes
  templates/app/react-native/package.json
  templates/app/react-native/src/components/DrawerContent/DrawerContent.js
Labels: dependencies, ui-react-native

#19269 Fix NG0100 error in abp-modal which has abp-extensible-form in body
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form-prop.component.ts
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form.component.html
Labels: bug, ui-angular

#19272 Remove unused httpErrorConfigFactory and update HTTP Error Handling documentation
  docs/en/UI/Angular/HTTP-Error-Handling.md
  docs/en/docs-nav.json
  npm/ng-packs/packages/theme-shared/src/lib/handlers/error.handler.ts
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
  npm/ng-packs/packages/theme-shared/src/lib/tokens/http-error.token.ts
Labels: enhancement, documentation, ui-angular

#19279 Blazor Page Title
  framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/Layout/PageHeader.razor
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/Pages/_Host.cshtml
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/Pages/_Host.cshtml
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyProjectNameBlazorModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/Pages/Index.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/Pages/_Host.cshtml
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/Pages/Index.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/Pages/_Host.cshtml
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyProjectNameBlazorModule.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/Pages/Index.razor
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/MyProjectNameBlazorHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Pages/_Host.cshtml
Labels: ui-blazor

#19271 Customising Breadcrumb Texts
  npm/ng-packs/packages/core/src/lib/models/common.ts
  npm/ng-packs/packages/core/src/lib/tests/routes.service.spec.ts
Labels: enhancement, ui-angular

#19276 Fix invalid lepton-x package version in all repository after deployment
  npm/publish-ng.ps1
  npm/scripts/change-package-version.ts
  npm/scripts/package.json
  npm/scripts/update-lepton-x-versions.ts
  npm/scripts/validate-versions.ts
Labels: ui-common, devops

#19285 CMS Kit: Replace dummy images with actual default images
  modules/cms-kit/src/Volo.CmsKit.Common.Web/wwwroot/cms-kit/dummy-placeholder-1280x720.png
  modules/cms-kit/src/Volo.CmsKit.Common.Web/wwwroot/cms-kit/dummy-placeholder-320x180.png
Labels: abp-module-cms-kit

#19287 Update version to release 8.1.0-rc.3 and added LeptonXVersion
  common.props
Labels: devops

#19289 Added version of preview leptonx
  common.props
Labels: devops

#19277 docs improvements
  modules/docs/app/VoloDocs.Web/VoloDocs.Web.csproj
  modules/docs/app/VoloDocs.Web/VoloDocsWebModule.cs
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Documents/DocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Documents/DocumentAppService.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: abp-module-docs

#19293 Update Tenant-Management to fix invalid link
  docs/zh-Hans/Modules/Tenant-Management.md
Labels: documentation

#19301 Update version to release 8.0.5
  common.props
Labels: devops

#19308 Update audit log localizations
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/en.json
Labels: abp-module-audit-logging

#19318 Add Audit Logs deletion localizations
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/en.json
Labels: abp-module-audit-logging, localization

#19291 Rearrange template menus
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Menus/CmsKitAdminMenuContributor.cs
Labels: abp-module-cms-kit

#19317 Add plugins example to chart documentation
  docs/en/UI/Angular/Chart-Component.md
Labels: documentation, ui-angular

#19329 Add new localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#19314 Update chart.js version and add plugins to ChartComponent
  npm/ng-packs/package.json
  npm/ng-packs/packages/components/chart.js/src/chart.component.ts
Labels: ui-angular

#19334 Prevent Toolbar flickering problem
  framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/Layout/PageHeader.razor.cs
Labels: ui-blazor

#19282 Update Turkish localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Community/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/tr.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/en.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/tr.json
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/New.cshtml
  modules/blogging/src/Volo.Blogging.Web/Pages/Members/Index.cshtml
Labels: abp-io, localization

#19348 CLI: Check `HttpApi.Host` project if exists for SignalR nuget package target to add the related package to the project
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectFinder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: abp-cli

#19353 Clear dynamic claims cache when calling `UpdateUserAsync` method.
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUserManager.cs
Labels: abp-module-identity

#19298 Update Part-4.md
  docs/zh-Hans/Tutorials/Part-4.md
Labels: documentation

#19368 Add `clientId` parameter to `IAuditLogRepository`.
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/IAuditLogRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/EfCoreAuditLogRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/MongoAuditLogRepository.cs
Labels: abp-module-audit-logging

#19349 Update route path to kebab-case while adding module or source code
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/AngularSourceCodeAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: bug, ui-angular

#19372 Fix user filter
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityUserRepository.cs
Labels: abp-module-identity

#19382 Replace `Newtonsoft` with `System.Text.Json` in `PackageVersionCheckerService`.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Version/PackageVersionCheckerService.cs
Labels: abp-cli

#19387 Upgrade Blazorise to 1.5.0
  Directory.Packages.props
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/MyCompanyName.MyProjectName.Blazor.Server.Mongo.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/MyCompanyName.MyProjectName.Blazor.WebAssembly.Client.csproj
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/wwwroot/global.css
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/wwwroot/global.js
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Components/App.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Client/MyCompanyName.MyProjectName.Blazor.Client.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Client/wwwroot/global.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Client/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/MyCompanyName.MyProjectName.Blazor.Server.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/MyCompanyName.MyProjectName.Blazor.Server.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Client/MyCompanyName.MyProjectName.Blazor.WebApp.Client.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Client/wwwroot/global.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Client/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered.Client/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered.Client.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered.Client/wwwroot/global.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered.Client/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp/MyCompanyName.MyProjectName.Blazor.WebApp.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/App.razor
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host.Client/MyCompanyName.MyProjectName.Blazor.Host.Client.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host.Client/wwwroot/global.css
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/App.razor
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/MyCompanyName.MyProjectName.Blazor.Server.Host.csproj
Labels: enhancement, ui-blazor

#19380 Docs: Improve clear cache
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Documents/DocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/DocumentWithoutDetails.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/IDocumentRepository.cs
  modules/docs/src/Volo.Docs.EntityFrameworkCore/Volo/Docs/Documents/EFCoreDocumentRepository.cs
  modules/docs/src/Volo.Docs.MongoDB/Volo/Docs/Documents/MongoDocumentRepository.cs
  modules/docs/test/Volo.Docs.TestBase/Volo/Docs/DocumentRepository_Tests.cs
Labels: abp-module-docs

#19396 Remove angular deps from account-core module
  npm/ng-packs/packages/account-core/package.json
Labels: ui-angular

#19395 Update tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/tr.json
Labels: localization

#19398 Add allowedNonPeerDependencies abp packages
  npm/ng-packs/packages/account-core/ng-package.json
Labels: ui-angular

#19328 Update localization for admin testimonial page
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/tr.json
Labels: localization

#19326 Adding toastr notifications with new "SuccessfullySaved" localization
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/ar.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/cs.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/de.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/el.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/en-GB.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/en.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/es.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/fa.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/fi.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/fr.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/hi.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/hr.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/hu.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/is.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/it.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/nl.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/pl-PL.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/pt-BR.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/ro-RO.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/ru.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/sk.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/sl.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/tr.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/vi.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/zh-Hans.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/zh-Hant.json
  npm/ng-packs/packages/account/src/lib/components/personal-settings/personal-settings.component.ts
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management/feature-management.component.ts
  npm/ng-packs/packages/identity/src/lib/components/roles/roles.component.ts
  npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.ts
  npm/ng-packs/packages/tenant-management/src/lib/components/tenants/tenants.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/create-error-component.service.ts
Labels: abp-framework, ui-angular, localization

#19401 Move pagination functionality from `extensible-table.component.ts` to `ngx-datatable-list.directive.ts`
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/directives/ngx-datatable-list.directive.ts
Labels: bug, ui-angular

#19428 Replace `\n` with `<br>` in `abp-sweetalert2.js`
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/sweetalert2/abp-sweetalert2.js
Labels: ui-mvc

#19431 Make message support multiple lines.
  framework/src/Volo.Abp.BlazoriseUI/Components/UiMessageAlert.razor
Labels: ui-blazor

#19381 CLI: Add angular implementation after new microservice added to project
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs
  npm/ng-packs/packages/schematics/src/commands/create-lib/files-package/__libraryName@kebab__/src/lib/__libraryName@kebab__-routing.module.ts.template
Labels: abp-cli, ui-angular

#19435 Add Visible parameter to TableColumn
  docs/en/UI/Blazor/Data-Table-Column-Extensions.md
  framework/src/Volo.Abp.AspNetCore.Components.Web/Volo/Abp/AspNetCore/Components/Web/Extensibility/TableColumns/TableColumn.cs
  framework/src/Volo.Abp.BlazoriseUI/Components/AbpExtensibleDataGrid.razor
Labels: enhancement, ui-blazor

#19439 Update en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: localization

#19436 Add AutoGenerateColumns to prevent auto-generated columns
  framework/src/Volo.Abp.BlazoriseUI/Components/AbpExtensibleDataGrid.razor
  framework/src/Volo.Abp.BlazoriseUI/Components/AbpExtensibleDataGrid.razor.cs
Labels: ui-blazor

#19344 Adding toastr notifications after create, update operations
  framework/src/Volo.Abp.BlazoriseUI/AbpCrudPageBase.cs
  modules/blogging/src/Volo.Blogging.Admin.Web/Pages/Blogging/Admin/Blogs/index.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/index.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Blogs/index.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Comments/details.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Comments/index.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Pages/index.js
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/index.js
  modules/feature-management/src/Volo.Abp.FeatureManagement.Blazor/Components/FeatureManagementModal.razor.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/index.js
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/index.js
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/Index.js
Labels: enhancement, ui-blazor

#19443 Upgrade fontawesome for Blazor to v6
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/css/all.css
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-brands-400.eot
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-brands-400.svg
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-brands-400.ttf
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-brands-400.woff
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-brands-400.woff2
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-regular-400.eot
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-regular-400.svg
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-regular-400.ttf
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-regular-400.woff
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-regular-400.woff2
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-solid-900.eot
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-solid-900.svg
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-solid-900.ttf
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-solid-900.woff
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-solid-900.woff2
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-v4compatibility.ttf
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/wwwroot/libs/fontawesome/webfonts/fa-v4compatibility.woff2
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/css/all.css
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-brands-400.eot
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-brands-400.svg
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-brands-400.ttf
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-brands-400.woff
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-brands-400.woff2
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-regular-400.eot
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-regular-400.svg
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-regular-400.ttf
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-regular-400.woff
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-regular-400.woff2
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-solid-900.eot
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-solid-900.svg
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-solid-900.ttf
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-solid-900.woff
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-solid-900.woff2
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-v4compatibility.ttf
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/wwwroot/libs/fontawesome/webfonts/fa-v4compatibility.woff2
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/wwwroot/global.css
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Components/App.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Client/wwwroot/global.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/App.razor
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host.Client/wwwroot/global.css
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/App.razor
Labels: ui-blazor

#19394 `EnableTracking` if the `entity` has `ObjectExtensionInfo`.
  docs/en/Entity-Framework-Core.md
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Caching/EntityCacheBase.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Caching/EntityCacheServiceCollectionExtensions.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Caching/EntityCacheWithoutCacheItem.cs
Labels: enhancement, abp-framework

#19441 Update angular-oauth2-oidc version to 17.x.x
  npm/ng-packs/package.json
  npm/ng-packs/packages/oauth/package.json
Labels: ui-angular, dependencies

#19424 Add network status component to template
  npm/ng-packs/apps/dev-app/src/app/app.module.ts
  npm/ng-packs/packages/core/src/lib/services/internet-connection-service.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/internet-connection-status/internet-connection-status.component.ts
  templates/app/angular/src/app/app.component.ts
  templates/app/angular/src/app/app.module.ts
Labels: enhancement, ui-angular

#19421 Adding constants to theme-shared module for error messages by status code
  npm/ng-packs/apps/dev-app/src/app/app-routing.module.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/http-error-wrapper/http-error-wrapper.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/http-error-wrapper/http-error-wrapper.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/constants/default-errors.ts
  npm/ng-packs/packages/theme-shared/src/lib/constants/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/create-error-component.service.ts
  npm/ng-packs/packages/theme-shared/src/public-api.ts
Labels: ui-angular

#19450 Add `InternetConnectionStatusComponent` to the template
  templates/app-nolayers/angular/src/app/app.component.ts
  templates/app-nolayers/angular/src/app/app.module.ts
Labels: enhancement, ui-angular

#19454 Improved `App.Razor` lookup way.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlingService.cs
Labels: abp-cli

#19453 Add `IBlockUiService` for blazor.
  docs/en/UI/Blazor/Block-Busy.md
  docs/en/docs-nav.json
  framework/src/Volo.Abp.AspNetCore.Components.MauiBlazor.Theming/ComponentsComponentsBundleContributor.cs
  framework/src/Volo.Abp.AspNetCore.Components.Server.Theming/Bundling/BlazorGlobalStyleContributor.cs
  framework/src/Volo.Abp.AspNetCore.Components.Web/Volo/Abp/AspNetCore/Components/Web/BlockUi/AbpBlockUiService.cs
  framework/src/Volo.Abp.AspNetCore.Components.Web/wwwroot/libs/abp/css/abp.css
  framework/src/Volo.Abp.AspNetCore.Components.Web/wwwroot/libs/abp/js/abp.js
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/ComponentsComponentsBundleContributor.cs
  framework/src/Volo.Abp.AspNetCore.Components/Volo/Abp/AspNetCore/Components/BlockUi/IBlockUiService.cs
  framework/src/Volo.Abp.AspNetCore.Components/Volo/Abp/AspNetCore/Components/BlockUi/NullBlockUiService.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/wwwroot/global.css
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/wwwroot/global.js
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Components/App.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Client/wwwroot/global.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Client/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Client/wwwroot/global.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Client/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered.Client/wwwroot/global.css
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered.Client/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/App.razor
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host.Client/wwwroot/global.css
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host.Client/wwwroot/global.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/App.razor
Labels: feature, ui-blazor

#19413 Angular - Account Pages Sidebar Flicker on Reload
  npm/ng-packs/apps/dev-app/src/app/home/home.component.ts
  npm/ng-packs/packages/account/src/lib/components/login/login.component.ts
  npm/ng-packs/packages/core/src/lib/components/dynamic-layout.component.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/application-layout/application-layout.component.ts
Labels: problem, ui-angular

#19455 Net Terms for invoice added to localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: localization

#19456 Revert "Update openiddict to 5.4.0"
  Directory.Packages.props
Labels: abp-module-openiddict
