Repository abpframework/abp, pull requests merged in 2024-06, with the labels that each got.

#19967 Show swagger URL in the auth-server homepage instead of the root url for the Swagger Client.
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.AuthServer/Pages/Index.cshtml
Labels: enhancement, abp-template-app

#19974 Update release-notes.md
  docs/en/release-info/release-notes.md
Labels: documentation

#19972 Angular - Extra Property Localization Problem
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form-prop.component.html
  npm/ng-packs/packages/identity/src/lib/defaults/default-users-form-props.ts
Labels: bug, ui-angular

#19979 Microservice documentation update
  docs/en/solution-templates/microservice/adding-new-microservices.md
  docs/en/solution-templates/microservice/background-jobs.md
  docs/en/solution-templates/microservice/background-workers.md
  docs/en/solution-templates/microservice/blob-storing.md
  docs/en/solution-templates/microservice/built-in-features.md
  docs/en/solution-templates/microservice/communication.md
  docs/en/solution-templates/microservice/cors-configuration.md
  docs/en/solution-templates/microservice/distributed-cache.md
  docs/en/solution-templates/microservice/distributed-events.md
  docs/en/solution-templates/microservice/distributed-locking.md
  docs/en/solution-templates/microservice/feature-management.md
  docs/en/solution-templates/microservice/grpc-calls.md
  docs/en/solution-templates/microservice/helm-charts-and-kubernetes.md
  docs/en/solution-templates/microservice/http-api-calls.md
  docs/en/solution-templates/microservice/images/create-new-module-db-provider.png
  docs/en/solution-templates/microservice/images/create-new-module.png
  docs/en/solution-templates/microservice/images/file-management-index-page.png
  docs/en/solution-templates/microservice/images/helm-folder.png
  docs/en/solution-templates/microservice/images/kubernetes-refresh-sub-charts.png
  docs/en/solution-templates/microservice/images/kubernetes.png
  docs/en/solution-templates/microservice/images/language-management-language-texts-page.png
  docs/en/solution-templates/microservice/images/microservice-chart-properties-kubernetes-services.png
  docs/en/solution-templates/microservice/images/microservice-chart-properties-metadata.png
  docs/en/solution-templates/microservice/images/new-microservice.png
  docs/en/solution-templates/microservice/images/product-microservice.png
  docs/en/solution-templates/microservice/images/product-service-solution-runner.png
  docs/en/solution-templates/microservice/images/saas-module-selection.png
  docs/en/solution-templates/microservice/images/tenant-features.png
  docs/en/solution-templates/microservice/images/user-permissions.png
  docs/en/solution-templates/microservice/index.md
  docs/en/solution-templates/microservice/localization-system.md
  docs/en/solution-templates/microservice/multi-tenancy.md
  docs/en/solution-templates/microservice/overview.md
  docs/en/solution-templates/microservice/permission-management.md
  docs/en/solution-templates/microservice/swagger-integration.md
Labels: documentation

#19980 Reset CMSKit comments form after submit
  modules/cms-kit/.gitignore
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/default.js
Labels: ui-mvc, abp-module-cms-kit

#19983 Check if redirectButton exists
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/LoggedOut.js
Labels: abp-module-account

#19989 Angular - Updating Random Password Generator
  npm/ng-packs/packages/core/src/lib/utils/generator-utils.ts
Labels: enhancement, ui-angular

#19993 Update version to release 8.2.0-rc.4
  common.props
Labels: devops

#19842 Output warning if the project and cli are use different `TargetFramework`.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlingService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/BundleCommand.cs
Labels: abp-cli

#20009 Update `Hangfire` to `1.8.12`.
  Directory.Packages.props
Labels: abp-framework

#20017 Update Hangfire to `1.8.14`.
  Directory.Packages.props
Labels: abp-framework

#20024 Enhance AbpRedisCahce
  framework/src/Volo.Abp.Caching.StackExchangeRedis/Volo/Abp/Caching/StackExchangeRedis/AbpRedisCache.cs
  framework/src/Volo.Abp.Caching.StackExchangeRedis/Volo/Abp/Caching/StackExchangeRedis/AbpRedisExtensions.cs
Labels: enhancement, abp-framework

#19988 Improve blog member page
  modules/blogging/app/Volo.BloggingTestApp/Program.cs
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/en.json
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/tr.json
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Members/Index.cshtml
Labels: abp-module-blogging

#20026 Update version to release 8.1.4
  common.props
Labels: devops

#20025 Set a ratio to the CMS Kit blog post images
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/Create.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/BlogPosts/Update.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/BlogPost.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/blogPost.css
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/index.css
Labels: enhancement, abp-module-cms-kit

#20038 Make `DateTimeExtensionProperty` support `DisplayFormatAttribute`.
  framework/src/Volo.Abp.BlazoriseUI/BlazoriseUiObjectExtensionPropertyInfoExtensions.cs
Labels: ui-blazor

#20031 Add missing link to Projection Strategy
  docs/en/docs-nav.json
Labels: documentation

#20046 Update version to release 8.2.0-rc.5
  common.props
Labels: devops

#20049 Fix update command problem related with studio packages
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/UpdateCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Version/PackageVersionCheckerService.cs
Labels: bug

#20051 Microservice documentation completed
  docs/en/cli/index.md
  docs/en/solution-templates/microservice/adding-new-api-gateways.md
  docs/en/solution-templates/microservice/adding-new-applications.md
  docs/en/solution-templates/microservice/adding-new-microservices.md
  docs/en/solution-templates/microservice/authoring-unit-and-integration-tests.md
  docs/en/solution-templates/microservice/guides.md
  docs/en/solution-templates/microservice/images/application-chart-properties-kubernetes-services.png
  docs/en/solution-templates/microservice/images/application-chart-properties.png
  docs/en/solution-templates/microservice/images/create-new-gateway-app.png
  docs/en/solution-templates/microservice/images/create-new-module-ui-framework.png
  docs/en/solution-templates/microservice/images/create-new-module-ui-theme.png
  docs/en/solution-templates/microservice/images/create-new-web-app-module.png
  docs/en/solution-templates/microservice/images/gateway-app.png
  docs/en/solution-templates/microservice/images/gateway-chart-properties-kubernetes-services.png
  docs/en/solution-templates/microservice/images/gateway-chart-properties.png
  docs/en/solution-templates/microservice/images/new-gateway-application.png
  docs/en/solution-templates/microservice/images/new-web-application.png
  docs/en/solution-templates/microservice/images/public-gateway-solution-runner.png
  docs/en/solution-templates/microservice/images/public-web-app.png
  docs/en/solution-templates/microservice/images/web-public-solution-runner.png
  docs/en/solution-templates/microservice/index.md
  docs/en/solution-templates/microservice/mono-repo-vs-multiple-repository-approaches.md
Labels: documentation

#20060 Fix CLI creation of projects
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
Labels: abp-cli

#20039 Remove `LeptonXFooter` if current theme is not `LeptonX`.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/RemoveFileStep.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppNoLayersTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/AppTemplateBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Microservice/MicroserviceTemplateBase.cs
Labels: abp-cli

#20033 Update latest-versions.json
  latest-versions.json
Labels: abp-cli

#20043 Remove LeptonX folder if current theme is basic
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
Labels: abp-cli

#20045 Skip create dynamic claims when request is `ClientCredentials`.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Claims/AbpDynamicClaimsOpenIddictClaimsPrincipalHandler.cs
Labels: abp-module-openiddict

#20079 Add self generic prop resolver for types from proxy config
  npm/ng-packs/packages/schematics/src/commands/api/index.ts
  npm/ng-packs/packages/schematics/src/utils/generics.ts
  npm/ng-packs/packages/schematics/src/utils/model.ts
Labels: ui-angular

#20035 Add volo packages map and check during resolve import
  npm/ng-packs/packages/schematics/src/commands/api/index.ts
  npm/ng-packs/packages/schematics/src/constants/volo.ts
  npm/ng-packs/packages/schematics/src/utils/model.ts
Labels: ui-angular

#20080 Allow overriding features from Edition
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml.cs
Labels: abp-module-feature-management

#20092 Set `Environment.ExitCode` if there is a `CliUsageException` or external error.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/CmdHelper.cs
Labels: abp-cli

#20094 Add url information to comment approve page
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Comments/Approve/index.js
Labels: enhancement

#20065 Use DbFunction for global query filters.
  docs/en/Data-Filtering.md
  docs/zh-Hans/Data-Filtering.md
  framework/src/Volo.Abp.EntityFrameworkCore.MySQL/Volo/Abp/EntityFrameworkCore/MySQL/AbpEntityFrameworkCoreMySQLModule.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle.Devart/Volo/Abp/EntityFrameworkCore/Oracle/Devart/AbpEntityFrameworkCoreOracleDevartModule.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo/Abp/EntityFrameworkCore/Oracle/AbpEntityFrameworkCoreOracleModule.cs
  framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo/Abp/EntityFrameworkCore/PostgreSql/AbpEntityFrameworkCorePostgreSqlModule.cs
  framework/src/Volo.Abp.EntityFrameworkCore.SqlServer/Volo/Abp/EntityFrameworkCore/SqlServer/AbpEntityFrameworkCoreSqlServerModule.cs
  framework/src/Volo.Abp.EntityFrameworkCore.Sqlite/Volo/Abp/EntityFrameworkCore/Sqlite/AbpEntityFrameworkCoreSqliteModule.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Microsoft/Extensions/DependencyInjection/AbpEfCoreDbContextOptionsBuilderExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Microsoft/Extensions/DependencyInjection/AbpEfCoreModelBuilderExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContextOptionsExtension.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpEntityQueryProvider.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DependencyInjection/DbContextOptionsFactory.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/GlobalFilters/AbpCompiledQueryCacheKeyGenerator.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/GlobalFilters/AbpEfCoreCurrentDbContext.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/GlobalFilters/AbpEfCoreDataFilterDbFunctionMethods.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/GlobalFilters/AbpEfCoreGlobalFilterOptions.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/GlobalFilters/IAbpEfCoreDbFunctionContext.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/AbpAuditingTestModule.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/AbpEntityFrameworkCoreTestModule.cs
Labels: feature, abp-framework

#20086 Fix Cli.md path
  docs/en/UI/AspNetCore/Static-JavaScript-Proxies.md
Labels: documentation

#20106 Update TODO content in documents containing TODO
  docs/en/ambient-context-pattern.md
  docs/en/aspect-oriented-programming.md
  docs/en/dynamic-proxying-interceptors.md
  docs/en/extension-methods-and-helpers.md
  docs/en/framework/infrastructure/correlation-id.md
  docs/en/get-started/layered-web-application.md
  docs/en/json-serialization.md
  docs/en/solution-templates/microservice/guides/add-new-microservice.md
Labels: documentation

#20109 Angular - Adding Triggers Prop for Form Prop Tooltip
  npm/ng-packs/packages/components/extensible/src/lib/components/grid-actions/grid-actions.component.html
  npm/ng-packs/packages/components/extensible/src/lib/models/form-props.ts
Labels: problem, ui-angular

#20116 Remove Blazor.Client project if UI is not Blazor
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Microservice/MicroserviceTemplateBase.cs
Labels: abp-cli

#19800 Get filter property name from `ModelBuilder`.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/TestMigrationsDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFrameworkCore/TestAppDbContext.cs
Labels: enhancement, abp-framework

#20120 Update version to release 8.2.0
  common.props
Labels: devops

#20131 Add IdentityDataSeedContributor.AdminUsernamePropertyName
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIdentityDataSeeder.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityDataSeedContributor.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityDataSeeder.cs
Labels: enhancement, breaking change, abp-module-identity

#20133 New article: How to use .NET Aspire with ABP framework
  docs/en/Community-Articles/2024-06-27-how-to-use-Aspire-with-ABP-framework/How to use Aspire with ABP framework.md
  docs/en/Community-Articles/2024-06-27-how-to-use-Aspire-with-ABP-framework/aspire-dashboard.png
  docs/en/Community-Articles/2024-06-27-how-to-use-Aspire-with-ABP-framework/aspire-metrics.png
  docs/en/Community-Articles/2024-06-27-how-to-use-Aspire-with-ABP-framework/aspire-structured-logs.png
  docs/en/Community-Articles/2024-06-27-how-to-use-Aspire-with-ABP-framework/aspire-traces.png
Labels: abp-community
