Repository abpframework/abp, pull requests merged in 2024-08, with the labels that each got.

#20351 Create migration guide for v8.3
  docs/en/release-info/migration-guides/abp-8-3.md
  docs/en/release-info/migration-guides/index.md
Labels: documentation

#20369 CLI documentation 'check-extensions' section added
  docs/en/cli/index.md
Labels: documentation

#20368 Fix enum conversion method.
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/Data/HasExtraPropertiesExtensions.cs
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Projects/ProjectDto.cs
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Projects/ProjectAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/Edit.cshtml.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/Projects/ProjectDto.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Documents/DocumentAppService.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Projects/ProjectAppService.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/FileSystem/Projects/ProjectFileSystemExtensions.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubDocumentSource.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Projects/ProjectGithubExtensions.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Search.cshtml.cs
Labels: abp-module-docs, abp-framework

#20373 Update package.json
  npm/ng-packs/package.json
Labels: devops

#20343 Upgrade `System.Text.Json` and `MailKit` packages to the latest.
  Directory.Packages.props
Labels: abp-framework

#20380 Disable `DateTime` normalization for OpenIddict's `DateTime(UTC)`.
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/OpenIddictAuthorization.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/OpenIddictToken.cs
Labels: abp-module-openiddict

#20387 Angular - Fixing The Constants for Text Template Management in Proxy Generation
  npm/ng-packs/packages/schematics/src/constants/volo.ts
Labels: bug, ui-angular, foundby-community

#20325 Support for Rendering Custom JSON Sections Starting with "```"
  modules/docs/src/Volo.Docs.Web/HtmlConverting/ScribanDocumentSectionRenderer.cs
Labels: enhancement, abp-module-docs

#20396 Only remove the changed entities at end of `SaveChangesAsync` method.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ChangeTrackers/AbpEfCoreNavigationHelper.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/DomainEvents/DomainEvents_Tests.cs
Labels: abp-framework

#20407 Fixes & enhancements for BookStore Tutorial
  docs/en/cli/index.md
  docs/en/docs-nav.json
  docs/en/tutorials/book-store/images/blazor-add-books-component-client.png
  docs/en/tutorials/book-store/overview.md
  docs/en/tutorials/book-store/part-01.md
  docs/en/tutorials/book-store/part-02.md
  docs/en/tutorials/book-store/part-03.md
  docs/en/tutorials/book-store/part-04.md
  docs/en/tutorials/book-store/part-05.md
  docs/en/tutorials/book-store/part-06.md
  docs/en/tutorials/book-store/part-07.md
  docs/en/tutorials/book-store/part-08.md
  docs/en/tutorials/book-store/part-09.md
  docs/en/tutorials/book-store/part-10.md
  framework/test/Volo.Abp.Imaging.Abstractions.Tests/Volo/Abp/Imaging/Files/abp.webp
Labels: documentation

#20393 Fix redirection problem
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Index.cshtml.cs
Labels: abp-module-docs

#20410 Explain `install-old-cli` command in the cli doc.
  docs/en/cli/index.md
Labels: enhancement, documentation

#20406 Update docs module documentation and mention about the new features.
  docs/en/images/cmskit-module-markedItems.png
  docs/en/images/docs-referencing.png
  docs/en/modules/docs.md
Labels: enhancement, documentation

#20244 Angular - Typescript Tool Version Compatibility Fixes (ts-toolbelt)
  npm/ng-packs/package.json
  npm/ng-packs/packages/components/extensible/README.md
  npm/ng-packs/packages/components/extensible/src/lib/models/actions.ts
  npm/ng-packs/packages/components/extensible/src/lib/models/entity-actions.ts
  npm/ng-packs/packages/components/extensible/src/lib/models/entity-props.ts
  npm/ng-packs/packages/components/extensible/src/lib/models/form-props.ts
  npm/ng-packs/packages/components/extensible/src/lib/models/props.ts
  npm/ng-packs/packages/components/extensible/src/lib/models/toolbar-actions.ts
  npm/ng-packs/packages/components/extensible/src/lib/utils/form-props.util.ts
  npm/ng-packs/packages/components/extensible/src/lib/utils/model.utils.ts
  npm/ng-packs/packages/components/extensible/src/lib/utils/props.util.ts
  npm/ng-packs/packages/components/extensible/src/lib/utils/typeahead.util.ts
  npm/ng-packs/packages/components/extensible/src/public-api.ts
  npm/ng-packs/packages/core/package.json
  npm/ng-packs/packages/core/src/lib/models/environment.ts
Labels: enhancement, priority:high, ui-angular

#20425 Fix post resubmit
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Detail.cshtml.cs
Labels: abp-module-blogging

#20422 Change `Migrating from Open Source Templates` document
  docs/en/cli/index.md
  docs/en/guides/migrating-from-open-source.md
  docs/en/images/studio-upgrade-to-pro.png
  docs/en/studio/solution-explorer.md
Labels: documentation

#20461 Update CMS Kit Client Proxies Without Contracts
  modules/cms-kit/src/Volo.CmsKit.Common.HttpApi.Client/ClientProxies/BlogFeatureClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Common.HttpApi.Client/ClientProxies/BlogFeatureClientProxy.cs
  modules/cms-kit/src/Volo.CmsKit.Common.HttpApi.Client/ClientProxies/MediaDescriptorClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Common.HttpApi.Client/ClientProxies/MediaDescriptorClientProxy.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Blogs/BlogPostFilteredPagedAndSortedResultRequestDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Blogs/BlogPostGetListInput.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Blogs/IBlogPostPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Comments/CmsUserDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Comments/CommentDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Comments/CommentWithDetailsDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Comments/CreateCommentInput.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Comments/ICommentPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Comments/UpdateCommentInput.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/GlobalResources/GlobalResourceDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/GlobalResources/IGlobalResourcePublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/MarkedItems/IMarkedItemPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/MarkedItems/MarkedItemDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/MarkedItems/MarkedItemWithToggleDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Menus/IMenuItemPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Pages/IPagePublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Ratings/CreateUpdateRatingInput.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Ratings/IRatingPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Ratings/RatingDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Ratings/RatingWithStarCountDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Reactions/IReactionPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Reactions/ReactionDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Reactions/ReactionWithSelectionDto.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/Volo/CmsKit/Public/Tags/ITagAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.HttpApi.Client/ClientProxies/cms-kit-generate-proxy.json
Labels: abp-module-cms-kit

#20467 Remove `AbpDynamicClaimsOpenIddictClaimsPrincipalHandler`.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/AbpOpenIddictAspNetCoreModule.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Claims/AbpDynamicClaimsOpenIddictClaimsPrincipalHandler.cs
Labels: abp-module-openiddict

#20472 Trim the changed value when users change their first or last name.
  modules/account/src/Volo.Abp.Account.Application/Volo/Abp/Account/ProfileAppService.cs
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs
Labels: abp-module-account, abp-module-identity

#20458 Adjust permission classes in book store tutorial
  docs/en/tutorials/book-store/part-05.md
  docs/en/tutorials/book-store/part-08.md
Labels: documentation

#20475 Update MAUI documentation images
  docs/en/framework/ui/maui/index.md
Labels: documentation

#20480 Update dom-event-handlers.js
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/dom-event-handlers.js
Labels: enhancement, javascript

#20484 Update version to release 8.2.2
  common.props
Labels: devops

#20411 Add NxValidationCore module to extensible-date-time-picker.component
  npm/ng-packs/packages/components/extensible/src/lib/components/date-time-picker/extensible-date-time-picker.component.ts
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form-prop.component.ts
Labels: ui-angular

#20463 Add DocumentRenderErrorEvent
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/DocumentRenderErrorEvent.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: abp-module-docs

#20493 Blog Post: "New ABP Documentation System: Everything You Need In One Place 📣"
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/POST.md
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/abp-docs.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/blog-cover.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/docs-feedback-section.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/docs-feedbacks.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/google-search-result.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/google-translate-and-search.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/in-this-document.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/navigation-menu.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/old-docs.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/pro-modules.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/suite-license-note.png
Labels: abp-io

#20498 Update Schematics and Screenshots in the Documents
  docs/en/framework/architecture/best-practices/module-architecture.md
  docs/en/images/abp-book.png
  docs/en/images/angular-template-structure-diagram.png
  docs/en/images/auditlog-object-diagram.png
  docs/en/images/deployment-clustered.png
  docs/en/images/deployment-single-instance.png
  docs/en/images/generic-repositories.png
  docs/en/images/implementing-domain-driven-design-book.png
  docs/en/images/integration-services.png
  docs/en/images/layered-project-dependencies-blazor-server.png
  docs/en/images/layered-project-dependencies-blazor-wasm.png
  docs/en/images/layered-project-dependencies-module.png
  docs/en/images/layered-project-dependencies.png
  docs/en/images/module-layers-and-packages.jpg
  docs/en/images/module-layers-and-packages.png
  docs/en/images/multiple-database-usage.png
  docs/en/images/payment-module-flow.png
  docs/en/images/payment-module-subscription-flow.png
  docs/en/images/react-native-navigation-structure.png
  docs/en/images/single-database-usage.png
  docs/en/images/tiered-solution-applications-authserver.png
  docs/en/images/tiered-solution-applications.png
  docs/en/images/tiered-solution-servers.png
Labels: enhancement, documentation

#20429 Show Document navigation text for page title
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/NavigationNode.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: enhancement, abp-module-docs

#20508 Update v8.3 release post.
  docs/en/Blog-Posts/2024-07-31 v8_3_Preview/post.md
  docs/en/Blog-Posts/2024-07-31 v8_3_Preview/studio-switch-to-preview.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/abp-docs.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/blog-cover.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/docs-feedback-section.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/docs-feedbacks.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/google-search-result.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/google-translate-and-search.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/in-this-document.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/navigation-menu.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/old-docs.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/pro-modules.png
  docs/en/Blog-Posts/2024-08-13 New-ABP-Documentation-System/suite-license-note.png
  docs/en/images/angular-template-structure-diagram.png
  docs/en/images/auditlog-object-diagram.png
  docs/en/images/deployment-clustered.png
  docs/en/images/deployment-single-instance.png
  docs/en/images/generic-repositories.png
  docs/en/images/integration-services.png
  docs/en/images/layered-project-dependencies-blazor-server.png
  docs/en/images/layered-project-dependencies-blazor-wasm.png
  docs/en/images/layered-project-dependencies-module.png
  docs/en/images/layered-project-dependencies.png
  docs/en/images/multiple-database-usage.png
  docs/en/images/payment-module-flow.png
  docs/en/images/payment-module-subscription-flow.png
  docs/en/images/react-native-navigation-structure.png
  docs/en/images/single-database-usage.png
  docs/en/images/tiered-solution-applications-authserver.png
  docs/en/images/tiered-solution-applications.png
  docs/en/images/tiered-solution-servers.png
Labels: documentation

#20492 Angular - Update Version to 18.1.x
  npm/ng-packs/.eslintrc.json
  npm/ng-packs/.prettierignore
  npm/ng-packs/migrations.json
  npm/ng-packs/package.json
  npm/ng-packs/packages/core/src/lib/core.module.ts
  npm/ng-packs/packages/schematics/.eslintrc.json
  npm/ng-packs/packages/schematics/package.json
  templates/app-nolayers/angular/package.json
  templates/app/angular/package.json
  templates/module/angular/package.json
  templates/module/angular/projects/my-project-name/package.json
Labels: ui-angular, dependency-change

#20513 Add 'Pre-requirements' section to the Getting Started docs
  docs/en/get-started/layered-web-application.md
  docs/en/get-started/single-layer-web-application.md
Labels: documentation

#20519 Update version to release 8.3.0-rc.2
  common.props
Labels: devops

#20518 Add a FAQ about the Personal License
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20485 DateRangePicker Improvements
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/date-range-picker/date-range-picker-extensions.js
  npm/packs/bootstrap-daterangepicker/abp.resourcemapping.js
  npm/packs/bootstrap-daterangepicker/src/daterangepicker.js
Labels: enhancement, ui-mvc

#20533 Only changes role name if it actual changed.
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityRoleAppService.cs
Labels: abp-module-identity

#20522 Update session-management.md
  docs/en/modules/identity/session-management.md
Labels: documentation

#20543 Add Url to DocumentRenderErrorEvent
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/DocumentRenderErrorEvent.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: abp-module-docs

#20550 Update all documents H1 tags
  docs/en/framework/architecture/best-practices/application-services.md
  docs/en/framework/architecture/best-practices/data-transfer-objects.md
  docs/en/framework/architecture/best-practices/domain-services.md
  docs/en/framework/architecture/best-practices/entities.md
  docs/en/framework/architecture/best-practices/entity-framework-core-integration.md
  docs/en/framework/architecture/best-practices/index.md
  docs/en/framework/architecture/best-practices/module-architecture.md
  docs/en/framework/architecture/best-practices/mongodb-integration.md
  docs/en/framework/architecture/best-practices/repositories.md
Labels: enhancement, documentation

#20554 Update all documents H1 tags
  docs/en/ambient-context-pattern.md
  docs/en/aspect-oriented-programming.md
  docs/en/dynamic-proxying-interceptors.md
  docs/en/framework/fundamentals/application-startup.md
  docs/en/ui-themes/lepton-x/angular-customization.md
  docs/en/ui-themes/lepton-x/angular/how-to-add-a-new-variation-to-lepton-x-for-angular.md
  docs/en/ui-themes/lepton-x/angular/how-to-change-default-theme-option.md
  docs/en/ui-themes/lepton-x/comparison-obsolete.md
Labels: documentation

#20494 Angular - Update Toastr Styles
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.html
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.scss
  npm/ng-packs/packages/theme-shared/src/lib/components/toast/toast.component.ts
Labels: enhancement, ui-angular

#20557 Docs module: Show larger image on the same page
  modules/docs/src/Volo.Docs.Web/DocsUiOptions.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/enlarge-image.css
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/enlarge-image.js
Labels: feature, abp-module-docs

#20481 Consistent "overview" usage in the documentation
  docs/en/docs-nav.json
  docs/en/framework/api-development/overview.md
  docs/en/framework/api-development/standard-apis/overview.md
  docs/en/framework/architecture/best-practices/application-layer-overview.md
  docs/en/framework/architecture/best-practices/data-access-overview.md
  docs/en/framework/architecture/best-practices/domain-layer-overview.md
  docs/en/framework/architecture/domain-driven-design/application-layer.md
  docs/en/framework/architecture/domain-driven-design/domain-layer.md
  docs/en/framework/fundamentals/overview.md
  docs/en/framework/infrastructure/overview.md
  docs/en/framework/ui/overview.md
  docs/en/release-info/overview.md
  docs/en/tools.md
  docs/en/tutorials/overview.md
Labels: enhancement, documentation

#20528 Angular - Documentation Updates for Version Upgrade
  docs/en/framework/ui/angular/quick-start.md
  docs/en/get-started/layered-web-application.md
  docs/en/get-started/single-layer-web-application.md
  docs/en/release-info/migration-guides/abp-8-3.md
  docs/en/studio/installation.md
  docs/en/tutorials/todo/layered/index.md
  docs/en/tutorials/todo/single-layer/index.md
Labels: documentation, ui-angular

#20586 Add Yaml Support
  modules/docs/src/Volo.Docs.Web/Bundling/PrismjsScriptBundleContributorDocsExtension.cs
Labels: abp-module-docs

#20364 admin.abp.io — Create "Downloads" page
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#20588 admin.abp.io — Create "Downloads" page
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#20568 Update documentation related with upgrade command
  docs/en/cli/index.md
  docs/en/guides/migrating-from-open-source.md
Labels: documentation

#20565 Show an error page if libs folder is empty.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/AbpAspNetCoreMvcUiBundlingModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Libs/AbpMvcLibsOptions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Libs/AbpMvcLibsService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Libs/IAbpMvcLibsService.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcTestModule.cs
Labels: abp-framework, ui-mvc

#20594 Check if response has started before setting header and status code.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/AbpExceptionFilter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/AbpExceptionPageFilter.cs
Labels: abp-framework

#20601 Disable `CheckLibs` if `DataMigrationEnvironment` or `IApplicationBulder` is not available.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/AbpAspNetCoreMvcUiBundlingModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Libs/AbpMvcLibsService.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/ApplicationInitializationContextExtensions.cs
Labels: abp-framework

#20624 Show user friendly message when test email send failed
  modules/setting-management/src/Volo.Abp.SettingManagement.Application/Volo/Abp/SettingManagement/EmailSettingsAppService.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/ar.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/cs.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/de-DE.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/de.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/el.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/en.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/es.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/fi.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/fr.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/hi.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/hr.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/hu.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/is.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/it.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/nl.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/pl-PL.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/pt-BR.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/ro-RO.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/ru.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/sk.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/sl.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/tr.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/vi.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/zh-Hans.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/zh-Hant.json
Labels: abp-module-setting-management

#20614 Set `SettingDefinition's Providers` from `SettingDefinitionRecord`.
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/DynamicSettingDefinitionStoreInMemoryCache.cs
Labels: abp-framework

#20596 Set `IAuthenticateResultFeature` and `IHttpAuthenticationFeature` after getting dynamic claims.
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/Claims/AbpDynamicClaimsMiddleware.cs
Labels: enhancement, abp-framework

#20642 Make User-defined function mapping compatible with `DevExtreme.AspNet.Data`.
  docs/en/framework/infrastructure/data-filtering.md
Labels: documentation

#20643 Update version to release 8.3.0-rc.3
  common.props
Labels: devops

#20638 Disable reader cache in the development environment.
  framework/src/Volo.Abp.TextTemplating.Core/Volo/Abp/TextTemplating/VirtualFiles/LocalizedTemplateContentReaderFactory.cs
  framework/test/Volo.Abp.TextTemplating.Razor.Tests/Volo/Abp/TextTemplating/Razor/RazorLocalizedTemplateContentReaderFactory_Tests.cs
  framework/test/Volo.Abp.TextTemplating.Scriban.Tests/Volo/Abp/TextTemplating/Scriban/ScribanLocalizedTemplateContentReaderFactory_Tests.cs
Labels: abp-framework

#20648 Add ProviderKeyDisplayName to feature modal
  modules/feature-management/src/Volo.Abp.FeatureManagement.Blazor/Components/FeatureManagementModal.razor
  modules/feature-management/src/Volo.Abp.FeatureManagement.Blazor/Components/FeatureManagementModal.razor.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Blazor/Pages/TenantManagement/TenantManagement.razor.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/Index.js
Labels: enhancement, abp-module-feature-management, ui-mvc, ui-blazor

#20629 fix document 1.0
  docs/en/Tutorials/Angular/Part-I.md
  docs/en/Tutorials/Angular/Part-II.md
Labels: documentation

#20636 fix document 5.3
  docs/en/UI/Angular/DateTime-Format-Pipe.md
Labels: documentation

#20577 Add localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20661 Prevent a new user's email use another existing user's name
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentityUserValidator.cs
  modules/identity/test/Volo.Abp.Identity.AspNetCore.Tests/Volo/Abp/Identity/AspNetCore/AbpIdentityUserValidator_Tests.cs
Labels: abp-module-identity

#20428 Attach auth server current culture info to response.
  framework/src/Volo.Abp.AspNetCore.Authentication.OpenIdConnect/Microsoft/Extensions/DependencyInjection/AbpOpenIdConnectExtensions.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/AbpOpenIddictAspNetCoreModule.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/AbpOpenIddictOptions.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Globalization/AttachCultureInfo.cs
Labels: abp-framework

#20673 Update docs for bundle command
  docs/en/cli/index.md
Labels: documentation

#20677 Add Blazor WebApp to Todo Tutorial
  docs/en/tutorials/todo/layered/index.md
Labels: documentation
