Repository abpframework/abp, pull requests merged in 2024-04, with the labels that each got.

#19461 Add separator to email settings
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/EmailSettingGroup/EmailSettingGroupViewComponent.razor
Labels: abp-module-setting-management, ui-blazor

#19463 Update version to release 8.1.0-rc.4
  common.props
Labels: devops

#19459 Add `lastNavigation` prop to `RouterEvents` service for track last successful navigation event
  npm/ng-packs/packages/core/src/lib/services/router-events.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/http-error-wrapper/http-error-wrapper.component.ts
Labels: ui-angular

#19470 Fix info text
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelperService.cs
Labels: bug

#19472 Use the ToSnakeCase method provided by .NET8
  framework/src/Volo.Abp.Core/System/AbpStringExtensions.cs
Labels: enhancement

#19474 CLI: Fix change theme step for basic theme.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
Labels: abp-cli

#19475 Add default padding to `.tab-content` as LeptonX does
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/wwwroot/libs/abp/css/theme.css
Labels: breaking change, ui-blazor, abp-module-basic-theme

#19494 Avoid datetimepicker get focus when open a modal
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/DatePicker/AbpDatePickerBaseTagHelperService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/modal-manager.js
Labels: problem, ui-mvc

#19496 Update version to release 8.1.0
  common.props
Labels: devops

#19478 Angular: Add mock LocalizationPipe to CoreTestingModule
  npm/ng-packs/packages/core/testing/src/lib/core-testing.module.ts
  npm/ng-packs/packages/core/testing/src/lib/pipes/index.ts
  npm/ng-packs/packages/core/testing/src/lib/pipes/localization.pipe.ts
  npm/ng-packs/packages/core/testing/src/public-api.ts
Labels: ui-angular

#19502 Set default port for expo
  templates/app/react-native/package.json
Labels: enhancement, ui-react-native

#19505 Refactor router-events.service.ts
  npm/ng-packs/packages/core/src/lib/services/router-events.service.ts
Labels: ui-angular

#19498 Update localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/tr.json
Labels: localization

#19506 Database migration event handler multiple instance bug fixed
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Migrations/EfCoreDatabaseMigrationEventHandlerBase.cs
Labels: bug

#19508 Tenancy side check added to model creating extensions
  modules/permission-management/src/Volo.Abp.PermissionManagement.EntityFrameworkCore/Volo/Abp/PermissionManagement/EntityFrameworkCore/AbpPermissionManagementDbContextModelBuilderExtensions.cs
Labels: problem

#19500 Update latest-versions.json
  latest-versions.json
Labels: abp-cli

#19516 Supports multiple modal styles.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/modal-manager.js
Labels: ui-mvc

#19524 Add a `SerializeOptions` to `ValueConverters`.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ValueConverters/AbpJsonValueConverter.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ValueConverters/ExtraPropertiesValueConverter.cs
Labels: abp-framework

#19523 Skip `PublishEntityDeletedEvent/PublishEntityUpdatedEvent` if only foreign keys have changed.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ChangeTrackers/AbpEfCoreNavigationHelper.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/DomainEvents/DomainEvents_Tests.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Testing/DomainEvents_Tests.cs
Labels: abp-framework

#19518 export `PasswordComponent`
  npm/ng-packs/packages/theme-shared/src/lib/theme-shared.module.ts
Labels: bug, ui-angular

#19544 Added LinkExpiredMessage localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
Labels: localization

#19537 Removed long-arrow-right icon from docs
  modules/docs/src/Volo.Docs.Web/Areas/Documents/TagHelpers/TreeTagHelper.cs
Labels: enhancement

#19548 Update version to release 8.1.1
  common.props
Labels: devops

#19543 Fix some typos with Lazy-Load-Service.md
  docs/en/UI/Angular/Lazy-Load-Service.md
Labels: documentation, ui-angular

#19545 Update logic of showing a confirmation before refreshing the page
  npm/ng-packs/packages/theme-shared/src/lib/components/modal/modal.component.ts
Labels: bug, ui-angular

#19512 Update angular version
  npm/ng-packs/migrations.json
  npm/ng-packs/nx.json
  npm/ng-packs/package.json
  templates/app-nolayers/angular/package.json
  templates/app/angular/package.json
  templates/module/angular/package.json
Labels: enhancement, ui-angular, dependency-change

#19565 Update target frameworks to net8.0 target framework only for template projects.
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Application.Contracts/MyCompanyName.MyProjectName.Application.Contracts.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/MyCompanyName.MyProjectName.Domain.Shared.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Client/MyCompanyName.MyProjectName.HttpApi.Client.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Host.Shared/MyCompanyName.MyProjectName.Host.Shared.csproj
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Application.Contracts/MyCompanyName.MyProjectName.Application.Contracts.csproj
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/MyCompanyName.MyProjectName.Domain.Shared.csproj
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.Domain/MyCompanyName.MyProjectName.Domain.csproj
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Client/MyCompanyName.MyProjectName.HttpApi.Client.csproj
  templates/module/aspnet-core/src/MyCompanyName.MyProjectName.MongoDB/MyCompanyName.MyProjectName.MongoDB.csproj
Labels: breaking change, abp-template-app, abp-template-module, abp-template-app-nolayers

#19556 Update latest-versions.json
  latest-versions.json
Labels: abp-cli

#19571 Angular: Update `CoreTestingModule` for preventing dependency injection errors
  npm/ng-packs/packages/core/testing/src/lib/core-testing.module.ts
Labels: ui-angular

#19569 Add authentication-state-listener js to logout from other tabs for MVC UI
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/AbpAspNetCoreMvcUiThemeSharedModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Bundling/SharedThemeGlobalScriptContributor.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/authentication-state/authentication-state-listener.js
Labels: ui-mvc

#19578 Make `BackgroundEmailSendingJobArgs ` support `IMultiTenant`
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/BackgroundEmailSendingJobArgs.cs
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/EmailSenderBase.cs
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/NullEmailSender.cs
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/Smtp/SmtpEmailSender.cs
  framework/src/Volo.Abp.MailKit/Volo/Abp/MailKit/MailKitSmtpEmailSender.cs
  framework/test/Volo.Abp.MailKit.Tests/Volo/Abp/MailKit/MailKitSmtpEmailSender_Tests.cs
Labels: abp-framework

#19579 Get dynamic claims in `AbpAuthenticationHubFilter`.
  framework/src/Volo.Abp.AspNetCore.SignalR/Volo/Abp/AspNetCore/SignalR/Authentication/AbpAuthenticationHubFilter.cs
Labels: abp-framework

#19577 Angular: Sort user menu items by base sorting function at `AbstractMenuService<T>`
  npm/ng-packs/packages/core/src/lib/models/index.ts
  npm/ng-packs/packages/core/src/lib/models/sort.ts
  npm/ng-packs/packages/core/src/lib/tokens/compare-func.token.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/abstract-menu.service.ts
Labels: ui-angular

#19575 Angular: Update `CoreTestingModule` for preventing dependency injection errors
  npm/ng-packs/packages/core/testing/src/lib/core-testing.module.ts
Labels: ui-angular

#19564 Upgrade AutoMapper to 13.0.1
  Directory.Packages.props
  framework/src/Volo.Abp.AutoMapper/Volo.Abp.AutoMapper.csproj
  framework/src/Volo.Abp.AutoMapper/Volo/Abp/AutoMapper/AbpAutoMapperModule.cs
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.Domain/Volo.Abp.BackgroundJobs.Domain.csproj
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.MongoDB/Volo.Abp.BackgroundJobs.MongoDB.csproj
  modules/blogging/app/Volo.BloggingTestApp.MongoDB/Volo.BloggingTestApp.MongoDB.csproj
  modules/blogging/src/Volo.Blogging.Domain/Volo.Blogging.Domain.csproj
  modules/blogging/src/Volo.Blogging.MongoDB/Volo.Blogging.MongoDB.csproj
  modules/docs/src/Volo.Docs.Domain/Volo.Docs.Domain.csproj
  modules/docs/src/Volo.Docs.MongoDB/Volo.Docs.MongoDB.csproj
  modules/identity/src/Volo.Abp.Identity.Domain/Volo.Abp.Identity.Domain.csproj
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo.Abp.Identity.MongoDB.csproj
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo.Abp.OpenIddict.Domain.csproj
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo.Abp.TenantManagement.Domain.csproj
  modules/tenant-management/src/Volo.Abp.TenantManagement.MongoDB/Volo.Abp.TenantManagement.MongoDB.csproj
Labels: breaking change

#19585 Create a new community article: "Performing Case-Insensitive Search in ABP Based-PostgreSQL Application: Using `citext` and Collation"
  docs/en/Community-Articles/2024-04-19-Performing-Case-Insensitive-Search-In-Postgresql/POST.md
Labels: abp-community

#19559 Improve the performance of `AbpEfCoreNavigationHelper`.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ChangeTrackers/AbpEfCoreNavigationHelper.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ChangeTrackers/AbpEntityEntry.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ChangeTrackers/AbpEntityEntryNavigationProperty.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/EntityHistory/EntityHistoryHelper.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/AbpEntityFrameworkCoreTestModule.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/DomainEvents/DomainEvents_Tests.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/EntityFrameworkCoreTestBase.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/TestMigrationsDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFrameworkCore/TestAppDbContext.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Domain/AppEntityWithNavigations.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Testing/DomainEvents_Tests.cs
Labels: enhancement, abp-framework

#19563 Add `AbpAuthenticationSessionState` to logout from other tabs
  framework/src/Volo.Abp.AspNetCore.Components.Server.Theming/Bundling/BlazorGlobalScriptContributor.cs
  framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/AbpAspNetCoreComponentsWebThemingModule.cs
  framework/src/Volo.Abp.AspNetCore.Components.Web/Volo/Abp/AspNetCore/Components/Web/AbpAuthenticationOptions.cs
  framework/src/Volo.Abp.AspNetCore.Components.Web/Volo/Abp/AspNetCore/Components/Web/ILocalStorageService.cs
  framework/src/Volo.Abp.AspNetCore.Components.Web/Volo/Abp/AspNetCore/Components/Web/LocalStorageService.cs
  framework/src/Volo.Abp.AspNetCore.Components.Web/Volo/Abp/AspNetCore/Components/Web/Security/AbpAuthenticationState.cs
  framework/src/Volo.Abp.AspNetCore.Components.Web/wwwroot/libs/abp/js/authentication-state-listener.js
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/ComponentsComponentsBundleContributor.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/AbpAspNetCoreComponentsWebAssemblyModule.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/ClientProxyExceptionEventHandler.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Client/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Client/Menus/MyProjectNameMenuContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Client/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Client/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Tiered.Client/wwwroot/global.js
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/App.razor
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host.Client/wwwroot/global.css
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host.Client/wwwroot/global.js
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/App.razor
Labels: ui-blazor

#19546 fix LinkExpiredMessage localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
Labels: localization

#19440 Add disable filtering with id in AbstractTreeService, delete function
  docs/en/UI/Angular/Modifying-the-Menu.md
  npm/ng-packs/packages/core/src/lib/services/routes.service.ts
  npm/ng-packs/packages/core/src/lib/tests/routes.service.spec.ts
Labels: ui-angular

#19605 Abort signalr connection if session has expired.
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/ClientProxyExceptionEventHandler.cs
  framework/src/Volo.Abp.AspNetCore.SignalR/Volo/Abp/AspNetCore/SignalR/Authentication/AbpAuthenticationHubFilter.cs
Labels: abp-framework

#19614 Update auto-pr for prerel-8.2
  .github/workflows/auto-pr.yml
Labels: devops

#19615 Update auto-pr for prerel-8.2
  .github/workflows/auto-pr.yml
Labels: devops

#19627 Fix missing args for ng ps1 file
  npm/preview-publish.ps1
Labels: ui-angular, devops

#19634 Use the latest `Microsoft.IdentityModel.*` packages.
  Directory.Packages.props
  framework/src/Volo.Abp.AspNetCore.Authentication.JwtBearer/Volo.Abp.AspNetCore.Authentication.JwtBearer.csproj
  framework/src/Volo.Abp.AspNetCore.Authentication.OpenIdConnect/Volo.Abp.AspNetCore.Authentication.OpenIdConnect.csproj
  modules/openiddict/app/OpenIddict.Demo.API/OpenIddict.Demo.API.csproj
  modules/openiddict/app/OpenIddict.Demo.API/OpenIddictApiModule.cs
  modules/openiddict/app/OpenIddict.Demo.API/Program.cs
  modules/openiddict/app/OpenIddict.Demo.Client.Mvc/OpenIddict.Demo.Client.Mvc.csproj
  modules/openiddict/app/OpenIddict.Demo.Client.Mvc/OpenIddictMvcModule.cs
  modules/openiddict/app/OpenIddict.Demo.Client.Mvc/Pages/Index.cshtml
  modules/openiddict/app/OpenIddict.Demo.Client.Mvc/Pages/Shared/_Layout.cshtml
  modules/openiddict/app/OpenIddict.Demo.Client.Mvc/Program.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/20240427010513_Initial.Designer.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/20240427010513_Initial.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/ServerDbContextModelSnapshot.cs
  modules/openiddict/app/OpenIddict.Demo.Server/OpenIddict.Demo.Server.csproj
  modules/openiddict/app/OpenIddict.Demo.Server/Program.cs
Labels: abp-framework, abp-module-openiddict

#19626 Update `OpenIddict` to `5.5.0`.
  Directory.Packages.props
Labels: abp-module-openiddict

#19644 CLI: Should use the cached template if the template source specified.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
Labels: enhancement, abp-cli

#19643 ImageSharp package has been updated due to vulnerabilities
  Directory.Packages.props
Labels: enhancement, abp-framework

#19657 Fix CLI create new project problem
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/App/BlazorAppsettingsFilePortChangeForSeparatedAuthServersStep.cs
Labels: abp-cli

#19651 Angular: extensible table action list dropdown problem
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.ts
  npm/ng-packs/packages/components/extensible/src/lib/components/grid-actions/grid-actions.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/grid-actions/grid-actions.component.ts
Labels: bug, ui-angular

#19650 logout if user is unauthorized
  npm/ng-packs/packages/theme-shared/src/lib/providers/error-handlers.provider.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/authentication-error-handler.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/status-code-error-handler.service.ts
Labels: enhancement, ui-angular
