Repository abpframework/abp, pull requests merged in 2024-12, with the labels that each got.

#21500 Make sure `SettingComponentCreationContext.Groups` is not empty.
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/SettingManagement.razor.cs
Labels: abp-module-setting-management, ui-blazor

#21506 Fix document missing using keyword
  docs/en/ui-themes/lepton-x/blazor.md
Labels: documentation

#21498 Add CLI documentation options to skip Grafana Dashboard and test projects
  docs/en/cli/index.md
Labels: documentation

#21503 Add new community article: "How to use OpenAI API with ABP framework"
  docs/en/Community-Articles/2024-12-01-OpenAI-Integration/POST.md
  docs/en/Community-Articles/2024-12-01-OpenAI-Integration/chat-example.gif
  docs/en/Community-Articles/2024-12-01-OpenAI-Integration/image-generation-example.gif
  docs/en/Community-Articles/2024-12-01-OpenAI-Integration/rag-example-1.gif
  docs/en/Community-Articles/2024-12-01-OpenAI-Integration/rag-example-2.gif
  docs/en/Community-Articles/2024-12-01-OpenAI-Integration/sample-page.png
Labels: abp-community

#21518 Add Delete button to Blog post comment reply
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/Default.cshtml
Labels: ui-mvc, abp-module-cms-kit

#21527 Update version to release 9.0.1
  common.props
Labels: devops

#21534 Update pre-requirements in the documents.
  docs/en/framework/ui/angular/quick-start.md
  docs/en/framework/ui/mvc-razor-pages/client-side-package-management.md
  docs/en/framework/ui/react-native/index.md
  docs/en/get-started/layered-web-application.md
  docs/en/get-started/single-layer-web-application.md
  docs/en/samples/easy-crm.md
  docs/en/studio/installation.md
  docs/en/tutorials/book-store/part-01.md
  docs/en/tutorials/todo/layered/index.md
  docs/en/tutorials/todo/single-layer/index.md
  templates/app-nolayers/aspnet-core/README.md
  templates/app/aspnet-core/README.md
Labels: documentation

#21543 Make edit and delete buttons work with dark theme
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/Default.cshtml
Labels: enhancement, abp-module-cms-kit

#21547 Remove class if an entity action has no text
  framework/src/Volo.Abp.BlazoriseUI/Components/EntityAction.razor
Labels: enhancement, ui-blazor

#21553 Ensure `.abp/cli` folder created when executing login command
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Auth/AuthService.cs
Labels: bug, abp-cli

#21525 Upgrade `Hangfire` packages to latest(`1.8.17`).
  Directory.Packages.props
Labels: abp-framework

#21557 Fix Blazor - Permissions are not saved if you filtered permissions
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor.cs
Labels: abp-module-permission-management, ui-blazor

#21560 Update MAUI adb documentation
  docs/en/framework/ui/maui/index.md
Labels: documentation

#21559 Add `UseStaticFilesForPatterns` extension method to `IApplicationBuilder`
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/Builder/AbpApplicationBuilderExtensions.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/StaticFiles/AbpStaticFileProvider.cs
Labels: enhancement, abp-framework

#21537 Angular - Small Fix on Test Email Modal
  npm/ng-packs/packages/setting-management/config/src/lib/components/email-setting-group/email-setting-group.component.html
Labels: problem, ui-angular

#21572 Upgrade `Oracle.EntityFrameworkCore` to `9.23.60`
  Directory.Packages.props
  framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo.Abp.EntityFrameworkCore.Oracle.csproj
Labels: abp-framework

#21571 Upgrade `Npgsql.EntityFrameworkCore.PostgreSQL` to `9.0.2`.
  Directory.Packages.props
Labels: abp-framework

#21545 Improve bookstore tutorial according to the feedback
  docs/en/tutorials/book-store/part-02.md
  docs/en/tutorials/book-store/part-03.md
  docs/en/tutorials/book-store/part-05.md
  docs/en/tutorials/book-store/part-06.md
  docs/en/tutorials/book-store/part-09.md
  docs/en/tutorials/book-store/part-10.md
Labels: documentation

#21577 Improvements for the bookstore suite tutorial
  docs/en/tutorials/book-store-with-abp-suite/part-01.md
  docs/en/tutorials/book-store-with-abp-suite/part-02.md
  docs/en/tutorials/book-store-with-abp-suite/part-03.md
  docs/en/tutorials/book-store-with-abp-suite/part-04.md
Labels: enhancement, documentation

#21579 Update docs for studio build action changes
  docs/en/studio/images/solution-runner/cli-application-context-menu.png
  docs/en/studio/images/solution-runner/csharp-application-context-menu-build.png
  docs/en/studio/images/solution-runner/csharp-application-context-menu-monitor.png
  docs/en/studio/images/solution-runner/csharp-application-context-menu.png
  docs/en/studio/images/solution-runner/folder-context-menu-add.png
  docs/en/studio/images/solution-runner/folder-context-menu-build.png
  docs/en/studio/images/solution-runner/folder-context-menu.png
  docs/en/studio/images/solution-runner/manage-start-actions.png
  docs/en/studio/images/solution-runner/profile-root-context-menu-add.png
  docs/en/studio/images/solution-runner/profile-root-context-menu-build.png
  docs/en/studio/images/solution-runner/profile-root-context-menu.png
  docs/en/studio/images/solution-runner/solutioın-runner-properties.png
  docs/en/studio/running-applications.md
Labels: documentation, studio

#21583 Update configuring-openIddict.md
  docs/en/deployment/configuring-openIddict.md
Labels: documentation

#21582 Added `Translation Commercial Modules` document.
  docs/en/contribution/index.md
Labels: documentation

#21580 Added community article explaining new unit test structure.
  docs/en/Community-Articles/2024-12-09-Unit-Test/POST.md
Labels: community-article-request

#21593 Fix contents of the code are invisible and corrupt in docs module document
  docs/en/modules/docs.md
Labels: documentation

#21591 CLI: Pass --no-audit param to npm install command
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/LIbs/InstallLibsService.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/NpmHelper.cs
Labels: abp-cli

#21595 Utilize xsrf-token configuration to AbpCore provider
  npm/ng-packs/packages/core/src/lib/providers/core-module-config.provider.ts
Labels: ui-angular

#21597 Update version to release 9.0.2
  common.props
Labels: devops

#21606 Delete unnecessary `_Host.cshtml` files.
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/Pages/_Host.cshtml
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/Pages/_Host.cshtml
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server.Tiered/Pages/_Host.cshtml
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/Pages/_Host.cshtml
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Pages/_Host.cshtml
Labels: abp-template-app, abp-template-module, abp-template-app-nolayers

#21607 Output full exception stack to logs.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Migrations/EfCoreRuntimeDatabaseMigratorBase.cs
Labels: abp-framework

#21613 Add link to document content
  docs/en/docs-nav.json
  docs/en/ui-themes/basic-theme/index.md
Labels: documentation

#21619 Update index.md
  docs/en/ui-themes/basic-theme/index.md
Labels: documentation

#21618 Bump up ng-bootstrap version
  npm/ng-packs/packages/theme-shared/package.json
Labels: ui-angular, dependency-change

#21642 Use `UseVirtualStaticFiles` for `AllowedExtraWebContentFolders` first.
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/Builder/AbpApplicationBuilderExtensions.cs
Labels: abp-framework

#21641 Allow to customize the distributed lock key of BackgroundJobWorker
  docs/en/framework/infrastructure/background-jobs/index.md
  framework/src/Volo.Abp.BackgroundJobs/Volo/Abp/BackgroundJobs/AbpBackgroundJobWorkerOptions.cs
  framework/src/Volo.Abp.BackgroundJobs/Volo/Abp/BackgroundJobs/BackgroundJobWorker.cs
Labels: enhancement, abp-framework

#21648 Startup template `Layered Solution` revisions
  docs/en/get-started/microservice.md
  docs/en/solution-templates/layered-web-application/_index.md
  docs/en/solution-templates/layered-web-application/authentication.md
  docs/en/solution-templates/layered-web-application/blob-storing.md
  docs/en/solution-templates/layered-web-application/built-in-features.md
  docs/en/solution-templates/layered-web-application/cors-configuration.md
  docs/en/solution-templates/layered-web-application/database-configurations.md
  docs/en/solution-templates/layered-web-application/db-migrator.md
  docs/en/solution-templates/layered-web-application/helm-charts-and-kubernetes.md
  docs/en/solution-templates/layered-web-application/images/account-external-provider.png
  docs/en/solution-templates/layered-web-application/images/angular-folder-structure.png
  docs/en/solution-templates/layered-web-application/images/angular-template-structure-diagram.png
  docs/en/solution-templates/layered-web-application/images/apply-database-migrations.png
  docs/en/solution-templates/layered-web-application/images/bookstore-solution-tiered.png
  docs/en/solution-templates/layered-web-application/images/database-connection-strings-modal.png
  docs/en/solution-templates/layered-web-application/images/database-connection-strings.png
  docs/en/solution-templates/layered-web-application/images/file-management-index-page.png
  docs/en/solution-templates/layered-web-application/images/helm-folder.png
  docs/en/solution-templates/layered-web-application/images/kubernetes.png
  docs/en/solution-templates/layered-web-application/images/layered-project-dependencies.png
  docs/en/solution-templates/layered-web-application/images/layered-solution-in-explorer.png
  docs/en/solution-templates/layered-web-application/images/mobile-applications.png
  docs/en/solution-templates/layered-web-application/images/new-solution-openiddict-module.png
  docs/en/solution-templates/layered-web-application/images/open-solution-with-explorer.png
  docs/en/solution-templates/layered-web-application/images/openiddict-ui.png
  docs/en/solution-templates/layered-web-application/images/run-solution-tiered.png
  docs/en/solution-templates/layered-web-application/images/run-solution.png
  docs/en/solution-templates/layered-web-application/images/saas-module-selection.png
  docs/en/solution-templates/layered-web-application/images/solution-folders.png
  docs/en/solution-templates/layered-web-application/images/solutionrunner-maui-targetframework.png
  docs/en/solution-templates/layered-web-application/images/tiered-solution-applications-authserver.png
  docs/en/solution-templates/layered-web-application/images/tiered-solution-servers.png
  docs/en/solution-templates/layered-web-application/images/web-applications.png
  docs/en/solution-templates/layered-web-application/index.md
  docs/en/solution-templates/layered-web-application/logging.md
  docs/en/solution-templates/layered-web-application/main-components.md
  docs/en/solution-templates/layered-web-application/mobile-applications.md
  docs/en/solution-templates/layered-web-application/multi-tenancy.md
  docs/en/solution-templates/layered-web-application/overview.md
  docs/en/solution-templates/layered-web-application/solution-structure.md
  docs/en/solution-templates/layered-web-application/swagger-integration.md
  docs/en/solution-templates/layered-web-application/web-applications.md
  docs/en/solution-templates/microservice/microservices.md
  docs/en/tutorials/microservice/part-03.md
  docs/en/tutorials/microservice/part-05.md
  docs/en/tutorials/microservice/part-06.md
  docs/en/tutorials/microservice/part-07.md
  docs/en/tutorials/modular-crm/part-05.md
  docs/en/tutorials/modular-crm/part-06.md
  docs/en/tutorials/modular-crm/part-07.md
Labels: documentation

#21650 Allow to install with `npm` angular projects
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/LIbs/InstallLibsService.cs
Labels: abp-cli, ui-angular

#21599 Init Document Node Breadcrumb
  docs/en/docs-nav.json
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/NavigationNode.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js
Labels: enhancement, documentation

#21660 Enable object-mapping when source and destination is an enum
  framework/src/Volo.Abp.ObjectMapping/Volo/Abp/ObjectMapping/DefaultObjectMapper.cs
  framework/test/Volo.Abp.AutoMapper.Tests/Volo/Abp/AutoMapper/AbpAutoMapperModule_Basic_Tests.cs
  framework/test/Volo.Abp.AutoMapper.Tests/Volo/Abp/AutoMapper/SampleClasses/MyEnum.cs
  framework/test/Volo.Abp.AutoMapper.Tests/Volo/Abp/AutoMapper/SampleClasses/MyEnumDto.cs
  framework/test/Volo.Abp.AutoMapper.Tests/Volo/Abp/AutoMapper/SampleClasses/MyMapProfile.cs
Labels: enhancement, abp-framework

#21668 Angular - Update Templates to the Version 19.0.x
  templates/app-nolayers/angular/package.json
  templates/app-nolayers/angular/src/app/app.component.ts
  templates/app-nolayers/angular/src/app/home/home.component.ts
  templates/app-nolayers/angular/src/app/route.provider.ts
  templates/app/angular/package.json
  templates/app/angular/src/app/app.component.ts
  templates/app/angular/src/app/home/home.component.ts
  templates/module/angular/package.json
  templates/module/angular/projects/dev-app/src/app/app.component.ts
  templates/module/angular/projects/dev-app/src/app/home/home.component.ts
  templates/module/angular/projects/dev-app/src/app/route.provider.ts
  templates/module/angular/projects/my-project-name/config/src/providers/route.provider.ts
  templates/module/angular/projects/my-project-name/package.json
  templates/module/angular/projects/my-project-name/src/lib/components/my-project-name.component.ts
Labels: enhancement, priority:high, ui-angular, dependency-change

#21666 Ignore `defaultLanguage` if there is only one language.
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/RequestLocalization/DefaultAbpRequestLocalizationOptionsProvider.cs
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/LocalizationSettingHelper.cs
Labels: abp-framework

#21677 Added redis cache information to documents
  docs/en/framework/fundamentals/caching.md
  docs/en/get-started/layered-web-application.md
  docs/en/get-started/single-layer-web-application.md
  docs/en/kb/index.md
  docs/en/kb/when-to-use-a-distributed-cache-server.md
Labels: enhancement, documentation, effort-xs

#21671 Added `Pre-Requirements` document.
  docs/en/docs-nav.json
  docs/en/get-started/layered-web-application.md
  docs/en/get-started/microservice.md
  docs/en/get-started/pre-requirements.md
  docs/en/get-started/single-layer-web-application.md
  docs/en/solution-templates/index.md
Labels: documentation

#21676 Return jQuery object instead of empty string for invisible row action.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js
Labels: abp-framework

#20979 Upgrade to Openiddict 6.0.0
  Directory.Packages.props
  docs/en/release-info/migration-guides/openiddict5-to-6.md
  modules/openiddict/app/OpenIddict.Demo.API/Program.cs
  modules/openiddict/app/OpenIddict.Demo.Client.BlazorWASM/Pages/Index.razor
  modules/openiddict/app/OpenIddict.Demo.Client.BlazorWASM/Program.cs
  modules/openiddict/app/OpenIddict.Demo.Server/EntityFrameworkCore/ServerDataSeedContributor.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/20241005085943_Initial.Designer.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/20241005085943_Initial.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/ServerDbContextModelSnapshot.cs
  modules/openiddict/app/OpenIddict.Demo.Server/OpenIddictServerModule.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Program.cs
  modules/openiddict/app/OpenIddict.Demo.Server/openiddict.pfx
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/AbpOpenIddictAspNetCoreModule.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/AuthorizeController.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/EndSessionController.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/WildcardDomains/AbpValidateAuthorizedParty.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/WildcardDomains/AbpValidateClientPostLogoutRedirectUri.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/WildcardDomains/AbpValidatePostLogoutRedirectUriParameter.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/AbpOpenIddictAuthorizationCache.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/AbpOpenIddictAuthorizationStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/IOpenIddictAuthorizationRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/AbpOpenIddictTokenCache.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/AbpOpenIddictTokenStore.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/IOpenIddictTokenRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.EntityFrameworkCore/Volo/Abp/OpenIddict/Authorizations/EfCoreOpenIddictAuthorizationRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.EntityFrameworkCore/Volo/Abp/OpenIddict/Tokens/EfCoreOpenIddictTokenRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.MongoDB/Volo/Abp/OpenIddict/Authorizations/MongoOpenIddictAuthorizationRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.MongoDB/Volo/Abp/OpenIddict/Scopes/MongoOpenIddictScopeRepository.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.MongoDB/Volo/Abp/OpenIddict/Tokens/MongoOpenIddictTokenRepository.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.Domain.Tests/Volo/Abp/OpenIddict/Authorizations/AbpOpenIddictAuthorizationStore_Tests.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.Domain.Tests/Volo/Abp/OpenIddict/Tokens/AbpOpenIddictTokenStore_Tests.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.TestBase/Volo/Abp/OpenIddict/AbpOpenIddictTestData.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.TestBase/Volo/Abp/OpenIddict/OpenIddictAuthorizationRepository_Tests.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.TestBase/Volo/Abp/OpenIddict/OpenIddictDataSeedContributor.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.TestBase/Volo/Abp/OpenIddict/OpenIddictTokenRepository_Tests.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server.Mongo/Data/OpenIddictDataSeedContributor.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Data/OpenIddictDataSeedContributor.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host.Mongo/Data/OpenIddictDataSeedContributor.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Data/OpenIddictDataSeedContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/OpenIddict/OpenIddictDataSeedContributor.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/OpenIddict/OpenIddictDataSeedContributor.cs
Labels: breaking change, abp-module-openiddict

#21705 Remove "How to Run?" section from solution structure documentation
  docs/en/solution-templates/layered-web-application/images/run-solution-tiered.png
  docs/en/solution-templates/layered-web-application/solution-structure.md
Labels: documentation

#21708 Add leptonx style changes event to Documentation
  docs/en/ui-themes/lepton-x/mvc.md
Labels: documentation

#21697 Monolith modular tutorial start using `single-layer` template
  docs/en/tutorials/modular-crm/images/abp-studio-add-entity-framework-core-migration.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-package-reference-5.png
  docs/en/tutorials/modular-crm/images/abp-studio-browser-orders-menu-item.png
  docs/en/tutorials/modular-crm/images/abp-studio-build-and-restart-application.png
  docs/en/tutorials/modular-crm/images/abp-studio-entity-framework-core-update-database.png
  docs/en/tutorials/modular-crm/images/abp-studio-import-module-for-ordering-dialog.png
  docs/en/tutorials/modular-crm/images/abp-studio-install-module-dialog.png
  docs/en/tutorials/modular-crm/images/abp-studio-module-installation-dialog.png
  docs/en/tutorials/modular-crm/images/abp-studio-open-with-visual-studio-main-app.png
  docs/en/tutorials/modular-crm/images/abp-studio-ordering-swagger-ui-in-browser.png
  docs/en/tutorials/modular-crm/images/abp-studio-solution-runner-graph-build.png
  docs/en/tutorials/modular-crm/images/abp-studio-solution-runner-initial-product-page.png
  docs/en/tutorials/modular-crm/images/abp-studio-swagger-create-order.png
  docs/en/tutorials/modular-crm/images/abp-studio-swagger-list-orders.png
  docs/en/tutorials/modular-crm/images/abp-studio-swagger-ui-in-browser.png
  docs/en/tutorials/modular-crm/images/solution-explorer-modular-crm-expanded.png
  docs/en/tutorials/modular-crm/images/visual-studio-main-dbcontext.png
  docs/en/tutorials/modular-crm/images/visual-studio-new-migration-class-2.png
  docs/en/tutorials/modular-crm/images/visual-studio-new-migration-class.png
  docs/en/tutorials/modular-crm/images/visual-studio-order-reporting-app-service-impl.png
  docs/en/tutorials/modular-crm/images/visual-studio-order-reporting-app-service.png
  docs/en/tutorials/modular-crm/images/visual-studio-ordering-contracts.png
  docs/en/tutorials/modular-crm/part-01.md
  docs/en/tutorials/modular-crm/part-02.md
  docs/en/tutorials/modular-crm/part-03.md
  docs/en/tutorials/modular-crm/part-04.md
  docs/en/tutorials/modular-crm/part-05.md
  docs/en/tutorials/modular-crm/part-07.md
  docs/en/tutorials/modular-crm/part-08.md
Labels: documentation

#21725 Skip to add security headers if endpoint has `IgnoreAbpSecurityHeaderAttribute`.
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/AbpSecurityHeadersMiddleware.cs
Labels: abp-framework

#21724 Use `MailAddressCollection` class to validate the email address.
  framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/EmailSenderBase.cs
Labels: abp-framework

#21689 Lazy expandable feature for documentation
  docs/en/docs-nav.json
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/NavigationNode.cs
  modules/docs/src/Volo.Docs.Web/Areas/Documents/DocumentNavigationController.cs
  modules/docs/src/Volo.Docs.Web/Areas/Documents/TagHelpers/TreeTagHelper.cs
  modules/docs/src/Volo.Docs.Web/Areas/Models/DocumentNavigation/GetNavigationNodeWithLinkModel.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Scripts/vs.js
Labels: feature, abp-module-docs

#21732 Add MauiBlazor to getting started documentation
  docs/en/docs-params.json
  docs/en/tutorials/book-store/images/maui-blazor-add-books-component.png
  docs/en/tutorials/book-store/part-01.md
  docs/en/tutorials/book-store/part-02.md
  docs/en/tutorials/book-store/part-03.md
  docs/en/tutorials/book-store/part-04.md
  docs/en/tutorials/book-store/part-05.md
  docs/en/tutorials/book-store/part-06.md
  docs/en/tutorials/book-store/part-07.md
  docs/en/tutorials/book-store/part-08.md
  docs/en/tutorials/book-store/part-09.md
  docs/en/tutorials/book-store/part-10.md
Labels: documentation

#21737 Add comments for extension methods of `IAuthorizationService/IFeatureChecker`.
  framework/src/Volo.Abp.Authorization/Microsoft/AspNetCore/Authorization/AbpAuthorizationServiceExtensions.cs
  framework/src/Volo.Abp.Features/Volo/Abp/Features/FeatureCheckerExtensions.cs
Labels: enhancement

#21716 Added `filter` to `GetWaitingEventsAsync` method.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/DbContextEventInbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/DbContextEventOutbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/IncomingEventRecord.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/OutgoingEventRecord.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IEventInbox.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IEventOutbox.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IIncomingEventInfo.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IOutgoingEventInfo.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/InboxOutboxFilterExpressionTransformer.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IncomingEventInfo.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/OutgoingEventInfo.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/AbpEventBusBoxesOptions.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/InboxProcessor.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/OutboxSender.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/DistributedEvents/MongoDbContextEventInbox.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/DistributedEvents/MongoDbContextEventOutbox.cs
Labels: abp-framework

#21746 Startup template `Application Module` revisions
  docs/en/solution-templates/application-module/images/additional-options.png
  docs/en/solution-templates/application-module/images/create-new-module.png
  docs/en/solution-templates/application-module/images/issuemanagement-module-solution.png
  docs/en/solution-templates/application-module/images/new-module.png
  docs/en/solution-templates/application-module/images/new-solution.png
  docs/en/solution-templates/application-module/images/select-database-provider.png
  docs/en/solution-templates/application-module/images/select-user-interface.png
  docs/en/solution-templates/application-module/images/solution-properties.png
  docs/en/solution-templates/application-module/index.md
Labels: documentation

#21735 Added `clientIpAddress` parameter to query the `security logs`.
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIdentitySecurityLogRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentitySecurityLogRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentitySecurityLogRepository.cs
Labels: abp-module-identity

#21763 Update localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
Labels: abp-io

#21753 Fix the issue of cancel edit button wrong URL
  modules/blogging/app/Volo.BloggingTestApp/BloggingTestAppModule.cs
  modules/blogging/app/Volo.BloggingTestApp/Program.cs
  modules/blogging/app/Volo.BloggingTestApp/Startup.cs
  modules/blogging/app/Volo.BloggingTestApp/Volo.BloggingTestApp.csproj
  modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/Edit.cshtml
Labels: abp-module-blogging

#21754 Reset search when checking/unchecking all permissions
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/permission-management-modal.js
Labels: abp-module-permission-management, ui-mvc, ui-blazor

#21770 Angular - Reset search filter on grant all permission button toggle
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.ts
Labels: enhancement, ui-angular

#21733 Add permissions for dynamic menu items
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Menus/IMenuItemAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Menus/MenuItemCreateInput.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Menus/MenuItemUpdateInput.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Menus/PermissionLookupDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Menus/PermissionLookupInputDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo/CmsKit/Admin/Menus/MenuItemAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/Volo/CmsKit/Admin/Menus/MenuItemAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/cms-kit-admin-generate-proxy.json
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi/Volo/CmsKit/Admin/Menus/MenuItemAdminController.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/CreateModal.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/CreateModal.cshtml.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/UpdateModal.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/UpdateModal.cshtml.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/createModal.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/updateModal.js
  modules/cms-kit/src/Volo.CmsKit.Common.Application.Contracts/Volo/CmsKit/Menus/MenuItemDto.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/ar.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/cs.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/de-DE.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/de.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/el.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en-GB.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/es.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/fa.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/fi.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/fr.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/hi.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/hr.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/hu.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/is.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/it.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/nl.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/pl-PL.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/pt-BR.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/ro-RO.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/ru.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/sk.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/sl.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/sv.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/tr.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/vi.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/zh-Hans.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/zh-Hant.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Menus/MenuItemConsts.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Menus/MenuItem.cs
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/EntityFrameworkCore/CmsKitDbContextModelCreatingExtensions.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Menus/CmsKitPublicMenuContributor.cs
Labels: enhancement, ui-mvc, abp-module-cms-kit

#21756 Fix: Docs permission problem
  modules/docs/.abpstudio/state.json
  modules/docs/Default.abprun.json
  modules/docs/Volo.Docs.abpsln
  modules/docs/src/Volo.Docs.Admin.Application.Contracts/Volo/Docs/Admin/Documents/IDocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.Application/Volo/Docs/Admin/Documents/DocumentAdminAppService.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi.Client/ClientProxies/Volo/Docs/Admin/DocumentsAdminClientProxy.Generated.cs
  modules/docs/src/Volo.Docs.Admin.HttpApi.Client/ClientProxies/Volo/Docs/Admin/docs-admin-generate-proxy.json
  modules/docs/src/Volo.Docs.Admin.HttpApi.Client/Volo.Docs.Admin.HttpApi.Client.abppkg
  modules/docs/src/Volo.Docs.Admin.HttpApi/Volo/Docs/Admin/DocumentsAdminController.cs
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Documents/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Admin.Web/Volo.Docs.Admin.Web.abppkg
  modules/docs/src/Volo.Docs.Admin.Web/wwwroot/client-proxies/docs-admin-proxy.js
Labels: bug, abp-module-docs

#21773 Add new localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#21236 favorites filtering blog posts
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo/CmsKit/Admin/Blogs/BlogPostAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/ar.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en.json
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/DefaultBlogFeatureProvider.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/IBlogPostRepository.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/CmsKitDomainModule.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/MarkedItems/MarkedItemManager.cs
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/Blogs/EfCoreBlogPostRepository.cs
  modules/cms-kit/src/Volo.CmsKit.MongoDB/Volo/CmsKit/MongoDB/Blogs/MongoBlogPostRepository.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Blogs/BlogPostGetListInput.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo/CmsKit/Public/Blogs/BlogPostPublicAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/MarkedItemToggle/default.css
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Modals/Login/LoginModal.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/Index.cshtml.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/filter-on-favorites.js
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Blogs/index.css
Labels: abp-module-cms-kit

#21766 Add TagHelpers to the documentation
  docs/en/docs-nav.json
Labels: documentation

#21781 Layered and Single-Layer documentations revised
  docs/en/solution-templates/layered-web-application/background-jobs.md
  docs/en/solution-templates/layered-web-application/background-workers.md
  docs/en/solution-templates/layered-web-application/distributed-locking.md
  docs/en/solution-templates/layered-web-application/index.md
  docs/en/solution-templates/layered-web-application/multi-tenancy.md
  docs/en/solution-templates/layered-web-application/swagger-integration.md
  docs/en/solution-templates/single-layer-web-application/background-jobs.md
  docs/en/solution-templates/single-layer-web-application/background-workers.md
  docs/en/solution-templates/single-layer-web-application/distributed-locking.md
  docs/en/solution-templates/single-layer-web-application/index.md
  docs/en/solution-templates/single-layer-web-application/multi-tenancy.md
  docs/en/solution-templates/single-layer-web-application/swagger-integration.md
Labels: documentation
