Repository abpframework/abp, pull requests merged in 2024-11, with the labels that each got.

#21224 Update abp-8-3.md
  docs/en/release-info/migration-guides/abp-8-3.md
Labels: documentation, ui-angular

#21231 Update IIS document to explain How to get `stdout-log`
  docs/en/solution-templates/layered-web-application/deployment/deployment-iis.md
Labels: documentation

#21233 ABP Community Article: Hybrid Cache in .NET 9
  docs/en/Blog-Posts/2024-10-23 v9_0_Preview/docs-image-larger.png
  docs/en/Blog-Posts/2024-10-23 v9_0_Preview/suite-navigation-properties.png
  docs/en/Community-Articles/2024-10-09-Cookies-vs-Local-Storage/cover.png
  docs/en/Community-Articles/2024-10-09-NET9-Performance-Improvements/cited-from-microsoft-blog-post.png
  docs/en/Community-Articles/2024-10-09-NET9-Performance-Improvements/cover.png
  docs/en/Community-Articles/2024-10-11-NET-Aspire-vs-ABP-Studio/abp-studio-add-existing-package.png
  docs/en/Community-Articles/2024-10-11-NET-Aspire-vs-ABP-Studio/abp-studio-add-new-microservice.png
  docs/en/Community-Articles/2024-10-11-NET-Aspire-vs-ABP-Studio/abp-studio-solution-runner.png
  docs/en/Community-Articles/2024-10-11-NET-Aspire-vs-ABP-Studio/abp-studio-vs-dotnet-aspire-comparison-table.png
  docs/en/Community-Articles/2024-10-11-NET-Aspire-vs-ABP-Studio/dotnet-aspire-dashboard.png
  docs/en/Community-Articles/2024-10-23-Abp-Net9-Upgrade/dog-food.png
  docs/en/Community-Articles/2024-10-23-Abp-Net9-Upgrade/net-support-policy.png
  docs/en/Community-Articles/2024-11-01-Hybrid-Cache-Net-9/POST.md
  docs/en/Community-Articles/2024-11-01-Hybrid-Cache-Net-9/cover-image.png
  docs/en/Community-Articles/2024-11-01-Hybrid-Cache-Net-9/debug-hybrid-cache.png
Labels: abp-community

#21215 Add Localization. issue-5213
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#21245 Update abppkg packages of blogging test app projects
  modules/blogging/app/Volo.BloggingTestApp.EntityFrameworkCore/Volo.BloggingTestApp.EntityFrameworkCore.abppkg
  modules/blogging/app/Volo.BloggingTestApp.MongoDB/Volo.BloggingTestApp.MongoDB.abppkg
Labels: abp-module-blogging

#21254 ABP Community Article: EF Core 9 Read-only Primitive Collections
  docs/en/Community-Articles/2024-11-04-EF Core 9 Read-only-Primitive-Collections/POST.md
Labels: abp-community

#21260 Update version to release 8.3.3
  common.props
Labels: devops

#21219 Update Microservice Localization Documents (for UI Localizations & Dynamic Localization)
  docs/en/solution-templates/microservice/images/enable-dynamic-localization.png
  docs/en/solution-templates/microservice/images/ui-localization-mvc.png
  docs/en/solution-templates/microservice/localization-system.md
Labels: enhancement, documentation

#21276 Update studio docs for v0.9.5
  docs/en/studio/release-notes.md
  docs/en/studio/version-compatibility.md
Labels: documentation

#21281 Revise studio `version compatibility` document
  docs/en/docs-nav.json
  docs/en/studio/version-mapping.md
Labels: documentation

#21197 Angular - Refactoring the Extension System for Using the Injection Cycle
  npm/ng-packs/packages/account/src/lib/guards/extensions.guard.ts
  npm/ng-packs/packages/account/src/lib/resolvers/extensions.resolver.ts
  npm/ng-packs/packages/components/extensible/src/lib/utils/props.util.ts
  npm/ng-packs/packages/components/extensible/src/lib/utils/state.util.ts
  npm/ng-packs/packages/components/extensible/src/tests/form-props.util.spec.ts
  npm/ng-packs/packages/components/extensible/src/tests/props.util.spec.ts
  npm/ng-packs/packages/components/extensible/src/tests/state.util.spec.ts
  npm/ng-packs/packages/identity/src/lib/guards/extensions.guard.ts
  npm/ng-packs/packages/identity/src/lib/resolvers/extensions.resolver.ts
  npm/ng-packs/packages/tenant-management/src/lib/guards/extensions.guard.ts
  npm/ng-packs/packages/tenant-management/src/lib/resolvers/extensions.resolver.ts
Labels: enhancement, ui-angular

#20002 Update HTTP-Error-Handling.md
  docs/en/UI/Angular/HTTP-Error-Handling.md
Labels: documentation, ui-angular

#21263 Merge `InvalidUserName` localization texts.
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ar.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/cs.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/de.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/el.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/en-GB.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/en.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/es.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/fa.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/fi.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/fr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/hi.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/hr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/hu.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/is.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/it.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/nl.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/pl-PL.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/pt-BR.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ro-RO.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ru.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/sk.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/sl.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/sv.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/tr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/vi.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hans.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hant.json
  modules/identity/src/Volo.Abp.Identity.Domain/Microsoft/AspNetCore/Identity/AbpIdentityResultExtensions.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentityUserValidator.cs
  modules/identity/test/Volo.Abp.Identity.AspNetCore.Tests/Volo/Abp/Identity/AspNetCore/AbpIdentityUserValidator_Tests.cs
Labels: abp-module-identity

#21287 Update localization-system.md
  docs/en/solution-templates/microservice/localization-system.md
Labels: documentation

#20297 Fix typo in Spanish translation for "Loading..."
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/es.json
Labels: localization

#21211 `AddOrReplaceEvent` when unit of work `CompleteAsync`.
  framework/src/Volo.Abp.Uow/Volo/Abp/Uow/UnitOfWork.cs
Labels: abp-framework

#21292 Update version to release 9.0.0-rc.2
  common.props
Labels: devops

#21210 Set the first tab active after search in permissions
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/permission-management-modal.js
Labels: enhancement, abp-module-permission-management, ui-mvc

#21274 Create Keyed DI in middlewares community article
  docs/en/Community-Articles/2024-11-06-Keyed-DI-in-Middlewares-Net-9/post.md
Labels: abp-community

#21280 Add article on SignalR support for trimming and Native AOT
  docs/en/Community-Articles/2024-11-05-SignalR-supports-trimming-and-Native-AOT/POST.md
  docs/en/Community-Articles/2024-11-05-SignalR-supports-trimming-and-Native-AOT/chat.png
Labels: abp-community

#21303 Template selection guide
  docs/en/docs-nav.json
  docs/en/get-started/index.md
  docs/en/solution-templates/guide.md
  docs/en/solution-templates/images/example-modular-solution.png
  docs/en/solution-templates/images/layered-abp-application.png
  docs/en/solution-templates/images/single-layer-abp-solution.png
  docs/en/solution-templates/index.md
  docs/en/solution-templates/layered-web-application/index.md
  docs/en/solution-templates/single-layer-web-application/index.md
Labels: documentation

#21312 Check if folder exist in NugetPackageToLocalReferenceConverter
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NugetPackageToLocalReferenceConverter.cs
Labels: bug, abp-cli

#21195 Add localization.
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#21243 add localization - issue 5294
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#21316 Fix Datatable fnSetColumnVis legacy method usage issue
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js
Labels: bug, ui-mvc

#21322 Always use pipelines to operate Redis
  framework/src/Volo.Abp.Caching.StackExchangeRedis/Volo/Abp/Caching/StackExchangeRedis/AbpRedisCache.cs
Labels: abp-framework

#21271 Handles case where users need to confirm `email` or `phone number`.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/AbpErrorDescriptionConsts.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/TokenController.Password.cs
Labels: abp-module-identity

#21337 Update version to release 9.0.0-rc.3
  common.props
Labels: devops

#21307 Remove `secondaryIds` from path if its `Optional`.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/ConventionalRouteBuilder.cs
Labels: abp-framework

#21341 ABP Community Article: `EF Core 9 LINQ & SQL translation`
  docs/en/Community-Articles/2024-11-14-EF-Core-9-Linq-SQL-Translation/POST.md
Labels: abp-community

#21349 Add provider option and replacer functions to schematics
  npm/ng-packs/packages/schematics/src/commands/change-theme/index.ts
  npm/ng-packs/packages/schematics/src/commands/change-theme/style-map.ts
  npm/ng-packs/packages/schematics/src/utils/angular/ast-utils.ts
Labels: enhancement, ui-angular

#21363 Skip to check libs for `ajax` request.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Libs/AbpMvcLibsService.cs
Labels: abp-framework

#21366 Update version to release 8.3.4
  common.props
Labels: devops

#21374 Update version to release 9.0.0
  common.props
Labels: devops

#21398 Do not set `IHttpAuthenticationFeature`.
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/Claims/AbpDynamicClaimsMiddleware.cs
Labels: enhancement

#21401 Enable Blazor Web App in docs
  docs/en/docs-params.json
Labels: documentation

#21405 Add Blazor WebApp to tutorial
  docs/en/get-started/layered-web-application.md
  docs/en/tutorials/todo/layered/index.md
Labels: documentation

#21416 Added `Using Existing Configuration` section to new command samples
  docs/en/cli/new-command-samples.md
Labels: documentation, abp-cli, studio

#21387 Add localization - issue-5286
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#21384 Angular - Aligning Related Dependencies for NPM (abp)
  npm/ng-packs/packages/components/page/src/page.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/abstract-menu.service.ts
  npm/ng-packs/packages/theme-shared/src/lib/services/toaster.service.ts
Labels: problem, ui-angular, foundby-community

#21430 Added Build & Start hint to running applications document
  docs/en/studio/running-applications.md
Labels: documentation, studio

#21431 add localization. - issue-5471
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#21434 Add BlazorWebApp option to Acme.Bookstore tutorial
  docs/en/tutorials/book-store/part-01.md
  docs/en/tutorials/book-store/part-02.md
  docs/en/tutorials/book-store/part-03.md
  docs/en/tutorials/book-store/part-04.md
  docs/en/tutorials/book-store/part-05.md
  docs/en/tutorials/book-store/part-06.md
  docs/en/tutorials/book-store/part-07.md
  docs/en/tutorials/book-store/part-08.md
  docs/en/tutorials/book-store/part-09.md
  docs/en/tutorials/book-store/part-10.md
Labels: documentation

#21348 Check & move related blog posts on deletion
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Blogs/BlogDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Blogs/IBlogAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo/CmsKit/Admin/Blogs/BlogAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo/CmsKit/Admin/CmsKitAdminApplicationAutoMapperProfile.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/Volo/CmsKit/Admin/Blogs/BlogAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/cms-kit-admin-generate-proxy.json
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi/Volo/CmsKit/Admin/Blogs/BlogAdminController.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Blogs/DeleteBlogModal.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Blogs/DeleteBlogModal.cshtml.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Blogs/index.js
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/ar.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/cs.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/de-DE.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/de.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/el.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en-GB.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/es.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/fa.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/fi.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/fr.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/hi.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/hr.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/hu.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/is.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/it.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/nl.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/pl-PL.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/pt-BR.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/ro-RO.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/ru.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/sk.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/sl.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/sv.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/tr.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/vi.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/zh-Hans.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/zh-Hant.json
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/BlogPost.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/BlogWithBlogPostCount.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/IBlogPostRepository.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/IBlogRepository.cs
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/Blogs/EfCoreBlogPostRepository.cs
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/Blogs/EfCoreBlogRepository.cs
  modules/cms-kit/src/Volo.CmsKit.MongoDB/Volo/CmsKit/MongoDB/Blogs/MongoBlogPostRepository.cs
  modules/cms-kit/src/Volo.CmsKit.MongoDB/Volo/CmsKit/MongoDB/Blogs/MongoBlogRepository.cs
Labels: enhancement, abp-module-cms-kit

#21445 Update PermissionDataSeeder.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionDataSeeder.cs
Labels: abp-module-permission-management

#21451 Update get-started doc - issue-5489
  docs/en/get-started/index.md
Labels: abp-io

#21463 Skip to write audit logs if `auditLogInfo.HttpMethod` is `GET/Head`.
  framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingInterceptor.cs
Labels: abp-framework

#21427 Skip to set `CorrelationId ` if current value is `null`.
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/DistributedEventBusBase.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/ClientProxying/ClientProxyBase.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/ApiDescriptionFinder.cs
Labels: abp-framework

#21471 Update watch section of microservice get-started document
  docs/en/get-started/images/abp-studio-microservice-solution-runner-enable-watch-1.png
  docs/en/get-started/images/abp-studio-microservice-solution-runner-enable-watch-2.png
  docs/en/get-started/images/abp-studio-microservice-solution-runner-enable-watch.png
  docs/en/get-started/microservice.md
Labels: documentation, studio

#21474 Check the cache to prevent remote calls.
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Pages/PageCacheItem.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKitPageRouteValueTransformer.cs
Labels: abp-module-cms-kit

#21482 Move SettingManagement to the Admin side of CMS Kit
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/CmsKitAdminWebModule.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Volo.CmsKit.Admin.Web.csproj
  modules/cms-kit/src/Volo.CmsKit.Common.Web/CmsKitCommonWebModule.cs
  modules/cms-kit/src/Volo.CmsKit.Common.Web/Volo.CmsKit.Common.Web.csproj
Labels: abp-module-cms-kit

#21486 Update dependency-injection.md
  docs/en/framework/fundamentals/dependency-injection.md
Labels: documentation

#21492 Update generic-repositories.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters-with-custom-content-above-filter.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters-with-form.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters-without-form.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters.png
  docs/en/framework/ui/angular/images/manage-profile-page-new-tab.png
  docs/en/framework/ui/angular/images/manage-profile-page.png
  docs/en/images/generic-repositories.png
Labels: documentation

#21488 Add dapr event handlers as an endpoint to compatible with Dapr SDK.
  framework/src/Volo.Abp.AspNetCore.Mvc.Dapr.EventBus/DaprAspNetCore/AbpDaprEndpointRouteBuilderExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Dapr.EventBus/Volo/Abp/AspNetCore/Mvc/Dapr/EventBus/AbpAspNetCoreMvcDaprEventBusModule.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Dapr.EventBus/Volo/Abp/AspNetCore/Mvc/Dapr/EventBus/AbpAspNetCoreMvcDaprPubSubConsts.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Dapr.EventBus/Volo/Abp/AspNetCore/Mvc/Dapr/EventBus/Controllers/AbpAspNetCoreMvcDaprEventsController.cs
Labels: abp-framework
