Repository abpframework/abp, pull requests merged in 2024-10, with the labels that each got.

#20933 Update link
  docs/en/framework/architecture/modularity/basics.md
Labels: documentation

#20819 Truncate `IpAddresses` of `IdentitySession`.
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/IdentitySessionConsts.cs
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentitySession.cs
Labels: breaking change, abp-module-identity

#20671 Remove audit properties from `OpenIddictAuthorization` and `OpenIddictToken`.
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/20240829013142_Initial.Designer.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/20240829013142_Initial.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/ServerDbContextModelSnapshot.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Authorizations/OpenIddictAuthorization.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.Domain/Volo/Abp/OpenIddict/Tokens/OpenIddictToken.cs
  modules/openiddict/test/Volo.Abp.OpenIddict.Domain.Tests/Volo/Abp/OpenIddict/Tokens/AbpOpenIddictTokenStore_Tests.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/Migrations/20241002091603_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/Migrations/20241002091603_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/20241002091808_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/20241002091808_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Migrations/20241002091512_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Migrations/20241002091512_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/20241002091532_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/20241002091532_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/20241002091614_Initial.Designer.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/20241002091614_Initial.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/20241002091656_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/20241002091656_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/AuthServerDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/20241002091636_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/20241002091636_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/Migrations/20241002091709_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/Migrations/20241002091709_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20241002091727_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20241002091727_Initial.cs
Labels: breaking change, abp-module-openiddict

#20672 Use `UrlHelpers's IsSubdomainOf` to check the wildcard domain.
  framework/src/Volo.Abp.Core/Volo/Abp/Http/UrlHelpers.cs
  modules/openiddict/app/OpenIddict.Demo.Server/OpenIddictServerModule.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/WildcardDomains/AbpOpenIddictWildcardDomainBase.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/WildcardDomains/AbpOpenIddictWildcardDomainOptions.cs
Labels: abp-module-openiddict

#20626 Upgrade `datatables.net` to `2.1.x`.
  npm/packs/datatables.net-bs5/package.json
  npm/packs/datatables.net/package.json
Labels: abp-framework, ui-mvc

#20917 Use `ICancellationTokenProvider` to replace the `RequestAborted` token.
  framework/src/Volo.Abp.AspNetCore.Components.Server/Microsoft/AspNetCore/Authentication/Cookies/CookieAuthenticationOptionsExtensions.cs
  framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/AbpAspNetCoreMultiTenancyOptions.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Uow/AbpUowActionFilter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Uow/AbpUowPageFilter.cs
  framework/src/Volo.Abp.AspNetCore/Microsoft/Extensions/DependencyInjection/CookieAuthenticationOptionsExtensions.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Uow/AbpUnitOfWorkMiddleware.cs
Labels: abp-framework

#20859 Add `AbpHybridCache`.
  Directory.Packages.props
  framework/src/Volo.Abp.Caching/Volo.Abp.Caching.csproj
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/AbpCachingModule.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/Hybrid/AbpHybridCache.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/Hybrid/AbpHybridCacheJsonSerializer.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/Hybrid/AbpHybridCacheJsonSerializerFactory.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/Hybrid/AbpHybridCacheOptions.cs
  framework/src/Volo.Abp.Caching/Volo/Abp/Caching/Hybrid/IHybridCache.cs
  framework/test/Volo.Abp.Caching.Tests/Volo/Abp/Caching/AbpCachingTestModule.cs
  framework/test/Volo.Abp.Caching.Tests/Volo/Abp/Caching/HybridCache_Tests.cs
Labels: abp-framework

#20958 Update SignalR 9 New Features Article
  docs/en/Community-Articles/2024-10-01-SignalR-9-New-Features/Post.md
Labels: abp-community

#20957 Add localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
Labels: abp-io

#20961 Fix version null exception for FileSystemDocumentSource and Update document
  docs/en/modules/docs.md
  modules/docs/app/VoloDocs.Web/Program.cs
  modules/docs/app/VoloDocs.Web/Properties/launchSettings.json
  modules/docs/app/VoloDocs.Web/Startup.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/FileSystem/Documents/FileSystemDocumentSource.cs
Labels: abp-module-docs

#20935 fix : set language with ui-culture on auth-code-flow
  npm/ng-packs/packages/core/src/lib/services/config-state.service.ts
  npm/ng-packs/packages/core/src/lib/services/window.service.ts
  npm/ng-packs/packages/oauth/src/lib/strategies/auth-code-flow-strategy.ts
  npm/ng-packs/packages/oauth/src/lib/strategies/auth-flow-strategy.ts
Labels: ui-angular

#20965 CLI: CmdHelper should be working even the directory has 'space' characters
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/CmdHelper.cs
Labels: enhancement, abp-cli

#20966 Remove Theme Limitation warning of BrandingProvider
  docs/en/framework/ui/blazor/branding.md
  docs/en/framework/ui/mvc-razor-pages/branding.md
Labels: documentation

#20804 Angular - Datatable Loading Indicator Updates
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/ar.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/cs.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/de.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/el.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/en-GB.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/en.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/es.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/fa.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/fi.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/fr.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/hi.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/hr.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/hu.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/is.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/it.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/nl.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/pl-PL.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/pt-BR.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/ro-RO.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/ru.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/sk.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/sl.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/tr.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/vi.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/zh-Hans.json
  framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/zh-Hant.json
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.ts
  npm/ng-packs/packages/core/src/lib/services/list.service.ts
  npm/ng-packs/packages/core/src/lib/tests/list.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/spinner/spinner.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/directives/ngx-datatable-default.directive.ts
  npm/ng-packs/packages/theme-shared/src/lib/directives/ngx-datatable-list.directive.ts
  npm/ng-packs/packages/theme-shared/src/lib/tokens/ngx-datatable-messages.token.ts
  templates/app/angular/src/app/home/home.component.html
Labels: enhancement, ui-angular

#20896 Update multi-tenancy doc
  docs/en/framework/architecture/multi-tenancy/index.md
Labels: documentation

#20981 Improve the 'linked accounts' document
  docs/en/Community-Articles/2024-10-01-SignalR-9-New-Features/signalr-activity-dashboard.png
  docs/en/images/linkedaccountloginmulti-tenancy.png
  docs/en/images/linkedaccountmodalactionindirectlink.png
  docs/en/images/linkedaccountmodalactionmulti-tenancy.png
  docs/en/modules/account/linkedaccounts.md
Labels: documentation

#20983 Modular crm doc sync
  docs/en/tutorials/modular-crm/images/abp-studio-add-entity-framework-core-migration-dialog.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-entity-framework-core-migration.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-new-dd-module.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-new-ddd-module.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-new-empty-module.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-new-folder-command.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-new-package.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-package-reference-2.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-package-reference-3.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-package-reference-4.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-package-reference-5.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-package-reference-6.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-package-reference-7.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-package-reference-dialog-5.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-package-reference-dialog-6.png
  docs/en/tutorials/modular-crm/images/abp-studio-add-package-reference.png
  docs/en/tutorials/modular-crm/images/abp-studio-added-ddd-contracts-package.png
  docs/en/tutorials/modular-crm/images/abp-studio-build-and-restart-application.png
  docs/en/tutorials/modular-crm/images/abp-studio-entity-framework-core-add-migration-order.png
  docs/en/tutorials/modular-crm/images/abp-studio-entity-framework-core-update-database.png
  docs/en/tutorials/modular-crm/images/abp-studio-graph-build.png
  docs/en/tutorials/modular-crm/images/abp-studio-import-module-for-ordering.png
  docs/en/tutorials/modular-crm/images/abp-studio-import-module-ordering.png
  docs/en/tutorials/modular-crm/images/abp-studio-import-module.png
  docs/en/tutorials/modular-crm/images/abp-studio-new-folder-dialog.png
  docs/en/tutorials/modular-crm/images/abp-studio-open-in-explorer.png
  docs/en/tutorials/modular-crm/images/abp-studio-open-with-visual-studio-main-app.png
  docs/en/tutorials/modular-crm/images/abp-studio-open-with-visual-studio.png
  docs/en/tutorials/modular-crm/images/abp-studio-ordering-swagger-ui-in-browser.png
  docs/en/tutorials/modular-crm/images/abp-studio-solution-runner-graph-build.png
  docs/en/tutorials/modular-crm/images/abp-studio-solution-runner-initial-product-page.png
  docs/en/tutorials/modular-crm/images/abp-studio-solution-runner-orders-page.png
  docs/en/tutorials/modular-crm/images/abp-studio-swagger-ui-create-order-execute.png
  docs/en/tutorials/modular-crm/images/sql-server-orders-database-table-filled.png
  docs/en/tutorials/modular-crm/images/sql-server-orders-table-content.png
  docs/en/tutorials/modular-crm/images/visual-studio-ordering-contracts.png
  docs/en/tutorials/modular-crm/images/visual-studio-ordering-controller.png
  docs/en/tutorials/modular-crm/part-02.md
  docs/en/tutorials/modular-crm/part-05.md
  docs/en/tutorials/modular-crm/part-06.md
  docs/en/tutorials/modular-crm/part-07.md
Labels: documentation

#20964 add localization.
  modules/blogging/src/Volo.Blogging.Domain.Shared/Volo/Blogging/Localization/Resources/en.json
Labels: abp-io

#20766 Added support for single and double quotes
  npm/ng-packs/packages/core/src/lib/utils/string-utils.ts
Labels: ui-angular

#20854 Update en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20477 Merge angular & pro documentation
  docs/en/docs-nav.json
  docs/en/framework/ui/angular/entity-filters.md
  docs/en/framework/ui/angular/environment.md
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters-with-custom-content-above-filter.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters-with-form.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters-without-form.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters.png
  docs/en/framework/ui/angular/images/angular-lookup-select.gif
  docs/en/framework/ui/angular/images/angular-lookup-typeahead.gif
  docs/en/framework/ui/angular/images/grouped-menu-mobile.png
  docs/en/framework/ui/angular/images/grouped-menu.png
  docs/en/framework/ui/angular/images/manage-profile-page-new-tab.png
  docs/en/framework/ui/angular/images/manage-profile-page.png
  docs/en/framework/ui/angular/lookup-components.md
  docs/en/framework/ui/angular/manage-profile-page-tabs.md
  docs/en/framework/ui/angular/modifying-the-menu.md
  docs/en/framework/ui/angular/overview.md
  docs/en/framework/ui/angular/quick-start.md
Labels: documentation, ui-angular

#20988 Angular - Checking `Property Policy` for the Extensions
  npm/ng-packs/packages/account/src/lib/guards/extensions.guard.ts
  npm/ng-packs/packages/account/src/lib/resolvers/extensions.resolver.ts
  npm/ng-packs/packages/components/extensible/src/lib/models/internal/object-extensions.ts
  npm/ng-packs/packages/components/extensible/src/lib/utils/form-props.util.ts
  npm/ng-packs/packages/components/extensible/src/lib/utils/props.util.ts
  npm/ng-packs/packages/components/extensible/src/lib/utils/state.util.ts
  npm/ng-packs/packages/components/extensible/src/tests/state.util.spec.ts
  npm/ng-packs/packages/core/src/lib/services/config-state.service.ts
  npm/ng-packs/packages/identity/src/lib/guards/extensions.guard.ts
  npm/ng-packs/packages/identity/src/lib/resolvers/extensions.resolver.ts
  npm/ng-packs/packages/tenant-management/src/lib/guards/extensions.guard.ts
  npm/ng-packs/packages/tenant-management/src/lib/resolvers/extensions.resolver.ts
Labels: enhancement, ui-angular

#20973 Fix Docs Browser&Menu&Page Title Differences
  docs/en/deployment/ssl.md
  docs/en/docs-nav.json
  docs/en/framework/ui/blazor/components/submit-button.md
  docs/en/modules/cms-kit-pro/index.md
  docs/en/solution-templates/application-module/index.md
  docs/en/solution-templates/layered-web-application/index.md
  docs/en/solution-templates/single-layer-web-application/index.md
Labels: documentation

#21003 Update auto-pr.yml for prerel-9.0
  .github/workflows/auto-pr.yml
Labels: devops

#21007 Update version for 9.1.0-preview
  common.props
Labels: devops

#21017 Introduce `abp generate-razor-page` command.
  docs/en/cli/index.md
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters-with-custom-content-above-filter.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters-with-form.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters-without-form.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters.png
  docs/en/framework/ui/angular/images/manage-profile-page-new-tab.png
  docs/en/framework/ui/angular/images/manage-profile-page.png
  docs/en/images/abp-generate-razor-page.png
  docs/en/images/abp-overall-diagram-1600.png
  docs/en/images/abp-overall-diagram.png
Labels: documentation, abp-cli

#21016 Change the title size in all documents - issue-21015
  docs/en/Community-Articles/2020-08-18-Using-DevExtreme-Components-With-The-ABP-Framework/Using-DevExtreme-Components-With-The-ABP-Framework.md
  docs/en/Community-Articles/2020-12-10-How-to-Integrate-the-DevExpress-Blazor-Component/POST.md
  docs/en/Community-Articles/2021-01-20-How-to-Integrate-the-MatBlazor-Blazor-Component/POST.md
  docs/en/Community-Articles/2021-04-22-How-to-Integrate-the-Syncfusion-Blazor-Component/POST.md
  docs/en/Community-Articles/2023-02-22-Streamline-Localization-In-Your-ABP-Project/POST.md
  docs/en/Community-Articles/2023-03-20- IdentityUser-Relationships/Post.md
  docs/en/framework/api-development/index.md
  docs/en/framework/api-development/standard-apis/index.md
  docs/en/framework/architecture/best-practices/application-layer-overview.md
  docs/en/framework/architecture/best-practices/data-access-overview.md
  docs/en/framework/architecture/best-practices/domain-layer-overview.md
  docs/en/framework/architecture/domain-driven-design/application-layer.md
  docs/en/framework/architecture/domain-driven-design/domain-layer.md
  docs/en/framework/fundamentals/index.md
  docs/en/framework/infrastructure/index.md
  docs/en/framework/ui/index.md
  docs/en/modules/openiddict.md
  docs/en/release-info/index.md
  docs/en/tools.md
  docs/en/tutorials/index.md
Labels: documentation

#21020 Fix sample document bug
  docs/en/tutorials/book-store/part-09.md
Labels: ui-angular

#21034 Remove `ConcurrencyStamp` from `IdentitySession`.
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentitySession.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/20241010092009_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/20241010092009_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Migrations/20241002093248_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Migrations/20241010091641_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Migrations/20241010091641_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/20241010091707_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/20241010091707_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/20241002093350_Initial.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/20241010091723_Initial.Designer.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/20241010091723_Initial.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/20241010091821_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/20241010091821_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/AuthServerDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/20241010091757_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/20241010091757_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/UnifiedDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/Migrations/20241010091847_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/Migrations/20241010091847_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20241002093456_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20241010091929_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20241010091929_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/UnifiedDbContextModelSnapshot.cs
Labels: abp-module-identity

#21011 Angular - Add Provider Title for Feature Management
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management/feature-management.component.html
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management/feature-management.component.ts
Labels: enhancement, ui-angular

#21051 Update impersonation.md
  docs/en/modules/account/impersonation.md
Labels: documentation, ui-angular

#21046 Use the logic in the `ResolveAsync` method to implement the `Resolve` method.
  framework/src/Volo.Abp.MultiTenancy/Volo/Abp/MultiTenancy/MultiTenantConnectionStringResolver.cs
Labels: bug

#21049 Adding PackageSourceMapping while adding new sources
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/PackagePreviewSwitcher.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/PackageSourceManager.cs
Labels: enhancement, abp-cli

#21059 Add blazor-webapp option to CLI
  docs/en/cli/index.md
Labels: documentation

#21071 Update documentation for relevant external login enhancements
  docs/en/images/my-externa-logins.png
  docs/en/images/new-external-login.png
  docs/en/images/require-local-password-on-social-account-linking.png
  docs/en/modules/account-pro.md
Labels: documentation

#21078 Use `WithStaticAssets` for controller and razor page.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs
Labels: abp-framework

#21070 Remove `OnDisconnectedAsync` method from `AbpAuthenticationHubFilter`.
  framework/src/Volo.Abp.AspNetCore.SignalR/Volo/Abp/AspNetCore/SignalR/Authentication/AbpAuthenticationHubFilter.cs
Labels: abp-framework

#20911 feat: Add layout name selection for improved CMS page customization.
  docs/en/modules/cms-kit/marked-items.md
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Pages/CreatePageInputDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Pages/PageDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Pages/UpdatePageInputDto.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo/CmsKit/Admin/Pages/PageAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Layouts/LayoutConstants.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Pages/Create.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Pages/Create.cshtml.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Pages/Update.cshtml
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Pages/Update.cshtml.cs
  modules/cms-kit/src/Volo.CmsKit.Common.Application.Contracts/Volo/CmsKit/Contents/PageDto.cs
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Localization/Resources/en.json
  modules/cms-kit/src/Volo.CmsKit.Domain.Shared/Volo/CmsKit/Pages/PageConsts.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Pages/Page.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Pages/PageCacheItem.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Pages/PageManager.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Layouts/LayoutExtensions.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Pages/Index.cshtml
  modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/Public/CmsKit/Pages/PageViewModel.cs
  modules/cms-kit/test/Volo.CmsKit.Application.Tests/Comments/CommentPublicAppService_Tests.cs
Labels: feature, abp-module-cms-kit

#21092 Add new reference to "How to use .NET Aspire with ABP framework" article
  docs/en/Community-Articles/2024-06-27-how-to-use-Aspire-with-ABP-framework/How to use Aspire with ABP framework.md
Labels: abp-community

#21035 Arrangement of the title order in documents. - Issue-21032
  docs/en/cli/index.md
  docs/en/framework/architecture/modularity/extending/module-entity-extensions.md
  docs/en/framework/data/entity-framework-core/migrations.md
  docs/en/framework/fundamentals/exception-handling.md
  docs/en/framework/fundamentals/localization.md
  docs/en/framework/infrastructure/audit-logging.md
  docs/en/framework/infrastructure/json.md
  docs/en/framework/ui/angular/account-module.md
  docs/en/framework/ui/angular/current-user.md
  docs/en/framework/ui/angular/datetime-format-pipe.md
  docs/en/framework/ui/angular/http-error-handling.md
  docs/en/framework/ui/angular/localization.md
  docs/en/framework/ui/angular/sorting-navigation-elements.md
  docs/en/get-started/layered-web-application.md
  docs/en/index.md
  docs/en/modules/chat.md
  docs/en/modules/openiddict-pro.md
  docs/en/modules/openiddict.md
  docs/en/modules/tenant-management.md
  docs/en/suite/generating-crud-page.md
  docs/en/suite/generating-entities-from-an-existing-database-table.md
  docs/en/ui-themes/lepton-x/index.md
Labels: documentation

#21096 Cascading deletion of `OpenIddictAuthorizations ` and `OpenIddictTokens`.
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/20241016024422_Initial.Designer.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/20241016024422_Initial.cs
  modules/openiddict/app/OpenIddict.Demo.Server/Migrations/ServerDbContextModelSnapshot.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.EntityFrameworkCore/Volo/Abp/OpenIddict/EntityFrameworkCore/OpenIddictDbContextModelCreatingExtensions.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/20241016025727_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/20241016025727_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.WebAssembly/Server/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Migrations/20241016025058_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Migrations/20241016025058_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Host/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/20241016025319_Initial.Designer.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/20241016025319_Initial.cs
  templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Mvc/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/20241016025346_Initial.Designer.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/20241016025346_Initial.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/Migrations/MyProjectNameDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/20241016025527_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/20241016025527_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Migrations/AuthServerDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/20241016025447_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/20241016025447_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Server.Host/Migrations/UnifiedDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/Migrations/20241016025549_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/Migrations/20241016025549_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/Migrations/MyProjectNameHttpApiHostMigrationsDbContextModelSnapshot.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20241016025625_Initial.Designer.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/20241016025625_Initial.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Web.Unified/Migrations/UnifiedDbContextModelSnapshot.cs
Labels: breaking change, abp-module-openiddict

#21104 Update version to release 8.3.2
  common.props
Labels: devops

#21115 Check if id parameter can convert from `string`.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/ConventionalRouteBuilder.cs
Labels: abp-framework

#21116 Update nav titles
  docs/en/docs-nav.json
Labels: documentation

#21136 BookStore Tutorials Doc Fixed
  docs/en/tutorials/book-store/part-09.md
Labels: documentation

#21138 Language edit problem fixed
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/RequestLocalization/DefaultAbpRequestLocalizationOptionsProvider.cs
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/LanguageChangedEto.cs
Labels: bug

#21141 Update branch name for rel-9.0
  .github/workflows/auto-pr.yml
Labels: devops

#21144 Update auto-pr.yml for rel-9.0
  .github/workflows/auto-pr.yml
Labels: devops

#21152 Migration Guide for v9.0
  docs/en/release-info/migration-guides/abp-9-0.md
  docs/en/release-info/migration-guides/index.md
Labels: documentation

#21157 Explain request-status in list-service document
  docs/en/framework/ui/angular/images/list-service-request-status.gif
  docs/en/framework/ui/angular/list-service.md
Labels: documentation, ui-angular

#21173 fixed document render error issue-5102
  docs/en/framework/ui/angular/list-service.md
Labels: documentation

#21189 Use `Redirect` instead of `RedirectToPage`.
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Index.cshtml.cs
Labels: abp-module-docs

#21201 Update adding source code for basic-theme documentation
  docs/en/framework/ui/mvc-razor-pages/basic-theme.md
Labels: documentation

#21108 Delete comments when deleting blog posts and pages
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo/CmsKit/Admin/Blogs/BlogPostAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo/CmsKit/Admin/Pages/PageAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/BlogPostManager.cs
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Comments/ICommentRepository.cs
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/Comments/EfCoreCommentRepository.cs
  modules/cms-kit/src/Volo.CmsKit.MongoDB/Volo/CmsKit/MongoDB/Comments/MongoCommentRepository.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo/CmsKit/Public/Blogs/BlogPostPublicAppService.cs
Labels: feature, abp-module-cms-kit
