Repository abpframework/abp, pull requests merged in 2024-07, with the labels that each got.

#20135 Angular - Fix a Nightly Build Error for a package.json file
  npm/packs/sweetalert2/package.json
Labels: problem, ui-angular

#19952 Return more messages for `401 Unauthorized`.
  framework/src/Volo.Abp.AspNetCore.Abstractions/Volo/Abp/AspNetCore/Authentication/AbpAspNetCoreTokenUnauthorizedErrorInfo.cs
  framework/src/Volo.Abp.AspNetCore.Authentication.JwtBearer/Microsoft/Extensions/DependencyInjection/AbpJwtBearerExtensions.cs
  framework/src/Volo.Abp.AspNetCore.Authentication.JwtBearer/Volo.Abp.AspNetCore.Authentication.JwtBearer.csproj
  framework/src/Volo.Abp.AspNetCore.Authentication.JwtBearer/Volo/Abp/AspNetCore/Authentication/JwtBearer/AbpAspNetCoreAuthenticationJwtBearerModule.cs
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/AspNetCore/ExceptionHandling/DefaultExceptionToErrorInfoConverter.cs
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/AbpExceptionHandlingConsts.cs
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/ar.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/cs.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/de.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/el.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/en-GB.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/en.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/es.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/fa.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/fi.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/fr.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/hi.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/hr.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/hu.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/is.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/it.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/nl.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/pl-PL.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/pt-BR.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/ro-RO.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/ru.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/sk.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/sl.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/tr.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/vi.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/zh-Hans.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/zh-Hant.json
  framework/src/Volo.Abp.Http.Abstractions/Volo/Abp/Http/ClientProxyExceptionEventData.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/ClientProxying/ClientProxyBase.cs
  framework/src/Volo.Abp.Security/Volo/Abp/Security/Claims/AbpClaimsPrincipalFactory.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyCompanyName.MyProjectName.HttpApi.Host.csproj
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs
Labels: abp-framework

#20148 MVC - Build Error Depending on a Change on Angular Side
  npm/packs/sweetalert2/package.json
Labels: problem, ui-mvc

#20140 Add ParentId to OrganizationUnitEto
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/OrganizationUnitEto.cs
Labels: enhancement, abp-module-identity

#20150 Enhance CRON expression to support days
  framework/src/Volo.Abp.BackgroundWorkers.Hangfire/Volo/Abp/BackgroundWorkers/Hangfire/HangfireBackgroundWorkerManager.cs
Labels: abp-framework

#20155 Deleted comment line on dependencies
  npm/packs/sweetalert2/package.json
Labels: devops

#20159 Add MAUI docs
  docs/en/docs-nav.json
  docs/en/framework/ui/maui/index.md
  docs/en/get-started/layered-web-application.md
Labels: documentation

#20166 Update Docs module document
  docs/en/Modules/Docs.md
Labels: documentation

#20169 Use `sha256` to calculate the cache key.
  framework/src/Volo.Abp.Core/System/AbpStringExtensions.cs
  framework/src/Volo.Abp.IdentityModel/Volo/Abp/IdentityModel/IdentityModelDiscoveryDocumentCacheItem.cs
  framework/src/Volo.Abp.IdentityModel/Volo/Abp/IdentityModel/IdentityModelTokenCacheItem.cs
Labels: abp-framework

#20174 Add `blazor-webapp` option to CLI.
  docs/en/CLI.md
Labels: documentation

#19419 Docs Module Improvements and Add Single Project Mode
  modules/docs/app/VoloDocs.Web/Pages/Index.cshtml.cs
  modules/docs/app/VoloDocs.Web/VoloDocsWebModule.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/Documents/DocumentAppService.cs
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/NavigationNode.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/IDocumentRepository.cs
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubDocumentSource.cs
  modules/docs/src/Volo.Docs.EntityFrameworkCore/Volo/Docs/Documents/EFCoreDocumentRepository.cs
  modules/docs/src/Volo.Docs.MongoDB/Volo/Docs/Documents/MongoDocumentRepository.cs
  modules/docs/src/Volo.Docs.Web/Areas/Documents/TagHelpers/TreeTagHelper.cs
  modules/docs/src/Volo.Docs.Web/DocsUiOptions.cs
  modules/docs/src/Volo.Docs.Web/DocsWebModule.cs
  modules/docs/src/Volo.Docs.Web/HtmlConverting/IDocumentToHtmlConverter.cs
  modules/docs/src/Volo.Docs.Web/Markdown/MarkdownDocumentToHtmlConverter.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Search.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Search.cshtml.cs
  modules/docs/src/Volo.Docs.Web/Utils/DefaultDocsLinkGenerator.cs
  modules/docs/src/Volo.Docs.Web/Utils/IDocsLinkGenerator.cs
Labels: enhancement, feature, breaking change, abp-module-docs

#20154 Make the `add-module` command to compatible with `Blazor webapp` project.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/BlazorProjectTypeChecker.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectFinder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: abp-cli

#20182 Add `Icon & CustomData` to `ApplicationMenuGroup`.
  framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/ApplicationMenuGroup.cs
Labels: abp-framework

#20012 Apply `AbpConcepts` to entities which navigation property changes.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ChangeTrackers/AbpEfCoreNavigationHelper.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/Domain/EntityChange_Tests.cs
  framework/test/Volo.Abp.MongoDB.Tests/Volo/Abp/MongoDB/Domain/EntityChange_Tests.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Domain/AppEntityWithNavigations.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Testing/EntityChange_Tests.cs
Labels: abp-framework

#20188 Support Blazor Full-Stack Web App for Microservice template
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Templates/Microservice/MicroserviceTemplateBase.cs
Labels: enhancement, abp-cli, ui-blazor-webapp

#20189 Angular - Fixing Duplicate Import for Generating Proxy with Enum Model
  npm/ng-packs/packages/schematics/src/utils/model.ts
Labels: bug, priority:high, ui-angular

#20181 Add `GoogleTranslation` feature to Docs module.
  modules/docs/app/VoloDocs.EntityFrameworkCore/Migrations/20240707104226_Initial.Designer.cs
  modules/docs/app/VoloDocs.EntityFrameworkCore/Migrations/20240707104226_Initial.cs
  modules/docs/app/VoloDocs.EntityFrameworkCore/Migrations/VoloDocsDbContextModelSnapshot.cs
  modules/docs/app/VoloDocs.Web/VoloDocsWebModule.cs
  modules/docs/app/VoloDocs.Web/appsettings.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/ar.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/cs.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/de.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/el.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/en-GB.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/en.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/es.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/fi.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/fr.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/hi.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/hr.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/hu.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/is.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/it.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/nl.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/pl-PL.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/pt-BR.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/ro-RO.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/ru.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/sk.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/sl.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/tr.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/vi.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/zh-Hans.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Localization/Domain/zh-Hant.json
  modules/docs/src/Volo.Docs.Web/DocsWebGoogleTranslationOptions.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.css
Labels: abp-module-docs

#20200 Update `index.min.css` of `docs` module.
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.min.css
Labels: abp-module-docs

#20195 Update Markdig to v0.37.0
  Directory.Packages.props
Labels: dependencies, dependency-change

#20201 block breaking change
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: abp-module-docs

#20203 Unify migration guides
  docs/en/release-info/migration-guides/abp-4-0.md
  docs/en/release-info/migration-guides/abp-4-2.md
  docs/en/release-info/migration-guides/abp-4-3.md
  docs/en/release-info/migration-guides/abp-5-0.md
  docs/en/release-info/migration-guides/abp-5-2.md
  docs/en/release-info/migration-guides/abp-5-3.md
  docs/en/release-info/migration-guides/abp-6-0.md
  docs/en/release-info/migration-guides/abp-7-0.md
  docs/en/release-info/migration-guides/abp-7-1.md
  docs/en/release-info/migration-guides/abp-7-2.md
  docs/en/release-info/migration-guides/abp-7-3.md
  docs/en/release-info/migration-guides/abp-7-4.md
  docs/en/release-info/migration-guides/abp-8-0.md
  docs/en/release-info/migration-guides/abp-8-1.md
  docs/en/release-info/migration-guides/index.md
  docs/en/release-info/migration-guides/pro/index.md
  docs/en/release-info/migration-guides/pro/v4-3.md
  docs/en/release-info/migration-guides/pro/v5-2.md
  docs/en/release-info/migration-guides/pro/v5-3.md
  docs/en/release-info/migration-guides/pro/v6-0.md
  docs/en/release-info/migration-guides/pro/v6.0-identity-pro.md
  docs/en/release-info/migration-guides/pro/v7-0.md
  docs/en/release-info/migration-guides/pro/v7-2.md
  docs/en/release-info/migration-guides/pro/v7-4.md
  docs/en/release-info/migration-guides/pro/v8-0.md
  docs/en/release-info/migration-guides/pro/v8-1.md
Labels: enhancement, documentation

#20207 Rename Volo.Abp.Cli to Volo.Abp.Studio.Cli in docs
  docs/en/_deleted/getting-started-setup-environment-single-layer.md
  docs/en/_deleted/getting-started-setup-environment.md
  docs/en/cli/new-command-samples.md
  docs/en/get-started/console.md
  docs/en/get-started/maui.md
  docs/en/get-started/wpf.md
  docs/en/solution-templates/application-module/index.md
  docs/en/solution-templates/layered-web-application/index.md
  docs/en/solution-templates/single-layer-web-application/index.md
  docs/en/tutorials/todo/layered/index.md
  docs/en/tutorials/todo/single-layer/index.md
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: documentation

#20208 Disabled actions button if there is no action
  framework/src/Volo.Abp.BlazoriseUI/Components/EntityActions.razor
  framework/src/Volo.Abp.BlazoriseUI/Components/EntityActions.razor.cs
Labels: enhancement, ui-blazor

#20196 Angular - Localization Updates for Extra Select and Multiselect Props
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form-prop.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.html
Labels: bug, ui-angular

#20199 Fix abp add-module version number issue
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: abp-cli

#20218 Fix #20066 - Add remember-me.service on index.ts
  npm/ng-packs/packages/oauth/src/lib/services/index.ts
Labels: ui-angular

#20223 Update auto-pr.yml for prerel
  .github/workflows/auto-pr.yml
Labels: devops

#20228 Rename `microservice-pro` to `microservice`
  docs/en/cli/index.md
Labels: documentation

#20230 Angular - Proxy Generation Problem Specially for Enum Models (Revert Latest Changes)
  npm/ng-packs/packages/schematics/src/utils/model.ts
Labels: bug, ui-angular

#20235 Cli: Fix mvc project's build error when the theme is selected as Lepton theme on creation
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
Labels: problem, abp-cli

#20238 Update Studio Cli docs
  docs/en/cli/index.md
Labels: abp-cli

#20246 Hide Book Store menu if don't have permissions
  docs/en/tutorials/book-store/part-05.md
  docs/en/tutorials/book-store/part-09.md
Labels: documentation

#20241 Remove check icon from feat-management-modal button
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management/feature-management.component.html
Labels: enhancement, ui-angular

#20213 Add Google Search feature to docs module.
  modules/docs/app/VoloDocs.Web/VoloDocsWebModule.cs
  modules/docs/src/Volo.Docs.Web/DocsWebGoogleOptions.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
Labels: abp-module-docs

#20096 Add registerLocale function that supported esbuild
  npm/ng-packs/packages/core/locale/src/utils/register-locale.ts
Labels: ui-angular

#20262 Add new excluded folder for install-libs command
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/LIbs/InstallLibsService.cs
Labels: problem, abp-cli

#20264 Create a CLI introduction document to distinguish differences between old and new CLI
  docs/en/cli/differences-between-old-and-new-cli.md
  docs/en/cli/index.md
Labels: documentation

#20273 Add localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#20279 Created docker file for azure devops
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Dockerfile.azure
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/azure-pipelines.yml
Labels: devops

#20288 TodoApp Layered MongoDb enhancements
  docs/en/tutorials/todo/layered/index.md
Labels: documentation

#20274 Add `tooltip` for `LockoutEnabled ` filed.
  modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ar.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/cs.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/de.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/el.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/en-GB.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/en.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/es.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/fa.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/fi.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/fr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/hi.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/hr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/hu.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/is.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/it.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/nl.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/pl-PL.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/pt-BR.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ro-RO.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/ru.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/sk.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/sl.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/tr.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/vi.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hans.json
  modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/zh-Hant.json
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml
Labels: abp-module-identity, ui-mvc, ui-blazor

#20272 Update Readme links
  README.md
Labels: abp-io

#20301 Set event record extra properties from `eventInfo`
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/IncomingEventRecord.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/OutgoingEventRecord.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/DistributedEvents/IncomingEventRecord.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/DistributedEvents/OutgoingEventRecord.cs
Labels: abp-framework

#20275 Studio documentation: Kubernetes Specify the User section added
  docs/en/cli/index.md
  docs/en/studio/images/kubernetes/chart-root.png
  docs/en/studio/images/kubernetes/global-metadata.png
  docs/en/studio/images/solution-explorer/abp-solution.png
  docs/en/studio/images/solution-runner/create-new-profile.png
  docs/en/studio/kubernetes.md
  docs/en/studio/running-applications.md
  docs/en/studio/solution-explorer.md
Labels: documentation

#20306 Update version to release 8.1.5
  common.props
Labels: devops

#20252 Remove Code markers from Razor file
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/TemplateCodeDeleteStep.cs
Labels: abp-cli

#20312 CLI: new command -uost argument added
  docs/en/cli/index.md
Labels: documentation

#20320 Update auto-pr.yml for rel-8.3
  .github/workflows/auto-pr.yml
Labels: devops

#20321 Update auto-pr.yml for rel-8.3
  .github/workflows/auto-pr.yml
Labels: devops

#20328 Update version to release 8.2.1
  common.props
Labels: devops

#20293 Add `WebAssemblyMultiTenantUrlProvider`.
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/MultiTenant/WebAssemblyMultiTenantUrlOptions.cs
  framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/MultiTenant/WebAssemblyMultiTenantUrlProvider.cs
Labels: abp-framework

#20254 Angular - Home Page Implementation for Templates
  templates/app-nolayers/angular/src/app/home/home.component.html
  templates/app-nolayers/angular/src/app/home/home.component.scss
  templates/app-nolayers/angular/src/assets/images/getting-started/abp-blog.svg
  templates/app-nolayers/angular/src/assets/images/getting-started/abp-community.svg
  templates/app-nolayers/angular/src/assets/images/getting-started/abp-support.svg
  templates/app-nolayers/angular/src/assets/images/getting-started/bg-01.png
  templates/app-nolayers/angular/src/assets/images/getting-started/book.png
  templates/app-nolayers/angular/src/assets/images/getting-started/discord.svg
  templates/app-nolayers/angular/src/assets/images/getting-started/img-blog.png
  templates/app-nolayers/angular/src/assets/images/getting-started/img-community.png
  templates/app-nolayers/angular/src/assets/images/getting-started/img-support.png
  templates/app-nolayers/angular/src/assets/images/getting-started/instagram.svg
  templates/app-nolayers/angular/src/assets/images/getting-started/stack-overflow.svg
  templates/app-nolayers/angular/src/assets/images/getting-started/x.svg
  templates/app-nolayers/angular/src/assets/images/getting-started/youtube.svg
  templates/app-nolayers/angular/src/styles.scss
  templates/app/angular/src/app/home/home.component.html
  templates/app/angular/src/app/home/home.component.scss
  templates/app/angular/src/assets/images/getting-started/abp-blog.svg
  templates/app/angular/src/assets/images/getting-started/abp-community.svg
  templates/app/angular/src/assets/images/getting-started/abp-support.svg
  templates/app/angular/src/assets/images/getting-started/bg-01.png
  templates/app/angular/src/assets/images/getting-started/book.png
  templates/app/angular/src/assets/images/getting-started/discord.svg
  templates/app/angular/src/assets/images/getting-started/img-blog.png
  templates/app/angular/src/assets/images/getting-started/img-community.png
  templates/app/angular/src/assets/images/getting-started/img-support.png
  templates/app/angular/src/assets/images/getting-started/instagram.svg
  templates/app/angular/src/assets/images/getting-started/stack-overflow.svg
  templates/app/angular/src/assets/images/getting-started/x.svg
  templates/app/angular/src/assets/images/getting-started/youtube.svg
  templates/app/angular/src/styles.scss
Labels: feature, abp-template-app, ui-angular, abp-template-app-nolayers

#20281 Add `Extension Property Policy` feature.
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/ObjectExtending/ExtensionPropertyDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/ObjectExtending/ExtensionPropertyFeaturePolicyDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/ObjectExtending/ExtensionPropertyGlobalFeaturePolicyDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/ObjectExtending/ExtensionPropertyPermissionPolicyDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.Contracts/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/ObjectExtending/ExtensionPropertyPolicyDto.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/ui-extensions.js
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/ObjectExtending/CachedObjectExtensionsDtoService.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/ObjectExtending/MvcExtensionPropertyPolicyChecker.cs
  framework/src/Volo.Abp.BlazoriseUI/AbpBlazoriseUIModule.cs
  framework/src/Volo.Abp.BlazoriseUI/AbpCrudPageBase.cs
  framework/src/Volo.Abp.BlazoriseUI/BlazoriseExtensionPropertyPolicyChecker.cs
  framework/src/Volo.Abp.BlazoriseUI/Components/ObjectExtending/ExtensionProperties.razor
  framework/src/Volo.Abp.BlazoriseUI/Components/ObjectExtending/ExtensionProperties.razor.cs
  framework/src/Volo.Abp.BlazoriseUI/Volo.Abp.BlazoriseUI.csproj
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ExtensionPropertyFeaturePolicyConfiguration.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ExtensionPropertyGlobalFeaturePolicyConfiguration.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ExtensionPropertyPermissionPolicyConfiguration.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ExtensionPropertyPolicyChecker.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ExtensionPropertyPolicyConfiguration.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/Modularity/ExtensionPropertyConfiguration.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/Modularity/ModuleExtensionConfigurationHelper.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ObjectExtensionManagerExtensions.cs
  framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ObjectExtensionPropertyInfo.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/RoleManagement.razor.cs
  modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor.cs
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/CreateModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/EditModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml
  modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml
  modules/tenant-management/src/Volo.Abp.TenantManagement.Blazor/Pages/TenantManagement/TenantManagement.razor.cs
Labels: feature, breaking change, ui-mvc, ui-blazor

#20346 Update package.json
  npm/ng-packs/package.json
Labels: ui-angular

#20358 Enhance single-layer mongodb tutorial
  docs/en/tutorials/todo/single-layer/index.md
Labels: documentation

#20361 Add IP Address of the client in community posts page
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io
