Repository abpframework/abp, pull requests merged in 2024-09, with the labels that each got.

#20690 Studio adding-new-microservices documentation updated
  docs/en/get-started/microservice.md
  docs/en/solution-templates/microservice/adding-new-microservices.md
  docs/en/solution-templates/microservice/images/folder-structure.png
Labels: documentation

#20696 Update studio/overview.md
  docs/en/studio/overview.md
Labels: enhancement, documentation

#20676 Angular - Random Password Generator Enhancement for Length
  npm/ng-packs/packages/core/src/lib/utils/generator-utils.ts
Labels: enhancement, ui-angular

#20702 Update current-user.component.html
  npm/ng-packs/packages/theme-basic/src/lib/components/nav-items/current-user.component.html
Labels: bug, ui-angular

#20701 Create release-notes documentation for ABP Studio
  docs/en/docs-nav.json
  docs/en/studio/release-notes.md
Labels: documentation

#20705 Add optional X509KeyStorageFlags parameter to `AddProductionEncryptionAndSigningCertificate`.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Microsoft/Extensions/DependencyInjection/OpenIddictServerBuilderExtensions.cs
Labels: abp-module-openiddict

#20695 Add HowItWorks_Description_Title
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20712 Add studio issue template
  .github/ISSUE_TEMPLATE/03_studio.yml
  .github/ISSUE_TEMPLATE/04_article_request.yml
  .github/ISSUE_TEMPLATE/05_performance_issue.md
  .github/ISSUE_TEMPLATE/06_blank_issue.md
Labels: enhancement

#20719 Fix: Blog tag problem
  modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Posts/PostAppService.cs
Labels: abp-module-blogging

#20720 Update version to release 8.2.3
  common.props
Labels: devops

#20598 Angular - Permission Tree Selection Hierarchical Fix
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.ts
Labels: bug, ui-angular, foundby-community

#20703 Update en.json for Submit post
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20739 Angular - Add Missing `ng-zorro-antd-tree` Bundle for Lepton-X Theme Changes
  npm/ng-packs/packages/schematics/src/commands/change-theme/style-map.ts
Labels: bug, priority:high, ui-angular, foundby-tester

#20748 Update version to release 8.3.0
  common.props
Labels: devops

#20747 Add Google Cloud Storage BLOB Provider
  Directory.Packages.props
  framework/Volo.Abp.sln
  framework/src/Volo.Abp.BlobStoring.Google/Volo.Abp.BlobStoring.Google.csproj
  framework/src/Volo.Abp.BlobStoring.Google/Volo/Abp/BlobStoring/Google/AbpBlobStoringGoogleModule.cs
  framework/src/Volo.Abp.BlobStoring.Google/Volo/Abp/BlobStoring/Google/DefaultGoogleBlobNameCalculator.cs
  framework/src/Volo.Abp.BlobStoring.Google/Volo/Abp/BlobStoring/Google/GoogleBlobContainerConfigurationExtensions.cs
  framework/src/Volo.Abp.BlobStoring.Google/Volo/Abp/BlobStoring/Google/GoogleBlobNamingNormalizer.cs
  framework/src/Volo.Abp.BlobStoring.Google/Volo/Abp/BlobStoring/Google/GoogleBlobProvider.cs
  framework/src/Volo.Abp.BlobStoring.Google/Volo/Abp/BlobStoring/Google/GoogleBlobProviderConfiguration.cs
  framework/src/Volo.Abp.BlobStoring.Google/Volo/Abp/BlobStoring/Google/GoogleBlobProviderConfigurationNames.cs
  framework/src/Volo.Abp.BlobStoring.Google/Volo/Abp/BlobStoring/Google/IGoogleBlobNameCalculator.cs
  framework/test/Volo.Abp.BlobStoring.Google.Tests/Volo.Abp.BlobStoring.Google.Tests.csproj
  framework/test/Volo.Abp.BlobStoring.Google.Tests/Volo/Abp/BlobStoring/Google/AbpBlobStoringGoogleTestBase.cs
  framework/test/Volo.Abp.BlobStoring.Google.Tests/Volo/Abp/BlobStoring/Google/AbpBlobStoringGoogleTestModule.cs
  framework/test/Volo.Abp.BlobStoring.Google.Tests/Volo/Abp/BlobStoring/Google/DefaultGoogleBlobNamingNormalizerProvider_Tests.cs
  framework/test/Volo.Abp.BlobStoring.Google.Tests/Volo/Abp/BlobStoring/Google/GoogleBlobContainer_Tests.cs
  framework/test/Volo.Abp.BlobStoring.Google.Tests/Volo/Abp/BlobStoring/Google/GoogleBlobNameCalculator_Tests.cs
Labels: feature, abp-framework

#20754 Add BLOB Storing Google Provider document
  docs/en/framework/infrastructure/blob-storing/google.md
  docs/en/framework/infrastructure/blob-storing/index.md
  framework/src/Volo.Abp.BlobStoring.Google/Volo/Abp/BlobStoring/Google/GoogleBlobProvider.cs
  framework/src/Volo.Abp.BlobStoring.Google/Volo/Abp/BlobStoring/Google/GoogleBlobProviderConfiguration.cs
  framework/src/Volo.Abp.BlobStoring.Google/Volo/Abp/BlobStoring/Google/GoogleBlobProviderConfigurationNames.cs
  framework/test/Volo.Abp.BlobStoring.Google.Tests/Volo/Abp/BlobStoring/Google/AbpBlobStoringGoogleTestModule.cs
Labels: documentation

#20759 Update docs-nav.json
  docs/en/docs-nav.json
Labels: documentation

#20764 Skip check libs if `WebRootPath` is not set.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Libs/AbpMvcLibsService.cs
Labels: abp-framework

#20776 Add technical support item to the contact page
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20783 Update How Replaceable Components Work with Extensions document
  docs/en/framework/ui/angular/how-replaceable-components-work-with-extensions.md
Labels: documentation

#20787 Studio documentation updated
  docs/en/get-started/images/abp-studio-created-new-solution.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-additional-options-microservice.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-additional-options.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-database-configurations-efcore.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-database-configurations-mongo.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-database-provider-efcore.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-database-provider-mongo.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-mobile-framework-microservice.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-mobile-framework.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-optional-modules.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-public-website.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-solution-properties.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-solution-structure.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-ui-framework.png
  docs/en/get-started/images/abp-studio-new-solution-dialog-ui-theme.png
  docs/en/get-started/images/abp-studio-quick-start-application-solution-runner.png
  docs/en/get-started/images/abp-studio-quick-start-browse-command.png
  docs/en/get-started/images/abp-studio-quick-start-browse.png
  docs/en/get-started/images/abp-studio-quick-start-example-applications-in-solution-runner.png
  docs/en/get-started/images/solution-runner-public-website.png
  docs/en/get-started/layered-web-application.md
  docs/en/get-started/microservice.md
  docs/en/images/issuemanagement-module-solution.png
  docs/en/solution-templates/application-module/index.md
Labels: documentation

#20767 Publish an event when dynamic permissions change.
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain.Shared/Volo/Abp/PermissionManagement/DynamicPermissionDefinitionsChangedEto.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/StaticPermissionSaver.cs
Labels: abp-module-permission-management

#20688 admin.abp.io — Update modules page
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#20772 Add Localization.
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20666 Angular - Route Based Breadcrumb Configuration for Account Package
  npm/ng-packs/packages/account/config/src/providers/route.provider.ts
Labels: enhancement, abp-module-account, ui-angular

#20806 Studio documentation updated
  docs/en/solution-templates/microservice/adding-new-microservices.md
  docs/en/solution-templates/microservice/images/create-new-microservice-nolayers-enable-integration.png
  docs/en/studio/images/solution-explorer/abp-solution.png
  docs/en/studio/images/solution-explorer/create-new-microservice-nolayers-enable-integration.png
  docs/en/studio/kubernetes.md
  docs/en/studio/solution-explorer.md
Labels: documentation

#20812 Only set specific type of exception's `data` to `errorInfo.Data`.
  framework/Volo.Abp.sln
  framework/src/Volo.Abp.AspNetCore.Components.Web/Volo/Abp/AspNetCore/Components/Web/ExceptionHandling/UserExceptionInformer.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Controllers/ErrorController.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/AbpExceptionFilter.cs
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/AbpExceptionPageFilter.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/ExceptionHandling/AbpExceptionHandlingMiddleware.cs
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/AspNetCore/ExceptionHandling/AbpExceptionHandlingOptions.cs
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/AspNetCore/ExceptionHandling/DefaultExceptionToErrorInfoConverter.cs
  framework/test/Volo.Abp.ExceptionHandling.Tests/Volo.Abp.ExceptionHandling.Tests.csproj
  framework/test/Volo.Abp.ExceptionHandling.Tests/Volo/Abp/ExceptionHandling/AbpExceptionHandlingTestBase.cs
  framework/test/Volo.Abp.ExceptionHandling.Tests/Volo/Abp/ExceptionHandling/AbpExceptionHandlingTestModule.cs
  framework/test/Volo.Abp.ExceptionHandling.Tests/Volo/Abp/ExceptionHandling/ExceptionToErrorInfoConverter_Tests.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/AuditLogInfoToAuditLogConverter.cs
Labels: abp-framework

#20824 Update module-layers-and-packages.png
  docs/en/images/module-layers-and-packages.png
Labels: documentation

#20837 Split the modular crm tutorial's part 6 into 3 parts.
  docs/en/docs-nav.json
  docs/en/tutorials/modular-crm/index.md
  docs/en/tutorials/modular-crm/part-06.md
  docs/en/tutorials/modular-crm/part-07.md
  docs/en/tutorials/modular-crm/part-08.md
Labels: documentation

#20813 Add impersonation option to oAuthConfig in environment model
  npm/ng-packs/packages/core/src/lib/models/environment.ts
  npm/ng-packs/packages/core/src/lib/services/environment.service.ts
Labels: feature, ui-angular

#20682 NgbModalOptions Examples
  docs/en/framework/ui/angular/images/animation-false.gif
  docs/en/framework/ui/angular/images/animation-true.gif
  docs/en/framework/ui/angular/images/fullscreen-true.png
  docs/en/framework/ui/angular/modal.md
Labels: documentation, ui-angular

#20850 Bug fixed - Section Rendering error.
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: abp-io

#20846 Add open source template pro template upgrade question
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20845 Add Localization - issue 5008
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20741 Angular - Fixing Proxy Generation Imports for Identity Module
  npm/ng-packs/packages/schematics/src/constants/volo.ts
Labels: bug, abp-cli, ui-angular

#20861 Made GetShortDescription methods static
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/AddModuleCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/AddPackageCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/BuildCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/BundleCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/CleanCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ClearDownloadCacheCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/CliCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/CreateMigrationAndRunMigratorCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/GenerateProxyCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/GetSourceCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/HelpCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/IConsoleCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/InstallLibsCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/Internal/RecreateInitialMigrationCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ListModulesCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ListTemplatesCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/LoginCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/LoginInfoCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/LogoutCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/PromptCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProxyCommandBase.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/RemoveProxyCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SuiteCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SwitchToLocalCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SwitchToNightlyCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SwitchToPreRcCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SwitchToPreviewCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/SwitchToStableCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/TranslateCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/UpdateCommand.cs
Labels: enhancement

#20856 Set selected language to html at application initializing
  npm/ng-packs/packages/core/src/lib/services/session-state.service.ts
Labels: bug, ui-angular

#20832 How to use with ABP Suite doc added
  docs/en/solution-templates/microservice/how-to-use-with-abp-suite.md
  docs/en/solution-templates/microservice/images/abp-suite-context-menu.png
  docs/en/solution-templates/microservice/images/abp-suite-product-entity.png
  docs/en/solution-templates/microservice/images/abp-suite-product-services.png
  docs/en/solution-templates/microservice/index.md
Labels: documentation

#20865 Grammer fixes and minor improvements for the modular monolith tutorial
  docs/en/tutorials/modular-crm/part-01.md
  docs/en/tutorials/modular-crm/part-02.md
  docs/en/tutorials/modular-crm/part-03.md
  docs/en/tutorials/modular-crm/part-04.md
  docs/en/tutorials/modular-crm/part-05.md
  docs/en/tutorials/modular-crm/part-06.md
  docs/en/tutorials/modular-crm/part-07.md
  docs/en/tutorials/modular-crm/part-08.md
Labels: enhancement, documentation

#20686 Update all old abp.io sub-domain links in our repositories with new unified platform links.
  .github/ISSUE_TEMPLATE/03_article_request.yml
  .github/ISSUE_TEMPLATE/config.yml
  NuGet.md
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ar.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/cs.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/de.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en-GB.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/es.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/fr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/hu.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/is.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/it.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/nl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pl-PL.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/pt-BR.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ro-RO.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/ru.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sk.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/sl.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/tr.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/vi.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hans.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/zh-Hant.json
  abp_io/README.md
  docs/en/Blog-Posts/2024-05 ABP Unification/post.md
  docs/en/deployment/ssl.md
  docs/en/guides/add-module-to-microservice.md
  docs/en/modules/cms-kit-pro/contact-form.md
  docs/en/modules/cms-kit-pro/faq.md
  docs/en/modules/cms-kit/comments.md
  docs/en/release-info/migration-guides/pro/openiddict-step-by-step.md
  docs/en/tutorials/mobile/react-native/index.md
  framework/NuGet.md
  modules/cms-kit/src/Volo.CmsKit.Public.Application.Contracts/Volo/CmsKit/Public/Comments/CommentDto.cs
  modules/cms-kit/test/Volo.CmsKit.Application.Tests/Comments/CommentPublicAppService_Tests.cs
  modules/docs/app/VoloDocs.Web/Pages/Index.cshtml
  npm/ng-packs/CONTRIBUTING.md
  npm/ng-packs/apps/dev-app/src/app/home/home.component.html
  npm/ng-packs/packages/core/README.md
  npm/ng-packs/packages/core/locale/src/utils/register-locale.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/password/password.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/tokens/http-error.token.ts
  npm/packs/qrcode/README.md
  npm/packs/tui-editor/README.md
  npm/packs/vue/README.md
  templates/app/angular/src/app/home/home.component.html
  templates/app/aspnet-core/README.md
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Client/MyProjectNameBundleContributor.cs
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Client/Pages/Index.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/Components/Pages/Index.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.WebApp.Client/Pages/Index.razor
  templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/Pages/Index.cshtml
Labels: abp-io

#20871 Update version to release 8.3.1
  common.props
Labels: devops

#20873 Updating Messages for Character Length Validation Messages
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/ar.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/cs.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/de.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/el.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/en-GB.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/en.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/es.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/fa.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/fi.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/fr.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/hi.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/hr.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/hu.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/is.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/it.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/nl.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/pl-PL.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/pt-BR.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/ro-RO.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/ru.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/sk.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/sl.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/tr.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/vi.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/zh-Hans.json
  framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/zh-Hant.json
Labels: enhancement, localization

#20817 new.abp.io page's title and descriptions updates
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20879 Only get dynamic claims if `IsDynamicClaimsEnabled`.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/AbpOpenIdDictControllerBase.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/AuthorizeController.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/TokenController.AuthorizationCode.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/TokenController.DeviceCode.cs
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/TokenController.RefreshToken.cs
Labels: enhancement, abp-module-openiddict

#20412 new.abp.io page's title and descriptions updates
  abp_io/AbpIoLocalization/AbpIoLocalization/Base/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20726 new.abp.io page's title and descriptions updates
  abp_io/AbpIoLocalization/AbpIoLocalization/Blog/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Docs/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20886 Language edit problem fixed
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/RequestLocalization/DefaultAbpRequestLocalizationOptionsProvider.cs
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/LanguageChangedEto.cs
Labels: bug

#20887 Update Localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20889 Contact Page Topic Revision Recommendations
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20893 Permission management modal html
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/PermissionManagementModal.cshtml
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/permission-management-modal.css
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/Pages/AbpPermissionManagement/permission-management-modal.js
Labels: enhancement, abp-module-identity

#20904 new.abp.io page's title and descriptions updates
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#20912 Update openiddict-mvc.md
  docs/en/release-info/migration-guides/pro/openiddict-mvc.md
Labels: documentation

#20926 Fix Document Error issue-20924
  docs/en/guides/ms-multi-tenant-domain-resolving.md
Labels: abp-io
