Repository abpframework/abp, pull requests merged in 2025-09, with the labels that each got.

#23572 Support dictionary query params in service templates
  npm/ng-packs/packages/schematics/src/commands/api/files-service/proxy/__namespace@dir__/__name@kebab__.service.ts.template
  npm/ng-packs/packages/schematics/src/models/method.ts
  npm/ng-packs/packages/schematics/src/utils/methods.ts
Labels: ui-angular

#23646 Replace AutoMapper with Mapperly for BackgroundJobs Module
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.Domain/Volo.Abp.BackgroundJobs.Domain.csproj
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.Domain/Volo/Abp/BackgroundJobs/AbpBackgroundJobsDomainModule.cs
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.Domain/Volo/Abp/BackgroundJobs/BackgroundJobsDomainAutoMapperProfile.cs
  modules/background-jobs/src/Volo.Abp.BackgroundJobs.Domain/Volo/Abp/BackgroundJobs/BackgroundJobsDomainMapperlyMappers.cs
Labels: abp-module-background-jobs

#23679 Blazor Setting Managements Tabs wrong initialization fix
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/SettingManagement.razor
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/SettingManagement.razor.cs
Labels: abp-module-setting-management, ui-blazor

#23690 Replace AutoMapper with Mapperly in Virtual File Explorer DemoApp
  modules/virtual-file-explorer/app/DemoApp.csproj
  modules/virtual-file-explorer/app/DemoAppModule.cs
Labels: abp-module-virtual-file-explorer

#23683 Avoid caching empty version information.
  modules/docs/src/Volo.Docs.Common.Application/Volo/Docs/Common/Projects/ProjectAppService.cs
Labels: abp-module-docs

#23689 Refactor extra properties mapping logic in Mapperly
  framework/src/Volo.Abp.Mapperly/Volo/Abp/Mapperly/MapperlyAutoObjectMappingProvider.cs
  framework/test/Volo.Abp.Mapperly.Tests/Volo/Abp/Mapperly/ExtraProperties_Dictionary_Reference_Tests.cs
  framework/test/Volo.Abp.Mapperly.Tests/Volo/Abp/Mapperly/SampleClasses/MapperlyMappers.cs
Labels: abp-framework

#23670 feat(extensible-table): Add infinite scroll support
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.ts
Labels: ui-angular

#23563 Add failure retry policy to `InboxProcessor`
  docs/en/framework/infrastructure/event-bus/distributed/index.md
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/DbContextEventInbox.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/EventInboxDbContextModelBuilderExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DistributedEvents/IncomingEventRecord.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IEventInbox.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IncomingEventInfo.cs
  framework/src/Volo.Abp.EventBus.Abstractions/Volo/Abp/EventBus/Distributed/IncomingEventStatus.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/AbpEventBusBoxesOptions.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/InboxProcessor.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/InboxProcessorFailurePolicy.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/DistributedEvents/IncomingEventRecord.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/DistributedEvents/MongoDbContextEventInbox.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityUserDelegationRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityUserDelegationRepository.cs
Labels: feature, breaking change, abp-framework

#23738 Update version to release 9.3.4
  common.props
Labels: devops

#23744 Handle missing closer in Scriban section renderer
  modules/docs/src/Volo.Docs.Domain.Shared/Volo/Docs/Documents/Rendering/ScribanDocumentSectionRenderer.cs
Labels: abp-module-docs

#23787 Upgrade Dockerfiles from .NET SDK 9.0 to 10.0 across multiple modules
  docs/en/solution-templates/layered-web-application/deployment/deployment-docker-compose.md
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Dockerfile
  modules/basic-theme/test/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo/Dockerfile.azure
  modules/cms-kit/database/Dockerfile
  modules/cms-kit/host/Volo.CmsKit.HttpApi.Host/Dockerfile
  modules/cms-kit/host/Volo.CmsKit.IdentityServer/Dockerfile
  modules/docs/app/VoloDocs.Migrator/Dockerfile
  modules/docs/app/VoloDocs.Web/Dockerfile
  templates/module/aspnet-core/database/Dockerfile
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.AuthServer/Dockerfile
  templates/module/aspnet-core/host/MyCompanyName.MyProjectName.HttpApi.Host/Dockerfile
Labels: devops

#23792 Angular - Adding a post for performance optimization
  docs/en/Community-Articles/2025-09-25-Supercharge-Your-Angular-App-A-Developer's-Guide-to-Unlocking-Peak-Performance/code-splitting-and-tree-shaking.png
  docs/en/Community-Articles/2025-09-25-Supercharge-Your-Angular-App-A-Developer's-Guide-to-Unlocking-Peak-Performance/post.md
Labels: ui-angular

#23793 Fixing the folder check while validating the versions in `validate-versions` script
  npm/scripts/validate-versions.ts
Labels: bug, devops

#23460 Update unit tests - Issue 15479
  npm/ng-packs/packages/account-core/src/test-setup.ts
  npm/ng-packs/packages/account/src/test-setup.ts
  npm/ng-packs/packages/components/extensible/src/tests/enum.util.spec.ts
  npm/ng-packs/packages/components/extensible/src/tests/state.util.spec.ts
  npm/ng-packs/packages/components/src/test-setup.ts
  npm/ng-packs/packages/core/src/lib/tests/application-localization.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/config-state.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/content-projection.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/date-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/dynamic-layout.component.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/generator-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/initial-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/lazy-load.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/localization.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/ng-model.component.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/permission.directive.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/permission.guard.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/projection.strategy.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/replaceable-route-container.component.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/replaceable-template.directive.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/route-utils.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/router-events.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/router-outlet.component.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/routes.handler.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/routes.service.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/safe-html.pipe.spec.ts
  npm/ng-packs/packages/core/src/lib/tests/string-utils.spec.ts
  npm/ng-packs/packages/core/src/test-setup.ts
  npm/ng-packs/packages/feature-management/src/test-setup.ts
  npm/ng-packs/packages/generators/jest.config.ts
  npm/ng-packs/packages/generators/src/generators/change-theme/generator.spec.ts
  npm/ng-packs/packages/generators/src/generators/change-theme/schema.d.ts
  npm/ng-packs/packages/identity/src/test-setup.ts
  npm/ng-packs/packages/oauth/src/lib/tests/auth.guard.spec.ts
  npm/ng-packs/packages/oauth/src/test-setup.ts
  npm/ng-packs/packages/permission-management/src/test-setup.ts
  npm/ng-packs/packages/schematics/jest.config.ts
  npm/ng-packs/packages/schematics/src/test-setup.ts
  npm/ng-packs/packages/setting-management/src/test-setup.ts
  npm/ng-packs/packages/tenant-management/src/test-setup.ts
  npm/ng-packs/packages/theme-basic/src/test-setup.ts
  npm/ng-packs/packages/theme-shared/src/lib/components/http-error-wrapper/http-error-wrapper.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/breadcrumb.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/card.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/confirmation.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/error.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/error.handler.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/loading.directive.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/modal.component.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/time.adapter.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/toaster.service.spec.ts
  npm/ng-packs/packages/theme-shared/src/lib/tests/validation-utils.spec.ts
  npm/ng-packs/packages/theme-shared/src/test-setup.ts
Labels: ui-angular

#23750 Add logo provider and tokens to theme-shared package
  npm/ng-packs/packages/theme-basic/src/lib/components/logo/logo.component.ts
  npm/ng-packs/packages/theme-shared/src/lib/providers/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/providers/logo.provider.ts
  npm/ng-packs/packages/theme-shared/src/lib/tokens/index.ts
  npm/ng-packs/packages/theme-shared/src/lib/tokens/logo.token.ts
  templates/app-nolayers/angular/src/app/app.config.ts
  templates/app/angular/src/app/app.config.ts
Labels: ui-angular

#23786 Move TableOfContents files to application layer
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/TableOfContents/ITocGeneratorService.cs
  modules/docs/src/Volo.Docs.Application.Contracts/Volo/Docs/TableOfContents/TocHeading.cs
  modules/docs/src/Volo.Docs.Application/Volo/Docs/TableOfContents/TocGeneratorService.cs
Labels: abp-module-docs, abp-io

#23797 Add Blazorise support 'More Info' localization key
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#23800 Create article: How to Dynamically Set the Connection String in EF Core
  docs/en/Community-Articles/2025-09-25-How-to-Dynamically-Set-Connection-String/Post.md
  docs/en/Community-Articles/2025-09-25-How-to-Dynamically-Set-Connection-String/cover-image.png
Labels: abp-community

#23812 Update version to release 9.3.5
  common.props
Labels: devops
