Repository abpframework/abp, pull requests merged in 2025-06, with the labels that each got.

#22993 Update version to release 9.2.0
  common.props
Labels: devops

#22724 Support get permisons info by group name.
  modules/permission-management/src/Volo.Abp.PermissionManagement.Application.Contracts/Volo/Abp/PermissionManagement/IPermissionAppService.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Application/Volo/Abp/PermissionManagement/PermissionAppService.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.HttpApi.Client/ClientProxies/Volo/Abp/PermissionManagement/PermissionsClientProxy.Generated.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.HttpApi.Client/ClientProxies/permissionManagement-generate-proxy.json
  modules/permission-management/src/Volo.Abp.PermissionManagement.HttpApi/Volo/Abp/PermissionManagement/PermissionsController.cs
  modules/permission-management/src/Volo.Abp.PermissionManagement.Web/wwwroot/client-proxies/permissionManagement-proxy.js
  modules/permission-management/test/Volo.Abp.PermissionManagement.Application.Tests/Volo/Abp/PermissionManagement/PermissionAppService_Tests.cs
  modules/permission-management/test/Volo.Abp.PermissionManagement.TestBase/Volo/Abp/PermissionManagement/TestPermissionDefinitionProvider.cs
Labels: abp-module-permission-management

#23001 Localization added for vs internal issue.
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#22996 Update latest-versions 9.2.0
  latest-versions.json
Labels: devops

#23010 Angular - Fixing the alignment for the setting tabs
  npm/ng-packs/packages/setting-management/src/lib/components/setting-management.component.html
  npm/ng-packs/packages/setting-management/src/lib/components/setting-management.component.ts
Labels: enhancement, ui-angular

#23031 fix: update object mapper service retrieval to use non-scoped version
  framework/src/Volo.Abp.AspNetCore.Components/Volo/Abp/AspNetCore/Components/AbpComponentBase.cs
Labels: ui-blazor-webapp

#22982 Add Excel export to the Audit logs
  docs/en/modules/audit-logging-pro.md
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/AuditLogExcelFileConsts.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/ar.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/cs.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/de-DE.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/de.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/en.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/es.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/fi.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/fr.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/hi.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/hr.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/hu.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/is.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/it.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/nl.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/pl-PL.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/pt-BR.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/ro-RO.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/ru.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/sk.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/sl.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/sv.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/tr.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/vi.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/zh-Hans.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/zh-Hant.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/AuditLogExcelFile.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/IAuditLogExcelFileRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/AbpAuditLoggingDbContext.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/AbpAuditLoggingDbContextModelBuilderExtensions.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/AbpAuditLoggingEntityFrameworkCoreModule.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/EfCoreAuditLogExcelFileRepository.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/IAuditLoggingDbContext.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/AbpAuditLoggingMongoDbContextExtensions.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/AbpAuditLoggingMongoDbModule.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/AuditLoggingMongoDbContext.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/IAuditLoggingMongoDbContext.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/MongoAuditLogExcelFileRepository.cs
Labels: abp-module-audit-logging

#23038 Update en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#23037 fix: Navigation Bug
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Index.cshtml
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Index.cshtml.cs
Labels: abp-module-docs

#23028 Angular - Tree View - Dropdown menus are overlapping.
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.html
  npm/ng-packs/packages/components/tree/src/lib/components/tree.component.ts
Labels: ui-angular

#23053 fix: update AddJob method to use GetJobArgsType for background job name retrieval
  framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/AbpBackgroundJobOptions.cs
Labels: abp-framework

#23027 Angular - Checkboxes are not checked after clicking their labels.
  npm/ng-packs/packages/components/extensible/src/lib/components/multi-select/extensible-form-multiselect.component.ts
Labels: ui-angular

#23052 Angular: Updating feature enable/disable behavior for provider criteria
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management/feature-management.component.html
  npm/ng-packs/packages/feature-management/src/lib/components/feature-management/feature-management.component.ts
Labels: enhancement, ui-angular

#23032 Use `MyCSharp.HttpUserAgentParser` to replace `DeviceDetector.NET` for better performance.
  Directory.Packages.props
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/RequestLocalization/DefaultAbpRequestLocalizationOptionsProvider.cs
  framework/src/Volo.Abp.AspNetCore/Volo.Abp.AspNetCore.csproj
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/AbpAspNetCoreModule.cs
  framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/WebClientInfo/HttpContextWebClientInfoProvider.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/FakeAuthenticationScheme.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/WebClientInfoProvider/WebClientInfoProviderDto.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/WebClientInfoProvider/WebClientInfoProviderTestController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/WebClientInfoProvider/WebClientInfoProviderTestController_Tests.cs
Labels: abp-framework

#23059 Set provider names to permission groups and permissions
  framework/src/Volo.Abp.Authorization.Abstractions/Properties/AssemblyInfo.cs
  framework/src/Volo.Abp.Authorization.Abstractions/Volo/Abp/Authorization/Permissions/PermissionDefinition.cs
  framework/src/Volo.Abp.Authorization.Abstractions/Volo/Abp/Authorization/Permissions/PermissionDefinitionContext.cs
  framework/src/Volo.Abp.Authorization.Abstractions/Volo/Abp/Authorization/Permissions/PermissionGroupDefinition.cs
  framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Permissions/StaticPermissionDefinitionStore.cs
  framework/test/Volo.Abp.Authorization.Tests/Volo/Abp/Authorization/TestServices/AuthorizationTestPermissionDefinitionProvider.cs
Labels: enhancement, abp-framework

#23075 Update Azure deployment documentation to create a Static Web App for Blazor
  docs/en/images/azure-deploy-create-web-app-2.png
  docs/en/images/azure-deploy-create-web-app-6.png
  docs/en/solution-templates/layered-web-application/deployment/azure-deployment/azure-deployment.md
  docs/en/solution-templates/layered-web-application/deployment/azure-deployment/step1-create-azure-resources.md
  docs/en/solution-templates/layered-web-application/deployment/azure-deployment/step2-configuration-application.md
  docs/en/solution-templates/layered-web-application/deployment/azure-deployment/step3-deployment-github-action.md
  docs/en/solution-templates/layered-web-application/deployment/azure-deployment/terraform-web-app-service.md
Labels: devops

#23071 Add support for `Cron` expressions in background workers and refactor related classes
  docs/en/framework/infrastructure/background-workers/index.md
  framework/src/Volo.Abp.BackgroundWorkers.Hangfire/Volo/Abp/BackgroundWorkers/Hangfire/HangfireBackgroundWorkerManager.cs
  framework/src/Volo.Abp.BackgroundWorkers.Quartz/Volo/Abp/BackgroundWorkers/Quartz/QuartzPeriodicBackgroundWorkerAdapter.cs
  framework/src/Volo.Abp.BackgroundWorkers/Volo/Abp/BackgroundWorkers/AsyncPeriodicBackgroundWorkerBase.cs
  framework/src/Volo.Abp.BackgroundWorkers/Volo/Abp/BackgroundWorkers/PeriodicBackgroundWorkerBase.cs
Labels: feature, abp-framework

#23082 Update auto-pr.yml for rel-9.3
  .github/workflows/auto-pr.yml
Labels: devops

#23084 Update version to release 9.3.0-rc.1
  common.props
Labels: devops

#23086 Update version for nightly build 10.0.0-preview
  common.props
Labels: devops

#23096 Localization update
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#23090 Create v9.3 Migration Guide
  docs/en/release-info/migration-guides/abp-9-3.md
  docs/en/release-info/migration-guides/index.md
Labels: documentation

#23097 Angular - Fixing the logic error on select all button in permission management modal
  npm/ng-packs/packages/permission-management/src/lib/components/permission-management.component.ts
Labels: bug, ui-angular

#23120 fix: ensure provider policy check before deleting feature
  modules/feature-management/src/Volo.Abp.FeatureManagement.Application/Volo/Abp/FeatureManagement/FeatureAppService.cs
  modules/feature-management/test/Volo.Abp.FeatureManagement.Application.Tests/Volo/Abp/FeatureManagement/FeatureManagementApplicationTestModule.cs
Labels: abp-module-feature-management

#23009 Angular - Fixing empty navigation item for a library
  npm/ng-packs/packages/schematics/src/commands/create-lib/files-package-standalone/__libraryName@kebab__/config/src/providers/route.provider.ts.template
  npm/ng-packs/packages/schematics/src/commands/create-lib/files-package/__libraryName@kebab__/config/src/providers/route.provider.ts.template
Labels: bug, ui-angular

#23130 Updated screenshots for todo tutorial
  docs/en/studio/images/solution-runner/csharp-application-context-menu-build.png
  docs/en/studio/images/solution-runner/csharp-application-context-menu-monitor.png
  docs/en/studio/images/solution-runner/csharp-application-context-menu.png
  docs/en/studio/images/solution-runner/docker-container-example-add-dialog.png
  docs/en/studio/images/solution-runner/docker-container-example-add.png
  docs/en/studio/images/solution-runner/docker-container-example-rabbitmq.png
  docs/en/studio/images/solution-runner/docker-container-properties.png
  docs/en/studio/images/solution-runner/docker-container-stack.png
  docs/en/studio/images/solution-runner/docker-container-warning.png
  docs/en/studio/images/solution-runner/folder-context-menu.png
  docs/en/studio/images/solution-runner/profile-root-context-menu.png
  docs/en/studio/images/solution-runner/solution-runner.png
  docs/en/tutorials/microservice/images/abp-studio-solution-runner-play-all.png
  docs/en/tutorials/todo/images/todo-ui-initial-v2.png
  docs/en/tutorials/todo/images/todo-ui-initial.png
  docs/en/tutorials/todo/layered/index.md
  docs/en/tutorials/todo/single-layer/index.md
  docs/en/tutorials/todo/single-layer/todo-efcore-migration-single-layer-v2.png
  docs/en/tutorials/todo/single-layer/todo-efcore-migration-single-layer.png
  docs/en/ui-themes/lepton-x/images/account-layout-background-style.png
Labels: documentation

#23129 Remove Yarn dependency warnings from the documentation
  docs/en/framework/real-time/signalr.md
  docs/en/framework/ui/mvc-razor-pages/basic-theme.md
  docs/en/framework/ui/mvc-razor-pages/client-side-package-management.md
  docs/en/get-started/layered-web-application.md
  docs/en/get-started/microservice.md
  docs/en/get-started/pre-requirements.md
  docs/en/get-started/single-layer-web-application.md
  docs/en/tutorials/book-store/part-01.md
  docs/en/tutorials/todo/layered/index.md
  docs/en/tutorials/todo/single-layer/index.md
Labels: documentation

#23136 Support to install the MVC npm package.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/AddPackageCommand.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/INpmPackageInfoProvider.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/NpmPackageInfoProvider.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/ProjectNpmPackageAdder.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs
Labels: abp-cli

#23151 Enhance IsDictionary to support more dictionary interfaces
  framework/src/Volo.Abp.Core/Volo/Abp/Reflection/TypeHelper.cs
  framework/test/Volo.Abp.Http.Tests/Volo/Abp/Http/ApiTypeNameHelper_Tests.cs
Labels: abp-framework

#23166 Add 'Authorizing' localization text.
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/ar.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/cs.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/de.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/el.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/en-GB.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/en.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/es.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/fa.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/fi.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/fr.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/hi.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/hr.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/hu.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/is.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/it.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/nl.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/pl-PL.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/pt-BR.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/ro-RO.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/ru.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/sk.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/sl.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/sv.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/tr.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/vi.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/zh-Hans.json
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/ExceptionHandling/Localization/zh-Hant.json
Labels: abp-framework

#23177 Modular tutorial updates for studio 1.0.2
  docs/en/solution-templates/application-module/images/new-solution-v2.png
  docs/en/tutorials/modular-crm/images/abp-studio-catalog-module-expanded-in-solution-explorer.png
  docs/en/tutorials/modular-crm/images/solution-explorer-modular-crm-initial-with-modules-v2.png
  docs/en/tutorials/modular-crm/images/solution-explorer-modular-crm-initial-with-modules.png
  docs/en/tutorials/modular-crm/part-01.md
  docs/en/tutorials/modular-crm/part-02.md
  docs/en/tutorials/modular-crm/part-03.md
  docs/en/tutorials/modular-crm/part-05.md
Labels: documentation
