Repository abpframework/abp, pull requests merged in 2025-08, with the labels that each got.

#23444 Update C# code samples for correct namespace usages on Blazor
  docs/en/tutorials/todo/layered/index.md
Labels: documentation

#23456 Add localization for CRUD page creation
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#23344 Angular - Documentation updates for angular version migration to 20.0.x
  docs/en/framework/ui/angular/quick-start.md
  docs/en/release-info/migration-guides/abp-9-3.md
  docs/en/release-info/release-notes.md
Labels: documentation, ui-angular

#23467 Update version to release 9.3.0
  common.props
Labels: devops

#23486 Angular - Solving the path resolution problem for components package
  npm/ng-packs/packages/components/extensible/src/lib/models/actions.ts
  npm/ng-packs/packages/components/extensible/src/lib/models/props.ts
  npm/ng-packs/packages/components/extensible/src/lib/utils/linked-list.ts
  npm/ng-packs/tsconfig.base.json
Labels: bug, ui-angular

#23483 Add logging warnings for missing cache in `MvcRemoteTenantStore` and `RemoteDynamicClaimsPrincipalContributorCacheBase`
  framework/src/Volo.Abp.AspNetCore.Mvc.Client/Volo/Abp/AspNetCore/Mvc/Client/MvcRemoteTenantStore.cs
  framework/src/Volo.Abp.Security/Volo/Abp/Security/Claims/RemoteDynamicClaimsPrincipalContributorCacheBase.cs
Labels: abp-framework

#23529 Support custom `FontProvider` in `ITextHtmlToPdfRenderer`.
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Projects/Pdf/IText/ITextHtmlToPdfRenderer.cs
Labels: abp-module-docs

#23410 Client Proxy `IAsyncEnumerable<T>` support.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpMvcOptionsExtensions.cs
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/CSharp/CSharpServiceProxyGenerator.cs
  framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/ClientProxying/ClientProxyBase.cs
Labels: enhancement, abp-framework

#23528 Add UserReports menu item to English localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#23540 Set includeDetails default to false in repository methods
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityRoleRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreOrganizationUnitRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityRoleRepository.cs
Labels: abp-module-identity

#23558 Allow to define custom conventional entity configurers for EF Core
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Modeling/AbpEntityTypeBuilderExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Modeling/NamedEntityConfigurer.cs
Labels: enhancement, abp-framework

#23576 CMS Kit: Fix dynamic menu item sorting
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Program.cs
  modules/cms-kit/host/Volo.CmsKit.Web.Unified/Startup.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application.Contracts/Volo/CmsKit/Admin/Menus/IMenuItemAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Application/Volo/CmsKit/Admin/Menus/MenuItemAdminAppService.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/Volo/CmsKit/Admin/Menus/MenuItemAdminClientProxy.Generated.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi.Client/ClientProxies/cms-kit-admin-generate-proxy.json
  modules/cms-kit/src/Volo.CmsKit.Admin.HttpApi/Volo/CmsKit/Admin/Menus/MenuItemAdminController.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/GlobalResources/index.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/CreateModal.cshtml.cs
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Pages/CmsKit/Menus/MenuItems/index.js
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/wwwroot/client-proxies/cms-kit-admin-proxy.js
  modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Menus/IMenuItemRepository.cs
  modules/cms-kit/src/Volo.CmsKit.EntityFrameworkCore/Volo/CmsKit/Menus/EfCoreMenuItemRepository.cs
  modules/cms-kit/src/Volo.CmsKit.MongoDB/Volo/CmsKit/MongoDB/Menus/MongoMenuItemRepository.cs
  modules/cms-kit/src/Volo.CmsKit.Public.Application/Volo/CmsKit/Public/Menus/MenuItemPublicAppService.cs
  modules/cms-kit/test/Volo.CmsKit.Application.Tests/Menus/MenuItemAdminAppService_Tests.cs
  modules/cms-kit/test/Volo.CmsKit.TestBase/CmsKitDataSeedContributor.cs
  modules/cms-kit/test/Volo.CmsKit.TestBase/CmsKitTestData.cs
Labels: abp-module-cms-kit

#23590 Fix render problem
  docs/en/framework/ui/angular/form-validation.md
Labels: documentation

#23592 Update version to release 9.3.2
  common.props
Labels: devops

#23588 Support EF Core Shared Entity Types on Repositories
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/BasicRepositoryBase.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/IRepository.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Domain/Repositories/EntityFrameworkCore/EfCoreRepository.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/IEfCoreDbContext.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Repositories/RepositoryRegistration_Tests.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/Repositories/SharedEntity_Repository_Tests.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/TestMigrationsDbContext.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFrameworkCore/TestAppDbContext.cs
  framework/test/Volo.Abp.TestApp/Volo/Abp/TestApp/Domain/TestSharedTypeEntity.cs
Labels: feature, abp-framework

#23604 Add guide for integrating public and admin CMS Kit packages
  docs/en/modules/cms-kit/index.md
Labels: enhancement, documentation

#23622 Optimize `permission/setting` lookup in `PermissionStore` and `SettingManagementStore`
  modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionStore.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/SettingManagementStore.cs
Labels: abp-module-permission-management, abp-module-setting-management

#23626 Update datatable footer border styles - issue-20624
  npm/ng-packs/packages/theme-basic/src/lib/constants/styles.ts
Labels: ui-angular

#23631 Add localization string for Issue-#7227
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#23638 Add provider name support to repository infrastructure
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/BasicRepositoryBase.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/IRepository.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/RepositoryBase.cs
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/RepositoryExtensions.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Domain/Repositories/EntityFrameworkCore/EfCoreRepository.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpEfCoreConsts.cs
  framework/src/Volo.Abp.MemoryDb/Volo/Abp/Domain/Repositories/MemoryDb/MemoryDbRepository.cs
  framework/src/Volo.Abp.MemoryDb/Volo/Abp/MemoryDb/AbpMemoryDbConsts.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/MongoDbRepository.cs
  framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/AbpMongoDbConsts.cs
  framework/test/Volo.Abp.Ddd.Tests/Volo/Abp/Domain/Repositories/RepositoryRegistration_Tests.cs
Labels: enhancement, abp-framework, effort-xs
