Repository abpframework/abp, pull requests merged in 2025-05, with the labels that each got.

#22822 Enhance the configuration document
  docs/en/framework/architecture/modularity/basics.md
  docs/en/framework/fundamentals/configuration.md
Labels: documentation, effort-xs

#22825 Update timezone help text.
  framework/src/Volo.Abp.Localization/Volo/Abp/Localization/VirtualFiles/VirtualFileLocalizationResourceContributorBase.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/ar.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/cs.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/de.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/en.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/es.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/fi.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/fr.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/hi.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/hr.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/hu.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/is.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/it.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/nl.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/pl-PL.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/pt-BR.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/ro-RO.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/ru.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/sk.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/sl.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/tr.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/vi.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/zh-Hans.json
  modules/setting-management/src/Volo.Abp.SettingManagement.Domain.Shared/Volo/Abp/SettingManagement/Localization/Resources/AbpSettingManagement/zh-Hant.json
Labels: abp-module-setting-management

#22817 Angular - Refactor localization for basic and lepton themes
  npm/ng-packs/packages/core/src/lib/localization.module.ts
  npm/ng-packs/packages/core/src/lib/pipes/index.ts
  npm/ng-packs/packages/core/src/lib/pipes/lazy-localization.pipe.ts
  npm/ng-packs/packages/theme-basic/src/lib/components/routes/routes.component.html
  npm/ng-packs/packages/theme-basic/src/lib/pipes/index.ts
  npm/ng-packs/packages/theme-basic/src/lib/pipes/lazy-translate.pipe.ts
  npm/ng-packs/packages/theme-basic/src/lib/theme-basic.module.ts
  npm/ng-packs/packages/theme-basic/src/public-api.ts
Labels: enhancement, ui-angular

#22841 Localization typo fixed
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#22834 Add favicon to basic theme layouts
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Account.cshtml
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Empty.cshtml
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/wwwroot/themes/basic/favicon.svg
Labels: abp-module-basic-theme

#22840 Chagne current tenant before read cache.
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityDynamicClaimsPrincipalContributorCache.cs
Labels: abp-module-identity

#22835 Add 'use-switch-checkbox' attribute to `AbpInputTagHelper`.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelper.cs
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelperService.cs
Labels: enhancement, abp-framework

#22849 Remove unnecessary color override for dark navbar links
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/wwwroot/libs/abp/css/theme.css
Labels: abp-module-basic-theme

#22855 Update version to release 9.2.0-rc.3
  common.props
Labels: devops

#22861 Change the way of initializing static strings
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliUrls.cs
Labels: abp-cli

#22865 Enhance layout of feature and setting management modals.
  modules/feature-management/src/Volo.Abp.FeatureManagement.Blazor/Components/FeatureManagementModal.razor
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/feature-management-modal.css
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/SettingManagement.razor
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Index.cshtml
Labels: abp-module-setting-management, abp-module-feature-management, ui-mvc, ui-blazor

#22853 Angular - Fixing the garbage query problem in the code flow
  npm/ng-packs/packages/oauth/src/lib/strategies/auth-code-flow-strategy.ts
Labels: bug, ui-angular

#22881 Update common.props
  common.props
Labels: devops

#22887 Assign LoginInput only when null
  modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml.cs
Labels: abp-module-account

#22792 Introduce ITenantNameValidator for extensible tenant name validation
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/AbpTenantValidator.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/ITenantValidator.cs
  modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantManager.cs
  modules/tenant-management/test/Volo.Abp.TenantManagement.Domain.Tests/Volo/Abp/TenantManagement/TenantNameValidator_Tests.cs
Labels: abp-module-tenant-management

#22899 Improve PDF file generation
  modules/docs/app/VoloDocs.Web/VoloDocsWebModule.cs
  modules/docs/app/VoloDocs.Web/appsettings.json
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/Projects/Pdf/ProjectPdfGenerator.cs
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml
Labels: abp-module-docs

#22888 Add a default sort for `First/FirstOrDefault` and `Last/LastOrDefault`.
  framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/RepositoryAsyncExtensions.cs
  framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/EntityFrameworkCore/EfCoreAsyncQueryableProvider_Tests.cs
Labels: abp-framework

#22902 When the value of 'SendExceptionsDetailsToClients' is set to true, the exception should be localized
  framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/AspNetCore/ExceptionHandling/DefaultExceptionToErrorInfoConverter.cs
Labels: abp-framework

#22903 Fix: pdf generation
  modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/GeneratePdf.cshtml.cs
  modules/docs/src/Volo.Docs.Common.Application/Volo/Docs/Common/Documents/DocumentPdfGeneratorAppService.cs
Labels: abp-module-docs

#22907 Fix color from the localization
  abp_io/AbpIoLocalization/AbpIoLocalization/Commercial/Localization/Resources/en.json
Labels: enhancement, localization

#22913 Remove `Container` postfix from `id` attribute.
  framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/modal-manager.js
Labels: abp-framework, ui-mvc

#22914 Hide modal before creating NewEntity.
  framework/src/Volo.Abp.BlazoriseUI/AbpCrudPageBase.cs
Labels: ui-blazor

#22910 Skip disable feature if `value` or `provider name` is `null`.
  modules/feature-management/src/Volo.Abp.FeatureManagement.Blazor/Components/FeatureManagementModal.razor.cs
  modules/feature-management/src/Volo.Abp.FeatureManagement.Web/Pages/FeatureManagement/FeatureManagementModal.cshtml.cs
Labels: abp-framework

#22891 Set the fixed version 1.0.0 for documents in FileSystem
  modules/docs/src/Volo.Docs.Domain/Volo/Docs/FileSystem/Documents/FileSystemDocumentSource.cs
Labels: abp-module-docs

#22929 Angular - When the theme is changed, the project does not work
  npm/ng-packs/packages/schematics/src/commands/change-theme/index.ts
Labels: ui-angular

#22940 Resolving Tenant from Route in ABP Framework.
  docs/en/Community-Articles/2025-04-20-IDX10204/header.png
  docs/en/Community-Articles/2025-04-20-IDX10204/payload.png
  docs/en/Community-Articles/2025-04-25-AI-Comment-Summarization/summary-card.png
  docs/en/Community-Articles/2025-05-19-RouteTenantResolveContributor/POST.md
  docs/en/Community-Articles/2025-05-19-RouteTenantResolveContributor/cover.png
  docs/en/Community-Articles/2025-05-19-RouteTenantResolveContributor/swagger-ui.png
  docs/en/Community-Articles/2025-05-19-RouteTenantResolveContributor/ui.png
  docs/en/ui-themes/lepton-x/images/account-layout-background-style.png
Labels: abp-framework

#22941 Angular - Fixing inline icon-label wrapping problem
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-form/extensible-form-prop.component.html
Labels: bug, ui-angular

#22934 Angular - When top menu switches a project to lepton theme, an error is thrown
  npm/ng-packs/packages/schematics/src/commands/change-theme/index.ts
  npm/ng-packs/packages/schematics/src/commands/change-theme/style-map.ts
Labels: ui-angular

#22936 Create `TextAreaExtensionProperty` to support multiline object extension for blazor ui
  framework/src/Volo.Abp.BlazoriseUI/BlazoriseUiObjectExtensionPropertyInfoExtensions.cs
  framework/src/Volo.Abp.BlazoriseUI/Components/ObjectExtending/TextAreaExtensionProperty.razor
  framework/src/Volo.Abp.BlazoriseUI/Components/ObjectExtending/TextAreaExtensionProperty.razor.cs
Labels: enhancement, ui-blazor

#22985 Add workaround for Blazorise picker positioning issue
  framework/src/Volo.Abp.BlazoriseUI/wwwroot/volo.abp.blazoriseui.css
Labels: abp-framework

#22983 Log exception of `ReflectionTypeLoadException`.
  framework/src/Volo.Abp.Core/Microsoft/Extensions/DependencyInjection/ServiceCollectionLoggingExtensions.cs
  framework/src/Volo.Abp.Core/Volo/Abp/DependencyInjection/ConventionalRegistrarBase.cs
  framework/src/Volo.Abp.Core/Volo/Abp/Internal/InternalServiceCollectionExtensions.cs
  framework/src/Volo.Abp.Core/Volo/Abp/Reflection/AssemblyHelper.cs
  framework/src/Volo.Abp.Core/Volo/Abp/Reflection/TypeFinder.cs
  framework/test/Volo.Abp.Core.Tests/Volo/Abp/Reflection/TypeFinder_Tests.cs
Labels: enhancement, abp-framework
