Repository abpframework/abp, pull requests merged in 2025-01, with the labels that each got.

#21664 make methods of local distributed eventbus virtual
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus.cs
Labels: abp-framework

#21786 Avoid HandlerFactories being changed during iteration.
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/EventBusBase.cs
Labels: abp-framework

#21785 Do not set `StatusCode` to `NoContent` if `Response.Body` has been written.
  framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Response/AbpNoContentActionFilter.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Response/NoContentTestController.cs
  framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/Response/NoContentTestController_Tests.cs
Labels: abp-framework

#21784 Use `StaticFiles` instead of `MapStaticAssets` in `Development` environment.
  framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/Builder/AbpApplicationBuilderExtensions.cs
Labels: abp-framework

#21791 Update auto-pr.yml for prerel
  .github/workflows/auto-pr.yml
Labels: devops

#21765 Update Tab Vertical Item Column Sizes in Setting Management Page
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/SettingManagement.razor
Labels: abp-module-setting-management, ui-blazor

#21797 Add @ctrl/tinycolor dependency to components lib
  npm/ng-packs/packages/components/ng-package.json
  npm/ng-packs/packages/components/package.json
Labels: ui-angular

#21794 Update version for 9.2.0-preview
  common.props
Labels: devops

#21787 Add localizations
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-io

#21820 Add MauiBlazor to layered tutorial
  docs/en/tutorials/todo/layered/index.md
Labels: documentation

#21826 Basic Theme & LeptonX Lite overview documentation
  docs/en/docs-nav.json
  docs/en/ui-themes/basic-theme/index.md
Labels: documentation

#21825 Add missing MAUIBlazor parameter to the tutorial overview
  docs/en/tutorials/book-store/index.md
Labels: documentation

#21812 Added `GetListByDisplayNamesAsync` to `IOrganizationUnitRepository `.
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IOrganizationUnitRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreOrganizationUnitRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoOrganizationUnitRepository.cs
Labels: abp-module-identity

#21813 Angular - Update documentation for the advanced entity filters
  docs/en/Community-Articles/2025-01-03-ABP-Background-Workers-vs-Jobs/cover.png
  docs/en/Community-Articles/2025-01-03-ABP-Background-Workers-vs-Jobs/support-question.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters-with-custom-content-above-filter.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters-with-form.png
  docs/en/framework/ui/angular/images/angular-advanced-entity-filters.png
Labels: documentation, ui-angular

#21847 Using `X509CertificateLoader` instead of `new X509Certificate2`.
  modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Microsoft/Extensions/DependencyInjection/OpenIddictServerBuilderExtensions.cs
Labels: abp-module-openiddict

#21861 Fix filter problem
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js
Labels: abp-module-docs

#21841 Fix basic theme blazor menu remain open problem.
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Themes/Basic/FirstLevelNavMenuItem.razor
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Themes/Basic/FirstLevelNavMenuItem.razor.cs
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Themes/Basic/SecondLevelNavMenuItem.razor
  modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Themes/Basic/SecondLevelNavMenuItem.razor.cs
Labels: ui-blazor, abp-module-basic-theme

#21890 Update auto-pr.yml for rel-9.1
  .github/workflows/auto-pr.yml
Labels: devops

#21897 Enhance documentation for `abp bundle`
  docs/en/framework/ui/blazor/global-scripts-styles.md
Labels: documentation

#21870 Use `Debug` instead of `"Information` log level during module loading.
  framework/src/Volo.Abp.Core/Volo/Abp/Modularity/AbpModuleHelper.cs
Labels: abp-framework

#21901 AbpIoSourceCodeStore should also cover leptonx npm packages
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs
Labels: bug, abp-cli

#21888 Clear Breadcrumbs & Page ToolbarItems while disposing PageHeader
  framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/Layout/PageHeader.razor.cs
Labels: ui-blazor

#21916 Add `DistributedLock` for background worker.
  modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/Tokens/TokenCleanupBackgroundWorker.cs
Labels: abp-module-identityserver

#21922 Angular - Fixing proxy generation problem for the enum type
  npm/ng-packs/packages/schematics/src/utils/model.ts
Labels: bug, ui-angular, foundby-community

#21928 Publish `DistributedEventSent/DistributedEventReceived ` events in unit test for testing.
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Local/LocalEventBus.cs
  framework/test/Volo.Abp.EventBus.Tests/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus_Test.cs
  framework/test/Volo.Abp.EventBus.Tests/Volo/Abp/EventBus/Distributed/UnitTestLocalEventBus.cs
Labels: abp-framework

#21927 Update `Npgsql.EntityFrameworkCore.PostgreSQL` to 9.0.3.
  Directory.Packages.props
Labels: abp-framework

#21933 Added `Encrypting Setting Values in the Application Configuration`section.
  docs/en/framework/infrastructure/settings.md
Labels: documentation

#21931 Check if property has `RequiredMemberAttribute` to determine `IsRequired`.
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/PropertyApiDescriptionModel.cs
Labels: abp-framework

#21945 Update version to release 9.0.4
  common.props
Labels: devops

#21951 Angular - Fixing the nullability check for proxy generation
  npm/ng-packs/packages/schematics/src/utils/model.ts
Labels: ui-angular

#21954 Bump up ng-zorro-antd
  npm/ng-packs/packages/components/package.json
Labels: ui-angular

#21972 Create a new blog post: "ABP Studio Now Supports MacOS Intel"
  docs/en/Blog-Posts/2025-01-22 ABP_Now_Supports_MacOS_Intel/POST.md
  docs/en/Blog-Posts/2025-01-22 ABP_Now_Supports_MacOS_Intel/abp-studio-macos-intel.png
  docs/en/Blog-Posts/2025-01-22 ABP_Now_Supports_MacOS_Intel/cover-image.png
Labels: abp-community

#21964 Angular - Update version to 19.1.x
  npm/ng-packs/migrations.json
  npm/ng-packs/package.json
  npm/ng-packs/packages/schematics/package.json
  npm/ng-packs/packages/theme-shared/package.json
  templates/app-nolayers/angular/package.json
  templates/app/angular/package.json
  templates/module/angular/package.json
  templates/module/angular/projects/my-project-name/package.json
Labels: enhancement, ui-angular, dependency-change

#21985 Publish `DistributedEventSent/Received` events in `LocalDistributedEventBus`.
  framework/src/Volo.Abp.EventBus.Azure/Volo/Abp/EventBus/Azure/AzureDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus.Dapr/Volo/Abp/EventBus/Dapr/DaprDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus.Kafka/Volo/Abp/EventBus/Kafka/KafkaDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus.RabbitMQ/Volo/Abp/EventBus/RabbitMq/RabbitMqDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus.Rebus/Volo/Abp/EventBus/Rebus/RebusDistributedEventBus.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/DistributedEventBusBase.cs
  framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus.cs
  framework/test/Volo.Abp.EventBus.Tests/Volo/Abp/EventBus/Distributed/DistributedEventHandles.cs
  framework/test/Volo.Abp.EventBus.Tests/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus_Test.cs
  framework/test/Volo.Abp.EventBus.Tests/Volo/Abp/EventBus/Distributed/UnitTestLocalEventBus.cs
Labels: abp-framework

#21873 Get the before and after changes of navigation properties.
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ChangeTrackers/AbpEfCoreNavigationHelper.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ChangeTrackers/AbpEntityEntry.cs
  framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/EntityHistory/EntityHistoryHelper.cs
  framework/test/Volo.Abp.Auditing.Tests/Volo/Abp/Auditing/Auditing_Tests.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/Localization/en.json
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/AuditLogEntityTypeFullNameConverter.cs
  modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/AuditLogInfoToAuditLogConverter.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.EntityFrameworkCore.Tests/Volo/Abp/AuditLogging/EntityFrameworkCore/AuditLogEntityTypeFullNameConverter_Tests.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.MongoDB.Tests/Volo/Abp/AuditLogging/MongoDB/AuditLogEntityTypeFullNameConverter_Tests.cs
  modules/audit-logging/test/Volo.Abp.AuditLogging.TestBase/Volo/Abp/AuditLogging/AuditLogEntityTypeFullNameConverter_Tests.cs
Labels: breaking change, abp-framework

#21987 Update en.json
  abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json
Labels: abp-io

#21938 Fix lazy-expand menu click problem
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js
Labels: abp-module-docs

#22000 Move Cms-Kit menu item to root
  modules/cms-kit/src/Volo.CmsKit.Admin.Web/Menus/CmsKitAdminMenuContributor.cs
Labels: abp-module-cms-kit

#22011 Update TypeApiDescriptionModel to include instance and public properties.
  framework/src/Volo.Abp.Http/Volo/Abp/Http/Modeling/TypeApiDescriptionModel.cs
Labels: abp-framework

#22013 Documentation updates for docker-compose support in app template
  docs/en/solution-templates/layered-web-application/deployment/deployment-docker-compose.md
  docs/en/solution-templates/layered-web-application/solution-structure.md
  docs/en/studio/running-applications.md
Labels: documentation

#22009 Skip adding namespaces if module doesn't need `ThemeModule`.
  framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs
Labels: abp-cli

#22016 Remove `protected` modifier from DTO properties.
  modules/cms-kit/src/Volo.CmsKit.Common.Application.Contracts/Volo/CmsKit/Users/CmsUserDto.cs
Labels: abp-module-cms-kit

#22019 Update Studio Monitoring Applications document
  docs/en/studio/monitoring-applications.md
Labels: documentation

#21942 Add `LogoUrl ` and `AppName ` to account layout.
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Account.cshtml
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/wwwroot/themes/basic/layout.css
  modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/wwwroot/themes/basic/logo.svg
Labels: abp-module-basic-theme

#22023 Made improvements for modular monolith tutorial
  docs/en/tutorials/modular-crm/images/abp-studio-ordering-swagger-ui-in-browser.png
  docs/en/tutorials/modular-crm/images/abp-studio-swagger-ui-create-order-execute.png
  docs/en/tutorials/modular-crm/images/abp-studio-swagger-ui-create-product-execute.png
  docs/en/tutorials/modular-crm/images/abp-studio-swagger-ui-create-product-try.png
  docs/en/tutorials/modular-crm/images/abp-studio-swagger-ui-in-browser.png
  docs/en/tutorials/modular-crm/part-03.md
  docs/en/tutorials/modular-crm/part-05.md
Labels: enhancement, documentation

#21908 Added user clean up pages localization values.
  abp_io/AbpIoLocalization/AbpIoLocalization/Admin/Localization/Resources/en.json
Labels: abp-framework, abp-io

#21989 Vs internal issue #5807
  modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreIdentityUserRepository.cs
  modules/identity/src/Volo.Abp.Identity.MongoDB/Volo/Abp/Identity/MongoDB/MongoIdentityUserRepository.cs
Labels: abp-framework, abp-io

#22037 Angular - Fix proxy generation problems for the enum types
  npm/ng-packs/packages/schematics/src/utils/service.ts
  npm/ng-packs/packages/schematics/src/utils/type.ts
Labels: bug, ui-angular

#22050 Add security info to OpenAI integration article
  docs/en/Community-Articles/2024-12-01-OpenAI-Integration/POST.md
Labels: abp-community
