Repository abpframework/abp, pull requests merged in 2025-10, with the labels that each got.

#23830 Update version to release 10.0.0-rc.1
  common.props
Labels: devops

#23867 Add ObjectMapperContext to SendTestEmailModal
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Components/EmailSettingGroup/SendTestEmailModal.cshtml.cs
Labels: abp-module-setting-management

#23849 Angular - Adding HTML encoding utilities
  npm/ng-packs/packages/core/src/lib/pipes/html-encode.pipe.ts
  npm/ng-packs/packages/core/src/lib/pipes/index.ts
  npm/ng-packs/packages/core/src/lib/services/html-encoding.service.ts
  npm/ng-packs/packages/core/src/lib/services/index.ts
Labels: enhancement, ui-angular

#23869 Close test email modal after sending email
  modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pages/SettingManagement/EmailSettingGroup/EmailSettingGroupViewComponent.razor.cs
  modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Components/EmailSettingGroup/Default.js
Labels: abp-module-setting-management

#23868 Refactor TOC generation logic in project index page
  modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs
Labels: abp-module-docs, abp-io

#23846 Add indeterminate state to 'Select All' checkbox
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor
  modules/permission-management/src/Volo.Abp.PermissionManagement.Blazor/Components/PermissionManagementModal.razor.cs
Labels: abp-module-permission-management

#23860 Fix column width handling in extensible table
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.html
  npm/ng-packs/packages/components/extensible/src/lib/components/extensible-table/extensible-table.component.ts
Labels: ui-angular
